In [20]:
import sqlite3
import json
import pandas as pd
import os
import textwrap
from langchain_openai import OpenAIEmbeddings, ChatOpenAI
from langchain_community.vectorstores import FAISS
from langchain.prompts import PromptTemplate
from langchain.chains import LLMChain
from openai import OpenAI

In [21]:
tables_json_path_2 = r"C:\Users\coffe\OneDrive\Desktop\CITS5553 Capstone Project\spider_data\spider_data\train_spider.json"
if os.path.exists(tables_json_path_2):
    with open(tables_json_path_2, 'r', encoding='utf-8') as f:
        train_data = json.load(f)
    print(f"Number of tables/schemas: {len(train_data)}")
    if train_data :
        first_entry = train_data[5] 
        print(f"Keys: {list(first_entry.keys()) if isinstance(first_entry, dict) else 'Not a dictionary'}")
else:
    print("error.")

Number of tables/schemas: 7000
Keys: ['db_id', 'query', 'query_toks', 'query_toks_no_value', 'question', 'question_toks', 'sql']

In [22]:
dbid_question_list = [
    {'db_id': entry.get('db_id'), 'question': entry.get('question'), 'query': entry.get('query')}
    for entry in train_data if isinstance(entry, dict)
]
print(dbid_question_list[:5])

[{'db_id': 'department_management', 'question': 'How many heads of the departments are older than 56 ?', 'query': 'SELECT count(*) FROM head WHERE age  >  56'}, {'db_id': 'department_management', 'question': 'List the name, born state and age of the heads of departments ordered by age.', 'query': 'SELECT name ,  born_state ,  age FROM head ORDER BY age'}, {'db_id': 'department_management', 'question': 'List the creation year, name and budget of each department.', 'query': 'SELECT creation ,  name ,  budget_in_billions FROM department'}, {'db_id': 'department_management', 'question': 'What are the maximum and minimum budget of the departments?', 'query': 'SELECT max(budget_in_billions) ,  min(budget_in_billions) FROM department'}, {'db_id': 'department_management', 'question': 'What is the average number of employees of the departments whose rank is between 10 and 15?', 'query': 'SELECT avg(num_employees) FROM department WHERE ranking BETWEEN 10 AND 15'}]

In [38]:
every_x_th = dbid_question_list[::150]
# checking how many in total to be tested
len(every_x_th)

47

In [39]:
for item in every_x_th:
    print(item['question'])
    print(item['db_id'])
    print(item['query'])

How many heads of the departments are older than 56 ?
department_management
SELECT count(*) FROM head WHERE age  >  56
What is the average bike availablility for stations not in Palo Alto?
bike_1
SELECT avg(bikes_available) FROM status WHERE station_id NOT IN (SELECT id FROM station WHERE city  =  "Palo Alto")
Find the maximum and total number of followers of all users.
twitter_1
SELECT max(followers) ,  sum(followers) FROM user_profiles
What is allergy type of a cat allergy?
allergy_1
SELECT allergytype FROM Allergy_type WHERE allergy  =  "Cat"
What si the youngest employee's first and last name?
store_1
SELECT first_name , last_name FROM employees ORDER BY birth_date DESC LIMIT 1;
What are the names and locations of all tracks?
race_track
SELECT name ,  LOCATION FROM track
Find the policy types more than 4 customers use. Show their type code.
insurance_fnol
SELECT policy_type_code FROM available_policies GROUP BY policy_type_code HAVING count(*)  >  4
Find the names of the chip models that are not used by any phone with full accreditation type.
phone_1
SELECT model_name FROM chip_model EXCEPT SELECT chip_model FROM phone WHERE Accreditation_type  =  'Full'
Show the short names of the buildings managed by "Emma".
apartment_rentals
SELECT building_short_name FROM Apartment_Buildings WHERE building_manager	 =  "Emma"
How many different instructors have taught some course?
college_2
SELECT COUNT (DISTINCT id) FROM teaches
Show the distinct venues of debates
debate
SELECT DISTINCT Venue FROM debate
Count the number of artists.
theme_gallery
SELECT count(*) FROM artist
Find the names and total checking and savings balances of accounts whose savings balance is higher than the average savings balance.
small_bank_1
SELECT T1.name ,  T2.balance + T3.balance FROM accounts AS T1 JOIN checking AS T2 ON T1.custid  =  T2.custid JOIN savings AS T3 ON T1.custid  =  T3.custid WHERE T3.balance  >  (SELECT avg(balance) FROM savings)
What is total number of show times per dat for each cinema?
cinema
SELECT T2.name ,  sum(T1.show_times_per_day) FROM schedule AS T1 JOIN cinema AS T2 ON T1.cinema_id  =  T2.cinema_id GROUP BY T1.cinema_id
What document type codes do we have?
cre_Doc_Control_Systems
SELECT document_type_code FROM Ref_Document_Types;
What is the team with at least 2 technicians?
machine_repair
SELECT Team FROM technician GROUP BY Team HAVING COUNT(*)  >=  2
Find the id of the candidate who got the lowest oppose rate.
candidate_poll
SELECT Candidate_ID FROM candidate ORDER BY oppose_rate LIMIT 1
Show names of cities and names of counties they are in.
county_public_safety
SELECT T1.Name ,  T2.Name FROM city AS T1 JOIN county_public_safety AS T2 ON T1.County_ID  =  T2.County_ID
List name, dates active, and number of deaths for all storms with at least 1 death.
storm_record
SELECT name ,  dates_active ,  number_deaths FROM storm WHERE number_deaths  >=  1
Find the names and phone numbers of customers living in California state.
customer_deliveries
SELECT t1.customer_name ,  t1.customer_phone FROM customers AS t1 JOIN customer_addresses AS t2 ON t1.customer_id  =  t2.customer_id JOIN addresses AS t3 ON t2.address_id  =  t3.address_id WHERE t3.state_province_county  =  'California'
What is the largest payment amount?
sakila_1
SELECT amount FROM payment ORDER BY amount DESC LIMIT 1
List the all the assets make, model, details by the disposed date ascendingly.
assets_maintenance
SELECT asset_make ,  asset_model ,  asset_details FROM Assets ORDER BY asset_disposed_date ASC
What is the name of the department with the student that has the lowest GPA?
college_1
SELECT T2.dept_name FROM student AS T1 JOIN department AS T2 ON T1.dept_code  =  T2.dept_code ORDER BY stu_gpa LIMIT 1
What are the department ids for which more than 10 employees had a commission?
hr_1
SELECT department_id FROM employees GROUP BY department_id HAVING COUNT(commission_pct) > 10
What is the maximum and minimum resolution of all songs that are approximately 3 minutes long?
music_1
SELECT max(T2.resolution) ,  min(T2.resolution) FROM files AS T1 JOIN song AS T2 ON T1.f_id  =  T2.f_id WHERE T1.duration LIKE "3:%"
find the number of different programs that are broadcast during night time.
program_share
SELECT count(DISTINCT program_id) FROM broadcast WHERE time_of_day  =  'Night'
What is the employee id of the head whose department has the least number of employees?
hospital_1
SELECT head FROM department GROUP BY departmentID ORDER BY count(departmentID) LIMIT 1;
Find the first names of all the teachers that teach in classroom 110.
student_1
SELECT firstname FROM teachers WHERE classroom  =  110
What is the id for the employee called Ebba?
cre_Doc_Tracking_DB
SELECT employee_ID FROM Employees WHERE employee_name  =  "Ebba"
How many staff does each project has? List the project id and the number in an ascending order.
tracking_grants_for_research
SELECT T1.project_id ,  count(*) FROM Project_Staff AS T1 JOIN Projects AS T2 ON T1.project_id  =  T2.project_id GROUP BY T1.project_id ORDER BY count(*) ASC
What are the names of all the documents, as well as the access counts of each, ordered alphabetically?
document_management
SELECT document_name ,  access_count FROM documents ORDER BY document_name
What are the maximum and minumum grade points?
college_3
SELECT max(gradepoint) ,  min(gradepoint) FROM GRADECONVERSION
What are the descriptions for the aircrafts?
aircraft
SELECT Description FROM aircraft
How many players have more than 1000 hours of training?
soccer_2
SELECT count(*) FROM Player WHERE HS  >  1000
Show all the Store_Name of drama workshop groups.
cre_Drama_Workshop_Groups
SELECT Store_Name FROM Drama_Workshop_Groups
How many songs have a shared vocal?
music_2
SELECT count(DISTINCT title) FROM vocals AS T1 JOIN songs AS T2 ON T1.songid  =  T2.songid WHERE TYPE  =  "shared"
How many branches where have more than average number of memberships are there?
shop_membership
SELECT count(*) FROM branch WHERE membership_amount  >  (SELECT avg(membership_amount) FROM branch)
List all the product names with the color description "white".
products_gen_characteristics
SELECT t1.product_name FROM products AS t1 JOIN ref_colors AS t2 ON t1.color_code  =  t2.color_code WHERE t2.color_description  =  "white"
Find the numbers of different majors and cities.
dorm_1
SELECT count(DISTINCT major) ,  count(DISTINCT city_code) FROM student
Show all transaction ids with transaction code 'PUR'.
tracking_share_transactions
SELECT transaction_id FROM TRANSACTIONS WHERE transaction_type_code  =  'PUR'
How many different types of sports do we offer?
game_1
SELECT count(DISTINCT sportname) FROM Sportsinfo
Return the famous titles of the artist called "Triumfall".
music_4
SELECT Famous_Title FROM artist WHERE Artist  =  "Triumfall"
Find the number of matches in different competitions.
city_record
SELECT count(*) ,  Competition FROM MATCH GROUP BY Competition
Return the budget type codes, budget type descriptions and document ids for documents with expenses.
cre_Docs_and_Epenses
SELECT T2.budget_type_code ,  T2.budget_type_description ,  T1.document_id FROM Documents_with_expenses AS T1 JOIN Ref_budget_codes AS T2 ON T1.budget_type_code  =  T2.budget_type_code
Show the name, location, and number of platforms for all stations.
train_station
SELECT name ,  LOCATION ,  number_of_platforms FROM station
Who is the advisor of Linda Smith? Give me the first name and last name.
activity_1
SELECT T1.fname ,  T1.lname FROM Faculty AS T1 JOIN Student AS T2 ON T1.FacID  =  T2.advisor WHERE T2.fname  =  "Linda" AND T2.lname  =  "Smith"
Find the id of the customer who made the most orders.
tracking_orders
SELECT T1.customer_id FROM customers AS T1 JOIN orders AS T2 ON T1.customer_id  =  T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1

In [40]:
from pathlib import Path
import subprocess, sys

# 1) Use the same interpreter as the notebook kernel
PY = sys.executable

# 2) Point cwd to your project root (adjust if your notebook isn't in project_root/notebooks/)
project_root = Path.cwd().parent  # e.g., notebooks/ -> project root
print("CWD:", project_root)

answers = []

for item in every_x_th:
    result = subprocess.run(
        [PY, "-m", "src.agents.agent_a", "--query", item['question'], "--mode", "light", "--quiet"],
        cwd=project_root,                 # critical so -m finds src.agents.agent_a
        text=True,
    stdout=subprocess.PIPE,
    stderr=subprocess.STDOUT          # merge stderr so you see errors/logs
    )
    answers.append(result.stdout.strip())

CWD: c:\Users\coffe\OneDrive\Desktop\CITS5553 Capstone Project\Project_Git\explainable-nl-query-db-agents

In [41]:
db_ground_truth = [item['db_id'] for item in every_x_th]
db_prediction = [ans.strip().strip('"') for ans in answers]

In [42]:
comparison_results = [gt == pred for gt, pred in zip(db_ground_truth, db_prediction)]
print(comparison_results)

[True, True, True, True, False, True, False, True, True, False, True, False, True, True, False, True, True, False, True, False, True, True, False, False, True, True, False, True, False, True, True, True, True, True, True, True, True, False, False, True, True, True, False, True, True, False, True]

In [43]:
sum(comparison_results) / len (comparison_results)

0.6808510638297872

In [44]:
false_indices = [i for i, val in enumerate(comparison_results) if not val]
for i in false_indices:
    question = every_x_th[i]['question']
    ground_truth = db_ground_truth[i]
    prediction = db_prediction[i]
    print(f"Q: {question}\nTruth: {ground_truth} | Pred: {prediction}\n{'-'*60}")

Q: What si the youngest employee's first and last name?
Truth: store_1 | Pred: college_1
------------------------------------------------------------
Q: Find the policy types more than 4 customers use. Show their type code.
Truth: insurance_fnol | Pred: insurance_and_eClaims
------------------------------------------------------------
Q: How many different instructors have taught some course?
Truth: college_2 | Pred: course_teach
------------------------------------------------------------
Q: Count the number of artists.
Truth: theme_gallery | Pred: store_1
------------------------------------------------------------
Q: What document type codes do we have?
Truth: cre_Doc_Control_Systems | Pred: cre_Doc_Tracking_DB
------------------------------------------------------------
Q: Show names of cities and names of counties they are in.
Truth: county_public_safety | Pred: e_government
------------------------------------------------------------
Q: Find the names and phone numbers of customers living in California state.
Truth: customer_deliveries | Pred: customers_and_products_contacts
------------------------------------------------------------
Q: What is the name of the department with the student that has the lowest GPA?
Truth: college_1 | Pred: college_2
------------------------------------------------------------
Q: What are the department ids for which more than 10 employees had a commission?
Truth: hr_1 | Pred: department_store
------------------------------------------------------------
Q: What is the employee id of the head whose department has the least number of employees?
Truth: hospital_1 | Pred: department_management
------------------------------------------------------------
Q: What is the id for the employee called Ebba?
Truth: cre_Doc_Tracking_DB | Pred: hr_1
------------------------------------------------------------
Q: List all the product names with the color description "white".
Truth: products_gen_characteristics | Pred: customers_and_invoices
------------------------------------------------------------
Q: Find the numbers of different majors and cities.
Truth: dorm_1 | Pred: college_3
------------------------------------------------------------
Q: Find the number of matches in different competitions.
Truth: city_record | Pred: sports_competition
------------------------------------------------------------
Q: Who is the advisor of Linda Smith? Give me the first name and last name.
Truth: activity_1 | Pred: college_2
------------------------------------------------------------

In [58]:
correct_pairs = [v for v, f in zip(every_x_th, comparison_results) if f]

In [59]:
len(correct_pairs)

32

In [60]:
for item in correct_pairs:
    print(item['question'])
    print(item['db_id'])
    print(item['query'])

How many heads of the departments are older than 56 ?
department_management
SELECT count(*) FROM head WHERE age  >  56
What is the average bike availablility for stations not in Palo Alto?
bike_1
SELECT avg(bikes_available) FROM status WHERE station_id NOT IN (SELECT id FROM station WHERE city  =  "Palo Alto")
Find the maximum and total number of followers of all users.
twitter_1
SELECT max(followers) ,  sum(followers) FROM user_profiles
What is allergy type of a cat allergy?
allergy_1
SELECT allergytype FROM Allergy_type WHERE allergy  =  "Cat"
What are the names and locations of all tracks?
race_track
SELECT name ,  LOCATION FROM track
Find the names of the chip models that are not used by any phone with full accreditation type.
phone_1
SELECT model_name FROM chip_model EXCEPT SELECT chip_model FROM phone WHERE Accreditation_type  =  'Full'
Show the short names of the buildings managed by "Emma".
apartment_rentals
SELECT building_short_name FROM Apartment_Buildings WHERE building_manager	 =  "Emma"
Show the distinct venues of debates
debate
SELECT DISTINCT Venue FROM debate
Find the names and total checking and savings balances of accounts whose savings balance is higher than the average savings balance.
small_bank_1
SELECT T1.name ,  T2.balance + T3.balance FROM accounts AS T1 JOIN checking AS T2 ON T1.custid  =  T2.custid JOIN savings AS T3 ON T1.custid  =  T3.custid WHERE T3.balance  >  (SELECT avg(balance) FROM savings)
What is total number of show times per dat for each cinema?
cinema
SELECT T2.name ,  sum(T1.show_times_per_day) FROM schedule AS T1 JOIN cinema AS T2 ON T1.cinema_id  =  T2.cinema_id GROUP BY T1.cinema_id
What is the team with at least 2 technicians?
machine_repair
SELECT Team FROM technician GROUP BY Team HAVING COUNT(*)  >=  2
Find the id of the candidate who got the lowest oppose rate.
candidate_poll
SELECT Candidate_ID FROM candidate ORDER BY oppose_rate LIMIT 1
List name, dates active, and number of deaths for all storms with at least 1 death.
storm_record
SELECT name ,  dates_active ,  number_deaths FROM storm WHERE number_deaths  >=  1
What is the largest payment amount?
sakila_1
SELECT amount FROM payment ORDER BY amount DESC LIMIT 1
List the all the assets make, model, details by the disposed date ascendingly.
assets_maintenance
SELECT asset_make ,  asset_model ,  asset_details FROM Assets ORDER BY asset_disposed_date ASC
What is the maximum and minimum resolution of all songs that are approximately 3 minutes long?
music_1
SELECT max(T2.resolution) ,  min(T2.resolution) FROM files AS T1 JOIN song AS T2 ON T1.f_id  =  T2.f_id WHERE T1.duration LIKE "3:%"
find the number of different programs that are broadcast during night time.
program_share
SELECT count(DISTINCT program_id) FROM broadcast WHERE time_of_day  =  'Night'
Find the first names of all the teachers that teach in classroom 110.
student_1
SELECT firstname FROM teachers WHERE classroom  =  110
How many staff does each project has? List the project id and the number in an ascending order.
tracking_grants_for_research
SELECT T1.project_id ,  count(*) FROM Project_Staff AS T1 JOIN Projects AS T2 ON T1.project_id  =  T2.project_id GROUP BY T1.project_id ORDER BY count(*) ASC
What are the names of all the documents, as well as the access counts of each, ordered alphabetically?
document_management
SELECT document_name ,  access_count FROM documents ORDER BY document_name
What are the maximum and minumum grade points?
college_3
SELECT max(gradepoint) ,  min(gradepoint) FROM GRADECONVERSION
What are the descriptions for the aircrafts?
aircraft
SELECT Description FROM aircraft
How many players have more than 1000 hours of training?
soccer_2
SELECT count(*) FROM Player WHERE HS  >  1000
Show all the Store_Name of drama workshop groups.
cre_Drama_Workshop_Groups
SELECT Store_Name FROM Drama_Workshop_Groups
How many songs have a shared vocal?
music_2
SELECT count(DISTINCT title) FROM vocals AS T1 JOIN songs AS T2 ON T1.songid  =  T2.songid WHERE TYPE  =  "shared"
How many branches where have more than average number of memberships are there?
shop_membership
SELECT count(*) FROM branch WHERE membership_amount  >  (SELECT avg(membership_amount) FROM branch)
Show all transaction ids with transaction code 'PUR'.
tracking_share_transactions
SELECT transaction_id FROM TRANSACTIONS WHERE transaction_type_code  =  'PUR'
How many different types of sports do we offer?
game_1
SELECT count(DISTINCT sportname) FROM Sportsinfo
Return the famous titles of the artist called "Triumfall".
music_4
SELECT Famous_Title FROM artist WHERE Artist  =  "Triumfall"
Return the budget type codes, budget type descriptions and document ids for documents with expenses.
cre_Docs_and_Epenses
SELECT T2.budget_type_code ,  T2.budget_type_description ,  T1.document_id FROM Documents_with_expenses AS T1 JOIN Ref_budget_codes AS T2 ON T1.budget_type_code  =  T2.budget_type_code
Show the name, location, and number of platforms for all stations.
train_station
SELECT name ,  LOCATION ,  number_of_platforms FROM station
Find the id of the customer who made the most orders.
tracking_orders
SELECT T1.customer_id FROM customers AS T1 JOIN orders AS T2 ON T1.customer_id  =  T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1

In [61]:
correct_db_prediction = [v for v, f in zip(db_prediction, comparison_results) if f]

In [62]:
correct_db_prediction

['department_management',
 'bike_1',
 'twitter_1',
 'allergy_1',
 'race_track',
 'phone_1',
 'apartment_rentals',
 'debate',
 'small_bank_1',
 'cinema',
 'machine_repair',
 'candidate_poll',
 'storm_record',
 'sakila_1',
 'assets_maintenance',
 'music_1',
 'program_share',
 'student_1',
 'tracking_grants_for_research',
 'document_management',
 'college_3',
 'aircraft',
 'soccer_2',
 'cre_Drama_Workshop_Groups',
 'music_2',
 'shop_membership',
 'tracking_share_transactions',
 'game_1',
 'music_4',
 'cre_Docs_and_Epenses',
 'train_station',
 'tracking_orders']

In [66]:
PY = sys.executable

# 2) Point cwd to your project root (adjust if your notebook isn't in project_root/notebooks/)
project_root = Path.cwd().parent  # e.g., notebooks/ -> project root
print("CWD:", project_root)

answers_agent_b = []

for item in correct_pairs:
    result = subprocess.run(
        [PY, "-m", "src.agents.agent_b", "--query", item['question'], "--database", item['db_id'], "--mode", "medium", "--quiet"],
        cwd=project_root,                 # critical so -m finds src.agents.agent_b
        text=True,
    stdout=subprocess.PIPE,
    stderr=subprocess.STDOUT          # merge stderr so you see errors/logs
    )
    answers_agent_b.append(result.stdout.strip())

CWD: c:\Users\coffe\OneDrive\Desktop\CITS5553 Capstone Project\Project_Git\explainable-nl-query-db-agents

In [80]:
parsed_answers = []

for i in answers_agent_b:
    try:
        data = json.loads(i)   # convert string â†’ dict
        parsed_answers.append(data)
    except json.JSONDecodeError as e:
        print(" Could not parse:", i)
        print("Error:", e)


for ans in parsed_answers:
    print("Query:", ans["User Query"])
    print("Database name:", ans["Database Name"])
    print("Tables:", ans["Tables"])
    print()

Query: How many heads of the departments are older than 56 ?
Database name: department_management
Tables: ['head', 'management']

Query: What is the average bike availablility for stations not in Palo Alto?
Database name: bike_1
Tables: ['station', 'status']

Query: Find the maximum and total number of followers of all users.
Database name: twitter_1
Tables: ['follows', 'user profiles']

Query: What is allergy type of a cat allergy?
Database name: allergy_1
Tables: ['allergy type']

Query: What are the names and locations of all tracks?
Database name: race_track
Tables: ['track']

Query: Find the names of the chip models that are not used by any phone with full accreditation type.
Database name: phone_1
Tables: ['chip model', 'phone']

Query: Show the short names of the buildings managed by "Emma".
Database name: apartment_rentals
Tables: ['apartment buildings']

Query: Show the distinct venues of debates
Database name: debate
Tables: ['debate']

Query: Find the names and total checking and savings balances of accounts whose savings balance is higher than the average savings balance.
Database name: small_bank_1
Tables: ['accounts', 'savings', 'checking']

Query: What is total number of show times per dat for each cinema?
Database name: cinema
Tables: ['schedule', 'cinema']

Query: What is the team with at least 2 technicians?
Database name: machine_repair
Tables: ['technician']

Query: Find the id of the candidate who got the lowest oppose rate.
Database name: candidate_poll
Tables: ['candidate']

Query: List name, dates active, and number of deaths for all storms with at least 1 death.
Database name: storm_record
Tables: ['storm']

Query: What is the largest payment amount?
Database name: sakila_1
Tables: ['payment']

Query: List the all the assets make, model, details by the disposed date ascendingly.
Database name: assets_maintenance
Tables: ['assets']

Query: What is the maximum and minimum resolution of all songs that are approximately 3 minutes long?
Database name: music_1
Tables: ['files', 'song']

Query: find the number of different programs that are broadcast during night time.
Database name: program_share
Tables: ['broadcast', 'program']

Query: Find the first names of all the teachers that teach in classroom 110.
Database name: student_1
Tables: ['teachers']

Query: How many staff does each project has? List the project id and the number in an ascending order.
Database name: tracking_grants_for_research
Tables: ['project staff', 'projects']

Query: What are the names of all the documents, as well as the access counts of each, ordered alphabetically?
Database name: document_management
Tables: ['documents']

Query: What are the maximum and minumum grade points?
Database name: college_3
Tables: ['grade conversion', 'enrolled in']

Query: What are the descriptions for the aircrafts?
Database name: aircraft
Tables: ['aircraft']

Query: How many players have more than 1000 hours of training?
Database name: soccer_2
Tables: ['player']

Query: Show all the Store_Name of drama workshop groups.
Database name: cre_Drama_Workshop_Groups
Tables: ['drama workshop groups']

Query: How many songs have a shared vocal?
Database name: music_2
Tables: ['vocals', 'songs']

Query: How many branches where have more than average number of memberships are there?
Database name: shop_membership
Tables: ['branch', 'membership register branch']

Query: Show all transaction ids with transaction code 'PUR'.
Database name: tracking_share_transactions
Tables: ['transactions', 'reference transaction types']

Query: How many different types of sports do we offer?
Database name: game_1
Tables: ['sports info']

Query: Return the famous titles of the artist called "Triumfall".
Database name: music_4
Tables: ['artist', 'volume']

Query: Return the budget type codes, budget type descriptions and document ids for documents with expenses.
Database name: cre_Docs_and_Epenses
Tables: ['reference budget codes', 'documents with expenses']

Query: Show the name, location, and number of platforms for all stations.
Database name: train_station
Tables: ['station']

Query: Find the id of the customer who made the most orders.
Database name: tracking_orders
Tables: ['orders', 'customers']

In [ ]:
PY = sys.executable

# 2) Point cwd to your project root (adjust if your notebook isn't in project_root/notebooks/)
project_root = Path.cwd().parent  # e.g., notebooks/ -> project root
print("CWD:", project_root)

answers_agent_c = []

for item in parsed_answers:
    result = subprocess.run(
        [PY, "-m", "src.agents.agent_c", "--query", item["User Query"], "--database", item['Database Name'], "--tables", json.dumps(item['Tables']), "--quiet"],
        cwd=project_root,                 # critical so -m finds src.agents.agent_c
        text=True,
    stdout=subprocess.PIPE,
    stderr=subprocess.STDOUT          # merge stderr so you see errors/logs
    )
    answers_agent_c.append(result.stdout.strip())

CWD: c:\Users\coffe\OneDrive\Desktop\CITS5553 Capstone Project\Project_Git\explainable-nl-query-db-agents