In [110]:
import sqlite3
import json
import pandas as pd
import os
import textwrap
from langchain_openai import OpenAIEmbeddings, ChatOpenAI
from langchain_community.vectorstores import FAISS
from langchain.prompts import PromptTemplate
from langchain.chains import LLMChain
from openai import OpenAI

In [111]:
tables_json_path_2 = r"C:\Users\coffe\OneDrive\Desktop\CITS5553 Capstone Project\spider_data\spider_data\train_spider.json"
if os.path.exists(tables_json_path_2):
    with open(tables_json_path_2, 'r', encoding='utf-8') as f:
        train_data = json.load(f)
    print(f"Number of tables/schemas: {len(train_data)}")
    if train_data :
        first_entry = train_data[5] 
        print(f"Keys: {list(first_entry.keys()) if isinstance(first_entry, dict) else 'Not a dictionary'}")
else:
    print("error.")

Number of tables/schemas: 7000
Keys: ['db_id', 'query', 'query_toks', 'query_toks_no_value', 'question', 'question_toks', 'sql']

In [112]:
dbid_question_list = [
    {'db_id': entry.get('db_id'), 'question': entry.get('question'), 'query': entry.get('query')}
    for entry in train_data if isinstance(entry, dict)
]
print(dbid_question_list[:5])

[{'db_id': 'department_management', 'question': 'How many heads of the departments are older than 56 ?', 'query': 'SELECT count(*) FROM head WHERE age  >  56'}, {'db_id': 'department_management', 'question': 'List the name, born state and age of the heads of departments ordered by age.', 'query': 'SELECT name ,  born_state ,  age FROM head ORDER BY age'}, {'db_id': 'department_management', 'question': 'List the creation year, name and budget of each department.', 'query': 'SELECT creation ,  name ,  budget_in_billions FROM department'}, {'db_id': 'department_management', 'question': 'What are the maximum and minimum budget of the departments?', 'query': 'SELECT max(budget_in_billions) ,  min(budget_in_billions) FROM department'}, {'db_id': 'department_management', 'question': 'What is the average number of employees of the departments whose rank is between 10 and 15?', 'query': 'SELECT avg(num_employees) FROM department WHERE ranking BETWEEN 10 AND 15'}]

In [116]:
every_x_th = dbid_question_list[::20]
# checking how many in total to be tested
len(every_x_th)

350

In [117]:
for item in every_x_th:
    print(item['question'])
    print(item['db_id'])
    print(item['query'])

How many heads of the departments are older than 56 ?
department_management
SELECT count(*) FROM head WHERE age  >  56
What are the hosts of competitions whose theme is not "Aliens"?
farm
SELECT Hosts FROM farm_competition WHERE Theme !=  'Aliens'
Please show the themes of competitions with host cities having populations larger than 1000.
farm
SELECT T2.Theme FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID WHERE T1.Population  >  1000
what are the first name and last name of all candidates?
student_assessment
SELECT T2.first_name ,  T2.last_name FROM candidates AS T1 JOIN people AS T2 ON T1.candidate_id = T2.person_id
For every student who is registered for some course, how many courses are they registered for?
student_assessment
SELECT T1.student_id ,  count(*) FROM students AS T1 JOIN student_course_registrations AS T2 ON T1.student_id = T2.student_id GROUP BY T1.student_id
What are the ids of the students who either registered or attended a course?
student_assessment
SELECT student_id FROM student_course_registrations UNION SELECT student_id FROM student_course_attendance
What is the id of the shortest trip?
bike_1
SELECT id FROM trip ORDER BY duration LIMIT 1
What is the latitude, longitude, and city of the station from which the trip with smallest duration started?
bike_1
SELECT T1.lat ,  T1.long ,  T1.city FROM station AS T1 JOIN trip AS T2 ON T1.id  =  T2.start_station_id ORDER BY T2.duration LIMIT 1
Which days had a minimum dew point smaller than any day in zip code 94107, and in which zip codes were those measurements taken?
bike_1
SELECT date ,  zip_code FROM weather WHERE min_dew_point_f  <  (SELECT min(min_dew_point_f) FROM weather WHERE zip_code  =  94107)
What are the ids and names of all start stations that were the beginning of at least 200 trips?
bike_1
SELECT start_station_id ,  start_station_name FROM trip GROUP BY start_station_name HAVING COUNT(*)  >=  200
What are the dates that have an average sea level pressure between 30.3 and 31?
bike_1
SELECT date FROM weather WHERE mean_sea_level_pressure_inches BETWEEN 30.3 AND 31
List the publisher of the publication with the highest price.
book_2
SELECT Publisher FROM publication ORDER BY Price DESC LIMIT 1
List the name of actors whose age is not 20.
musical
SELECT Name FROM actor WHERE Age != 20
Show different nominees and the number of musicals they have been nominated.
musical
SELECT Nominee ,  COUNT(*) FROM musical GROUP BY Nominee
Find the number of users who posted some tweets.
twitter_1
SELECT count(DISTINCT UID) FROM tweets
Find the maximum and total number of followers of all users.
twitter_1
SELECT max(followers) ,  sum(followers) FROM user_profiles
Find the level name of the catalog with the lowest price (in USD).
product_catalog
SELECT t2.catalog_level_name FROM catalog_contents AS t1 JOIN catalog_structure AS t2 ON t1.catalog_level_number  =  t2.catalog_level_number ORDER BY t1.price_in_dollars LIMIT 1
Find the total number of catalog contents.
product_catalog
SELECT count(*) FROM catalog_contents
What are the names of all aircrafts that can cover more distances than average?
flight_1
SELECT name FROM Aircraft WHERE distance  >  (SELECT avg(distance) FROM Aircraft)
What is the id and salary of the employee named Mark Young?
flight_1
SELECT eid ,  salary FROM Employee WHERE name  =  'Mark Young'
What are the numbers of the shortest flights?
flight_1
SELECT flno FROM Flight ORDER BY distance ASC LIMIT 3
What is the count of distinct employees with certificates?
flight_1
SELECT count(DISTINCT eid) FROM Certificate
How many allergy entries are there?
allergy_1
SELECT count(DISTINCT allergy) FROM Allergy_type
What is the total number of students?
allergy_1
SELECT count(*) FROM Student
Who advises student 1004?
allergy_1
SELECT Advisor FROM Student WHERE StuID  =  1004
How many students does each advisor have?
allergy_1
SELECT advisor ,  count(*) FROM Student GROUP BY advisor
What are the last names and ages of the students who are allergic to milk and cat?
allergy_1
SELECT lname ,  age FROM Student WHERE StuID IN (SELECT StuID FROM Has_allergy WHERE Allergy  =  "Milk" INTERSECT SELECT StuID FROM Has_allergy WHERE Allergy  =  "Cat")
What are the names of the top 8 countries by total invoice size and what are those sizes?
store_1
SELECT billing_country ,  SUM(total) FROM invoices GROUP BY billing_country ORDER BY SUM(total) DESC LIMIT 8;
What are the total amount of money in the invoices billed from Chicago, Illinois?
store_1
SELECT sum(total) FROM invoices WHERE billing_city  =  "Chicago" AND billing_state  =  "IL";
How many customers are from California?
store_1
SELECT count(*) FROM customers WHERE state = "CA";
What si the youngest employee's first and last name?
store_1
SELECT first_name , last_name FROM employees ORDER BY birth_date DESC LIMIT 1;
How many milliseconds long is Fast As a Shark?
store_1
SELECT milliseconds FROM tracks WHERE name = "Fast As a Shark";
What are the tracks that Dean Peeters bought?
store_1
SELECT T1.name FROM tracks AS T1 JOIN invoice_lines AS T2 ON T1.id = T2.track_id JOIN invoices AS T3 ON T3.id = T2.invoice_id JOIN customers AS T4 ON T4.id = T3.customer_id WHERE T4.first_name = "Daan" AND T4.last_name = "Peeters";
Show the names and ages of editors and the theme of journals for which they serve on committees, in ascending alphabetical order of theme.
journal_committee
SELECT T2.Name ,  T2.age ,  T3.Theme FROM journal_committee AS T1 JOIN editor AS T2 ON T1.Editor_ID  =  T2.Editor_ID JOIN journal AS T3 ON T1.Journal_ID  =  T3.Journal_ID ORDER BY T3.Theme ASC
What is the customer id of the customer with the most accounts, and how many accounts does this person have?
customers_card_transactions
SELECT customer_id ,  count(*) FROM Accounts GROUP BY customer_id ORDER BY count(*) DESC LIMIT 1
What are card ids, customer ids, card types, and card numbers for each customer card?
customers_card_transactions
SELECT card_id ,  customer_id ,  card_type_code ,  card_number FROM Customers_cards
What are the different card types, and how many cards are there of each?
customers_card_transactions
SELECT card_type_code ,  count(*) FROM Customers_cards GROUP BY card_type_code
What are the different card types, and how many transactions have been made with each?
customers_card_transactions
SELECT T2.card_type_code ,  count(*) FROM Financial_transactions AS T1 JOIN Customers_cards AS T2 ON T1.card_id  =  T2.card_id GROUP BY T2.card_type_code
Give the different locations of tracks.
race_track
SELECT DISTINCT LOCATION FROM track
What are the names of different tracks, and how many races has each had?
race_track
SELECT T2.name ,  count(*) FROM race AS T1 JOIN track AS T2 ON T1.track_id  =  T2.track_id GROUP BY T1.track_id
What are the average score and average staff number of all shops?
coffee_shop
SELECT avg(num_of_staff) ,  avg(score) FROM shop
What are the titles of albums by the artist "AC/DC"?
chinook_1
SELECT Title FROM ALBUM AS T1 JOIN ARTIST AS T2 ON T1.ArtistId  =  T2.ArtistId WHERE T2.Name  =  "AC/DC"
What are the titles and ids for albums containing tracks with unit price greater than 1?
chinook_1
SELECT T1.Title ,  T2.AlbumID FROM ALBUM AS T1 JOIN TRACK AS T2 ON T1.AlbumId  =  T2.AlbumId WHERE T2.UnitPrice  >  1 GROUP BY T2.AlbumID
What are the different first names for customers from Brazil who have also had an invoice?
chinook_1
SELECT DISTINCT T1.FirstName FROM CUSTOMER AS T1 JOIN INVOICE AS T2 ON T1.CustomerId  =  T2.CustomerId WHERE T1.country  =  "Brazil"
Find the average unit price of tracks from the Rock genre.
chinook_1
SELECT AVG(T2.UnitPrice) FROM GENRE AS T1 JOIN TRACK AS T2 ON T1.GenreId  =  T2.GenreId WHERE T1.Name  =  "Rock"
Find the policy types more than 4 customers use. Show their type code.
insurance_fnol
SELECT policy_type_code FROM available_policies GROUP BY policy_type_code HAVING count(*)  >  4
Which customers do not have a first notification of loss record? Give me the customer names.
insurance_fnol
SELECT customer_name FROM customers EXCEPT SELECT t1.customer_name FROM customers AS t1 JOIN first_notification_of_loss AS t2 ON t1.customer_id  =  t2.customer_id
What is the maximum OMIM value in the database?
medicine_enzyme_interaction
SELECT max(OMIM) FROM enzyme
How many medicines were not approved by the FDA?
medicine_enzyme_interaction
SELECT count(*) FROM medicine WHERE FDA_approved  =  'No'
What are the public schools and what are their locations?
university_basketball
SELECT school ,  LOCATION FROM university WHERE affiliation  =  'Public'
Return the total and minimum enrollments across all schools.
university_basketball
SELECT sum(enrollment) ,  min(enrollment) FROM university
What is all the information about the basketball match?
university_basketball
SELECT * FROM basketball_match
List the hardware model name for the phons that were produced by "Nokia Corporation" but whose screen mode type is not Text.
phone_1
SELECT DISTINCT T2.Hardware_Model_name FROM screen_mode AS T1 JOIN phone AS T2 ON T1.Graphics_mode = T2.screen_mode WHERE t2.Company_name  =  "Nokia Corporation" AND T1.Type != "Text";
Show the players from college UCLA.
match_season
SELECT Player FROM match_season WHERE College  =  "UCLA"
How many distinct official languages are there among countries of players whose positions are defenders.
match_season
SELECT count(DISTINCT T1.Official_native_language) FROM country AS T1 JOIN match_season AS T2 ON T1.Country_id  =  T2.Country WHERE T2.Position  =  "Defender"
Show the name of colleges that have at least two players.
match_season
SELECT College FROM match_season GROUP BY College HAVING count(*)  >=  2
What are the names of mountains in ascending alphabetical order?
climbing
SELECT Name FROM mountain ORDER BY Name ASC
List the countries that have more than one mountain.
climbing
SELECT Country FROM mountain GROUP BY Country HAVING COUNT(*)  >  1
What are the heights of body builders with total score smaller than 315?
body_builder
SELECT T2.Height FROM body_builder AS T1 JOIN people AS T2 ON T1.People_ID  =  T2.People_ID WHERE T1.Total  <  315
What are the life spans of representatives from New York state or Indiana state?
election_representative
SELECT Lifespan FROM representative WHERE State  =  "New York" OR State  =  "Indiana"
Show the short names of the buildings managed by "Emma".
apartment_rentals
SELECT building_short_name FROM Apartment_Buildings WHERE building_manager	 =  "Emma"
Show the apartment numbers, start dates, and end dates of all the apartment bookings.
apartment_rentals
SELECT T2.apt_number ,  T1.booking_start_date ,  T1.booking_start_date FROM Apartment_Bookings AS T1 JOIN Apartments AS T2 ON T1.apt_id  =  T2.apt_id
Show the total number of rooms of all apartments with facility code "Gym".
apartment_rentals
SELECT sum(T2.room_count) FROM Apartment_Facilities AS T1 JOIN Apartments AS T2 ON T1.apt_id  =  T2.apt_id WHERE T1.facility_code  =  "Gym"
Show the most common apartment type code.
apartment_rentals
SELECT apt_type_code FROM Apartments GROUP BY apt_type_code ORDER BY count(*) DESC LIMIT 1
What is the season of the game which causes the player 'Walter Samuel' to get injured?
game_injury
SELECT T1.season FROM game AS T1 JOIN injury_accident AS T2 ON T1.id  =  T2.game_id WHERE T2.player  =  'Walter Samuel'
List the names of all left-footed players who have overall rating between 85 and 90.
soccer_1
SELECT DISTINCT T1.player_name FROM Player AS T1 JOIN Player_Attributes AS T2 ON T1.player_api_id = T2.player_api_id WHERE T2.preferred_foot  =  "left" AND T2.overall_rating  >=  85 AND T2.overall_rating  <=  90
Show the names of members and the dates of performances they attended in descending order of attendance of the performances.
performance_attendance
SELECT T2.Name ,  T3.Date FROM member_attendance AS T1 JOIN member AS T2 ON T1.Member_ID  =  T2.Member_ID JOIN performance AS T3 ON T1.Performance_ID  =  T3.Performance_ID ORDER BY T3.Attendance DESC
How many different courses offered by Physics department?
college_2
SELECT count(DISTINCT course_id) FROM course WHERE dept_name  =  'Physics'
what is the name of the instructor who is in Statistics department and earns the lowest salary?
college_2
SELECT name FROM instructor WHERE dept_name  =  'Statistics' ORDER BY salary LIMIT 1
Who is the instructor with the highest salary?
college_2
SELECT name FROM instructor ORDER BY salary DESC LIMIT 1
Find the minimum salary for the departments whose average salary is above the average payment of all instructors.
college_2
SELECT min(salary) ,  dept_name FROM instructor GROUP BY dept_name HAVING avg(salary)  >  (SELECT avg(salary) FROM instructor)
Find the name of the courses that do not have any prerequisite?
college_2
SELECT title FROM course WHERE course_id NOT IN (SELECT course_id FROM prereq)
Find the name of instructors who didn't teach any courses?
college_2
SELECT name FROM instructor WHERE id NOT IN (SELECT id FROM teaches)
Find the name of students who took some course offered by Statistics department.
college_2
SELECT T3.name FROM course AS T1 JOIN takes AS T2 ON T1.course_id  =  T2.course_id JOIN student AS T3 ON T2.id  =  T3.id WHERE T1.dept_name  =  'Statistics'
Find courses that ran in Fall 2009 but not in Spring 2010.
college_2
SELECT course_id FROM SECTION WHERE semester  =  'Fall' AND YEAR  =  2009 EXCEPT SELECT course_id FROM SECTION WHERE semester  =  'Spring' AND YEAR  =  2010
Show the distinct venues of debates
debate
SELECT DISTINCT Venue FROM debate
Which customer made the largest amount of claim in a single claim? Return the customer details.
insurance_and_eClaims
SELECT t3.customer_details FROM claim_headers AS t1 JOIN policies AS t2 ON t1.policy_id  =  t2.policy_id JOIN customers AS t3 ON t2.customer_id  =  t3.customer_id WHERE t1.amount_claimed  =  (SELECT max(amount_claimed) FROM claim_headers)
Which customer have the most policies? Give me the customer details.
insurance_and_eClaims
SELECT t2.customer_details FROM policies AS t1 JOIN customers AS t2 ON t1.customer_id  =  t2.customer_id GROUP BY t2.customer_details ORDER BY count(*) DESC LIMIT 1
Count the number of customers who do not have an account.
customers_and_invoices
SELECT count(*) FROM Customers WHERE customer_id NOT IN (SELECT customer_id FROM Accounts)
Count the number of financial transactions that correspond to each account id.
customers_and_invoices
SELECT count(*) ,  account_id FROM Financial_transactions
How many transactions correspond to each invoice number?
customers_and_invoices
SELECT invoice_number ,  count(*) FROM Financial_transactions GROUP BY invoice_number
How many distinct order ids correspond to each product?
customers_and_invoices
SELECT product_id ,  count(DISTINCT order_id) FROM Order_items GROUP BY product_id
Show the pair of male and female names in all weddings after year 2014
wedding
SELECT T2.name ,  T3.name FROM wedding AS T1 JOIN people AS T2 ON T1.male_id  =  T2.people_id JOIN people AS T3 ON T1.female_id  =  T3.people_id WHERE T1.year  >  2014
Return the average and minimum ages across artists from the United States.
theme_gallery
SELECT avg(age) ,  min(age) FROM artist WHERE country  =  'United States'
Return the themes, dates, and attendance for exhibitions that happened in 2004.
theme_gallery
SELECT T2.theme ,  T1.date ,  T1.attendance FROM exhibition_record AS T1 JOIN exhibition AS T2 ON T1.exhibition_id  =  T2.exhibition_id WHERE T2.year  =  2004
Find the titles of items whose rating is higher than the average review rating of all items.
epinions_1
SELECT T1.title FROM item AS T1 JOIN review AS T2 ON T1.i_id  =  T2.i_id WHERE T2.rating  >  (SELECT avg(rating) FROM review)
List the names of players in ascending order of votes.
riding_club
SELECT Player_name FROM player ORDER BY Votes ASC
List the total points of gymnasts in descending order of floor exercise points.
gymnast
SELECT Total_Points FROM gymnast ORDER BY Floor_Exercise_Points DESC
What are the hometowns of gymnasts and the corresponding number of gymnasts?
gymnast
SELECT T2.Hometown ,  COUNT(*) FROM gymnast AS T1 JOIN people AS T2 ON T1.Gymnast_ID  =  T2.People_ID GROUP BY T2.Hometown
What is the total checking balance in all accounts?
small_bank_1
SELECT sum(balance) FROM checking
Find the names and total checking and savings balances of accounts whose savings balance is higher than the average savings balance.
small_bank_1
SELECT T1.name ,  T2.balance + T3.balance FROM accounts AS T1 JOIN checking AS T2 ON T1.custid  =  T2.custid JOIN savings AS T3 ON T1.custid  =  T3.custid WHERE T3.balance  >  (SELECT avg(balance) FROM savings)
Find the name of accounts whose checking balance is higher than corresponding saving balance.
small_bank_1
SELECT T1.name FROM accounts AS T1 JOIN checking AS T2 ON T1.custid  =  T2.custid JOIN savings AS T3 ON T1.custid  =  T3.custid WHERE T2.balance  >  T3.balance
Show the accelerator names and supporting operating systems that are not compatible with the browser named 'Opera'.
browser_web
SELECT name ,  operating_system FROM web_client_accelerator EXCEPT SELECT T1.name ,  T1.operating_system FROM web_client_accelerator AS T1 JOIN accelerator_compatible_browser AS T2 ON T2.accelerator_id  =  T1.id JOIN browser AS T3 ON T2.browser_id  =  T3.id WHERE T3.name  =  'Opera'
List the time of elimination of the wrestlers with largest days held.
wrestler
SELECT T1.Time FROM elimination AS T1 JOIN wrestler AS T2 ON T1.Wrestler_ID  =  T2.Wrestler_ID ORDER BY T2.Days_held DESC LIMIT 1
What is the number of distinct teams that suffer elimination?
wrestler
SELECT COUNT (DISTINCT team) FROM elimination
How many budgets are above 3000 in year 2001 or before?
school_finance
SELECT count(*) FROM budget WHERE budgeted  >  3000 AND YEAR  <=  2001
Show the name of buildings that do not have any institution.
protein_institute
SELECT name FROM building WHERE building_id NOT IN (SELECT building_id FROM institution)
Show the average, minimum, and maximum capacity for all the cinemas opened in year 2011 or later.
cinema
SELECT avg(capacity) ,  min(capacity) ,  max(capacity) FROM cinema WHERE openning_year  >=  2011
Are the customers holding coupons with amount 500 bad or good?
products_for_hire
SELECT T1.good_or_bad_customer FROM customers AS T1 JOIN discount_coupons AS T2 ON T1.coupon_id  =  T2.coupon_id WHERE T2.coupon_amount  =  500
What are the memories and carriers of phones?
phone_market
SELECT Memory_in_G ,  Carrier FROM phone
What are the names and headquarters of all companies ordered by descending market value?
gas_company
SELECT company ,  headquarters FROM company ORDER BY market_value DESC
What are the headquarters that have both a company in the banking and 'oil and gas' industries?
gas_company
SELECT headquarters FROM company WHERE main_industry  =  'Banking' INTERSECT SELECT headquarters FROM company WHERE main_industry  =  'Oil and gas'
Count the number of regions.
party_people
SELECT count(*) FROM region
Return the name of the party with the most members.
party_people
SELECT T2.party_name FROM Member AS T1 JOIN party AS T2 ON T1.party_id  =  T2.party_id GROUP BY T1.party_id ORDER BY count(*) DESC LIMIT 1
Which event names were used more than twice for party events?
party_people
SELECT event_name FROM party_events GROUP BY event_name HAVING count(*)  >  2
What document type codes do we have?
cre_Doc_Control_Systems
SELECT document_type_code FROM Ref_Document_Types;
What is the mail date of the document with id 7?
cre_Doc_Control_Systems
SELECT mailing_date FROM Documents_Mailed WHERE document_id = 7;
How many events have each participants attended? List the participant id, type and the number.
local_govt_in_alabama
SELECT T1.Participant_ID ,  T1.Participant_Type_Code ,  count(*) FROM Participants AS T1 JOIN Participants_in_Events AS T2 ON T1.Participant_ID  =  T2.Participant_ID GROUP BY T1.Participant_ID
What are the unique names of all race held between 2014 and 2017?
formula_1

In [ ]:
from pathlib import Path
import subprocess, sys


PY = sys.executable


project_root = Path.cwd().parent  
print("CWD:", project_root)

answers = []

for item in every_x_th:
    result = subprocess.run(
        [PY, "-m", "src.agents.agent_a", "--query", item['question'], "--mode", "light", "--quiet"],
        cwd=project_root,                 
        text=True,
    stdout=subprocess.PIPE,
    stderr=subprocess.STDOUT         
    )
    answers.append(result.stdout.strip())

CWD: c:\Users\coffe\OneDrive\Desktop\CITS5553 Capstone Project\Project_Git\explainable-nl-query-db-agents

In [119]:
db_ground_truth = [item['db_id'] for item in every_x_th]
db_prediction = [ans.strip().strip('"') for ans in answers]

In [120]:
comparison_results = [gt == pred for gt, pred in zip(db_ground_truth, db_prediction)]
print(comparison_results)

[True, True, True, False, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False, True, True, True, False, False, False, True, False, True, True, False, False, False, True, False, True, True, True, True, True, True, False, False, False, False, False, True, True, True, False, False, True, True, False, False, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False, True, False, False, True, True, True, False, True, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False, False, False, True, True, False, True, True, True, True, True, True, True, True, True, False, True, True, True, True, True, True, False, True, True, False, True, True, True, True, False, True, True, False, True, True, True, True, True, True, True, True, True, True, True, False, True, False, False, False, True, True, True, True, True, True, True, True, True, False, False, False, False, True, True, False, False, True, True, True, True, True, False, True, False, True, False, True, True, True, True, False, True, True, True, True, True, True, True, True, True, True, False, True, True, False, True, True, True, True, True, True, False, True, True, True, True, True, True, False, False, True, False, False, True, False, True, True, True, True, False, False, True, False, False, True, True, True, True, True, True, True, True, True, False, False, False, True, True, True, True, True, True, True, True, True, False, True, True, True, True, True, True, True, True, True, True, True, False, True, False, True, False, True, False, False, False, True, True, False, True, True, True, False, True, False, True, False, True, True, True, True, True, True, True, False, True, True, True, True, False, False, True, True, True, False, True, True, True, True, True, True, True, False, False, True, False, False, True, True, True, True, True, True, True, False, True, True, True, False, False, False, True, True, True, True, True, True, True, True, True, False, False, True, True, True, False, False, False, True, True, True, True, True, True, False, False, True, True, False]

In [121]:
sum(comparison_results) / len (comparison_results)

0.7285714285714285

In [122]:
false_indices = [i for i, val in enumerate(comparison_results) if not val]
for i in false_indices:
    question = every_x_th[i]['question']
    ground_truth = db_ground_truth[i]
    prediction = db_prediction[i]
    print(f"Q: {question}\nTruth: {ground_truth} | Pred: {prediction}\n{'-'*60}")

Q: what are the first name and last name of all candidates?
Truth: student_assessment | Pred: candidate_poll
------------------------------------------------------------
Q: For every student who is registered for some course, how many courses are they registered for?
Truth: student_assessment | Pred: e_learning
------------------------------------------------------------
Q: What is the id and salary of the employee named Mark Young?
Truth: flight_1 | Pred: hr_1
------------------------------------------------------------
Q: What is the total number of students?
Truth: allergy_1 | Pred: e_learning
------------------------------------------------------------
Q: Who advises student 1004?
Truth: allergy_1 | Pred: college_2
------------------------------------------------------------
Q: How many students does each advisor have?
Truth: allergy_1 | Pred: college_2
------------------------------------------------------------
Q: What are the names of the top 8 countries by total invoice size and what are those sizes?
Truth: store_1 | Pred: chinook_1
------------------------------------------------------------
Q: What si the youngest employee's first and last name?
Truth: store_1 | Pred: company_1
------------------------------------------------------------
Q: How many milliseconds long is Fast As a Shark?
Truth: store_1 | Pred: swimming
------------------------------------------------------------
Q: What are the tracks that Dean Peeters bought?
Truth: store_1 | Pred: chinook_1
------------------------------------------------------------
Q: What is the customer id of the customer with the most accounts, and how many accounts does this person have?
Truth: customers_card_transactions | Pred: customers_and_invoices
------------------------------------------------------------
Q: What are the titles of albums by the artist "AC/DC"?
Truth: chinook_1 | Pred: store_1
------------------------------------------------------------
Q: What are the titles and ids for albums containing tracks with unit price greater than 1?
Truth: chinook_1 | Pred: store_1
------------------------------------------------------------
Q: What are the different first names for customers from Brazil who have also had an invoice?
Truth: chinook_1 | Pred: customers_and_invoices
------------------------------------------------------------
Q: Find the average unit price of tracks from the Rock genre.
Truth: chinook_1 | Pred: store_1
------------------------------------------------------------
Q: Find the policy types more than 4 customers use. Show their type code.
Truth: insurance_fnol | Pred: insurance_and_eClaims
------------------------------------------------------------
Q: What are the public schools and what are their locations?
Truth: university_basketball | Pred: school_bus
------------------------------------------------------------
Q: Return the total and minimum enrollments across all schools.
Truth: university_basketball | Pred: school_finance
------------------------------------------------------------
Q: Show the players from college UCLA.
Truth: match_season | Pred: soccer_2
------------------------------------------------------------
Q: How many distinct official languages are there among countries of players whose positions are defenders.
Truth: match_season | Pred: soccer_1
------------------------------------------------------------
Q: Show the name of colleges that have at least two players.
Truth: match_season | Pred: baseball_1
------------------------------------------------------------
Q: Find the name of the courses that do not have any prerequisite?
Truth: college_2 | Pred: student_assessment
------------------------------------------------------------
Q: Find the name of students who took some course offered by Statistics department.
Truth: college_2 | Pred: e_learning
------------------------------------------------------------
Q: Find courses that ran in Fall 2009 but not in Spring 2010.
Truth: college_2 | Pred: course_teach
------------------------------------------------------------
Q: Count the number of customers who do not have an account.
Truth: customers_and_invoices | Pred: driving_school
------------------------------------------------------------
Q: How many distinct order ids correspond to each product?
Truth: customers_and_invoices | Pred: department_store
------------------------------------------------------------
Q: What are the names and headquarters of all companies ordered by descending market value?
Truth: gas_company | Pred: company_employee
------------------------------------------------------------
Q: What are the headquarters that have both a company in the banking and 'oil and gas' industries?
Truth: gas_company | Pred: company_employee
------------------------------------------------------------
Q: Count the number of regions.
Truth: party_people | Pred: hr_1
------------------------------------------------------------
Q: What document type codes do we have?
Truth: cre_Doc_Control_Systems | Pred: document_management
------------------------------------------------------------
Q: Count the number of different companies.
Truth: entrepreneur | Pred: company_employee
------------------------------------------------------------
Q: Who is the director of movie Avatar?
Truth: movie_1 | Pred: culture_company
------------------------------------------------------------
Q: What are the names and years of the movies that has the top 3 highest rating star?
Truth: movie_1 | Pred: imdb
------------------------------------------------------------
Q: What kind of decor has the least number of reservations?
Truth: inn_1 | Pred: cre_Theme_park
------------------------------------------------------------
Q: How many parties are there?
Truth: party_host | Pred: e_government
------------------------------------------------------------
Q: Retrieve the country that has published the most papers.
Truth: icfp_1 | Pred: academic
------------------------------------------------------------
Q: How many cities are in Australia?
Truth: sakila_1 | Pred: geo
------------------------------------------------------------
Q: Which customer, who has made at least one payment, has spent the least money? List his or her first name, last name, and the id.
Truth: sakila_1 | Pred: driving_school
------------------------------------------------------------
Q: How many stores are there?
Truth: sakila_1 | Pred: store_product
------------------------------------------------------------
Q: What are the first names and birthdates of the professors in charge of ACCT-211?
Truth: college_1 | Pred: college_3
------------------------------------------------------------
Q: How many sections does each course have?
Truth: college_1 | Pred: student_transcripts_tracking
------------------------------------------------------------
Q: How many hours do the students spend studying in each department?
Truth: college_1 | Pred: college_2
------------------------------------------------------------
Q: Which department offers the most credits all together?
Truth: college_1 | Pred: college_2
------------------------------------------------------------
Q: What is the name of the department with the student that has the lowest GPA?
Truth: college_1 | Pred: college_2
------------------------------------------------------------
Q: What are the names of all students taking a course who received an A or C?
Truth: college_1 | Pred: college_3
------------------------------------------------------------
Q: Which employees were hired after September 7th, 1987?
Truth: hr_1 | Pred: store_1
------------------------------------------------------------
Q: What are the names of departments that have at least one employee.
Truth: hr_1 | Pred: department_management
------------------------------------------------------------
Q: What are the full names and cities of employees who have the letter Z in their first names?
Truth: hr_1 | Pred: chinook_1
------------------------------------------------------------
Q: What are the top 3 artists with the largest number of songs in the language Bangla?
Truth: music_1 | Pred: singer
------------------------------------------------------------
Q: Find the student ID and middle name for all the students with at most two enrollments.
Truth: e_learning | Pred: student_transcripts_tracking
------------------------------------------------------------
Q: What is the employee id of the head whose department has the least number of employees?
Truth: hospital_1 | Pred: department_management
------------------------------------------------------------
Q: Find the grade studying in room 105.
Truth: student_1 | Pred: college_2
------------------------------------------------------------
Q: Show the number of locations.
Truth: cre_Doc_Tracking_DB | Pred: hr_1
------------------------------------------------------------
Q: What is the id for the employee called Ebba?
Truth: cre_Doc_Tracking_DB | Pred: hr_1
------------------------------------------------------------
Q: Show the ids of the employees who don't authorize destruction for any document.
Truth: cre_Doc_Tracking_DB | Pred: cre_Doc_Control_Systems
------------------------------------------------------------
Q: Who are the members of the club named "Hopkins Student Enterprises"? Show the last name.
Truth: club_1 | Pred: e_learning
------------------------------------------------------------
Q: How many members of "Bootup Baltimore" are older than 18?
Truth: club_1 | Pred: coffee_shop
------------------------------------------------------------
Q: How many females does this network has?
Truth: network_2 | Pred: station_weather
------------------------------------------------------------
Q: What is the average age for each gender?
Truth: network_2 | Pred: wedding
------------------------------------------------------------
Q: Find the male friend of Alice whose job is a doctor?
Truth: network_2 | Pred: hospital_1
------------------------------------------------------------
Q: What is the total number of people who has no friend living in the city of Austin.
Truth: network_2 | Pred: local_govt_and_lot
------------------------------------------------------------
Q: What are the full names of the 3 instructors who teach the most courses?
Truth: college_3 | Pred: course_teach
------------------------------------------------------------
Q: What is the average gradepoint for students with the last name Smith?
Truth: college_3 | Pred: student_transcripts_tracking
------------------------------------------------------------
Q: How many customers use each payment method?
Truth: department_store | Pred: customers_campaigns_ecommerce
------------------------------------------------------------
Q: Which city is the headquarter of the store named "Blackville" in?
Truth: store_product | Pred: cre_Drama_Workshop_Groups
------------------------------------------------------------
Q: What is the most frequent status of bookings?
Truth: cre_Drama_Workshop_Groups | Pred: products_for_hire
------------------------------------------------------------
Q: Find all the songs whose name contains the word "the".
Truth: music_2 | Pred: music_1
------------------------------------------------------------
Q: What is the last name of the musician that have produced the most songs?
Truth: music_2 | Pred: singer
------------------------------------------------------------
Q: How many companies were created by Andy?
Truth: manufactory_1 | Pred: company_employee
------------------------------------------------------------
Q: Find the name of companies whose revenue is greater than the average revenue of all companies.
Truth: manufactory_1 | Pred: company_employee
------------------------------------------------------------
Q: Find the number of products for each manufacturer, showing the name of each company.
Truth: manufactory_1 | Pred: manafactory_1
------------------------------------------------------------
Q: List the names of all the distinct product names in alphabetical order?
Truth: tracking_software_problems | Pred: products_gen_characteristics
------------------------------------------------------------
Q: What are the maximum and minimum age of students with major 600?
Truth: voter_2 | Pred: college_3
------------------------------------------------------------
Q: For each advisor, report the total number of students advised by him or her.
Truth: voter_2 | Pred: college_2
------------------------------------------------------------
Q: What is the name of the product with the color description 'yellow'?
Truth: products_gen_characteristics | Pred: customers_and_invoices
------------------------------------------------------------
Q: Find the numbers of different majors and cities.
Truth: dorm_1 | Pred: college_3
------------------------------------------------------------
Q: How many customers are there in the customer type with the most customers?
Truth: customer_complaints | Pred: driving_school
------------------------------------------------------------
Q: Show the names of authors from college "Florida" or "Temple"
Truth: workshop_paper | Pred: academic
------------------------------------------------------------
Q: Find the address of the location named "UK Gallery".
Truth: cre_Theme_park | Pred: theme_gallery
------------------------------------------------------------
Q: Find the average order quantity per order.
Truth: customers_and_addresses | Pred: cre_Drama_Workshop_Groups
------------------------------------------------------------
Q: Find the number of customers who live in the city called Lake Geovannyton.
Truth: customers_and_addresses | Pred: local_govt_and_lot
------------------------------------------------------------
Q: Tell me the number of orders with "Second time" as order detail.
Truth: customers_and_addresses | Pred: customers_and_invoices
------------------------------------------------------------
Q: What are the names of customers who never made an order.
Truth: customers_and_addresses | Pred: tracking_orders
------------------------------------------------------------
Q: Find the number of matches in different competitions.
Truth: city_record | Pred: sports_competition
------------------------------------------------------------
Q: Which of the airport names contains the word 'international'?
Truth: flight_company | Pred: flight_2
------------------------------------------------------------
Q: Count the number of documents.
Truth: cre_Docs_and_Epenses | Pred: cre_Doc_Tracking_DB
------------------------------------------------------------
Q: Return the code of the document type that is most common.
Truth: cre_Docs_and_Epenses | Pred: document_management
------------------------------------------------------------
Q: Find the names of the trains that do not pass any station located in London.
Truth: train_station | Pred: railway
------------------------------------------------------------
Q: How many staff in total?
Truth: driving_school | Pred: cre_Theme_park
------------------------------------------------------------
Q: What buildings have faculty offices?
Truth: activity_1 | Pred: college_3
------------------------------------------------------------
Q: In which buildings are there at least ten professors?
Truth: activity_1 | Pred: college_3
------------------------------------------------------------
Q: Give me the the first and last name of the faculty who advises the most students.
Truth: activity_1 | Pred: college_2
------------------------------------------------------------
Q: Find the id of the customer who made the most orders.
Truth: tracking_orders | Pred: customers_and_products_contacts
------------------------------------------------------------
Q: For each product, show its name and the number of times it was ordered.
Truth: tracking_orders | Pred: department_store
------------------------------------------------------------
Q: Show all publishers which do not have a book in 1989.
Truth: culture_company | Pred: book_2
------------------------------------------------------------

In [123]:
correct_pairs = [v for v, f in zip(every_x_th, comparison_results) if f]

In [124]:
len(correct_pairs)

255

In [125]:
for item in correct_pairs:
    print(item['question'])
    print(item['db_id'])
    print(item['query'])

How many heads of the departments are older than 56 ?
department_management
SELECT count(*) FROM head WHERE age  >  56
What are the hosts of competitions whose theme is not "Aliens"?
farm
SELECT Hosts FROM farm_competition WHERE Theme !=  'Aliens'
Please show the themes of competitions with host cities having populations larger than 1000.
farm
SELECT T2.Theme FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID WHERE T1.Population  >  1000
What are the ids of the students who either registered or attended a course?
student_assessment
SELECT student_id FROM student_course_registrations UNION SELECT student_id FROM student_course_attendance
What is the id of the shortest trip?
bike_1
SELECT id FROM trip ORDER BY duration LIMIT 1
What is the latitude, longitude, and city of the station from which the trip with smallest duration started?
bike_1
SELECT T1.lat ,  T1.long ,  T1.city FROM station AS T1 JOIN trip AS T2 ON T1.id  =  T2.start_station_id ORDER BY T2.duration LIMIT 1
Which days had a minimum dew point smaller than any day in zip code 94107, and in which zip codes were those measurements taken?
bike_1
SELECT date ,  zip_code FROM weather WHERE min_dew_point_f  <  (SELECT min(min_dew_point_f) FROM weather WHERE zip_code  =  94107)
What are the ids and names of all start stations that were the beginning of at least 200 trips?
bike_1
SELECT start_station_id ,  start_station_name FROM trip GROUP BY start_station_name HAVING COUNT(*)  >=  200
What are the dates that have an average sea level pressure between 30.3 and 31?
bike_1
SELECT date FROM weather WHERE mean_sea_level_pressure_inches BETWEEN 30.3 AND 31
List the publisher of the publication with the highest price.
book_2
SELECT Publisher FROM publication ORDER BY Price DESC LIMIT 1
List the name of actors whose age is not 20.
musical
SELECT Name FROM actor WHERE Age != 20
Show different nominees and the number of musicals they have been nominated.
musical
SELECT Nominee ,  COUNT(*) FROM musical GROUP BY Nominee
Find the number of users who posted some tweets.
twitter_1
SELECT count(DISTINCT UID) FROM tweets
Find the maximum and total number of followers of all users.
twitter_1
SELECT max(followers) ,  sum(followers) FROM user_profiles
Find the level name of the catalog with the lowest price (in USD).
product_catalog
SELECT t2.catalog_level_name FROM catalog_contents AS t1 JOIN catalog_structure AS t2 ON t1.catalog_level_number  =  t2.catalog_level_number ORDER BY t1.price_in_dollars LIMIT 1
Find the total number of catalog contents.
product_catalog
SELECT count(*) FROM catalog_contents
What are the names of all aircrafts that can cover more distances than average?
flight_1
SELECT name FROM Aircraft WHERE distance  >  (SELECT avg(distance) FROM Aircraft)
What are the numbers of the shortest flights?
flight_1
SELECT flno FROM Flight ORDER BY distance ASC LIMIT 3
What is the count of distinct employees with certificates?
flight_1
SELECT count(DISTINCT eid) FROM Certificate
How many allergy entries are there?
allergy_1
SELECT count(DISTINCT allergy) FROM Allergy_type
What are the last names and ages of the students who are allergic to milk and cat?
allergy_1
SELECT lname ,  age FROM Student WHERE StuID IN (SELECT StuID FROM Has_allergy WHERE Allergy  =  "Milk" INTERSECT SELECT StuID FROM Has_allergy WHERE Allergy  =  "Cat")
What are the total amount of money in the invoices billed from Chicago, Illinois?
store_1
SELECT sum(total) FROM invoices WHERE billing_city  =  "Chicago" AND billing_state  =  "IL";
How many customers are from California?
store_1
SELECT count(*) FROM customers WHERE state = "CA";
Show the names and ages of editors and the theme of journals for which they serve on committees, in ascending alphabetical order of theme.
journal_committee
SELECT T2.Name ,  T2.age ,  T3.Theme FROM journal_committee AS T1 JOIN editor AS T2 ON T1.Editor_ID  =  T2.Editor_ID JOIN journal AS T3 ON T1.Journal_ID  =  T3.Journal_ID ORDER BY T3.Theme ASC
What are card ids, customer ids, card types, and card numbers for each customer card?
customers_card_transactions
SELECT card_id ,  customer_id ,  card_type_code ,  card_number FROM Customers_cards
What are the different card types, and how many cards are there of each?
customers_card_transactions
SELECT card_type_code ,  count(*) FROM Customers_cards GROUP BY card_type_code
What are the different card types, and how many transactions have been made with each?
customers_card_transactions
SELECT T2.card_type_code ,  count(*) FROM Financial_transactions AS T1 JOIN Customers_cards AS T2 ON T1.card_id  =  T2.card_id GROUP BY T2.card_type_code
Give the different locations of tracks.
race_track
SELECT DISTINCT LOCATION FROM track
What are the names of different tracks, and how many races has each had?
race_track
SELECT T2.name ,  count(*) FROM race AS T1 JOIN track AS T2 ON T1.track_id  =  T2.track_id GROUP BY T1.track_id
What are the average score and average staff number of all shops?
coffee_shop
SELECT avg(num_of_staff) ,  avg(score) FROM shop
Which customers do not have a first notification of loss record? Give me the customer names.
insurance_fnol
SELECT customer_name FROM customers EXCEPT SELECT t1.customer_name FROM customers AS t1 JOIN first_notification_of_loss AS t2 ON t1.customer_id  =  t2.customer_id
What is the maximum OMIM value in the database?
medicine_enzyme_interaction
SELECT max(OMIM) FROM enzyme
How many medicines were not approved by the FDA?
medicine_enzyme_interaction
SELECT count(*) FROM medicine WHERE FDA_approved  =  'No'
What is all the information about the basketball match?
university_basketball
SELECT * FROM basketball_match
List the hardware model name for the phons that were produced by "Nokia Corporation" but whose screen mode type is not Text.
phone_1
SELECT DISTINCT T2.Hardware_Model_name FROM screen_mode AS T1 JOIN phone AS T2 ON T1.Graphics_mode = T2.screen_mode WHERE t2.Company_name  =  "Nokia Corporation" AND T1.Type != "Text";
What are the names of mountains in ascending alphabetical order?
climbing
SELECT Name FROM mountain ORDER BY Name ASC
List the countries that have more than one mountain.
climbing
SELECT Country FROM mountain GROUP BY Country HAVING COUNT(*)  >  1
What are the heights of body builders with total score smaller than 315?
body_builder
SELECT T2.Height FROM body_builder AS T1 JOIN people AS T2 ON T1.People_ID  =  T2.People_ID WHERE T1.Total  <  315
What are the life spans of representatives from New York state or Indiana state?
election_representative
SELECT Lifespan FROM representative WHERE State  =  "New York" OR State  =  "Indiana"
Show the short names of the buildings managed by "Emma".
apartment_rentals
SELECT building_short_name FROM Apartment_Buildings WHERE building_manager	 =  "Emma"
Show the apartment numbers, start dates, and end dates of all the apartment bookings.
apartment_rentals
SELECT T2.apt_number ,  T1.booking_start_date ,  T1.booking_start_date FROM Apartment_Bookings AS T1 JOIN Apartments AS T2 ON T1.apt_id  =  T2.apt_id
Show the total number of rooms of all apartments with facility code "Gym".
apartment_rentals
SELECT sum(T2.room_count) FROM Apartment_Facilities AS T1 JOIN Apartments AS T2 ON T1.apt_id  =  T2.apt_id WHERE T1.facility_code  =  "Gym"
Show the most common apartment type code.
apartment_rentals
SELECT apt_type_code FROM Apartments GROUP BY apt_type_code ORDER BY count(*) DESC LIMIT 1
What is the season of the game which causes the player 'Walter Samuel' to get injured?
game_injury
SELECT T1.season FROM game AS T1 JOIN injury_accident AS T2 ON T1.id  =  T2.game_id WHERE T2.player  =  'Walter Samuel'
List the names of all left-footed players who have overall rating between 85 and 90.
soccer_1
SELECT DISTINCT T1.player_name FROM Player AS T1 JOIN Player_Attributes AS T2 ON T1.player_api_id = T2.player_api_id WHERE T2.preferred_foot  =  "left" AND T2.overall_rating  >=  85 AND T2.overall_rating  <=  90
Show the names of members and the dates of performances they attended in descending order of attendance of the performances.
performance_attendance
SELECT T2.Name ,  T3.Date FROM member_attendance AS T1 JOIN member AS T2 ON T1.Member_ID  =  T2.Member_ID JOIN performance AS T3 ON T1.Performance_ID  =  T3.Performance_ID ORDER BY T3.Attendance DESC
How many different courses offered by Physics department?
college_2
SELECT count(DISTINCT course_id) FROM course WHERE dept_name  =  'Physics'
what is the name of the instructor who is in Statistics department and earns the lowest salary?
college_2
SELECT name FROM instructor WHERE dept_name  =  'Statistics' ORDER BY salary LIMIT 1
Who is the instructor with the highest salary?
college_2
SELECT name FROM instructor ORDER BY salary DESC LIMIT 1
Find the minimum salary for the departments whose average salary is above the average payment of all instructors.
college_2
SELECT min(salary) ,  dept_name FROM instructor GROUP BY dept_name HAVING avg(salary)  >  (SELECT avg(salary) FROM instructor)
Find the name of instructors who didn't teach any courses?
college_2
SELECT name FROM instructor WHERE id NOT IN (SELECT id FROM teaches)
Show the distinct venues of debates
debate
SELECT DISTINCT Venue FROM debate
Which customer made the largest amount of claim in a single claim? Return the customer details.
insurance_and_eClaims
SELECT t3.customer_details FROM claim_headers AS t1 JOIN policies AS t2 ON t1.policy_id  =  t2.policy_id JOIN customers AS t3 ON t2.customer_id  =  t3.customer_id WHERE t1.amount_claimed  =  (SELECT max(amount_claimed) FROM claim_headers)
Which customer have the most policies? Give me the customer details.
insurance_and_eClaims
SELECT t2.customer_details FROM policies AS t1 JOIN customers AS t2 ON t1.customer_id  =  t2.customer_id GROUP BY t2.customer_details ORDER BY count(*) DESC LIMIT 1
Count the number of financial transactions that correspond to each account id.
customers_and_invoices
SELECT count(*) ,  account_id FROM Financial_transactions
How many transactions correspond to each invoice number?
customers_and_invoices
SELECT invoice_number ,  count(*) FROM Financial_transactions GROUP BY invoice_number
Show the pair of male and female names in all weddings after year 2014
wedding
SELECT T2.name ,  T3.name FROM wedding AS T1 JOIN people AS T2 ON T1.male_id  =  T2.people_id JOIN people AS T3 ON T1.female_id  =  T3.people_id WHERE T1.year  >  2014
Return the average and minimum ages across artists from the United States.
theme_gallery
SELECT avg(age) ,  min(age) FROM artist WHERE country  =  'United States'
Return the themes, dates, and attendance for exhibitions that happened in 2004.
theme_gallery
SELECT T2.theme ,  T1.date ,  T1.attendance FROM exhibition_record AS T1 JOIN exhibition AS T2 ON T1.exhibition_id  =  T2.exhibition_id WHERE T2.year  =  2004
Find the titles of items whose rating is higher than the average review rating of all items.
epinions_1
SELECT T1.title FROM item AS T1 JOIN review AS T2 ON T1.i_id  =  T2.i_id WHERE T2.rating  >  (SELECT avg(rating) FROM review)
List the names of players in ascending order of votes.
riding_club
SELECT Player_name FROM player ORDER BY Votes ASC
List the total points of gymnasts in descending order of floor exercise points.
gymnast
SELECT Total_Points FROM gymnast ORDER BY Floor_Exercise_Points DESC
What are the hometowns of gymnasts and the corresponding number of gymnasts?
gymnast
SELECT T2.Hometown ,  COUNT(*) FROM gymnast AS T1 JOIN people AS T2 ON T1.Gymnast_ID  =  T2.People_ID GROUP BY T2.Hometown
What is the total checking balance in all accounts?
small_bank_1
SELECT sum(balance) FROM checking
Find the names and total checking and savings balances of accounts whose savings balance is higher than the average savings balance.
small_bank_1
SELECT T1.name ,  T2.balance + T3.balance FROM accounts AS T1 JOIN checking AS T2 ON T1.custid  =  T2.custid JOIN savings AS T3 ON T1.custid  =  T3.custid WHERE T3.balance  >  (SELECT avg(balance) FROM savings)
Find the name of accounts whose checking balance is higher than corresponding saving balance.
small_bank_1
SELECT T1.name FROM accounts AS T1 JOIN checking AS T2 ON T1.custid  =  T2.custid JOIN savings AS T3 ON T1.custid  =  T3.custid WHERE T2.balance  >  T3.balance
Show the accelerator names and supporting operating systems that are not compatible with the browser named 'Opera'.
browser_web
SELECT name ,  operating_system FROM web_client_accelerator EXCEPT SELECT T1.name ,  T1.operating_system FROM web_client_accelerator AS T1 JOIN accelerator_compatible_browser AS T2 ON T2.accelerator_id  =  T1.id JOIN browser AS T3 ON T2.browser_id  =  T3.id WHERE T3.name  =  'Opera'
List the time of elimination of the wrestlers with largest days held.
wrestler
SELECT T1.Time FROM elimination AS T1 JOIN wrestler AS T2 ON T1.Wrestler_ID  =  T2.Wrestler_ID ORDER BY T2.Days_held DESC LIMIT 1
What is the number of distinct teams that suffer elimination?
wrestler
SELECT COUNT (DISTINCT team) FROM elimination
How many budgets are above 3000 in year 2001 or before?
school_finance
SELECT count(*) FROM budget WHERE budgeted  >  3000 AND YEAR  <=  2001
Show the name of buildings that do not have any institution.
protein_institute
SELECT name FROM building WHERE building_id NOT IN (SELECT building_id FROM institution)
Show the average, minimum, and maximum capacity for all the cinemas opened in year 2011 or later.
cinema
SELECT avg(capacity) ,  min(capacity) ,  max(capacity) FROM cinema WHERE openning_year  >=  2011
Are the customers holding coupons with amount 500 bad or good?
products_for_hire
SELECT T1.good_or_bad_customer FROM customers AS T1 JOIN discount_coupons AS T2 ON T1.coupon_id  =  T2.coupon_id WHERE T2.coupon_amount  =  500
What are the memories and carriers of phones?
phone_market
SELECT Memory_in_G ,  Carrier FROM phone
Return the name of the party with the most members.
party_people
SELECT T2.party_name FROM Member AS T1 JOIN party AS T2 ON T1.party_id  =  T2.party_id GROUP BY T1.party_id ORDER BY count(*) DESC LIMIT 1
Which event names were used more than twice for party events?
party_people
SELECT event_name FROM party_events GROUP BY event_name HAVING count(*)  >  2
What is the mail date of the document with id 7?
cre_Doc_Control_Systems
SELECT mailing_date FROM Documents_Mailed WHERE document_id = 7;
How many events have each participants attended? List the participant id, type and the number.
local_govt_in_alabama
SELECT T1.Participant_ID ,  T1.Participant_Type_Code ,  count(*) FROM Participants AS T1 JOIN Participants_in_Events AS T2 ON T1.Participant_ID  =  T2.Participant_ID GROUP BY T1.Participant_ID
What are the unique names of all race held between 2014 and 2017?
formula_1
SELECT DISTINCT name FROM races WHERE YEAR BETWEEN 2014 AND 2017
What is the id and first name of all the drivers who participated in the Australian Grand Prix and the Chinese Grand Prix?
formula_1
SELECT T2.driverid ,  T3.forename FROM races AS T1 JOIN results AS T2 ON T1.raceid = T2.raceid JOIN drivers AS T3 ON T2.driverid  =  T3.driverid WHERE T1.name = "Australian Grand Prix" INTERSECT SELECT T2.driverid ,  T3.forename FROM races AS T1 JOIN results AS T2 ON T1.raceid = T2.raceid JOIN drivers AS T3 ON T2.driverid  =  T3.driverid WHERE T1.name = "Chinese Grand Prix"
What are the first names of all the different drivers in alphabetical order?
formula_1
SELECT DISTINCT forename FROM drivers ORDER BY forename ASC
What is the average fastest lap speed for the Monaco Grand Prix in 2008?
formula_1
SELECT avg(T2.fastestlapspeed) FROM races AS T1 JOIN results AS T2 ON T1.raceid = T2.raceid WHERE T1.year = 2008 AND T1.name = "Monaco Grand Prix"
What is the name of the technician whose team is not 'NYY'?
machine_repair
SELECT Name FROM technician WHERE Team != "NYY"
What are the names of the technicians that have not been assigned to repair machines?
machine_repair
SELECT Name FROM technician WHERE technician_id NOT IN (SELECT technician_id FROM repair_assignment)
Return the name of the heaviest entrepreneur.
entrepreneur
SELECT T2.Name FROM entrepreneur AS T1 JOIN people AS T2 ON T1.People_ID  =  T2.People_ID ORDER BY T2.Weight DESC LIMIT 1
Show the countries that have both perpetrators with injures more than 50 and perpetrators with injures smaller than 20.
perpetrator
SELECT Country FROM perpetrator WHERE Injured  >  50 INTERSECT SELECT Country FROM perpetrator WHERE Injured  <  20
Find the count of universities whose campus fee is greater than the average campus fee.
csu_1
SELECT count(*) FROM csu_fees WHERE campusfee  >  (SELECT avg(campusfee) FROM csu_fees)
Find the names of the campus which has more faculties in 2002 than every campus in Orange county.
csu_1
SELECT T1.campus FROM campuses AS T1 JOIN faculty AS T2 ON T1.id  =  T2.campus WHERE T2.year  =  2002 AND faculty  >  (SELECT max(faculty) FROM campuses AS T1 JOIN faculty AS T2 ON T1.id  =  T2.campus WHERE T2.year  =  2002 AND T1.county  =  "Orange")
How many faculty lines are there in the university that conferred the most number of degrees in year 2002?
csu_1
SELECT T2.faculty FROM campuses AS T1 JOIN faculty AS T2 ON T1.id  =  t2.campus JOIN degrees AS T3 ON T1.id  =  t3.campus AND t2.year  =  t3.year WHERE t2.year  =  2002 ORDER BY t3.degrees DESC LIMIT 1
Find the id of the candidate who got the lowest oppose rate.
candidate_poll
SELECT Candidate_ID FROM candidate ORDER BY oppose_rate LIMIT 1
what are the names of people who did not participate in the candidate election.
candidate_poll
SELECT name FROM people WHERE people_id NOT IN (SELECT people_id FROM candidate)
Find the names of all reviewers who have ratings with a NULL value for the date.
movie_1
SELECT DISTINCT name FROM Reviewer AS T1 JOIN Rating AS T2 ON T1.rID  =  T2.rID WHERE ratingDate  =  "null"
For any rating where the name of reviewer is the same as the director of the movie, return the reviewer name, movie title, and number of stars.
movie_1
SELECT DISTINCT T3.name ,  T2.title ,  T1.stars FROM Rating AS T1 JOIN Movie AS T2 ON T1.mID  =  T2.mID JOIN Reviewer AS T3 ON T1.rID  =  T3.rID WHERE T2.director  =  T3.name
find the ids of reviewers who did not give 4 star.
movie_1
SELECT rID FROM Rating EXCEPT SELECT rID FROM Rating WHERE stars  =  4
Show the crime rates of counties in ascending order of number of police officers.
county_public_safety
SELECT Crime_rate FROM county_public_safety ORDER BY Police_officers ASC
Please show the police forces and the number of counties with each police force.
county_public_safety
SELECT Police_force ,  COUNT(*) FROM county_public_safety GROUP BY Police_force
How many times does ROY SWEAZY has reserved a room.
inn_1
SELECT count(*) FROM Reservations WHERE FirstName = "ROY" AND LastName  =  "SWEAZY";
Find the average and minimum price of the rooms in different decor.
inn_1
SELECT decor , avg(basePrice) ,  min(basePrice) FROM Rooms GROUP BY decor;
Find the names of rooms that have been reserved for more than 60 times.
inn_1
SELECT T2.roomName FROM Reservations AS T1 JOIN Rooms AS T2 ON T1.Room  =  T2.RoomId GROUP BY T1.Room HAVING count(*)  >  60
Show the locations of parties and the names of the party hosts in ascending order of the age of the host.
party_host
SELECT T3.Location ,  T2.Name FROM party_host AS T1 JOIN HOST AS T2 ON T1.Host_ID  =  T2.Host_ID JOIN party AS T3 ON T1.Party_ID  =  T3.Party_ID ORDER BY T2.Age
List name, dates active, and number of deaths for all storms with at least 1 death.
storm_record
SELECT name ,  dates_active ,  number_deaths FROM storm WHERE number_deaths  >=  1
Show storm name with at least two regions and 10 cities affected.
storm_record
SELECT T1.name FROM storm AS T1 JOIN affected_region AS T2 ON T1.storm_id  =  T2.storm_id GROUP BY T1.storm_id HAVING count(*)  >=  2 INTERSECT SELECT T1.name FROM storm AS T1 JOIN affected_region AS T2 ON T1.storm_id  =  T2.storm_id GROUP BY T1.storm_id HAVING sum(T2.number_city_affected)  >=  10
Return the maximum and minimum population among all counties.
election

In [126]:
correct_db_prediction = [v for v, f in zip(db_prediction, comparison_results) if f]

In [127]:
correct_db_prediction

['department_management',
 'farm',
 'farm',
 'student_assessment',
 'bike_1',
 'bike_1',
 'bike_1',
 'bike_1',
 'bike_1',
 'book_2',
 'musical',
 'musical',
 'twitter_1',
 'twitter_1',
 'product_catalog',
 'product_catalog',
 'flight_1',
 'flight_1',
 'flight_1',
 'allergy_1',
 'allergy_1',
 'store_1',
 'store_1',
 'journal_committee',
 'customers_card_transactions',
 'customers_card_transactions',
 'customers_card_transactions',
 'race_track',
 'race_track',
 'coffee_shop',
 'insurance_fnol',
 'medicine_enzyme_interaction',
 'medicine_enzyme_interaction',
 'university_basketball',
 'phone_1',
 'climbing',
 'climbing',
 'body_builder',
 'election_representative',
 'apartment_rentals',
 'apartment_rentals',
 'apartment_rentals',
 'apartment_rentals',
 'game_injury',
 'soccer_1',
 'performance_attendance',
 'college_2',
 'college_2',
 'college_2',
 'college_2',
 'college_2',
 'debate',
 'insurance_and_eClaims',
 'insurance_and_eClaims',
 'customers_and_invoices',
 'customers_and_invoices',
 'wedding',
 'theme_gallery',
 'theme_gallery',
 'epinions_1',
 'riding_club',
 'gymnast',
 'gymnast',
 'small_bank_1',
 'small_bank_1',
 'small_bank_1',
 'browser_web',
 'wrestler',
 'wrestler',
 'school_finance',
 'protein_institute',
 'cinema',
 'products_for_hire',
 'phone_market',
 'party_people',
 'party_people',
 'cre_Doc_Control_Systems',
 'local_govt_in_alabama',
 'formula_1',
 'formula_1',
 'formula_1',
 'formula_1',
 'machine_repair',
 'machine_repair',
 'entrepreneur',
 'perpetrator',
 'csu_1',
 'csu_1',
 'csu_1',
 'candidate_poll',
 'candidate_poll',
 'movie_1',
 'movie_1',
 'movie_1',
 'county_public_safety',
 'county_public_safety',
 'inn_1',
 'inn_1',
 'inn_1',
 'party_host',
 'storm_record',
 'storm_record',
 'election',
 'election',
 'election',
 'election',
 'restaurant_1',
 'restaurant_1',
 'icfp_1',
 'icfp_1',
 'icfp_1',
 'sakila_1',
 'loan_1',
 'loan_1',
 'loan_1',
 'loan_1',
 'behavior_monitoring',
 'behavior_monitoring',
 'assets_maintenance',
 'station_weather',
 'college_1',
 'college_1',
 'sports_competition',
 'sports_competition',
 'sports_competition',
 'manufacturer',
 'hr_1',
 'hr_1',
 'hr_1',
 'music_1',
 'music_1',
 'music_1',
 'music_1',
 'baseball_1',
 'baseball_1',
 'baseball_1',
 'baseball_1',
 'mountain_photos',
 'program_share',
 'program_share',
 'e_learning',
 'e_learning',
 'e_learning',
 'insurance_policies',
 'insurance_policies',
 'hospital_1',
 'hospital_1',
 'hospital_1',
 'hospital_1',
 'ship_mission',
 'ship_mission',
 'student_1',
 'student_1',
 'company_employee',
 'film_rank',
 'film_rank',
 'cre_Doc_Tracking_DB',
 'cre_Doc_Tracking_DB',
 'club_1',
 'tracking_grants_for_research',
 'tracking_grants_for_research',
 'tracking_grants_for_research',
 'tracking_grants_for_research',
 'network_2',
 'document_management',
 'document_management',
 'document_management',
 'company_office',
 'company_office',
 'entertainment_awards',
 'customers_campaigns_ecommerce',
 'college_3',
 'college_3',
 'department_store',
 'department_store',
 'department_store',
 'aircraft',
 'aircraft',
 'aircraft',
 'school_player',
 'school_player',
 'store_product',
 'store_product',
 'soccer_2',
 'soccer_2',
 'soccer_2',
 'soccer_2',
 'soccer_2',
 'device',
 'device',
 'cre_Drama_Workshop_Groups',
 'cre_Drama_Workshop_Groups',
 'cre_Drama_Workshop_Groups',
 'music_2',
 'music_2',
 'music_2',
 'manufactory_1',
 'tracking_software_problems',
 'shop_membership',
 'shop_membership',
 'shop_membership',
 'voter_2',
 'products_gen_characteristics',
 'products_gen_characteristics',
 'products_gen_characteristics',
 'products_gen_characteristics',
 'swimming',
 'railway',
 'customers_and_products_contacts',
 'dorm_1',
 'dorm_1',
 'dorm_1',
 'dorm_1',
 'customer_complaints',
 'workshop_paper',
 'tracking_share_transactions',
 'tracking_share_transactions',
 'cre_Theme_park',
 'cre_Theme_park',
 'cre_Theme_park',
 'game_1',
 'game_1',
 'game_1',
 'game_1',
 'customers_and_addresses',
 'music_4',
 'music_4',
 'music_4',
 'ship_1',
 'ship_1',
 'ship_1',
 'city_record',
 'e_government',
 'e_government',
 'school_bus',
 'cre_Docs_and_Epenses',
 'cre_Docs_and_Epenses',
 'scientist_1',
 'scientist_1',
 'wine_1',
 'wine_1',
 'wine_1',
 'wine_1',
 'train_station',
 'driving_school',
 'driving_school',
 'driving_school',
 'activity_1',
 'activity_1',
 'flight_4',
 'flight_4',
 'flight_4',
 'flight_4',
 'tracking_orders',
 'architecture']

In [128]:
PY = sys.executable


project_root = Path.cwd().parent  
print("CWD:", project_root)

answers_agent_b = []

for item in correct_pairs:
    result = subprocess.run(
        [PY, "-m", "src.agents.agent_b", "--query", item['question'], "--database", item['db_id'], "--mode", "medium", "--quiet"],
        cwd=project_root,                 
        text=True,
    stdout=subprocess.PIPE,
    stderr=subprocess.STDOUT          
    )
    answers_agent_b.append(result.stdout.strip())

CWD: c:\Users\coffe\OneDrive\Desktop\CITS5553 Capstone Project\Project_Git\explainable-nl-query-db-agents

In [129]:
parsed_answers = []

for i in answers_agent_b:
    try:
        data = json.loads(i)   # convert string  dict
        parsed_answers.append(data)
    except json.JSONDecodeError as e:
        print(" Could not parse:", i)
        print("Error:", e)


for ans in parsed_answers:
    print("Query:", ans["User Query"])
    print("Database name:", ans["Database Name"])
    print("Tables:", ans["Tables"])
    print()

Query: How many heads of the departments are older than 56 ?
Database name: department_management
Tables: ['head', 'management']

Query: What are the hosts of competitions whose theme is not "Aliens"?
Database name: farm
Tables: ['farm competition', 'city']

Query: Please show the themes of competitions with host cities having populations larger than 1000.
Database name: farm
Tables: ['farm competition', 'city']

Query: What are the ids of the students who either registered or attended a course?
Database name: student_assessment
Tables: ['student course registrations', 'student course attendance', 'students']

Query: What is the id of the shortest trip?
Database name: bike_1
Tables: ['trip']

Query: What is the latitude, longitude, and city of the station from which the trip with smallest duration started?
Database name: bike_1
Tables: ['trip', 'station']

Query: Which days had a minimum dew point smaller than any day in zip code 94107, and in which zip codes were those measurements taken?
Database name: bike_1
Tables: ['weather']

Query: What are the ids and names of all start stations that were the beginning of at least 200 trips?
Database name: bike_1
Tables: ['trip', 'station']

Query: What are the dates that have an average sea level pressure between 30.3 and 31?
Database name: bike_1
Tables: ['weather']

Query: List the publisher of the publication with the highest price.
Database name: book_2
Tables: ['publication']

Query: List the name of actors whose age is not 20.
Database name: musical
Tables: ['actor']

Query: Show different nominees and the number of musicals they have been nominated.
Database name: musical
Tables: ['musical']

Query: Find the number of users who posted some tweets.
Database name: twitter_1
Tables: ['tweets', 'user profiles']

Query: Find the maximum and total number of followers of all users.
Database name: twitter_1
Tables: ['follows', 'user profiles']

Query: Find the level name of the catalog with the lowest price (in USD).
Database name: product_catalog
Tables: ['catalog contents', 'catalog structure', 'catalogs']

Query: Find the total number of catalog contents.
Database name: product_catalog
Tables: ['catalog contents']

Query: What are the names of all aircrafts that can cover more distances than average?
Database name: flight_1
Tables: ['aircraft']

Query: What are the numbers of the shortest flights?
Database name: flight_1
Tables: ['flight']

Query: What is the count of distinct employees with certificates?
Database name: flight_1
Tables: ['certificate', 'employee']

Query: How many allergy entries are there?
Database name: allergy_1
Tables: ['has allergy', 'allergy type']

Query: What are the last names and ages of the students who are allergic to milk and cat?
Database name: allergy_1
Tables: ['student', 'has allergy']

Query: What are the total amount of money in the invoices billed from Chicago, Illinois?
Database name: store_1
Tables: ['invoices']

Query: How many customers are from California?
Database name: store_1
Tables: ['customers']

Query: Show the names and ages of editors and the theme of journals for which they serve on committees, in ascending alphabetical order of theme.
Database name: journal_committee
Tables: ['editor', 'journal committee', 'journal']

Query: What are card ids, customer ids, card types, and card numbers for each customer card?
Database name: customers_card_transactions
Tables: ['customers cards', 'customers']

Query: What are the different card types, and how many cards are there of each?
Database name: customers_card_transactions
Tables: ['customers cards']

Query: What are the different card types, and how many transactions have been made with each?
Database name: customers_card_transactions
Tables: ['customers cards', 'financial transactions']

Query: Give the different locations of tracks.
Database name: race_track
Tables: ['track']

Query: What are the names of different tracks, and how many races has each had?
Database name: race_track
Tables: ['track', 'race']

Query: What are the average score and average staff number of all shops?
Database name: coffee_shop
Tables: ['shop']

Query: Which customers do not have a first notification of loss record? Give me the customer names.
Database name: insurance_fnol
Tables: ['customers', 'first notification of loss']

Query: What is the maximum OMIM value in the database?
Database name: medicine_enzyme_interaction
Tables: ['enzyme']

Query: How many medicines were not approved by the FDA?
Database name: medicine_enzyme_interaction
Tables: ['medicine']

Query: What is all the information about the basketball match?
Database name: university_basketball
Tables: ['basketball match', 'university']

Query: List the hardware model name for the phons that were produced by "Nokia Corporation" but whose screen mode type is not Text.
Database name: phone_1
Tables: ['phone', 'screen mode']

Query: What are the names of mountains in ascending alphabetical order?
Database name: climbing
Tables: ['mountain']

Query: List the countries that have more than one mountain.
Database name: climbing
Tables: ['mountain']

Query: What are the heights of body builders with total score smaller than 315?
Database name: body_builder
Tables: ['body builder', 'people']

Query: What are the life spans of representatives from New York state or Indiana state?
Database name: election_representative
Tables: ['representative']

Query: Show the short names of the buildings managed by "Emma".
Database name: apartment_rentals
Tables: ['apartment buildings']

Query: Show the apartment numbers, start dates, and end dates of all the apartment bookings.
Database name: apartment_rentals
Tables: ['apartments', 'apartment bookings']

Query: Show the total number of rooms of all apartments with facility code "Gym".
Database name: apartment_rentals
Tables: ['apartments', 'apartment facilities']

Query: Show the most common apartment type code.
Database name: apartment_rentals
Tables: ['apartments']

Query: What is the season of the game which causes the player 'Walter Samuel' to get injured?
Database name: game_injury
Tables: ['injury accident', 'game']

Query: List the names of all left-footed players who have overall rating between 85 and 90.
Database name: soccer_1
Tables: ['player attributes', 'player']

Query: Show the names of members and the dates of performances they attended in descending order of attendance of the performances.
Database name: performance_attendance
Tables: ['member', 'member attendance', 'performance']

Query: How many different courses offered by Physics department?
Database name: college_2
Tables: ['course', 'department']

Query: what is the name of the instructor who is in Statistics department and earns the lowest salary?
Database name: college_2
Tables: ['instructor']

Query: Who is the instructor with the highest salary?
Database name: college_2
Tables: ['instructor']

Query: Find the minimum salary for the departments whose average salary is above the average payment of all instructors.
Database name: college_2
Tables: ['instructor', 'department']

Query: Find the name of instructors who didn't teach any courses?
Database name: college_2
Tables: ['instructor', 'teaches']

Query: Show the distinct venues of debates
Database name: debate
Tables: ['debate']

Query: Which customer made the largest amount of claim in a single claim? Return the customer details.
Database name: insurance_and_eClaims
Tables: ['claim headers', 'policies', 'customers']

Query: Which customer have the most policies? Give me the customer details.
Database name: insurance_and_eClaims
Tables: ['customers', 'policies']

Query: Count the number of financial transactions that correspond to each account id.
Database name: customers_and_invoices
Tables: ['financial transactions', 'accounts']

Query: How many transactions correspond to each invoice number?
Database name: customers_and_invoices
Tables: ['financial transactions', 'invoices']

Query: Show the pair of male and female names in all weddings after year 2014
Database name: wedding
Tables: ['wedding', 'people']

Query: Return the average and minimum ages across artists from the United States.
Database name: theme_gallery
Tables: ['artist']

Query: Return the themes, dates, and attendance for exhibitions that happened in 2004.
Database name: theme_gallery
Tables: ['exhibition', 'exhibition record']

Query: Find the titles of items whose rating is higher than the average review rating of all items.
Database name: epinions_1
Tables: ['item', 'review']

Query: List the names of players in ascending order of votes.
Database name: riding_club
Tables: ['player']

Query: List the total points of gymnasts in descending order of floor exercise points.
Database name: gymnast
Tables: ['gymnast']

Query: What are the hometowns of gymnasts and the corresponding number of gymnasts?
Database name: gymnast
Tables: ['people', 'gymnast']

Query: What is the total checking balance in all accounts?
Database name: small_bank_1
Tables: ['checking']

Query: Find the names and total checking and savings balances of accounts whose savings balance is higher than the average savings balance.
Database name: small_bank_1
Tables: ['accounts', 'savings', 'checking']

Query: Find the name of accounts whose checking balance is higher than corresponding saving balance.
Database name: small_bank_1
Tables: ['accounts', 'checking', 'savings']

Query: Show the accelerator names and supporting operating systems that are not compatible with the browser named 'Opera'.
Database name: browser_web
Tables: ['web client accelerator', 'browser', 'accelerator compatible browser']

Query: List the time of elimination of the wrestlers with largest days held.
Database name: wrestler
Tables: ['wrestler', 'elimination']

Query: What is the number of distinct teams that suffer elimination?
Database name: wrestler
Tables: ['elimination']

Query: How many budgets are above 3000 in year 2001 or before?
Database name: school_finance
Tables: ['budget']

Query: Show the name of buildings that do not have any institution.
Database name: protein_institute
Tables: ['building', 'institution']

Query: Show the average, minimum, and maximum capacity for all the cinemas opened in year 2011 or later.
Database name: cinema
Tables: ['cinema']

Query: Are the customers holding coupons with amount 500 bad or good?
Database name: products_for_hire
Tables: ['discount coupons', 'customers']

Query: What are the memories and carriers of phones?
Database name: phone_market
Tables: ['phone']

Query: Return the name of the party with the most members.
Database name: party_people
Tables: ['party', 'member']

Query: Which event names were used more than twice for party events?
Database name: party_people
Tables: ['party events', 'party']

Query: What is the mail date of the document with id 7?
Database name: cre_Doc_Control_Systems
Tables: ['documents mailed', 'documents']

Query: How many events have each participants attended? List the participant id, type and the number.
Database name: local_govt_in_alabama
Tables: ['participants', 'participants in events']

Query: What are the unique names of all race held between 2014 and 2017?
Database name: formula_1
Tables: ['races']

Query: What is the id and first name of all the drivers who participated in the Australian Grand Prix and the Chinese Grand Prix?
Database name: formula_1
Tables: ['races', 'results', 'drivers']

Query: What are the first names of all the different drivers in alphabetical order?
Database name: formula_1
Tables: ['drivers']

Query: What is the average fastest lap speed for the Monaco Grand Prix in 2008?
Database name: formula_1
Tables: ['races', 'results']

Query: What is the name of the technician whose team is not 'NYY'?
Database name: machine_repair
Tables: ['technician']

Query: What are the names of the technicians that have not been assigned to repair machines?
Database name: machine_repair
Tables: ['technician', 'repair assignment']

Query: Return the name of the heaviest entrepreneur.
Database name: entrepreneur
Tables: ['entrepreneur', 'people']

Query: Show the countries that have both perpetrators with injures more than 50 and perpetrators with injures smaller than 20.
Database name: perpetrator
Tables: ['perpetrator']

Query: Find the count of universities whose campus fee is greater than the average campus fee.
Database name: csu_1
Tables: ['csu fees', 'campuses']

Query: Find the names of the campus which has more faculties in 2002 than every campus in Orange county.
Database name: csu_1
Tables: ['faculty', 'campuses']

Query: How many faculty lines are there in the university that conferred the most number of degrees in year 2002?
Database name: csu_1
Tables: ['degrees', 'faculty']

Query: Find the id of the candidate who got the lowest oppose rate.
Database name: candidate_poll
Tables: ['candidate']

Query: what are the names of people who did not participate in the candidate election.
Database name: candidate_poll
Tables: ['people', 'candidate']

Query: Find the names of all reviewers who have ratings with a NULL value for the date.
Database name: movie_1
Tables: ['reviewer', 'rating']

Query: For any rating where the name of reviewer is the same as the director of the movie, return the reviewer name, movie title, and number of stars.
Database name: movie_1
Tables: ['movie', 'reviewer', 'rating']

Query: find the ids of reviewers who did not give 4 star.
Database name: movie_1
Tables: ['reviewer', 'rating']

Query: Show the crime rates of counties in ascending order of number of police officers.
Database name: county_public_safety
Tables: ['county public safety']

Query: Please show the police forces and the number of counties with each police force.
Database name: county_public_safety
Tables: ['county public safety']

Query: How many times does ROY SWEAZY has reserved a room.
Database name: inn_1
Tables: ['reservations']

Query: Find the average and minimum price of the rooms in different decor.
Database name: inn_1
Tables: ['rooms']

Query: Find the names of rooms that have been reserved for more than 60 times.
Database name: inn_1
Tables: ['rooms', 'reservations']

Query: Show the locations of parties and the names of the party hosts in ascending order of the age of the host.
Database name: party_host
Tables: ['party', 'host', 'party host']

Query: List name, dates active, and number of deaths for all storms with at least 1 death.
Database name: storm_record
Tables: ['storm']

Query: Show storm name with at least two regions and 10 cities affected.
Database name: storm_record
Tables: ['storm', 'affected region', 'region']

Query: Return the maximum and minimum population among all counties.
Database name: election
Tables: ['county']

Query: Which delegates are from counties with population smaller than 100000?
Database name: election
Tables: ['county', 'election']

Query: Return the names of all counties sorted by county name in descending alphabetical order.
Database name: election
Tables: ['county']

Query: Which committees have delegates from both democratic party and liberal party?
Database name: election
Tables: ['election']

Query: Show me all the restaurants.
Database name: restaurant_1
Tables: ['restaurant']

Query: At which restaurant did the students spend the least amount of time? List restaurant and the time students spent on in total.
Database name: restaurant_1
Tables: ['visits restaurant', 'restaurant']

Query: How many institutions are there?
Database name: icfp_1
Tables: ['institution']

Query: Find the first and last name of the author(s) who wrote the paper "Nameless, Painless".
Database name: icfp_1
Tables: ['authors', 'papers', 'authorship count']

Query: Retrieve all the last names of authors in alphabetical order.
Database name: icfp_1
Tables: ['authors']

Query: What is the largest payment amount?
Database name: sakila_1
Tables: ['payment']

Query: List the name of all customers sorted by their account balance in ascending order.
Database name: loan_1
Tables: ['customer']

Query: Find the name of customers who do not have a loan with a type of Mortgages.
Database name: loan_1
Tables: ['customer', 'loan']

Query: Find the total amount of loans offered by each bank branch.
Database name: loan_1
Tables: ['loan', 'bank']

Query: Find the total amount of loans provided by bank branches in the state of New York.
Database name: loan_1
Tables: ['bank', 'loan']

Query: List all information about the assessment notes sorted by date in ascending order.
Database name: behavior_monitoring
Tables: ['assessment notes', 'students', 'teachers']

Query: What are the line 1 and average monthly rentals of all student addresses?
Database name: behavior_monitoring
Tables: ['addresses', 'student addresses']

Query: Which engineers have never visited to maintain the assets? List the engineer first name and last name.
Database name: assets_maintenance
Tables: ['maintenance engineers', 'engineer visits']

Query: How many trains have 'Express' in their names?
Database name: station_weather
Tables: ['train']

Query: What are the first names of all employees that are professors ordered by date of birth?
Database name: college_1
Tables: ['employee', 'professor']

Query: What is the name of the department and office location for the professor with the last name of Heffington?
Database name: college_1
Tables: ['employee', 'professor', 'department']

Query: What are the different regions of clubs in ascending alphabetical order?
Database name: sports_competition
Tables: ['club']

Query: What is the average number of points for players from the "AIB" club?
Database name: sports_competition
Tables: ['club', 'player']

Query: What are the names of all players that got more than the average number of points?
Database name: sports_competition
Tables: ['player']

Query: Find the id and number of shops for the company that produces the most expensive furniture.
Database name: manufacturer
Tables: ['manufacturer', 'furniture manufacte']

Query: What are the full name, hire data, salary and department id for employees without the letter M in their first name, ordered by ascending department id?
Database name: hr_1
Tables: ['employees']

Query: What are the employee ids for employees who have held two or more jobs?
Database name: hr_1
Tables: ['employees', 'job history']

Query: What are the full names and hire dates for employees in the same department as someone with the first name Clara?
Database name: hr_1
Tables: ['employees', 'departments']

Query: What are the file sizes and formats for all songs with a resolution lower than 800?
Database name: music_1
Tables: ['song', 'files']

Query: What is the average song duration for the songs that are in mp3 format and whose resolution below 800?
Database name: music_1
Tables: ['files', 'song']

Query: What are the names of all songs that are ordered by their resolution numbers?
Database name: music_1
Tables: ['song']

Query: What is the maximum and minimum resolution of all songs that are approximately 3 minutes long?
Database name: music_1
Tables: ['song', 'files']

Query: For each year, return the year and the average number of attendance at home games.
Database name: baseball_1
Tables: ['home game', 'team']

Query: Which team offers the lowest average salary? Give me the name and id of the team.
Database name: baseball_1
Tables: ['salary', 'team']

Query: How many players did Boston Red Stockings have in 2000?
Database name: baseball_1
Tables: ['team', 'appearances', 'batting', 'pitching', 'fielding', 'salary', 'player']

Query: Count the total number of games the team Boston Red Stockings attended from 1990 to 2000.
Database name: baseball_1
Tables: ['team', 'home game', 'park']

Query: What are the names of photos taken with the lens brand 'Sigma' or 'Olympus'?
Database name: mountain_photos
Tables: ['photos', 'camera lens']

Query: find the name of the program that was launched most recently.
Database name: program_share

In [130]:
PY = sys.executable

# 2) Point cwd to your project root (adjust if your notebook isn't in project_root/notebooks/)
project_root = Path.cwd().parent  # e.g., notebooks/ -> project root
print("CWD:", project_root)

answers_agent_c = []

for item in parsed_answers:
    result = subprocess.run(
        [PY, "-m", "src.agents.agent_c", "--query", item["User Query"], "--database", item['Database Name'], "--tables", json.dumps(item['Tables']), "--quiet"],
        cwd=project_root,                 # critical so -m finds src.agents.agent_c
        text=True,
    stdout=subprocess.PIPE,
    stderr=subprocess.STDOUT          # merge stderr so you see errors/logs
    )
    answers_agent_c.append(result.stdout.strip())

CWD: c:\Users\coffe\OneDrive\Desktop\CITS5553 Capstone Project\Project_Git\explainable-nl-query-db-agents

In [131]:
answers_agent_c = [q.replace("\n", " ") for q in answers_agent_c]

In [132]:
answers_agent_c

['SELECT COUNT(*) FROM head WHERE age > 56;',
 "SELECT DISTINCT c.official_name FROM farm_competition fc JOIN city c ON fc.host_city_id = c.city_id WHERE fc.theme <> 'Aliens'",
 'SELECT fc.theme FROM farm_competition fc JOIN city c ON fc.host_city_id = c.city_id WHERE c.population > 1000',
 'SELECT DISTINCT student_id FROM Student_Course_Registrations UNION SELECT DISTINCT student_id FROM Student_Course_Attendance;',
 'SELECT id FROM trip ORDER BY duration ASC LIMIT 1',
 'SELECT s.lat, s.long, s.city FROM station s JOIN trip t ON s.id = t.start_station_id ORDER BY t.duration ASC LIMIT 1',
 "SELECT w.zip_code  FROM weather w  WHERE w.min_dew_point_f < (SELECT MIN(w2.min_dew_point_f) FROM weather w2 WHERE w2.zip_code = '94107')",
 'SELECT start_station_id , start_station_name FROM trip GROUP BY start_station_id , start_station_name HAVING COUNT(id) >= 200',
 'SELECT date FROM weather WHERE mean_sea_level_pressure_inches BETWEEN 30.3 AND 31;',
 'SELECT Publisher FROM publication WHERE Price = (SELECT MAX(Price) FROM publication)',
 'SELECT name FROM actor WHERE age <> 20',
 'SELECT nominee , COUNT(musical_id) AS number_of_musicals FROM musical GROUP BY nominee',
 'SELECT COUNT(DISTINCT uid) FROM tweets;',
 'SELECT MAX(followers) AS max_followers , SUM(followers) AS total_followers FROM user_profiles',
 'SELECT cs.catalog_level_name FROM Catalog_Contents cc JOIN Catalog_Structure cs ON cc.catalog_level_number = cs.catalog_level_number WHERE cc.price_in_dollars = (SELECT MIN(price_in_dollars) FROM Catalog_Contents);',
 'SELECT COUNT(*) AS total_catalog_contents FROM catalog_contents;',
 'SELECT name FROM aircraft WHERE distance > (SELECT AVG(distance) FROM aircraft)',
 'SELECT flno FROM flight WHERE distance = (SELECT MIN(distance) FROM flight)',
 'SELECT COUNT(DISTINCT eid) FROM certificate;',
 'SELECT COUNT(*) FROM Has_Allergy',
 "SELECT s.LName, s.Age FROM Student s JOIN Has_Allergy ha ON s.StuID = ha.StuID WHERE ha.Allergy IN ('milk', 'cat') GROUP BY s.LName, s.Age HAVING COUNT(DISTINCT ha.Allergy) = 2",
 "SELECT SUM(total) AS total_amount FROM invoices WHERE billing_city = 'Chicago' AND billing_state = 'Illinois'",
 "SELECT COUNT(*) FROM customers WHERE state = 'California'",
 'SELECT e.name, e.age, j.theme FROM editor e JOIN journal_committee jc ON e.editor_id = jc.editor_id JOIN journal j ON jc.journal_id = j.journal_id ORDER BY j.theme ASC',
 'SELECT card_id , customer_id , card_type_code , card_number FROM Customers_Cards',
 'SELECT card_type_code , COUNT(card_id) AS card_count FROM Customers_Cards GROUP BY card_type_code',
 'SELECT card_type_code , COUNT(ft.transaction_id) AS transaction_count  FROM customers_cards cc  LEFT JOIN financial_transactions ft ON cc.card_id = ft.card_id  GROUP BY card_type_code',
 'SELECT DISTINCT location FROM track',
 'SELECT t.name, COUNT(r.race_id) AS race_count FROM track t LEFT JOIN race r ON t.track_id = r.track_id GROUP BY t.name',
 'SELECT AVG(Score) AS average_score , AVG(Num_of_staff) AS average_staff_number FROM shop',
 'SELECT c.Customer_name FROM Customers c LEFT JOIN First_Notification_of_Loss fnol ON c.Customer_ID = fnol.Customer_ID WHERE fnol.FNOL_ID IS NULL',
 'SELECT MAX(OMIM) FROM enzyme;',
 "SELECT COUNT(*) FROM medicine WHERE fda_approved = 'No'",
 'SELECT * FROM basketball_match;',
 "SELECT Hardware_Model_name FROM phone WHERE Company_name = 'Nokia Corporation' AND screen_mode NOT IN (SELECT Graphics_mode FROM screen_mode WHERE Type = 'Text')",
 'SELECT Name FROM mountain ORDER BY Name ASC',
 'SELECT country FROM mountain GROUP BY country HAVING COUNT(mountain_id) > 1',
 'SELECT p.height FROM people p JOIN body_builder bb ON p.people_id = bb.people_id WHERE bb.total < 315',
 "SELECT lifespan FROM representative WHERE state IN ('New York', 'Indiana')",
 "SELECT building_short_name FROM Apartment_Buildings WHERE building_manager = 'Emma'",
 'SELECT a.apt_number , ab.booking_start_date , ab.booking_end_date FROM apartments a JOIN apartment_bookings ab ON a.apt_id = ab.apt_id',
 "SELECT SUM(a.room_count) AS total_rooms  FROM apartments a  JOIN apartment_facilities af ON a.apt_id = af.apt_id  WHERE af.facility_code = 'Gym'",
 'SELECT apt_type_code, COUNT(*) AS type_count FROM apartments GROUP BY apt_type_code ORDER BY type_count DESC LIMIT 1',
 "SELECT g.Season FROM game g JOIN injury_accident ia ON g.id = ia.game_id WHERE ia.Player = 'Walter Samuel'",
 "SELECT player_name FROM Player INNER JOIN Player_Attributes ON Player.player_api_id = Player_Attributes.player_api_id WHERE preferred_foot = 'left' AND overall_rating BETWEEN 85 AND 90",
 'SELECT m.Name, p.Date FROM member m JOIN member_attendance ma ON m.Member_ID = ma.Member_ID JOIN performance p ON ma.Performance_ID = p.Performance_ID ORDER BY p.Attendance DESC',
 "SELECT COUNT(DISTINCT course_id) FROM course WHERE dept_name = 'Physics'",
 "SELECT name FROM instructor WHERE dept_name = 'Statistics' ORDER BY salary ASC LIMIT 1",
 'SELECT name FROM instructor WHERE salary = (SELECT MAX(salary) FROM instructor)',
 'SELECT MIN(i.salary)  FROM instructor i  JOIN department d ON i.dept_name = d.dept_name  GROUP BY d.dept_name  HAVING AVG(i.salary) > (SELECT AVG(salary) FROM instructor);',
 'SELECT name FROM instructor WHERE ID NOT IN (SELECT ID FROM teaches)',
 'SELECT DISTINCT Venue FROM debate',
 'SELECT c.Customer_Details  FROM Customers c  JOIN Policies p ON c.Customer_ID = p.Customer_ID  JOIN Claim_Headers ch ON p.Policy_ID = ch.Policy_ID  WHERE ch.Amount_Claimed = (SELECT MAX(Amount_Claimed) FROM Claim_Headers)',
 'SELECT c.Customer_Details FROM Customers c JOIN Policies p ON c.Customer_ID = p.Customer_ID GROUP BY c.Customer_ID ORDER BY COUNT(p.Policy_ID) DESC LIMIT 1',
 'SELECT account_id , COUNT(transaction_id) AS transaction_count FROM Financial_Transactions GROUP BY account_id',
 'SELECT f.invoice_number, COUNT(f.transaction_id) AS transaction_count  FROM financial_transactions f  GROUP BY f.invoice_number;',
 'SELECT p1.Name AS Male_Name, p2.Name AS Female_Name  FROM wedding w  JOIN people p1 ON w.Male_ID = p1.People_ID  JOIN people p2 ON w.Female_ID = p2.People_ID  WHERE w.Year > 2014',
 "SELECT AVG(Age) AS Average_Age , MIN(Age) AS Minimum_Age FROM artist WHERE Country = 'United States'",
 'SELECT exhibition.theme , exhibition_record.date , exhibition_record.attendance FROM exhibition INNER JOIN exhibition_record ON exhibition.exhibition_id = exhibition_record.exhibition_id WHERE exhibition.year = 2004',
 'SELECT title FROM item WHERE i_id IN (SELECT i_id FROM review GROUP BY i_id HAVING AVG(rating) > (SELECT AVG(rating) FROM review))',
 'SELECT Player_name FROM player ORDER BY Votes ASC',
 'SELECT Total_Points FROM gymnast ORDER BY Floor_Exercise_Points DESC',
 'SELECT p.hometown , COUNT(g.gymnast_id) AS number_of_gymnasts FROM people p JOIN gymnast g ON p.people_id = g.gymnast_id GROUP BY p.hometown;',
 'SELECT SUM(balance) AS total_checking_balance FROM CHECKING',
 'SELECT a.name , (COALESCE(s.balance , 0) + COALESCE(c.balance , 0)) AS total_balance  FROM accounts a  JOIN savings s ON a.custid = s.custid  JOIN checking c ON a.custid = c.custid  WHERE s.balance > (SELECT AVG(balance) FROM savings)',
 'SELECT a.name FROM accounts a JOIN checking c ON a.custid = c.custid JOIN savings s ON a.custid = s.custid WHERE c.balance > s.balance',
 "SELECT wca.name, wca.Operating_system  FROM Web_client_accelerator wca  WHERE wca.id NOT IN (SELECT acb.accelerator_id                       FROM accelerator_compatible_browser acb                       JOIN browser b ON acb.browser_id = b.id                       WHERE b.name = 'Opera')",
 'SELECT e.time FROM elimination e JOIN wrestler w ON e.wrestler_id = w.wrestler_id WHERE w.days_held = (SELECT MAX(days_held) FROM wrestler)',
 'SELECT COUNT(DISTINCT Team) AS distinct_teams FROM Elimination;',
 'SELECT COUNT(*) FROM budget WHERE budgeted > 3000 AND year <= 2001',
 'SELECT b.Name FROM building b LEFT JOIN Institution i ON b.building_id = i.building_id WHERE i.building_id IS NULL',
 'SELECT AVG(Capacity) AS Average_Capacity, MIN(Capacity) AS Minimum_Capacity, MAX(Capacity) AS Maximum_Capacity FROM cinema WHERE Openning_year >= 2011',
 'SELECT c.good_or_bad_customer  FROM Customers c  JOIN Discount_Coupons d ON c.coupon_id = d.coupon_id  WHERE d.coupon_amount = 500;',
 'SELECT Memory_in_G , Carrier FROM phone',
 'SELECT p.party_name FROM party p JOIN member m ON p.party_id = m.party_id GROUP BY p.party_id ORDER BY COUNT(m.member_id) DESC LIMIT 1',
 'SELECT event_name  FROM party_events  GROUP BY event_name  HAVING COUNT(event_name) > 2',
 'SELECT mailing_date FROM Documents_Mailed WHERE document_id = 7',
 'SELECT p.Participant_ID, p.Participant_Type_Code, COUNT(pie.Event_ID) AS Event_Count  FROM Participants p  LEFT JOIN Participants_in_Events pie ON p.Participant_ID = pie.Participant_ID  GROUP BY p.Participant_ID, p.Participant_Type_Code',
 'SELECT DISTINCT name FROM races WHERE year BETWEEN 2014 AND 2017;',
 "SELECT d.driverId, d.forename FROM drivers d  JOIN results r ON d.driverId = r.driverId  JOIN races ra ON r.raceId = ra.raceId  WHERE ra.name IN ('Australian Grand Prix', 'Chinese Grand Prix')  GROUP BY d.driverId, d.forename  HAVING COUNT(DISTINCT ra.name) = 2;",
 'SELECT DISTINCT forename FROM drivers ORDER BY forename ASC',
 "SELECT AVG(fastestLapSpeed) AS average_fastest_lap_speed  FROM results  JOIN races ON results.raceId = races.raceId  WHERE races.name = 'Monaco Grand Prix' AND races.year = 2008;",
 "SELECT name FROM technician WHERE team <> 'NYY'",
 'SELECT name FROM technician WHERE technician_id NOT IN (SELECT technician_id FROM repair_assignment)',
 'SELECT p.name FROM entrepreneur e JOIN people p ON e.people_id = p.people_id ORDER BY p.weight DESC LIMIT 1',
 'SELECT DISTINCT p1.Country FROM perpetrator p1  JOIN perpetrator p2 ON p1.Country = p2.Country  WHERE p1.Injured > 50 AND p2.Injured < 20;',
 'SELECT COUNT(*)  FROM campuses c  JOIN csu_fees f ON c.id = f.campus  WHERE f.campusfee > (SELECT AVG(campusfee) FROM csu_fees)',
 "SELECT c.Campus  FROM Campuses c  JOIN faculty f ON c.Id = f.Campus  WHERE f.Year = 2002  GROUP BY c.Campus  HAVING COUNT(f.Faculty) > (SELECT COUNT(f2.Faculty)                              FROM Campuses c2                              JOIN faculty f2 ON c2.Id = f2.Campus                              WHERE c2.County = 'Orange' AND f2.Year = 2002                              GROUP BY c2.Campus);",
 'SELECT f.Campus, f.Faculty  FROM faculty f  JOIN degrees d ON f.Campus = d.Campus  WHERE d.Year = 2002  AND d.Degrees = (SELECT MAX(Degrees) FROM degrees WHERE Year = 2002);',
 'SELECT candidate_id FROM candidate ORDER BY oppose_rate ASC LIMIT 1',
 'SELECT name FROM people WHERE people_id NOT IN (SELECT people_id FROM candidate)',
 'SELECT r.name FROM Reviewer r JOIN Rating ra ON r.rID = ra.rID WHERE ra.ratingDate IS NULL',
 'SELECT r.name, m.title, ra.stars FROM Reviewer r JOIN Rating ra ON r.rID = ra.rID JOIN Movie m ON ra.mID = m.mID WHERE r.name = m.director',
 'SELECT rID FROM Reviewer WHERE rID NOT IN (SELECT rID FROM Rating WHERE stars = 4)',
 'SELECT County_ID, Name, Crime_rate FROM county_public_safety ORDER BY Police_officers ASC',
 'SELECT police_force , COUNT(*) AS county_count FROM county_public_safety GROUP BY police_force;',
 "SELECT COUNT(*) FROM reservations WHERE lastname = 'SWEAZY' AND firstname = 'ROY'",
 'SELECT decor , AVG(basePrice) AS averagePrice , MIN(basePrice) AS minimumPrice FROM Rooms GROUP BY decor',
 'SELECT r.roomName FROM Rooms r JOIN Reservations res ON r.RoomId = res.Room GROUP BY r.roomName HAVING COUNT(res.Code) > 60',
 'SELECT p.Location , h.Name FROM party AS p JOIN party_host AS ph ON p.Party_ID = ph.Party_ID JOIN host AS h ON ph.Host_ID = h.Host_ID ORDER BY h.Age ASC',
 'SELECT Name , Dates_active , Number_Deaths FROM storm WHERE Number_Deaths >= 1',
 'SELECT s.Name FROM storm s  JOIN affected_region ar ON s.Storm_ID = ar.Storm_ID  GROUP BY s.Storm_ID, s.Name  HAVING COUNT(DISTINCT ar.Region_id) >= 2 AND SUM(ar.Number_city_affected) >= 10',
 'SELECT MAX(Population) AS Max_Population , MIN(Population) AS Min_Population FROM county',
 'SELECT e.delegate FROM election e JOIN county c ON e.counties_represented = c.county_id WHERE c.population < 100000',
 'SELECT County_name FROM county ORDER BY County_name DESC',
 "SELECT DISTINCT e1.committee  FROM election e1  JOIN election e2 ON e1.committee = e2.committee  WHERE e1.party = 'Democratic' AND e2.party = 'Liberal';",
 'SELECT ResID, ResName, Address, Rating FROM Restaurant',
 'SELECT r.ResName, SUM(v.Spent) AS Total_Spent  FROM Visits_Restaurant v  JOIN Restaurant r ON v.ResID = r.ResID  GROUP BY r.ResName  ORDER BY Total_Spent ASC  LIMIT 1;',
 'SELECT COUNT(*) FROM Inst;',
 "SELECT a.fname , a.lname FROM authors a JOIN authorship au ON a.authID = au.authID JOIN papers p ON au.paperID = p.paperID WHERE p.title = 'Nameless, Painless'",
 'SELECT lname FROM Authors ORDER BY lname;',
 'SELECT MAX(amount) AS largest_payment FROM payment',
 'SELECT cust_name FROM customer ORDER BY acc_bal ASC',
 "SELECT cust_name FROM customer WHERE cust_ID NOT IN (SELECT cust_ID FROM loan WHERE loan_type = 'Mortgages')",
 'SELECT b.bname, SUM(l.amount) AS total_loan_amount FROM bank b JOIN loan l ON b.branch_ID = l.branch_ID GROUP BY b.bname',
 "SELECT SUM(l.amount) AS total_loans FROM loan l JOIN bank b ON l.branch_ID = b.branch_ID WHERE b.state = 'New York'",
 'SELECT * FROM Assessment_Notes ORDER BY date_of_notes ASC',
 'SELECT a.line_1 , AVG(sa.monthly_rental) AS average_monthly_rental FROM Addresses a JOIN Student_Addresses sa ON a.address_id = sa.address_id GROUP BY a.line_1',
 'SELECT e.first_name, e.last_name  FROM Maintenance_Engineers e  LEFT JOIN Engineer_Visits v ON e.engineer_id = v.engineer_id  WHERE v.engineer_visit_id IS NULL;',
 "SELECT COUNT(*) FROM train WHERE name LIKE '%Express%'",
 'SELECT e.EMP_FNAME FROM EMPLOYEE e JOIN PROFESSOR p ON e.EMP_NUM = p.EMP_NUM ORDER BY e.EMP_DOB',
 "SELECT d.dept_name, p.prof_office FROM professor p JOIN department d ON p.dept_code = d.dept_code JOIN employee e ON p.emp_num = e.emp_num WHERE e.emp_lname = 'Heffington'",
 'SELECT DISTINCT Region FROM club ORDER BY Region ASC',
 "SELECT AVG(Points) AS average_points FROM player WHERE Club_ID = (SELECT Club_ID FROM club WHERE name = 'AIB')",
 'SELECT name FROM player WHERE Points > (SELECT AVG(Points) FROM player)',
 'SELECT m.Manufacturer_ID, m.Num_of_Shops FROM manufacturer m JOIN furniture_manufacte fm ON m.Manufacturer_ID = fm.Manufacturer_ID WHERE fm.Price_in_Dollar = (SELECT MAX(Price_in_Dollar) FROM furniture_manufacte)',
 "SELECT FIRST_NAME || ' ' || LAST_NAME AS FULL_NAME, HIRE_DATE, SALARY, DEPARTMENT_ID FROM EMPLOYEES WHERE FIRST_NAME NOT LIKE '%M%' ORDER BY DEPARTMENT_ID ASC",
 'SELECT EMPLOYEE_ID FROM job_history GROUP BY EMPLOYEE_ID HAVING COUNT(JOB_ID) >= 2',
 "SELECT e.FIRST_NAME || ' ' || e.LAST_NAME AS FULL_NAME, e.HIRE_DATE  FROM employees e  WHERE e.DEPARTMENT_ID = (SELECT d.DEPARTMENT_ID                            FROM employees e2                            JOIN departments d ON e2.DEPARTMENT_ID = d.DEPARTMENT_ID                            WHERE e2.FIRST_NAME = 'Clara')",
 'SELECT f.file_size , f.formats FROM song s JOIN files f ON s.f_id = f.f_id WHERE s.resolution < 800',
 "SELECT AVG(f.duration) AS average_duration FROM files f JOIN song s ON f.f_id = s.f_id WHERE f.formats LIKE '%mp3%' AND s.resolution < 800",
 'SELECT song_name FROM song ORDER BY resolution',
 'SELECT MAX(resolution) AS max_resolution , MIN(resolution) AS min_resolution FROM song WHERE duration BETWEEN 170 AND 190',
 'SELECT year, AVG(attendance) AS average_attendance FROM home_game GROUP BY year',
 'SELECT team.team_id , team.name FROM team JOIN salary ON team.team_id = salary.team_id GROUP BY team.team_id , team.name ORDER BY AVG(salary.salary) ASC LIMIT 1',
 "SELECT COUNT(DISTINCT a.player_id)  FROM appearances a  JOIN team t ON a.team_id = t.team_id  WHERE t.name = 'Boston Red Stockings' AND a.year = 2000;",
 "SELECT SUM(hg.games) AS total_games FROM home_game hg JOIN team t ON hg.team_id = t.team_id WHERE t.name = 'Boston Red Stockings' AND hg.year BETWEEN 1990 AND 2000;",
 "SELECT photos.name FROM photos JOIN camera_lens ON photos.camera_lens_id = camera_lens.id WHERE camera_lens.brand IN ('Sigma', 'Olympus')",
 'SELECT Name FROM program ORDER BY Launch DESC LIMIT 1',
 "SELECT Name FROM program WHERE Origin <> 'Beijing'",
 'SELECT COUNT(DISTINCT student_id) FROM Student_Course_Enrolment;',
 'SELECT test_result , COUNT(*) AS result_count FROM Student_Tests_Taken GROUP BY test_result ORDER BY result_count DESC',
 'SELECT c.course_name FROM Courses c JOIN Student_Course_Enrolment sce ON c.course_id = sce.course_id GROUP BY c.course_id ORDER BY COUNT(sce.registration_id) DESC LIMIT 1',
 'SELECT Date_Claim_Made , Date_Claim_Settled  FROM Claims  WHERE Amount_Claimed > (SELECT AVG(Amount_Claimed) FROM Claims)',
 'SELECT payment_method_code, COUNT(payment_id) AS payment_count FROM payments GROUP BY payment_method_code ORDER BY payment_count ASC LIMIT 1',
 "SELECT COUNT(*)  FROM Prescribes p  JOIN Physician phy ON p.Physician = phy.EmployeeID  JOIN Patient pat ON p.Patient = pat.SSN  WHERE phy.Name = 'John Dorian';",
 "SELECT Physician.Name FROM Physician  JOIN Prescribes ON Physician.EmployeeID = Prescribes.Physician  JOIN Medication ON Prescribes.Medication = Medication.Code  WHERE Medication.Name = 'Thesisin'",
 'SELECT a.physician, a.department FROM affiliated_with a',
 'SELECT DISTINCT p."Name"  FROM "Procedures" p  WHERE p."Cost" > 1000  OR p."Code" IN (SELECT ti."Treatment"                  FROM "Trained_In" ti                  JOIN "Physician" ph ON ti."Physician" = ph."EmployeeID"                  WHERE ph."Name" = \'John Wen\')',
 'SELECT Name FROM ship ORDER BY Tonnage ASC',
 'SELECT ship.name FROM mission JOIN ship ON mission.ship_id = ship.ship_id WHERE mission.launched_year > 1928',
 "SELECT list.FirstName, list.LastName FROM list JOIN teachers ON list.Classroom = teachers.Classroom WHERE teachers.LastName = 'MARROTTE' AND teachers.FirstName = 'KIRK'",
 'SELECT Grade, COUNT(DISTINCT Classroom) AS NumberOfClassrooms, COUNT(*) AS TotalStudents FROM list GROUP BY Grade',
 'SELECT MAX(Market_Value_in_Billion) AS Max_Market_Value , MIN(Market_Value_in_Billion) AS Min_Market_Value FROM company',
 'SELECT DISTINCT Type FROM film_market_estimation WHERE Year = 1995',
 'SELECT studio , COUNT(film_id) AS number_of_films FROM film GROUP BY studio',
 'SELECT COUNT(*) FROM Ref_Calendar',
 "SELECT rl.Location_Name FROM All_Documents ad JOIN Document_Locations dl ON ad.Document_ID = dl.Document_ID JOIN Ref_Locations rl ON dl.Location_Code = rl.Location_Code WHERE ad.Document_Name = 'Robin CV'",
 "SELECT ClubDesc FROM Club WHERE ClubName = 'Tennis Club'",
 "SELECT DISTINCT g.grant_amount  FROM Grants g  JOIN Documents d ON g.grant_id = d.grant_id  WHERE d.sent_date < '1986-08-26 20:49:27'  AND g.grant_end_date > '1989-03-16 18:27:16'",
 "SELECT t.task_id, t.task_details, t.project_id  FROM tasks t  JOIN projects p ON t.project_id = p.project_id  WHERE p.project_details = 'omnis'  OR (SELECT COUNT(*) FROM project_outcomes po WHERE po.project_id = p.project_id) > 2;",
 'SELECT o.organisation_id, ot.organisation_type, o.organisation_details  FROM Research_Staff rs  JOIN Organisations o ON rs.employer_organisation_id = o.organisation_id  JOIN Organisation_Types ot ON o.organisation_type = ot.organisation_type  GROUP BY o.organisation_id, ot.organisation_type, o.organisation_details  ORDER BY COUNT(rs.staff_id) DESC  LIMIT 1;',
 "SELECT ro.outcome_description FROM Projects p JOIN Project_Outcomes po ON p.project_id = po.project_id JOIN Research_Outcomes ro ON po.outcome_code = ro.outcome_code WHERE p.project_details = 'sint'",
 "SELECT p.name , p.age FROM Person p JOIN PersonFriend pf1 ON p.name = pf1.name JOIN PersonFriend pf2 ON p.name = pf2.name WHERE pf1.friend = 'Dan' AND pf2.friend = 'Alice'",

In [133]:
SQL_truth = []
Query_truth = []

for item in correct_pairs:
    print(item['question'])
    print(item['query'])
    SQL_truth.append(item['query'])
    Query_truth.append(item['question'])

How many heads of the departments are older than 56 ?
SELECT count(*) FROM head WHERE age  >  56
What are the hosts of competitions whose theme is not "Aliens"?
SELECT Hosts FROM farm_competition WHERE Theme !=  'Aliens'
Please show the themes of competitions with host cities having populations larger than 1000.
SELECT T2.Theme FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID WHERE T1.Population  >  1000
What are the ids of the students who either registered or attended a course?
SELECT student_id FROM student_course_registrations UNION SELECT student_id FROM student_course_attendance
What is the id of the shortest trip?
SELECT id FROM trip ORDER BY duration LIMIT 1
What is the latitude, longitude, and city of the station from which the trip with smallest duration started?
SELECT T1.lat ,  T1.long ,  T1.city FROM station AS T1 JOIN trip AS T2 ON T1.id  =  T2.start_station_id ORDER BY T2.duration LIMIT 1
Which days had a minimum dew point smaller than any day in zip code 94107, and in which zip codes were those measurements taken?
SELECT date ,  zip_code FROM weather WHERE min_dew_point_f  <  (SELECT min(min_dew_point_f) FROM weather WHERE zip_code  =  94107)
What are the ids and names of all start stations that were the beginning of at least 200 trips?
SELECT start_station_id ,  start_station_name FROM trip GROUP BY start_station_name HAVING COUNT(*)  >=  200
What are the dates that have an average sea level pressure between 30.3 and 31?
SELECT date FROM weather WHERE mean_sea_level_pressure_inches BETWEEN 30.3 AND 31
List the publisher of the publication with the highest price.
SELECT Publisher FROM publication ORDER BY Price DESC LIMIT 1
List the name of actors whose age is not 20.
SELECT Name FROM actor WHERE Age != 20
Show different nominees and the number of musicals they have been nominated.
SELECT Nominee ,  COUNT(*) FROM musical GROUP BY Nominee
Find the number of users who posted some tweets.
SELECT count(DISTINCT UID) FROM tweets
Find the maximum and total number of followers of all users.
SELECT max(followers) ,  sum(followers) FROM user_profiles
Find the level name of the catalog with the lowest price (in USD).
SELECT t2.catalog_level_name FROM catalog_contents AS t1 JOIN catalog_structure AS t2 ON t1.catalog_level_number  =  t2.catalog_level_number ORDER BY t1.price_in_dollars LIMIT 1
Find the total number of catalog contents.
SELECT count(*) FROM catalog_contents
What are the names of all aircrafts that can cover more distances than average?
SELECT name FROM Aircraft WHERE distance  >  (SELECT avg(distance) FROM Aircraft)
What are the numbers of the shortest flights?
SELECT flno FROM Flight ORDER BY distance ASC LIMIT 3
What is the count of distinct employees with certificates?
SELECT count(DISTINCT eid) FROM Certificate
How many allergy entries are there?
SELECT count(DISTINCT allergy) FROM Allergy_type
What are the last names and ages of the students who are allergic to milk and cat?
SELECT lname ,  age FROM Student WHERE StuID IN (SELECT StuID FROM Has_allergy WHERE Allergy  =  "Milk" INTERSECT SELECT StuID FROM Has_allergy WHERE Allergy  =  "Cat")
What are the total amount of money in the invoices billed from Chicago, Illinois?
SELECT sum(total) FROM invoices WHERE billing_city  =  "Chicago" AND billing_state  =  "IL";
How many customers are from California?
SELECT count(*) FROM customers WHERE state = "CA";
Show the names and ages of editors and the theme of journals for which they serve on committees, in ascending alphabetical order of theme.
SELECT T2.Name ,  T2.age ,  T3.Theme FROM journal_committee AS T1 JOIN editor AS T2 ON T1.Editor_ID  =  T2.Editor_ID JOIN journal AS T3 ON T1.Journal_ID  =  T3.Journal_ID ORDER BY T3.Theme ASC
What are card ids, customer ids, card types, and card numbers for each customer card?
SELECT card_id ,  customer_id ,  card_type_code ,  card_number FROM Customers_cards
What are the different card types, and how many cards are there of each?
SELECT card_type_code ,  count(*) FROM Customers_cards GROUP BY card_type_code
What are the different card types, and how many transactions have been made with each?
SELECT T2.card_type_code ,  count(*) FROM Financial_transactions AS T1 JOIN Customers_cards AS T2 ON T1.card_id  =  T2.card_id GROUP BY T2.card_type_code
Give the different locations of tracks.
SELECT DISTINCT LOCATION FROM track
What are the names of different tracks, and how many races has each had?
SELECT T2.name ,  count(*) FROM race AS T1 JOIN track AS T2 ON T1.track_id  =  T2.track_id GROUP BY T1.track_id
What are the average score and average staff number of all shops?
SELECT avg(num_of_staff) ,  avg(score) FROM shop
Which customers do not have a first notification of loss record? Give me the customer names.
SELECT customer_name FROM customers EXCEPT SELECT t1.customer_name FROM customers AS t1 JOIN first_notification_of_loss AS t2 ON t1.customer_id  =  t2.customer_id
What is the maximum OMIM value in the database?
SELECT max(OMIM) FROM enzyme
How many medicines were not approved by the FDA?
SELECT count(*) FROM medicine WHERE FDA_approved  =  'No'
What is all the information about the basketball match?
SELECT * FROM basketball_match
List the hardware model name for the phons that were produced by "Nokia Corporation" but whose screen mode type is not Text.
SELECT DISTINCT T2.Hardware_Model_name FROM screen_mode AS T1 JOIN phone AS T2 ON T1.Graphics_mode = T2.screen_mode WHERE t2.Company_name  =  "Nokia Corporation" AND T1.Type != "Text";
What are the names of mountains in ascending alphabetical order?
SELECT Name FROM mountain ORDER BY Name ASC
List the countries that have more than one mountain.
SELECT Country FROM mountain GROUP BY Country HAVING COUNT(*)  >  1
What are the heights of body builders with total score smaller than 315?
SELECT T2.Height FROM body_builder AS T1 JOIN people AS T2 ON T1.People_ID  =  T2.People_ID WHERE T1.Total  <  315
What are the life spans of representatives from New York state or Indiana state?
SELECT Lifespan FROM representative WHERE State  =  "New York" OR State  =  "Indiana"
Show the short names of the buildings managed by "Emma".
SELECT building_short_name FROM Apartment_Buildings WHERE building_manager	 =  "Emma"
Show the apartment numbers, start dates, and end dates of all the apartment bookings.
SELECT T2.apt_number ,  T1.booking_start_date ,  T1.booking_start_date FROM Apartment_Bookings AS T1 JOIN Apartments AS T2 ON T1.apt_id  =  T2.apt_id
Show the total number of rooms of all apartments with facility code "Gym".
SELECT sum(T2.room_count) FROM Apartment_Facilities AS T1 JOIN Apartments AS T2 ON T1.apt_id  =  T2.apt_id WHERE T1.facility_code  =  "Gym"
Show the most common apartment type code.
SELECT apt_type_code FROM Apartments GROUP BY apt_type_code ORDER BY count(*) DESC LIMIT 1
What is the season of the game which causes the player 'Walter Samuel' to get injured?
SELECT T1.season FROM game AS T1 JOIN injury_accident AS T2 ON T1.id  =  T2.game_id WHERE T2.player  =  'Walter Samuel'
List the names of all left-footed players who have overall rating between 85 and 90.
SELECT DISTINCT T1.player_name FROM Player AS T1 JOIN Player_Attributes AS T2 ON T1.player_api_id = T2.player_api_id WHERE T2.preferred_foot  =  "left" AND T2.overall_rating  >=  85 AND T2.overall_rating  <=  90
Show the names of members and the dates of performances they attended in descending order of attendance of the performances.
SELECT T2.Name ,  T3.Date FROM member_attendance AS T1 JOIN member AS T2 ON T1.Member_ID  =  T2.Member_ID JOIN performance AS T3 ON T1.Performance_ID  =  T3.Performance_ID ORDER BY T3.Attendance DESC
How many different courses offered by Physics department?
SELECT count(DISTINCT course_id) FROM course WHERE dept_name  =  'Physics'
what is the name of the instructor who is in Statistics department and earns the lowest salary?
SELECT name FROM instructor WHERE dept_name  =  'Statistics' ORDER BY salary LIMIT 1
Who is the instructor with the highest salary?
SELECT name FROM instructor ORDER BY salary DESC LIMIT 1
Find the minimum salary for the departments whose average salary is above the average payment of all instructors.
SELECT min(salary) ,  dept_name FROM instructor GROUP BY dept_name HAVING avg(salary)  >  (SELECT avg(salary) FROM instructor)
Find the name of instructors who didn't teach any courses?
SELECT name FROM instructor WHERE id NOT IN (SELECT id FROM teaches)
Show the distinct venues of debates
SELECT DISTINCT Venue FROM debate
Which customer made the largest amount of claim in a single claim? Return the customer details.
SELECT t3.customer_details FROM claim_headers AS t1 JOIN policies AS t2 ON t1.policy_id  =  t2.policy_id JOIN customers AS t3 ON t2.customer_id  =  t3.customer_id WHERE t1.amount_claimed  =  (SELECT max(amount_claimed) FROM claim_headers)
Which customer have the most policies? Give me the customer details.
SELECT t2.customer_details FROM policies AS t1 JOIN customers AS t2 ON t1.customer_id  =  t2.customer_id GROUP BY t2.customer_details ORDER BY count(*) DESC LIMIT 1
Count the number of financial transactions that correspond to each account id.
SELECT count(*) ,  account_id FROM Financial_transactions
How many transactions correspond to each invoice number?
SELECT invoice_number ,  count(*) FROM Financial_transactions GROUP BY invoice_number
Show the pair of male and female names in all weddings after year 2014
SELECT T2.name ,  T3.name FROM wedding AS T1 JOIN people AS T2 ON T1.male_id  =  T2.people_id JOIN people AS T3 ON T1.female_id  =  T3.people_id WHERE T1.year  >  2014
Return the average and minimum ages across artists from the United States.
SELECT avg(age) ,  min(age) FROM artist WHERE country  =  'United States'
Return the themes, dates, and attendance for exhibitions that happened in 2004.
SELECT T2.theme ,  T1.date ,  T1.attendance FROM exhibition_record AS T1 JOIN exhibition AS T2 ON T1.exhibition_id  =  T2.exhibition_id WHERE T2.year  =  2004
Find the titles of items whose rating is higher than the average review rating of all items.
SELECT T1.title FROM item AS T1 JOIN review AS T2 ON T1.i_id  =  T2.i_id WHERE T2.rating  >  (SELECT avg(rating) FROM review)
List the names of players in ascending order of votes.
SELECT Player_name FROM player ORDER BY Votes ASC
List the total points of gymnasts in descending order of floor exercise points.
SELECT Total_Points FROM gymnast ORDER BY Floor_Exercise_Points DESC
What are the hometowns of gymnasts and the corresponding number of gymnasts?
SELECT T2.Hometown ,  COUNT(*) FROM gymnast AS T1 JOIN people AS T2 ON T1.Gymnast_ID  =  T2.People_ID GROUP BY T2.Hometown
What is the total checking balance in all accounts?
SELECT sum(balance) FROM checking
Find the names and total checking and savings balances of accounts whose savings balance is higher than the average savings balance.
SELECT T1.name ,  T2.balance + T3.balance FROM accounts AS T1 JOIN checking AS T2 ON T1.custid  =  T2.custid JOIN savings AS T3 ON T1.custid  =  T3.custid WHERE T3.balance  >  (SELECT avg(balance) FROM savings)
Find the name of accounts whose checking balance is higher than corresponding saving balance.
SELECT T1.name FROM accounts AS T1 JOIN checking AS T2 ON T1.custid  =  T2.custid JOIN savings AS T3 ON T1.custid  =  T3.custid WHERE T2.balance  >  T3.balance
Show the accelerator names and supporting operating systems that are not compatible with the browser named 'Opera'.
SELECT name ,  operating_system FROM web_client_accelerator EXCEPT SELECT T1.name ,  T1.operating_system FROM web_client_accelerator AS T1 JOIN accelerator_compatible_browser AS T2 ON T2.accelerator_id  =  T1.id JOIN browser AS T3 ON T2.browser_id  =  T3.id WHERE T3.name  =  'Opera'
List the time of elimination of the wrestlers with largest days held.
SELECT T1.Time FROM elimination AS T1 JOIN wrestler AS T2 ON T1.Wrestler_ID  =  T2.Wrestler_ID ORDER BY T2.Days_held DESC LIMIT 1
What is the number of distinct teams that suffer elimination?
SELECT COUNT (DISTINCT team) FROM elimination
How many budgets are above 3000 in year 2001 or before?
SELECT count(*) FROM budget WHERE budgeted  >  3000 AND YEAR  <=  2001
Show the name of buildings that do not have any institution.
SELECT name FROM building WHERE building_id NOT IN (SELECT building_id FROM institution)
Show the average, minimum, and maximum capacity for all the cinemas opened in year 2011 or later.
SELECT avg(capacity) ,  min(capacity) ,  max(capacity) FROM cinema WHERE openning_year  >=  2011
Are the customers holding coupons with amount 500 bad or good?
SELECT T1.good_or_bad_customer FROM customers AS T1 JOIN discount_coupons AS T2 ON T1.coupon_id  =  T2.coupon_id WHERE T2.coupon_amount  =  500
What are the memories and carriers of phones?
SELECT Memory_in_G ,  Carrier FROM phone
Return the name of the party with the most members.
SELECT T2.party_name FROM Member AS T1 JOIN party AS T2 ON T1.party_id  =  T2.party_id GROUP BY T1.party_id ORDER BY count(*) DESC LIMIT 1
Which event names were used more than twice for party events?
SELECT event_name FROM party_events GROUP BY event_name HAVING count(*)  >  2
What is the mail date of the document with id 7?
SELECT mailing_date FROM Documents_Mailed WHERE document_id = 7;
How many events have each participants attended? List the participant id, type and the number.
SELECT T1.Participant_ID ,  T1.Participant_Type_Code ,  count(*) FROM Participants AS T1 JOIN Participants_in_Events AS T2 ON T1.Participant_ID  =  T2.Participant_ID GROUP BY T1.Participant_ID
What are the unique names of all race held between 2014 and 2017?
SELECT DISTINCT name FROM races WHERE YEAR BETWEEN 2014 AND 2017
What is the id and first name of all the drivers who participated in the Australian Grand Prix and the Chinese Grand Prix?
SELECT T2.driverid ,  T3.forename FROM races AS T1 JOIN results AS T2 ON T1.raceid = T2.raceid JOIN drivers AS T3 ON T2.driverid  =  T3.driverid WHERE T1.name = "Australian Grand Prix" INTERSECT SELECT T2.driverid ,  T3.forename FROM races AS T1 JOIN results AS T2 ON T1.raceid = T2.raceid JOIN drivers AS T3 ON T2.driverid  =  T3.driverid WHERE T1.name = "Chinese Grand Prix"
What are the first names of all the different drivers in alphabetical order?
SELECT DISTINCT forename FROM drivers ORDER BY forename ASC
What is the average fastest lap speed for the Monaco Grand Prix in 2008?
SELECT avg(T2.fastestlapspeed) FROM races AS T1 JOIN results AS T2 ON T1.raceid = T2.raceid WHERE T1.year = 2008 AND T1.name = "Monaco Grand Prix"
What is the name of the technician whose team is not 'NYY'?
SELECT Name FROM technician WHERE Team != "NYY"
What are the names of the technicians that have not been assigned to repair machines?
SELECT Name FROM technician WHERE technician_id NOT IN (SELECT technician_id FROM repair_assignment)
Return the name of the heaviest entrepreneur.
SELECT T2.Name FROM entrepreneur AS T1 JOIN people AS T2 ON T1.People_ID  =  T2.People_ID ORDER BY T2.Weight DESC LIMIT 1
Show the countries that have both perpetrators with injures more than 50 and perpetrators with injures smaller than 20.
SELECT Country FROM perpetrator WHERE Injured  >  50 INTERSECT SELECT Country FROM perpetrator WHERE Injured  <  20
Find the count of universities whose campus fee is greater than the average campus fee.
SELECT count(*) FROM csu_fees WHERE campusfee  >  (SELECT avg(campusfee) FROM csu_fees)
Find the names of the campus which has more faculties in 2002 than every campus in Orange county.
SELECT T1.campus FROM campuses AS T1 JOIN faculty AS T2 ON T1.id  =  T2.campus WHERE T2.year  =  2002 AND faculty  >  (SELECT max(faculty) FROM campuses AS T1 JOIN faculty AS T2 ON T1.id  =  T2.campus WHERE T2.year  =  2002 AND T1.county  =  "Orange")
How many faculty lines are there in the university that conferred the most number of degrees in year 2002?
SELECT T2.faculty FROM campuses AS T1 JOIN faculty AS T2 ON T1.id  =  t2.campus JOIN degrees AS T3 ON T1.id  =  t3.campus AND t2.year  =  t3.year WHERE t2.year  =  2002 ORDER BY t3.degrees DESC LIMIT 1
Find the id of the candidate who got the lowest oppose rate.
SELECT Candidate_ID FROM candidate ORDER BY oppose_rate LIMIT 1
what are the names of people who did not participate in the candidate election.
SELECT name FROM people WHERE people_id NOT IN (SELECT people_id FROM candidate)
Find the names of all reviewers who have ratings with a NULL value for the date.
SELECT DISTINCT name FROM Reviewer AS T1 JOIN Rating AS T2 ON T1.rID  =  T2.rID WHERE ratingDate  =  "null"
For any rating where the name of reviewer is the same as the director of the movie, return the reviewer name, movie title, and number of stars.
SELECT DISTINCT T3.name ,  T2.title ,  T1.stars FROM Rating AS T1 JOIN Movie AS T2 ON T1.mID  =  T2.mID JOIN Reviewer AS T3 ON T1.rID  =  T3.rID WHERE T2.director  =  T3.name
find the ids of reviewers who did not give 4 star.
SELECT rID FROM Rating EXCEPT SELECT rID FROM Rating WHERE stars  =  4
Show the crime rates of counties in ascending order of number of police officers.
SELECT Crime_rate FROM county_public_safety ORDER BY Police_officers ASC
Please show the police forces and the number of counties with each police force.
SELECT Police_force ,  COUNT(*) FROM county_public_safety GROUP BY Police_force
How many times does ROY SWEAZY has reserved a room.
SELECT count(*) FROM Reservations WHERE FirstName = "ROY" AND LastName  =  "SWEAZY";
Find the average and minimum price of the rooms in different decor.
SELECT decor , avg(basePrice) ,  min(basePrice) FROM Rooms GROUP BY decor;
Find the names of rooms that have been reserved for more than 60 times.
SELECT T2.roomName FROM Reservations AS T1 JOIN Rooms AS T2 ON T1.Room  =  T2.RoomId GROUP BY T1.Room HAVING count(*)  >  60
Show the locations of parties and the names of the party hosts in ascending order of the age of the host.
SELECT T3.Location ,  T2.Name FROM party_host AS T1 JOIN HOST AS T2 ON T1.Host_ID  =  T2.Host_ID JOIN party AS T3 ON T1.Party_ID  =  T3.Party_ID ORDER BY T2.Age
List name, dates active, and number of deaths for all storms with at least 1 death.
SELECT name ,  dates_active ,  number_deaths FROM storm WHERE number_deaths  >=  1
Show storm name with at least two regions and 10 cities affected.
SELECT T1.name FROM storm AS T1 JOIN affected_region AS T2 ON T1.storm_id  =  T2.storm_id GROUP BY T1.storm_id HAVING count(*)  >=  2 INTERSECT SELECT T1.name FROM storm AS T1 JOIN affected_region AS T2 ON T1.storm_id  =  T2.storm_id GROUP BY T1.storm_id HAVING sum(T2.number_city_affected)  >=  10
Return the maximum and minimum population among all counties.
SELECT max(Population) ,  min(Population) FROM county
Which delegates are from counties with population smaller than 100000?
SELECT T2.Delegate FROM county AS T1 JOIN election AS T2 ON T1.County_id  =  T2.District WHERE T1.Population  <  100000
Return the names of all counties sorted by county name in descending alphabetical order.
SELECT County_name FROM county ORDER BY County_name DESC
Which committees have delegates from both democratic party and liberal party?
SELECT T1.Committee FROM election AS T1 JOIN party AS T2 ON T1.Party  =  T2.Party_ID WHERE T2.Party  =  "Democratic" INTERSECT SELECT T1.Committee FROM election AS T1 JOIN party AS T2 ON T1.Party  =  T2.Party_ID WHERE T2.Party  =  "Liberal"
Show me all the restaurants.
SELECT ResName FROM Restaurant;
At which restaurant did the students spend the least amount of time? List restaurant and the time students spent on in total.
SELECT Restaurant.ResName ,  sum(Visits_Restaurant.Spent) FROM Visits_Restaurant JOIN Restaurant ON Visits_Restaurant.ResID = Restaurant.ResID GROUP BY Restaurant.ResID ORDER BY sum(Visits_Restaurant.Spent) ASC LIMIT 1;
How many institutions are there?
SELECT count(*) FROM inst
Find the first and last name of the author(s) who wrote the paper "Nameless, Painless".

In [134]:
print(answers_agent_c[1])
print(SQL_truth[1])

SELECT DISTINCT c.official_name FROM farm_competition fc JOIN city c ON fc.host_city_id = c.city_id WHERE fc.theme <> 'Aliens'
SELECT Hosts FROM farm_competition WHERE Theme !=  'Aliens'

In [135]:
embeddings = OpenAIEmbeddings()  
vectorstore_pred = FAISS.from_texts(answers_agent_c, embeddings)
vectorstore_truth = FAISS.from_texts(SQL_truth, embeddings)

In [136]:
import numpy as np

# Extract embeddings directly from FAISS indices
pred_embeddings = vectorstore_pred.index.reconstruct_n(0, vectorstore_pred.index.ntotal)
truth_embeddings = vectorstore_truth.index.reconstruct_n(0, vectorstore_truth.index.ntotal)

pred_embeddings = np.array(pred_embeddings)
truth_embeddings = np.array(truth_embeddings)

print(pred_embeddings.shape, truth_embeddings.shape)

(255, 1536) (255, 1536)

In [137]:
from numpy.linalg import norm

pred_norm = pred_embeddings / norm(pred_embeddings, axis=1, keepdims=True)
truth_norm = truth_embeddings / norm(truth_embeddings, axis=1, keepdims=True)

In [138]:
cos_sims = np.sum(pred_norm * truth_norm, axis=1)
similarity_score = []
for i, score in enumerate(cos_sims):
    print(f"Query {i}: cosine similarity = {score:.3f}")
    similarity_score.append(score)

Query 0: cosine similarity = 0.974
Query 1: cosine similarity = 0.909
Query 2: cosine similarity = 0.943
Query 3: cosine similarity = 0.973
Query 4: cosine similarity = 0.997
Query 5: cosine similarity = 0.964
Query 6: cosine similarity = 0.969
Query 7: cosine similarity = 0.989
Query 8: cosine similarity = 0.984
Query 9: cosine similarity = 0.951
Query 10: cosine similarity = 0.981
Query 11: cosine similarity = 0.951
Query 12: cosine similarity = 0.963
Query 13: cosine similarity = 0.980
Query 14: cosine similarity = 0.925
Query 15: cosine similarity = 0.953
Query 16: cosine similarity = 0.983
Query 17: cosine similarity = 0.928
Query 18: cosine similarity = 0.974
Query 19: cosine similarity = 0.920
Query 20: cosine similarity = 0.937
Query 21: cosine similarity = 0.970
Query 22: cosine similarity = 0.972
Query 23: cosine similarity = 0.944
Query 24: cosine similarity = 0.990
Query 25: cosine similarity = 0.987
Query 26: cosine similarity = 0.948
Query 27: cosine similarity = 0.986
Query 28: cosine similarity = 0.943
Query 29: cosine similarity = 0.976
Query 30: cosine similarity = 0.898
Query 31: cosine similarity = 0.962
Query 32: cosine similarity = 0.980
Query 33: cosine similarity = 0.976
Query 34: cosine similarity = 0.938
Query 35: cosine similarity = 1.000
Query 36: cosine similarity = 0.975
Query 37: cosine similarity = 0.939
Query 38: cosine similarity = 0.947
Query 39: cosine similarity = 0.990
Query 40: cosine similarity = 0.947
Query 41: cosine similarity = 0.956
Query 42: cosine similarity = 0.986
Query 43: cosine similarity = 0.964
Query 44: cosine similarity = 0.964
Query 45: cosine similarity = 0.954
Query 46: cosine similarity = 0.993
Query 47: cosine similarity = 0.994
Query 48: cosine similarity = 0.953
Query 49: cosine similarity = 0.969
Query 50: cosine similarity = 0.993
Query 51: cosine similarity = 1.000
Query 52: cosine similarity = 0.951
Query 53: cosine similarity = 0.942
Query 54: cosine similarity = 0.949
Query 55: cosine similarity = 0.953
Query 56: cosine similarity = 0.935
Query 57: cosine similarity = 0.967
Query 58: cosine similarity = 0.954
Query 59: cosine similarity = 0.944
Query 60: cosine similarity = 1.000
Query 61: cosine similarity = 1.000
Query 62: cosine similarity = 0.944
Query 63: cosine similarity = 0.967
Query 64: cosine similarity = 0.954
Query 65: cosine similarity = 0.965
Query 66: cosine similarity = 0.942
Query 67: cosine similarity = 0.938
Query 68: cosine similarity = 0.960
Query 69: cosine similarity = 0.986
Query 70: cosine similarity = 0.916
Query 71: cosine similarity = 0.970
Query 72: cosine similarity = 0.956
Query 73: cosine similarity = 0.995
Query 74: cosine similarity = 0.951
Query 75: cosine similarity = 0.987
Query 76: cosine similarity = 0.988
Query 77: cosine similarity = 0.948
Query 78: cosine similarity = 0.982
Query 79: cosine similarity = 0.927
Query 80: cosine similarity = 0.999
Query 81: cosine similarity = 0.944
Query 82: cosine similarity = 0.987
Query 83: cosine similarity = 0.996
Query 84: cosine similarity = 0.952
Query 85: cosine similarity = 0.944
Query 86: cosine similarity = 0.961
Query 87: cosine similarity = 0.939
Query 88: cosine similarity = 0.939
Query 89: cosine similarity = 0.988
Query 90: cosine similarity = 1.000
Query 91: cosine similarity = 0.939
Query 92: cosine similarity = 0.934
Query 93: cosine similarity = 0.937
Query 94: cosine similarity = 0.972
Query 95: cosine similarity = 0.974
Query 96: cosine similarity = 0.961
Query 97: cosine similarity = 0.976
Query 98: cosine similarity = 0.967
Query 99: cosine similarity = 0.949
Query 100: cosine similarity = 0.978
Query 101: cosine similarity = 0.960
Query 102: cosine similarity = 0.976
Query 103: cosine similarity = 0.929
Query 104: cosine similarity = 1.000
Query 105: cosine similarity = 0.943
Query 106: cosine similarity = 0.907
Query 107: cosine similarity = 0.967
Query 108: cosine similarity = 0.960
Query 109: cosine similarity = 0.969
Query 110: cosine similarity = 0.986
Query 111: cosine similarity = 0.937
Query 112: cosine similarity = 0.991
Query 113: cosine similarity = 0.941
Query 114: cosine similarity = 0.960
Query 115: cosine similarity = 0.946
Query 116: cosine similarity = 1.000
Query 117: cosine similarity = 0.959
Query 118: cosine similarity = 0.934
Query 119: cosine similarity = 0.993
Query 120: cosine similarity = 0.917
Query 121: cosine similarity = 0.956
Query 122: cosine similarity = 1.000
Query 123: cosine similarity = 0.942
Query 124: cosine similarity = 0.981
Query 125: cosine similarity = 0.943
Query 126: cosine similarity = 0.957
Query 127: cosine similarity = 0.982
Query 128: cosine similarity = 0.934
Query 129: cosine similarity = 0.956
Query 130: cosine similarity = 0.952
Query 131: cosine similarity = 1.000
Query 132: cosine similarity = 0.888
Query 133: cosine similarity = 0.971
Query 134: cosine similarity = 0.966
Query 135: cosine similarity = 0.922
Query 136: cosine similarity = 0.972
Query 137: cosine similarity = 0.951
Query 138: cosine similarity = 0.989
Query 139: cosine similarity = 0.984
Query 140: cosine similarity = 0.978
Query 141: cosine similarity = 0.995
Query 142: cosine similarity = 0.967
Query 143: cosine similarity = 0.992
Query 144: cosine similarity = 0.951
Query 145: cosine similarity = 0.948
Query 146: cosine similarity = 0.961
Query 147: cosine similarity = 0.917
Query 148: cosine similarity = 0.941
Query 149: cosine similarity = 1.000
Query 150: cosine similarity = 0.955
Query 151: cosine similarity = 0.960
Query 152: cosine similarity = 0.956
Query 153: cosine similarity = 0.975
Query 154: cosine similarity = 0.964
Query 155: cosine similarity = 0.965
Query 156: cosine similarity = 0.983
Query 157: cosine similarity = 0.938
Query 158: cosine similarity = 0.972
Query 159: cosine similarity = 0.953
Query 160: cosine similarity = 0.952
Query 161: cosine similarity = 0.952
Query 162: cosine similarity = 0.947
Query 163: cosine similarity = 0.933
Query 164: cosine similarity = 0.982
Query 165: cosine similarity = 0.888
Query 166: cosine similarity = 0.950
Query 167: cosine similarity = 0.943
Query 168: cosine similarity = 0.952
Query 169: cosine similarity = 0.990
Query 170: cosine similarity = 0.962
Query 171: cosine similarity = 0.956
Query 172: cosine similarity = 0.985
Query 173: cosine similarity = 0.945
Query 174: cosine similarity = 0.943
Query 175: cosine similarity = 0.965
Query 176: cosine similarity = 0.985
Query 177: cosine similarity = 0.954
Query 178: cosine similarity = 0.943
Query 179: cosine similarity = 0.971
Query 180: cosine similarity = 0.967
Query 181: cosine similarity = 0.992
Query 182: cosine similarity = 0.972
Query 183: cosine similarity = 0.953
Query 184: cosine similarity = 0.994
Query 185: cosine similarity = 0.948
Query 186: cosine similarity = 0.950
Query 187: cosine similarity = 0.966
Query 188: cosine similarity = 0.993
Query 189: cosine similarity = 0.975
Query 190: cosine similarity = 0.920
Query 191: cosine similarity = 0.964
Query 192: cosine similarity = 0.934
Query 193: cosine similarity = 0.966
Query 194: cosine similarity = 0.964
Query 195: cosine similarity = 0.956
Query 196: cosine similarity = 0.960
Query 197: cosine similarity = 0.965
Query 198: cosine similarity = 0.933
Query 199: cosine similarity = 0.962
Query 200: cosine similarity = 0.948
Query 201: cosine similarity = 0.947
Query 202: cosine similarity = 0.961
Query 203: cosine similarity = 0.967
Query 204: cosine similarity = 0.989
Query 205: cosine similarity = 0.954
Query 206: cosine similarity = 0.956
Query 207: cosine similarity = 0.929
Query 208: cosine similarity = 0.996
Query 209: cosine similarity = 0.939
Query 210: cosine similarity = 0.971
Query 211: cosine similarity = 0.955
Query 212: cosine similarity = 0.955
Query 213: cosine similarity = 0.964
Query 214: cosine similarity = 0.988
Query 215: cosine similarity = 0.958
Query 216: cosine similarity = 0.956
Query 217: cosine similarity = 0.950
Query 218: cosine similarity = 0.937
Query 219: cosine similarity = 0.934
Query 220: cosine similarity = 0.960
Query 221: cosine similarity = 0.971
Query 222: cosine similarity = 0.964
Query 223: cosine similarity = 0.966
Query 224: cosine similarity = 0.943
Query 225: cosine similarity = 0.973
Query 226: cosine similarity = 0.931
Query 227: cosine similarity = 0.969
Query 228: cosine similarity = 0.966
Query 229: cosine similarity = 0.912
Query 230: cosine similarity = 0.907
Query 231: cosine similarity = 0.962
Query 232: cosine similarity = 0.996
Query 233: cosine similarity = 0.962
Query 234: cosine similarity = 0.975
Query 235: cosine similarity = 0.952
Query 236: cosine similarity = 0.915
Query 237: cosine similarity = 1.000
Query 238: cosine similarity = 0.918
Query 239: cosine similarity = 0.966
Query 240: cosine similarity = 0.980
Query 241: cosine similarity = 0.967
Query 242: cosine similarity = 0.970
Query 243: cosine similarity = 0.980
Query 244: cosine similarity = 0.997
Query 245: cosine similarity = 0.987
Query 246: cosine similarity = 0.961
Query 247: cosine similarity = 0.919
Query 248: cosine similarity = 0.932
Query 249: cosine similarity = 0.947
Query 250: cosine similarity = 0.941
Query 251: cosine similarity = 0.942
Query 252: cosine similarity = 0.966
Query 253: cosine similarity = 0.950
Query 254: cosine similarity = 0.962

In [139]:
def to_serializable(obj):
    if isinstance(obj, (np.generic,)):   # catches np.float32, np.int64, etc.
        return obj.item()
    return str(obj)   # fallback: turn into string

final_comparison = [
    {"query": q, "sql_truth": gt, "sql_pred": pred , "similarity": sim}
    for q, gt, pred, sim in zip(Query_truth, SQL_truth, answers_agent_c, similarity_score)
]

# pretty print
print(json.dumps(final_comparison, indent=2,default=to_serializable))

[
  {
    "query": "How many heads of the departments are older than 56 ?",
    "sql_truth": "SELECT count(*) FROM head WHERE age  >  56",
    "sql_pred": "SELECT COUNT(*) FROM head WHERE age > 56;",
    "similarity": 0.9744021892547607
  },
  {
    "query": "What are the hosts of competitions whose theme is not \"Aliens\"?",
    "sql_truth": "SELECT Hosts FROM farm_competition WHERE Theme !=  'Aliens'",
    "sql_pred": "SELECT DISTINCT c.official_name FROM farm_competition fc JOIN city c ON fc.host_city_id = c.city_id WHERE fc.theme <> 'Aliens'",
    "similarity": 0.9094228148460388
  },
  {
    "query": "Please show the themes of competitions with host cities having populations larger than 1000.",
    "sql_truth": "SELECT T2.Theme FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID WHERE T1.Population  >  1000",
    "sql_pred": "SELECT fc.theme FROM farm_competition fc JOIN city c ON fc.host_city_id = c.city_id WHERE c.population > 1000",
    "similarity": 0.9428419470787048
  },
  {
    "query": "What are the ids of the students who either registered or attended a course?",
    "sql_truth": "SELECT student_id FROM student_course_registrations UNION SELECT student_id FROM student_course_attendance",
    "sql_pred": "SELECT DISTINCT student_id FROM Student_Course_Registrations UNION SELECT DISTINCT student_id FROM Student_Course_Attendance;",
    "similarity": 0.9732999801635742
  },
  {
    "query": "What is the id of the shortest trip?",
    "sql_truth": "SELECT id FROM trip ORDER BY duration LIMIT 1",
    "sql_pred": "SELECT id FROM trip ORDER BY duration ASC LIMIT 1",
    "similarity": 0.9967009425163269
  },
  {
    "query": "What is the latitude, longitude, and city of the station from which the trip with smallest duration started?",
    "sql_truth": "SELECT T1.lat ,  T1.long ,  T1.city FROM station AS T1 JOIN trip AS T2 ON T1.id  =  T2.start_station_id ORDER BY T2.duration LIMIT 1",
    "sql_pred": "SELECT s.lat, s.long, s.city FROM station s JOIN trip t ON s.id = t.start_station_id ORDER BY t.duration ASC LIMIT 1",
    "similarity": 0.9635297060012817
  },
  {
    "query": "Which days had a minimum dew point smaller than any day in zip code 94107, and in which zip codes were those measurements taken?",
    "sql_truth": "SELECT date ,  zip_code FROM weather WHERE min_dew_point_f  <  (SELECT min(min_dew_point_f) FROM weather WHERE zip_code  =  94107)",
    "sql_pred": "SELECT w.zip_code  FROM weather w  WHERE w.min_dew_point_f < (SELECT MIN(w2.min_dew_point_f) FROM weather w2 WHERE w2.zip_code = '94107')",
    "similarity": 0.969205379486084
  },
  {
    "query": "What are the ids and names of all start stations that were the beginning of at least 200 trips?",
    "sql_truth": "SELECT start_station_id ,  start_station_name FROM trip GROUP BY start_station_name HAVING COUNT(*)  >=  200",
    "sql_pred": "SELECT start_station_id , start_station_name FROM trip GROUP BY start_station_id , start_station_name HAVING COUNT(id) >= 200",
    "similarity": 0.9888103604316711
  },
  {
    "query": "What are the dates that have an average sea level pressure between 30.3 and 31?",
    "sql_truth": "SELECT date FROM weather WHERE mean_sea_level_pressure_inches BETWEEN 30.3 AND 31",
    "sql_pred": "SELECT date FROM weather WHERE mean_sea_level_pressure_inches BETWEEN 30.3 AND 31;",
    "similarity": 0.9838477969169617
  },
  {
    "query": "List the publisher of the publication with the highest price.",
    "sql_truth": "SELECT Publisher FROM publication ORDER BY Price DESC LIMIT 1",
    "sql_pred": "SELECT Publisher FROM publication WHERE Price = (SELECT MAX(Price) FROM publication)",
    "similarity": 0.9508587121963501
  },
  {
    "query": "List the name of actors whose age is not 20.",
    "sql_truth": "SELECT Name FROM actor WHERE Age != 20",
    "sql_pred": "SELECT name FROM actor WHERE age <> 20",
    "similarity": 0.9805681109428406
  },
  {
    "query": "Show different nominees and the number of musicals they have been nominated.",
    "sql_truth": "SELECT Nominee ,  COUNT(*) FROM musical GROUP BY Nominee",
    "sql_pred": "SELECT nominee , COUNT(musical_id) AS number_of_musicals FROM musical GROUP BY nominee",
    "similarity": 0.9514896273612976
  },
  {
    "query": "Find the number of users who posted some tweets.",
    "sql_truth": "SELECT count(DISTINCT UID) FROM tweets",
    "sql_pred": "SELECT COUNT(DISTINCT uid) FROM tweets;",
    "similarity": 0.9629725217819214
  },
  {
    "query": "Find the maximum and total number of followers of all users.",
    "sql_truth": "SELECT max(followers) ,  sum(followers) FROM user_profiles",
    "sql_pred": "SELECT MAX(followers) AS max_followers , SUM(followers) AS total_followers FROM user_profiles",
    "similarity": 0.9801430702209473
  },
  {
    "query": "Find the level name of the catalog with the lowest price (in USD).",
    "sql_truth": "SELECT t2.catalog_level_name FROM catalog_contents AS t1 JOIN catalog_structure AS t2 ON t1.catalog_level_number  =  t2.catalog_level_number ORDER BY t1.price_in_dollars LIMIT 1",
    "sql_pred": "SELECT cs.catalog_level_name FROM Catalog_Contents cc JOIN Catalog_Structure cs ON cc.catalog_level_number = cs.catalog_level_number WHERE cc.price_in_dollars = (SELECT MIN(price_in_dollars) FROM Catalog_Contents);",
    "similarity": 0.9248973727226257
  },
  {
    "query": "Find the total number of catalog contents.",
    "sql_truth": "SELECT count(*) FROM catalog_contents",
    "sql_pred": "SELECT COUNT(*) AS total_catalog_contents FROM catalog_contents;",
    "similarity": 0.9532467722892761
  },
  {
    "query": "What are the names of all aircrafts that can cover more distances than average?",
    "sql_truth": "SELECT name FROM Aircraft WHERE distance  >  (SELECT avg(distance) FROM Aircraft)",
    "sql_pred": "SELECT name FROM aircraft WHERE distance > (SELECT AVG(distance) FROM aircraft)",
    "similarity": 0.983435332775116
  },
  {
    "query": "What are the numbers of the shortest flights?",
    "sql_truth": "SELECT flno FROM Flight ORDER BY distance ASC LIMIT 3",
    "sql_pred": "SELECT flno FROM flight WHERE distance = (SELECT MIN(distance) FROM flight)",
    "similarity": 0.9278838634490967
  },
  {
    "query": "What is the count of distinct employees with certificates?",
    "sql_truth": "SELECT count(DISTINCT eid) FROM Certificate",
    "sql_pred": "SELECT COUNT(DISTINCT eid) FROM certificate;",
    "similarity": 0.974142849445343
  },
  {
    "query": "How many allergy entries are there?",
    "sql_truth": "SELECT count(DISTINCT allergy) FROM Allergy_type",
    "sql_pred": "SELECT COUNT(*) FROM Has_Allergy",
    "similarity": 0.91957688331604
  },
  {
    "query": "What are the last names and ages of the students who are allergic to milk and cat?",
    "sql_truth": "SELECT lname ,  age FROM Student WHERE StuID IN (SELECT StuID FROM Has_allergy WHERE Allergy  =  \"Milk\" INTERSECT SELECT StuID FROM Has_allergy WHERE Allergy  =  \"Cat\")",
    "sql_pred": "SELECT s.LName, s.Age FROM Student s JOIN Has_Allergy ha ON s.StuID = ha.StuID WHERE ha.Allergy IN ('milk', 'cat') GROUP BY s.LName, s.Age HAVING COUNT(DISTINCT ha.Allergy) = 2",
    "similarity": 0.9374977350234985
  },
  {
    "query": "What are the total amount of money in the invoices billed from Chicago, Illinois?",
    "sql_truth": "SELECT sum(total) FROM invoices WHERE billing_city  =  \"Chicago\" AND billing_state  =  \"IL\";",
    "sql_pred": "SELECT SUM(total) AS total_amount FROM invoices WHERE billing_city = 'Chicago' AND billing_state = 'Illinois'",
    "similarity": 0.9698330163955688
  },
  {
    "query": "How many customers are from California?",
    "sql_truth": "SELECT count(*) FROM customers WHERE state = \"CA\";",
    "sql_pred": "SELECT COUNT(*) FROM customers WHERE state = 'California'",
    "similarity": 0.9724439978599548
  },
  {
    "query": "Show the names and ages of editors and the theme of journals for which they serve on committees, in ascending alphabetical order of theme.",
    "sql_truth": "SELECT T2.Name ,  T2.age ,  T3.Theme FROM journal_committee AS T1 JOIN editor AS T2 ON T1.Editor_ID  =  T2.Editor_ID JOIN journal AS T3 ON T1.Journal_ID  =  T3.Journal_ID ORDER BY T3.Theme ASC",
    "sql_pred": "SELECT e.name, e.age, j.theme FROM editor e JOIN journal_committee jc ON e.editor_id = jc.editor_id JOIN journal j ON jc.journal_id = j.journal_id ORDER BY j.theme ASC",
    "similarity": 0.9439623355865479
  },
  {
    "query": "What are card ids, customer ids, card types, and card numbers for each customer card?",
    "sql_truth": "SELECT card_id ,  customer_id ,  card_type_code ,  card_number FROM Customers_cards",
    "sql_pred": "SELECT card_id , customer_id , card_type_code , card_number FROM Customers_Cards",
    "similarity": 0.9896353483200073
  },
  {
    "query": "What are the different card types, and how many cards are there of each?",
    "sql_truth": "SELECT card_type_code ,  count(*) FROM Customers_cards GROUP BY card_type_code",
    "sql_pred": "SELECT card_type_code , COUNT(card_id) AS card_count FROM Customers_Cards GROUP BY card_type_code",
    "similarity": 0.9873501062393188
  },
  {
    "query": "What are the different card types, and how many transactions have been made with each?",
    "sql_truth": "SELECT T2.card_type_code ,  count(*) FROM Financial_transactions AS T1 JOIN Customers_cards AS T2 ON T1.card_id  =  T2.card_id GROUP BY T2.card_type_code",
    "sql_pred": "SELECT card_type_code , COUNT(ft.transaction_id) AS transaction_count  FROM customers_cards cc  LEFT JOIN financial_transactions ft ON cc.card_id = ft.card_id  GROUP BY card_type_code",
    "similarity": 0.9475917220115662
  },
  {
    "query": "Give the different locations of tracks.",
    "sql_truth": "SELECT DISTINCT LOCATION FROM track",
    "sql_pred": "SELECT DISTINCT location FROM track",
    "similarity": 0.9858649969100952
  },
  {
    "query": "What are the names of different tracks, and how many races has each had?",
    "sql_truth": "SELECT T2.name ,  count(*) FROM race AS T1 JOIN track AS T2 ON T1.track_id  =  T2.track_id GROUP BY T1.track_id",
    "sql_pred": "SELECT t.name, COUNT(r.race_id) AS race_count FROM track t LEFT JOIN race r ON t.track_id = r.track_id GROUP BY t.name",
    "similarity": 0.9431435465812683
  },
  {
    "query": "What are the average score and average staff number of all shops?",
    "sql_truth": "SELECT avg(num_of_staff) ,  avg(score) FROM shop",
    "sql_pred": "SELECT AVG(Score) AS average_score , AVG(Num_of_staff) AS average_staff_number FROM shop",
    "similarity": 0.9764031171798706
  },
  {
    "query": "Which customers do not have a first notification of loss record? Give me the customer names.",
    "sql_truth": "SELECT customer_name FROM customers EXCEPT SELECT t1.customer_name FROM customers AS t1 JOIN first_notification_of_loss AS t2 ON t1.customer_id  =  t2.customer_id",
    "sql_pred": "SELECT c.Customer_name FROM Customers c LEFT JOIN First_Notification_of_Loss fnol ON c.Customer_ID = fnol.Customer_ID WHERE fnol.FNOL_ID IS NULL",
    "similarity": 0.8980663418769836
  },
  {
    "query": "What is the maximum OMIM value in the database?",
    "sql_truth": "SELECT max(OMIM) FROM enzyme",
    "sql_pred": "SELECT MAX(OMIM) FROM enzyme;",
    "similarity": 0.9624902009963989
  },
  {
    "query": "How many medicines were not approved by the FDA?",
    "sql_truth": "SELECT count(*) FROM medicine WHERE FDA_approved  =  'No'",
    "sql_pred": "SELECT COUNT(*) FROM medicine WHERE fda_approved = 'No'",
    "similarity": 0.9800306558609009
  },
  {
    "query": "What is all the information about the basketball match?",
    "sql_truth": "SELECT * FROM basketball_match",
    "sql_pred": "SELECT * FROM basketball_match;",
    "similarity": 0.9763747453689575
  },
  {
    "query": "List the hardware model name for the phons that were produced by \"Nokia Corporation\" but whose screen mode type is not Text.",
    "sql_truth": "SELECT DISTINCT T2.Hardware_Model_name FROM screen_mode AS T1 JOIN phone AS T2 ON T1.Graphics_mode = T2.screen_mode WHERE t2.Company_name  =  \"Nokia Corporation\" AND T1.Type != \"Text\";",
    "sql_pred": "SELECT Hardware_Model_name FROM phone WHERE Company_name = 'Nokia Corporation' AND screen_mode NOT IN (SELECT Graphics_mode FROM screen_mode WHERE Type = 'Text')",
    "similarity": 0.9377496242523193
  },
  {
    "query": "What are the names of mountains in ascending alphabetical order?",
    "sql_truth": "SELECT Name FROM mountain ORDER BY Name ASC",
    "sql_pred": "SELECT Name FROM mountain ORDER BY Name ASC",
    "similarity": 0.9999979734420776
  },
  {
    "query": "List the countries that have more than one mountain.",
    "sql_truth": "SELECT Country FROM mountain GROUP BY Country HAVING COUNT(*)  >  1",
    "sql_pred": "SELECT country FROM mountain GROUP BY country HAVING COUNT(mountain_id) > 1",
    "similarity": 0.974708080291748
  },
  {
    "query": "What are the heights of body builders with total score smaller than 315?",
    "sql_truth": "SELECT T2.Height FROM body_builder AS T1 JOIN people AS T2 ON T1.People_ID  =  T2.People_ID WHERE T1.Total  <  315",
    "sql_pred": "SELECT p.height FROM people p JOIN body_builder bb ON p.people_id = bb.people_id WHERE bb.total < 315",
    "similarity": 0.9388571977615356
  },
  {
    "query": "What are the life spans of representatives from New York state or Indiana state?",
    "sql_truth": "SELECT Lifespan FROM representative WHERE State  =  \"New York\" OR State  =  \"Indiana\"",
    "sql_pred": "SELECT lifespan FROM representative WHERE state IN ('New York', 'Indiana')",
    "similarity": 0.9471320509910583
  },
  {
    "query": "Show the short names of the buildings managed by \"Emma\".",
    "sql_truth": "SELECT building_short_name FROM Apartment_Buildings WHERE building_manager\t =  \"Emma\"",
    "sql_pred": "SELECT building_short_name FROM Apartment_Buildings WHERE building_manager = 'Emma'",
    "similarity": 0.9901390075683594
  },
  {
    "query": "Show the apartment numbers, start dates, and end dates of all the apartment bookings.",
    "sql_truth": "SELECT T2.apt_number ,  T1.booking_start_date ,  T1.booking_start_date FROM Apartment_Bookings AS T1 JOIN Apartments AS T2 ON T1.apt_id  =  T2.apt_id",
    "sql_pred": "SELECT a.apt_number , ab.booking_start_date , ab.booking_end_date FROM apartments a JOIN apartment_bookings ab ON a.apt_id = ab.apt_id",
    "similarity": 0.9474981427192688
  },
  {
    "query": "Show the total number of rooms of all apartments with facility code \"Gym\".",
    "sql_truth": "SELECT sum(T2.room_count) FROM Apartment_Facilities AS T1 JOIN Apartments AS T2 ON T1.apt_id  =  T2.apt_id WHERE T1.facility_code  =  \"Gym\"",
    "sql_pred": "SELECT SUM(a.room_count) AS total_rooms  FROM apartments a  JOIN apartment_facilities af ON a.apt_id = af.apt_id  WHERE af.facility_code = 'Gym'",
    "similarity": 0.956440806388855
  },
  {
    "query": "Show the most common apartment type code.",
    "sql_truth": "SELECT apt_type_code FROM Apartments GROUP BY apt_type_code ORDER BY count(*) DESC LIMIT 1",
    "sql_pred": "SELECT apt_type_code, COUNT(*) AS type_count FROM apartments GROUP BY apt_type_code ORDER BY type_count DESC LIMIT 1",
    "similarity": 0.9863010048866272
  },
  {
    "query": "What is the season of the game which causes the player 'Walter Samuel' to get injured?",
    "sql_truth": "SELECT T1.season FROM game AS T1 JOIN injury_accident AS T2 ON T1.id  =  T2.game_id WHERE T2.player  =  'Walter Samuel'",
    "sql_pred": "SELECT g.Season FROM game g JOIN injury_accident ia ON g.id = ia.game_id WHERE ia.Player = 'Walter Samuel'",
    "similarity": 0.9636119604110718
  },
  {
    "query": "List the names of all left-footed players who have overall rating between 85 and 90.",
    "sql_truth": "SELECT DISTINCT T1.player_name FROM Player AS T1 JOIN Player_Attributes AS T2 ON T1.player_api_id = T2.player_api_id WHERE T2.preferred_foot  =  \"left\" AND T2.overall_rating  >=  85 AND T2.overall_rating  <=  90",
    "sql_pred": "SELECT player_name FROM Player INNER JOIN Player_Attributes ON Player.player_api_id = Player_Attributes.player_api_id WHERE preferred_foot = 'left' AND overall_rating BETWEEN 85 AND 90",
    "similarity": 0.9644194841384888
  },
  {
    "query": "Show the names of members and the dates of performances they attended in descending order of attendance of the performances.",
    "sql_truth": "SELECT T2.Name ,  T3.Date FROM member_attendance AS T1 JOIN member AS T2 ON T1.Member_ID  =  T2.Member_ID JOIN performance AS T3 ON T1.Performance_ID  =  T3.Performance_ID ORDER BY T3.Attendance DESC",
    "sql_pred": "SELECT m.Name, p.Date FROM member m JOIN member_attendance ma ON m.Member_ID = ma.Member_ID JOIN performance p ON ma.Performance_ID = p.Performance_ID ORDER BY p.Attendance DESC",
    "similarity": 0.9544165730476379
  },
  {
    "query": "How many different courses offered by Physics department?",
    "sql_truth": "SELECT count(DISTINCT course_id) FROM course WHERE dept_name  =  'Physics'",
    "sql_pred": "SELECT COUNT(DISTINCT course_id) FROM course WHERE dept_name = 'Physics'",
    "similarity": 0.9925369024276733
  },
  {
    "query": "what is the name of the instructor who is in Statistics department and earns the lowest salary?",
    "sql_truth": "SELECT name FROM instructor WHERE dept_name  =  'Statistics' ORDER BY salary LIMIT 1",
    "sql_pred": "SELECT name FROM instructor WHERE dept_name = 'Statistics' ORDER BY salary ASC LIMIT 1",
    "similarity": 0.9943250417709351
  },
  {
    "query": "Who is the instructor with the highest salary?",
    "sql_truth": "SELECT name FROM instructor ORDER BY salary DESC LIMIT 1",
    "sql_pred": "SELECT name FROM instructor WHERE salary = (SELECT MAX(salary) FROM instructor)",
    "similarity": 0.9527655839920044
  },
  {
    "query": "Find the minimum salary for the departments whose average salary is above the average payment of all instructors.",
    "sql_truth": "SELECT min(salary) ,  dept_name FROM instructor GROUP BY dept_name HAVING avg(salary)  >  (SELECT avg(salary) FROM instructor)",
    "sql_pred": "SELECT MIN(i.salary)  FROM instructor i  JOIN department d ON i.dept_name = d.dept_name  GROUP BY d.dept_name  HAVING AVG(i.salary) > (SELECT AVG(salary) FROM instructor);",
    "similarity": 0.9691780209541321
  },
  {
    "query": "Find the name of instructors who didn't teach any courses?",
    "sql_truth": "SELECT name FROM instructor WHERE id NOT IN (SELECT id FROM teaches)",
    "sql_pred": "SELECT name FROM instructor WHERE ID NOT IN (SELECT ID FROM teaches)",
    "similarity": 0.9930611848831177
  },
  {
    "query": "Show the distinct venues of debates",
    "sql_truth": "SELECT DISTINCT Venue FROM debate",
    "sql_pred": "SELECT DISTINCT Venue FROM debate",
    "similarity": 0.9999960660934448
  },
  {
    "query": "Which customer made the largest amount of claim in a single claim? Return the customer details.",
    "sql_truth": "SELECT t3.customer_details FROM claim_headers AS t1 JOIN policies AS t2 ON t1.policy_id  =  t2.policy_id JOIN customers AS t3 ON t2.customer_id  =  t3.customer_id WHERE t1.amount_claimed  =  (SELECT max(amount_claimed) FROM claim_headers)",
    "sql_pred": "SELECT c.Customer_Details  FROM Customers c  JOIN Policies p ON c.Customer_ID = p.Customer_ID  JOIN Claim_Headers ch ON p.Policy_ID = ch.Policy_ID  WHERE ch.Amount_Claimed = (SELECT MAX(Amount_Claimed) FROM Claim_Headers)",
    "similarity": 0.9514836668968201
  },
  {
    "query": "Which customer have the most policies? Give me the customer details.",
    "sql_truth": "SELECT t2.customer_details FROM policies AS t1 JOIN customers AS t2 ON t1.customer_id  =  t2.customer_id GROUP BY t2.customer_details ORDER BY count(*) DESC LIMIT 1",
    "sql_pred": "SELECT c.Customer_Details FROM Customers c JOIN Policies p ON c.Customer_ID = p.Customer_ID GROUP BY c.Customer_ID ORDER BY COUNT(p.Policy_ID) DESC LIMIT 1",