# Explainable NL Query Database Agents

### Team 9

In [1]:
# Import necessary libraries
import sqlite3
import json
import pandas as pd
import os
import textwrap
from langchain_openai import OpenAIEmbeddings, ChatOpenAI
from langchain_community.vectorstores import FAISS
from langchain.prompts import PromptTemplate
from langchain.chains import LLMChain
from openai import OpenAI

In [ ]:
#set up environment with OpenAI API Key
os.environ["OPENAI_API_KEY"] = ""
client = OpenAI()

Collecting git-filter-repo
  Downloading git_filter_repo-2.47.0-py3-none-any.whl.metadata (31 kB)
Downloading git_filter_repo-2.47.0-py3-none-any.whl (76 kB)
Installing collected packages: git-filter-repo
Successfully installed git-filter-repo-2.47.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
#testing a simple question ensure API is working
response = client.responses.create (
    model = "gpt-5-mini",
    input = "how much gold would it take to coat the statue of liberty in a 1mm layer?",
    reasoning = {
        "effort": "minimal"
    }
)
print(response.output[1].content[0].text)

Estimate steps and result:

1) Surface area: Common estimates for the Statue of Liberty’s exterior surface area range from about 20,000 to 30,000 square feet. A frequently cited value is ~25,000 ft² (≈ 2,322 m²). I'll use 2,300 m² as a reasonable round number.

2) Volume of 1 mm gold layer: 1 mm = 0.001 m, so volume = area × thickness = 2,300 m² × 0.001 m = 2.3 m³.

3) Mass of that gold: Density of gold ≈ 19,320 kg/m³. Mass = 2.3 m³ × 19,320 kg/m³ ≈ 44,436 kg ≈ 44.4 metric tonnes.

4) Value (optional): At a gold price of, e.g., $2,000 per troy ounce (1 troy ounce = 0.0311035 kg), that’s about $64,396 per kg. So value ≈ 44,436 kg × $64,396/kg ≈ $2.86 billion. (This scales linearly with the gold price you choose.)

If you prefer a different surface area estimate: using 2,000 m² gives ~38.6 tonnes; using 2,500 m² gives ~48.3 tonnes.

Summary: Roughly 40–50 metric tonnes of gold to coat the Statue of Liberty in a 1 mm layer (≈ about 2–3 m³), worth on the order of a few billion dollars at present gold prices.

In [4]:
#loading JSON (schema file) from my local drive
tables_json_path = r"C:\Users\coffe\OneDrive\Desktop\CITS5553 Capstone Project\spider_data\spider_data\tables.json"
if os.path.exists(tables_json_path):
    with open(tables_json_path, 'r', encoding='utf-8') as f:
        tables_data = json.load(f)
    print(f"Number of tables/schemas: {len(tables_data)}")
    
    # Show column name
    if tables_data:
        first_entry = tables_data[5] 
        print(f"Keys: {list(first_entry.keys()) if isinstance(first_entry, dict) else 'Not a dictionary'}")
else:
    print("error.")

Number of tables/schemas: 166
Keys: ['column_names', 'column_names_original', 'column_types', 'db_id', 'foreign_keys', 'primary_keys', 'table_names', 'table_names_original']

In [5]:
# Here I've extract only the db_id, table_names, and column_names from tables.json
def extract_essential_schema(tables_data):
    essential_data = []
    for entry in tables_data:
        simplified_entry = {
            'database_name': entry.get('db_id', 'undefined'),
            'table_names': entry.get('table_names', []),
            'column_names': entry.get('column_names', [])
        }
        essential_data.append(simplified_entry)
    return essential_data

# Apply the extraction if tables_data is loaded
if 'tables_data' in locals():
    essential_schemas = extract_essential_schema(tables_data)
    print(f" Extracted data for {len(essential_schemas)} database schemas")
    
    # Show example of the simplified structure
    if essential_schemas:
        print(f"\n Example of simplified entry:")
        example = essential_schemas[0]
        print(f"  database_name: {example['database_name']}")
        print(f"  table_names: {example['table_names']}")
        print(f"  column_names (first 3): {example['column_names'][:3]}...")
        print(f"  Total columns: {len(example['column_names'])}")
    
else:
    print("tables_data not found.")

 Extracted data for 166 database schemas

 Example of simplified entry:
  database_name: perpetrator
  table_names: ['perpetrator', 'people']
  column_names (first 3): [[-1, '*'], [0, 'perpetrator id'], [0, 'people id']]...
  Total columns: 14

In [6]:
#Examples of schemas
essential_schemas[0]

{'database_name': 'perpetrator',
 'table_names': ['perpetrator', 'people'],
 'column_names': [[-1, '*'],
  [0, 'perpetrator id'],
  [0, 'people id'],
  [0, 'date'],
  [0, 'year'],
  [0, 'location'],
  [0, 'country'],
  [0, 'killed'],
  [0, 'injured'],
  [1, 'people id'],
  [1, 'name'],
  [1, 'height'],
  [1, 'weight'],
  [1, 'home town']]}

In [7]:
#below is iterating each database getting db name , table name and column names, then print in a easy to read format.
#This block is not being used for any agents, only for visually inspection of the schema file. 

for db in essential_schemas:  # Iterate through each database
    db_name = db["database_name"]
    table_names = db["table_names"]
    column_names = db["column_names"]
    
    print(f"Database: {db_name}")
    
    # Create a dictionary for this database's tables and columns
    essential_schemas_reshape = {}
    for idx, table_name in enumerate(table_names):
        # Collect all columns belonging to this table
        # column_names format: [(table_index, column_name), ...]
        cols = [col_name for table_idx, col_name in column_names if table_idx == idx]
        essential_schemas_reshape[table_name] = cols

    # Pretty print for this database
    for table, cols in essential_schemas_reshape.items():
        print(f"  Table: {table}")
        print(f"    Columns: {', '.join(cols)}")
    print("="*50)

Database: perpetrator
  Table: perpetrator
    Columns: perpetrator id, people id, date, year, location, country, killed, injured
  Table: people
    Columns: people id, name, height, weight, home town
==================================================
Database: college_2
  Table: classroom
    Columns: building, room number, capacity
  Table: department
    Columns: department name, building, budget
  Table: course
    Columns: course id, title, department name, credits
  Table: instructor
    Columns: id, name, department name, salary
  Table: section
    Columns: course id, section id, semester, year, building, room number, time slot id
  Table: teaches
    Columns: id, course id, section id, semester, year
  Table: student
    Columns: id, name, department name, total credits
  Table: takes classes
    Columns: id, course id, section id, semester, year, grade
  Table: advisor
    Columns: student id, instructor id
  Table: time slot
    Columns: time slot id, day, start hour, start minute, end hour, end minute
  Table: prerequisite
    Columns: course id, prerequisite id
==================================================
Database: flight_company
  Table: airport
    Columns: id, city, country, iata, icao, name
  Table: operate company
    Columns: id, name, type, principal activities, incorporated in, group equity shareholding
  Table: flight
    Columns: id, vehicle flight number, date, pilot, velocity, altitude, airport id, company id
==================================================
Database: icfp_1
  Table: institution
    Columns: institution id, name, country
  Table: authors
    Columns: author id, last name, first name
  Table: papers
    Columns: paper id, title
  Table: authorship count
    Columns: author id, institution id, paper id, author count
==================================================
Database: body_builder
  Table: body builder
    Columns: body builder id, people id, snatch, clean jerk, total
  Table: people
    Columns: people id, name, height, weight, birth date, birth place
==================================================
Database: storm_record
  Table: storm
    Columns: storm id, name, dates active, max speed, damage millions usd, number deaths
  Table: region
    Columns: region id, region code, region name
  Table: affected region
    Columns: region id, storm id, number city affected
==================================================
Database: pilot_record
  Table: aircraft
    Columns: aircraft id, order year, manufacturer, model, fleet series, powertrain, fuel propulsion
  Table: pilot
    Columns: pilot id, pilot name, rank, age, nationality, position, join year, team
  Table: pilot record
    Columns: record id, pilot id, aircraft id, date
==================================================
Database: race_track
  Table: race
    Columns: race id, name, class, date, track id
  Table: track
    Columns: track id, name, location, seating, year opened
==================================================
Database: academic
  Table: author
    Columns: aid, homepage, name, oid
  Table: conference
    Columns: cid, homepage, name
  Table: domain
    Columns: did, name
  Table: domain author
    Columns: aid, did
  Table: domain conference
    Columns: cid, did
  Table: journal
    Columns: homepage, jid, name
  Table: domain journal
    Columns: did, jid
  Table: keyword
    Columns: keyword, kid
  Table: domain keyword
    Columns: did, kid
  Table: publication
    Columns: abstract, cid, citation num, jid, pid, reference num, title, year
  Table: domain publication
    Columns: did, pid
  Table: organization
    Columns: continent, homepage, name, oid
  Table: publication keyword
    Columns: pid, kid
  Table: writes
    Columns: aid, pid
  Table: cite
    Columns: cited, citing
==================================================
Database: department_store
  Table: addresses
    Columns: address id, address details
  Table: staff
    Columns: staff id, staff gender, staff name
  Table: suppliers
    Columns: supplier id, supplier name, supplier phone
  Table: department store chain
    Columns: department store chain id, department store chain name
  Table: customers
    Columns: customer id, payment method code, customer code, customer name, customer address, customer phone, customer email
  Table: products
    Columns: product id, product type code, product name, product price
  Table: supplier addresses
    Columns: supplier id, address id, date from, date to
  Table: customer addresses
    Columns: customer id, address id, date from, date to
  Table: customer orders
    Columns: order id, customer id, order status code, order date
  Table: department stores
    Columns: department store id, department store chain id, store name, store address, store phone, store email
  Table: departments
    Columns: department id, department store id, department name
  Table: order items
    Columns: order item id, order id, product id
  Table: product suppliers
    Columns: product id, supplier id, date supplied from, date supplied to, total amount purchased, total value purchased
  Table: staff department assignments
    Columns: staff id, department id, date assigned from, job title code, date assigned to
==================================================
Database: music_4
  Table: artist
    Columns: artist id, artist, age, famous title, famous release date
  Table: volume
    Columns: volume id, volume issue, issue date, weeks on top, song, artist id
  Table: music festival
    Columns: id, music festival, date of ceremony, category, volume, result
==================================================
Database: insurance_fnol
  Table: customers
    Columns: customer id, customer name
  Table: services
    Columns: service id, service name
  Table: available policies
    Columns: policy id, policy type code, customer phone
  Table: customers policies
    Columns: customer id, policy id, date opened, date closed
  Table: first notification of loss
    Columns: fnol id, customer id, policy id, service id
  Table: claims
    Columns: claim id, fnol id, effective date
  Table: settlements
    Columns: settlement id, claim id, effective date, settlement amount
==================================================
Database: cinema
  Table: film
    Columns: film id, rank in series, number in season, title, directed by, original air date, production code
  Table: cinema
    Columns: cinema id, name, openning year, capacity, location
  Table: schedule
    Columns: cinema id, film id, date, show times per day, price
==================================================
Database: decoration_competition
  Table: college
    Columns: college id, name, leader name, college location
  Table: member
    Columns: member id, name, country, college id
  Table: round
    Columns: round id, member id, decoration theme, rank in round
==================================================
Database: phone_market
  Table: phone
    Columns: name, phone id, memory in g, carrier, price
  Table: market
    Columns: market id, district, num of employees, num of shops, ranking
  Table: phone market
    Columns: market id, phone id, num of stock
==================================================
Database: store_product
  Table: product
    Columns: product id, product, dimensions, dpi, pages per minute color, max page size, interface
  Table: store
    Columns: store id, store name, type, area size, number of product category, ranking
  Table: district
    Columns: district id, district name, headquartered city, city population, city area
  Table: store product
    Columns: store id, product id
  Table: store district
    Columns: store id, district id
==================================================
Database: assets_maintenance
  Table: third party companies
    Columns: company id, company type, company name, company address, other company details
  Table: maintenance contracts
    Columns: maintenance contract id, maintenance contract company id, contract start date, contract end date, other contract details
  Table: parts
    Columns: part id, part name, chargeable yn, chargeable amount, other part details
  Table: skills
    Columns: skill id, skill code, skill description
  Table: staff
    Columns: staff id, staff name, gender, other staff details
  Table: assets
    Columns: asset id, maintenance contract id, supplier company id, asset details, asset make, asset model, asset acquired date, asset disposed date, other asset details
  Table: asset parts
    Columns: asset id, part id
  Table: maintenance engineers
    Columns: engineer id, company id, first name, last name, other details
  Table: engineer skills
    Columns: engineer id, skill id
  Table: fault log
    Columns: fault log entry id, asset id, recorded by staff id, fault log entry datetime, fault description, other fault details
  Table: engineer visits
    Columns: engineer visit id, contact staff id, engineer id, fault log entry id, fault status, visit start datetime, visit end datetime, other visit details
  Table: part faults
    Columns: part fault id, part id, fault short name, fault description, other fault details
  Table: fault log parts
    Columns: fault log entry id, part fault id, fault status
  Table: skills required to fix
    Columns: part fault id, skill id
==================================================
Database: student_assessment
  Table: addresses
    Columns: address id, line 1, line 2, city, zip postcode, state province county, country
  Table: people
    Columns: person id, first name, middle name, last name, cell mobile number, email address, login name, password
  Table: students
    Columns: student id, student details
  Table: courses
    Columns: course id, course name, course description, other details
  Table: people addresses
    Columns: person address id, person id, address id, date from, date to
  Table: student course registrations
    Columns: student id, course id, registration date
  Table: student course attendance
    Columns: student id, course id, date of attendance
  Table: candidates
    Columns: candidate id, candidate details
  Table: candidate assessments
    Columns: candidate id, qualification, assessment date, asessment outcome code
==================================================
Database: dog_kennels
  Table: breeds
    Columns: breed code, breed name
  Table: charges
    Columns: charge id, charge type, charge amount
  Table: sizes
    Columns: size code, size description
  Table: treatment types
    Columns: treatment type code, treatment type description
  Table: owners
    Columns: owner id, first name, last name, street, city, state, zip code, email address, home phone, cell number
  Table: dogs
    Columns: dog id, owner id, abandoned yes or no, breed code, size code, name, age, date of birth, gender, weight, date arrived, date adopted, date departed
  Table: professionals
    Columns: professional id, role code, first name, street, city, state, zip code, last name, email address, home phone, cell number
  Table: treatments
    Columns: treatment id, dog id, professional id, treatment type code, date of treatment, cost of treatment
==================================================
Database: music_1
  Table: genre
    Columns: genre name, rating, most popular in
  Table: artist
    Columns: artist name, country, gender, preferred genre
  Table: files
    Columns: song id, artist name, file size, duration, formats
  Table: song
    Columns: song name, artist name, country, song id, genre is, rating, languages, releasedate, resolution
==================================================
Database: company_employee
  Table: people
    Columns: people id, age, name, nationality, graduation college
  Table: company
    Columns: company id, name, headquarters, industry, sales in billion, profits in billion, assets in billion, market value in billion
  Table: employment
    Columns: company id, people id, year working
==================================================
Database: farm
  Table: city
    Columns: city id, official name, status, area km 2, population, census ranking
  Table: farm
    Columns: farm id, year, total horses, working horses, total cattle, oxen, bulls, cows, pigs, sheep and goats
  Table: farm competition
    Columns: competition id, year, theme, host city id, hosts
  Table: competition record
    Columns: competition id, farm id, rank
==================================================
Database: solvency_ii
  Table: addresses
    Columns: address id, address details
  Table: locations
    Columns: location id, other details
  Table: products
    Columns: product id, product type code, product name, product price
  Table: parties
    Columns: party id, party details
  Table: assets
    Columns: asset id, other details
  Table: channels
    Columns: channel id, other details
  Table: finances
    Columns: finance id, other details
  Table: events
    Columns: event id, address id, channel id, event type code, finance id, location id
  Table: products in events
    Columns: product in event id, event id, product id
  Table: parties in events
    Columns: party id, event id, role code
  Table: agreements
    Columns: document id, event id
  Table: assets in events
    Columns: asset id, event id
==================================================
Database: city_record
  Table: city
    Columns: city id, city, hanzi, hanyu pinyin, regional population, gdp
  Table: match
    Columns: match id, date, venue, score, result, competition
  Table: temperature
    Columns: city id, jan, feb, mar, apr, jun, jul, aug, sep, oct, nov, dec
  Table: hosting city
    Columns: year, match id, host city
==================================================
Database: swimming
  Table: swimmer
    Columns: id, name, nationality, meter 100, meter 200, meter 300, meter 400, meter 500, meter 600, meter 700, time
  Table: stadium
    Columns: id, name, capacity, city, country, opening year
  Table: event
    Columns: id, name, stadium id, year
  Table: record
    Columns: id, result, swimmer id, event id
==================================================
Database: flight_2
  Table: airlines
    Columns: airline id, airline name, abbreviation, country
  Table: airports
    Columns: city, airport code, airport name, country, country abbrev
  Table: flights
    Columns: airline, flight number, source airport, destination airport
==================================================
Database: election
  Table: county
    Columns: county id, county name, population, zip code
  Table: party
    Columns: party id, year, party, governor, lieutenant governor, comptroller, attorney general, us senate
  Table: election
    Columns: election id, counties represented, district, delegate, party, first elected, committee
==================================================
Database: manufactory_1
  Table: manufacturers
    Columns: code, name, headquarter, founder, revenue
  Table: products
    Columns: code, name, price, manufacturer
==================================================
Database: debate
  Table: people
    Columns: people id, district, name, party, age
  Table: debate
    Columns: debate id, date, venue, num of audience
  Table: debate people
    Columns: debate id, affirmative, negative, if affirmative win
==================================================
Database: network_2
  Table: person
    Columns: name, age, city, gender, job
  Table: person friend
    Columns: name, friend, year
==================================================
Database: local_govt_in_alabama
  Table: services
    Columns: service id, service type code
  Table: participants
    Columns: participant id, participant type code, participant details
  Table: events
    Columns: event id, service id, event details
  Table: participants in events
    Columns: event id, participant id
==================================================
Database: climbing
  Table: mountain
    Columns: mountain id, name, height, prominence, range, country
  Table: climber
    Columns: climber id, name, country, time, points, mountain id
==================================================
Database: e_learning
  Table: course authors and tutors
    Columns: author id, author tutor atb, login name, password, personal name, middle name, family name, gender mf, address line 1
  Table: students
    Columns: student id, date of registration, date of latest logon, login name, password, personal name, middle name, family name
  Table: subjects
    Columns: subject id, subject name
  Table: courses
    Columns: course id, author id, subject id, course name, course description
  Table: student course enrolment
    Columns: registration id, student id, course id, date of enrolment, date of completion
  Table: student tests taken
    Columns: registration id, date test taken, test result
==================================================
Database: scientist_1
  Table: scientists
    Columns: ssn, name
  Table: projects
    Columns: code, name, hours
  Table: assigned to
    Columns: scientist, project
==================================================
Database: ship_1
  Table: captain
    Columns: captain id, name, ship id, age, class, rank
  Table: ship
    Columns: ship id, name, type, built year, class, flag
==================================================
Database: entertainment_awards
  Table: festival detail
    Columns: festival id, festival name, chair name, location, year, num of audience
  Table: artwork
    Columns: artwork id, type, name
  Table: nomination
    Columns: artwork id, festival id, result
==================================================
Database: allergy_1
  Table: allergy type
    Columns: allergy name, allergy type
  Table: has allergy
    Columns: stuid, allergy
  Table: student
    Columns: stuid, last name, first name, age, sex, major, advisor, city code
==================================================
Database: imdb
  Table: actor
    Columns: aid, gender, name, nationality, birth city, birth year
  Table: copyright
    Columns: id, msid, cid
  Table: cast
    Columns: id, msid, aid, role
  Table: genre
    Columns: gid, genre
  Table: classification
    Columns: id, msid, gid
  Table: company
    Columns: id, name, country code
  Table: director
    Columns: did, gender, name, nationality, birth city, birth year
  Table: producer
    Columns: pid, gender, name, nationality, birth city, birth year
  Table: directed by
    Columns: id, msid, did
  Table: keyword
    Columns: id, keyword
  Table: made by
    Columns: id, msid, pid
  Table: movie
    Columns: mid, title, release year, title aka, budget
  Table: tags
    Columns: id, msid, kid
  Table: tv series
    Columns: sid, title, release year, num of seasons, num of episodes, title aka, budget
  Table: writer
    Columns: wid, gender, name, nationality, num of episodes, birth city, birth year
  Table: written by
    Columns: id, msid, wid
==================================================
Database: products_for_hire
  Table: discount coupons
    Columns: coupon id, date issued, coupon amount
  Table: customers
    Columns: customer id, coupon id, good or bad customer, first name, last name, gender, date became customer, date last hire
  Table: bookings
    Columns: booking id, customer id, booking status code, returned damaged yes or no, booking start date, booking end date, count hired, amount payable, amount of discount, amount outstanding, amount of refund
  Table: products for hire
    Columns: product id, product type code, daily hire cost, product name, product description
  Table: payments
    Columns: payment id, booking id, customer id, payment type code, amount paid in full yn, payment date, amount due, amount paid
  Table: products booked
    Columns: booking id, product id, returned yes or no, returned late yes or no, booked count, booked amount
  Table: view product availability
    Columns: product id, booking id, status date, available yes or no

### Below part is to redefining and reshaping essential_schemas to better suit for LLM

In [8]:
essential_schemas_reshape = {}
for db in essential_schemas: 
    db_name = db.get("database_name", "unknown")
    table_columns = []
    for idx, table_name in enumerate(db["table_names"]):
        cols = [col for t_idx, col in db["column_names"] if t_idx == idx]
        table_columns.append([table_name, cols])
    essential_schemas_reshape[db_name] = table_columns

essential_schemas_reshape

{'perpetrator': [['perpetrator',
   ['perpetrator id',
    'people id',
    'date',
    'year',
    'location',
    'country',
    'killed',
    'injured']],
  ['people', ['people id', 'name', 'height', 'weight', 'home town']]],
 'college_2': [['classroom', ['building', 'room number', 'capacity']],
  ['department', ['department name', 'building', 'budget']],
  ['course', ['course id', 'title', 'department name', 'credits']],
  ['instructor', ['id', 'name', 'department name', 'salary']],
  ['section',
   ['course id',
    'section id',
    'semester',
    'year',
    'building',
    'room number',
    'time slot id']],
  ['teaches', ['id', 'course id', 'section id', 'semester', 'year']],
  ['student', ['id', 'name', 'department name', 'total credits']],
  ['takes classes',
   ['id', 'course id', 'section id', 'semester', 'year', 'grade']],
  ['advisor', ['student id', 'instructor id']],
  ['time slot',
   ['time slot id',
    'day',
    'start hour',
    'start minute',
    'end hour',
    'end minute']],
  ['prerequisite', ['course id', 'prerequisite id']]],
 'flight_company': [['airport',
   ['id', 'city', 'country', 'iata', 'icao', 'name']],
  ['operate company',
   ['id',
    'name',
    'type',
    'principal activities',
    'incorporated in',
    'group equity shareholding']],
  ['flight',
   ['id',
    'vehicle flight number',
    'date',
    'pilot',
    'velocity',
    'altitude',
    'airport id',
    'company id']]],
 'icfp_1': [['institution', ['institution id', 'name', 'country']],
  ['authors', ['author id', 'last name', 'first name']],
  ['papers', ['paper id', 'title']],
  ['authorship count',
   ['author id', 'institution id', 'paper id', 'author count']]],
 'body_builder': [['body builder',
   ['body builder id', 'people id', 'snatch', 'clean jerk', 'total']],
  ['people',
   ['people id', 'name', 'height', 'weight', 'birth date', 'birth place']]],
 'storm_record': [['storm',
   ['storm id',
    'name',
    'dates active',
    'max speed',
    'damage millions usd',
    'number deaths']],
  ['region', ['region id', 'region code', 'region name']],
  ['affected region', ['region id', 'storm id', 'number city affected']]],
 'pilot_record': [['aircraft',
   ['aircraft id',
    'order year',
    'manufacturer',
    'model',
    'fleet series',
    'powertrain',
    'fuel propulsion']],
  ['pilot',
   ['pilot id',
    'pilot name',
    'rank',
    'age',
    'nationality',
    'position',
    'join year',
    'team']],
  ['pilot record', ['record id', 'pilot id', 'aircraft id', 'date']]],
 'race_track': [['race', ['race id', 'name', 'class', 'date', 'track id']],
  ['track', ['track id', 'name', 'location', 'seating', 'year opened']]],
 'academic': [['author', ['aid', 'homepage', 'name', 'oid']],
  ['conference', ['cid', 'homepage', 'name']],
  ['domain', ['did', 'name']],
  ['domain author', ['aid', 'did']],
  ['domain conference', ['cid', 'did']],
  ['journal', ['homepage', 'jid', 'name']],
  ['domain journal', ['did', 'jid']],
  ['keyword', ['keyword', 'kid']],
  ['domain keyword', ['did', 'kid']],
  ['publication',
   ['abstract',
    'cid',
    'citation num',
    'jid',
    'pid',
    'reference num',
    'title',
    'year']],
  ['domain publication', ['did', 'pid']],
  ['organization', ['continent', 'homepage', 'name', 'oid']],
  ['publication keyword', ['pid', 'kid']],
  ['writes', ['aid', 'pid']],
  ['cite', ['cited', 'citing']]],
 'department_store': [['addresses', ['address id', 'address details']],
  ['staff', ['staff id', 'staff gender', 'staff name']],
  ['suppliers', ['supplier id', 'supplier name', 'supplier phone']],
  ['department store chain',
   ['department store chain id', 'department store chain name']],
  ['customers',
   ['customer id',
    'payment method code',
    'customer code',
    'customer name',
    'customer address',
    'customer phone',
    'customer email']],
  ['products',
   ['product id', 'product type code', 'product name', 'product price']],
  ['supplier addresses',
   ['supplier id', 'address id', 'date from', 'date to']],
  ['customer addresses',
   ['customer id', 'address id', 'date from', 'date to']],
  ['customer orders',
   ['order id', 'customer id', 'order status code', 'order date']],
  ['department stores',
   ['department store id',
    'department store chain id',
    'store name',
    'store address',
    'store phone',
    'store email']],
  ['departments', ['department id', 'department store id', 'department name']],
  ['order items', ['order item id', 'order id', 'product id']],
  ['product suppliers',
   ['product id',
    'supplier id',
    'date supplied from',
    'date supplied to',
    'total amount purchased',
    'total value purchased']],
  ['staff department assignments',
   ['staff id',
    'department id',
    'date assigned from',
    'job title code',
    'date assigned to']]],
 'music_4': [['artist',
   ['artist id', 'artist', 'age', 'famous title', 'famous release date']],
  ['volume',
   ['volume id',
    'volume issue',
    'issue date',
    'weeks on top',
    'song',
    'artist id']],
  ['music festival',
   ['id',
    'music festival',
    'date of ceremony',
    'category',
    'volume',
    'result']]],
 'insurance_fnol': [['customers', ['customer id', 'customer name']],
  ['services', ['service id', 'service name']],
  ['available policies', ['policy id', 'policy type code', 'customer phone']],
  ['customers policies',
   ['customer id', 'policy id', 'date opened', 'date closed']],
  ['first notification of loss',
   ['fnol id', 'customer id', 'policy id', 'service id']],
  ['claims', ['claim id', 'fnol id', 'effective date']],
  ['settlements',
   ['settlement id', 'claim id', 'effective date', 'settlement amount']]],
 'cinema': [['film',
   ['film id',
    'rank in series',
    'number in season',
    'title',
    'directed by',
    'original air date',
    'production code']],
  ['cinema', ['cinema id', 'name', 'openning year', 'capacity', 'location']],
  ['schedule',
   ['cinema id', 'film id', 'date', 'show times per day', 'price']]],
 'decoration_competition': [['college',
   ['college id', 'name', 'leader name', 'college location']],
  ['member', ['member id', 'name', 'country', 'college id']],
  ['round', ['round id', 'member id', 'decoration theme', 'rank in round']]],
 'phone_market': [['phone',
   ['name', 'phone id', 'memory in g', 'carrier', 'price']],
  ['market',
   ['market id', 'district', 'num of employees', 'num of shops', 'ranking']],
  ['phone market', ['market id', 'phone id', 'num of stock']]],
 'store_product': [['product',
   ['product id',
    'product',
    'dimensions',
    'dpi',
    'pages per minute color',
    'max page size',
    'interface']],
  ['store',
   ['store id',
    'store name',
    'type',
    'area size',
    'number of product category',
    'ranking']],
  ['district',
   ['district id',
    'district name',
    'headquartered city',
    'city population',
    'city area']],
  ['store product', ['store id', 'product id']],
  ['store district', ['store id', 'district id']]],
 'assets_maintenance': [['third party companies',
   ['company id',
    'company type',
    'company name',
    'company address',
    'other company details']],
  ['maintenance contracts',
   ['maintenance contract id',
    'maintenance contract company id',
    'contract start date',
    'contract end date',
    'other contract details']],
  ['parts',
   ['part id',
    'part name',
    'chargeable yn',
    'chargeable amount',
    'other part details']],
  ['skills', ['skill id', 'skill code', 'skill description']],
  ['staff', ['staff id', 'staff name', 'gender', 'other staff details']],
  ['assets',
   ['asset id',
    'maintenance contract id',
    'supplier company id',
    'asset details',
    'asset make',
    'asset model',
    'asset acquired date',
    'asset disposed date',
    'other asset details']],
  ['asset parts', ['asset id', 'part id']],
  ['maintenance engineers',
   ['engineer id', 'company id', 'first name', 'last name', 'other details']],
  ['engineer skills', ['engineer id', 'skill id']],
  ['fault log',
   ['fault log entry id',
    'asset id',
    'recorded by staff id',
    'fault log entry datetime',
    'fault description',
    'other fault details']],
  ['engineer visits',
   ['engineer visit id',
    'contact staff id',
    'engineer id',
    'fault log entry id',
    'fault status',
    'visit start datetime',
    'visit end datetime',
    'other visit details']],
  ['part faults',
   ['part fault id',
    'part id',
    'fault short name',
    'fault description',
    'other fault details']],
  ['fault log parts', ['fault log entry id', 'part fault id', 'fault status']],
  ['skills required to fix', ['part fault id', 'skill id']]],
 'student_assessment': [['addresses',
   ['address id',
    'line 1',
    'line 2',
    'city',
    'zip postcode',
    'state province county',
    'country']],
  ['people',
   ['person id',
    'first name',
    'middle name',
    'last name',
    'cell mobile number',
    'email address',
    'login name',
    'password']],
  ['students', ['student id', 'student details']],
  ['courses',
   ['course id', 'course name', 'course description', 'other details']],
  ['people addresses',
   ['person address id', 'person id', 'address id', 'date from', 'date to']],
  ['student course registrations',
   ['student id', 'course id', 'registration date']],
  ['student course attendance',
   ['student id', 'course id', 'date of attendance']],
  ['candidates', ['candidate id', 'candidate details']],
  ['candidate assessments',
   ['candidate id',
    'qualification',
    'assessment date',
    'asessment outcome code']]],
 'dog_kennels': [['breeds', ['breed code', 'breed name']],
  ['charges', ['charge id', 'charge type', 'charge amount']],
  ['sizes', ['size code', 'size description']],
  ['treatment types', ['treatment type code', 'treatment type description']],
  ['owners',
   ['owner id',
    'first name',
    'last name',
    'street',
    'city',
    'state',
    'zip code',
    'email address',
    'home phone',
    'cell number']],
  ['dogs',
   ['dog id',
    'owner id',
    'abandoned yes or no',
    'breed code',
    'size code',
    'name',
    'age',
    'date of birth',
    'gender',
    'weight',
    'date arrived',
    'date adopted',
    'date departed']],
  ['professionals',
   ['professional id',
    'role code',
    'first name',
    'street',
    'city',
    'state',
    'zip code',
    'last name',
    'email address',
    'home phone',
    'cell number']],
  ['treatments',
   ['treatment id',
    'dog id',
    'professional id',
    'treatment type code',
    'date of treatment',
    'cost of treatment']]],
 'music_1': [['genre', ['genre name', 'rating', 'most popular in']],
  ['artist', ['artist name', 'country', 'gender', 'preferred genre']],
  ['files', ['song id', 'artist name', 'file size', 'duration', 'formats']],
  ['song',
   ['song name',
    'artist name',
    'country',
    'song id',
    'genre is',
    'rating',
    'languages',
    'releasedate',
    'resolution']]],
 'company_employee': [['people',
   ['people id', 'age', 'name', 'nationality', 'graduation college']],
  ['company',
   ['company id',
    'name',
    'headquarters',
    'industry',
    'sales in billion',
    'profits in billion',
    'assets in billion',
    'market value in billion']],
  ['employment', ['company id', 'people id', 'year working']]],
 'farm': [['city',
   ['city id',
    'official name',
    'status',
    'area km 2',
    'population',
    'census ranking']],
  ['farm',
   ['farm id',
    'year',
    'total horses',
    'working horses',
    'total cattle',
    'oxen',
    'bulls',
    'cows',
    'pigs',
    'sheep and goats']],
  ['farm competition',
   ['competition id', 'year', 'theme', 'host city id', 'hosts']],
  ['competition record', ['competition id', 'farm id', 'rank']]],
 'solvency_ii': [['addresses', ['address id', 'address details']],
  ['locations', ['location id', 'other details']],
  ['products',
   ['product id', 'product type code', 'product name', 'product price']],
  ['parties', ['party id', 'party details']],
  ['assets', ['asset id', 'other details']],
  ['channels', ['channel id', 'other details']],
  ['finances', ['finance id', 'other details']],
  ['events',
   ['event id',
    'address id',
    'channel id',
    'event type code',
    'finance id',
    'location id']],
  ['products in events', ['product in event id', 'event id', 'product id']],
  ['parties in events', ['party id', 'event id', 'role code']],
  ['agreements', ['document id', 'event id']],
  ['assets in events', ['asset id', 'event id']]],
 'city_record': [['city',
   ['city id', 'city', 'hanzi', 'hanyu pinyin', 'regional population', 'gdp']],
  ['match', ['match id', 'date', 'venue', 'score', 'result', 'competition']],
  ['temperature',
   ['city id',
    'jan',
    'feb',
    'mar',
    'apr',
    'jun',
    'jul',
    'aug',
    'sep',
    'oct',
    'nov',
    'dec']],
  ['hosting city', ['year', 'match id', 'host city']]],
 'swimming': [['swimmer',
   ['id',
    'name',
    'nationality',
    'meter 100',
    'meter 200',
    'meter 300',
    'meter 400',
    'meter 500',
    'meter 600',
    'meter 700',
    'time']],
  ['stadium', ['id', 'name', 'capacity', 'city', 'country', 'opening year']],
  ['event', ['id', 'name', 'stadium id', 'year']],
  ['record', ['id', 'result', 'swimmer id', 'event id']]],
 'flight_2': [['airlines',
   ['airline id', 'airline name', 'abbreviation', 'country']],
  ['airports',
   ['city', 'airport code', 'airport name', 'country', 'country abbrev']],
  ['flights',
   ['airline', 'flight number', 'source airport', 'destination airport']]],
 'election': [['county',
   ['county id', 'county name', 'population', 'zip code']],
  ['party',
   ['party id',
    'year',
    'party',
    'governor',
    'lieutenant governor',
    'comptroller',
    'attorney general',
    'us senate']],
  ['election',
   ['election id',
    'counties represented',
    'district',
    'delegate',
    'party',
    'first elected',
    'committee']]],
 'manufactory_1': [['manufacturers',
   ['code', 'name', 'headquarter', 'founder', 'revenue']],
  ['products', ['code', 'name', 'price', 'manufacturer']]],
 'debate': [['people', ['people id', 'district', 'name', 'party', 'age']],
  ['debate', ['debate id', 'date', 'venue', 'num of audience']],
  ['debate people',
   ['debate id', 'affirmative', 'negative', 'if affirmative win']]],
 'network_2': [['person', ['name', 'age', 'city', 'gender', 'job']],
  ['person friend', ['name', 'friend', 'year']]],
 'local_govt_in_alabama': [['services', ['service id', 'service type code']],
  ['participants',
   ['participant id', 'participant type code', 'participant details']],
  ['events', ['event id', 'service id', 'event details']],
  ['participants in events', ['event id', 'participant id']]],
 'climbing': [['mountain',
   ['mountain id', 'name', 'height', 'prominence', 'range', 'country']],
  ['climber',
   ['climber id', 'name', 'country', 'time', 'points', 'mountain id']]],
 'e_learning': [['course authors and tutors',
   ['author id',
    'author tutor atb',
    'login name',
    'password',
    'personal name',
    'middle name',
    'family name',
    'gender mf',
    'address line 1']],
  ['students',
   ['student id',
    'date of registration',
    'date of latest logon',
    'login name',
    'password',
    'personal name',
    'middle name',
    'family name']],
  ['subjects', ['subject id', 'subject name']],
  ['courses',
   ['course id',
    'author id',
    'subject id',
    'course name',
    'course description']],
  ['student course enrolment',
   ['registration id',
    'student id',
    'course id',
    'date of enrolment',
    'date of completion']],
  ['student tests taken',
   ['registration id', 'date test taken', 'test result']]],
 'scientist_1': [['scientists', ['ssn', 'name']],
  ['projects', ['code', 'name', 'hours']],
  ['assigned to', ['scientist', 'project']]],
 'ship_1': [['captain',
   ['captain id', 'name', 'ship id', 'age', 'class', 'rank']],
  ['ship', ['ship id', 'name', 'type', 'built year', 'class', 'flag']]],
 'entertainment_awards': [['festival detail',
   ['festival id',
    'festival name',
    'chair name',
    'location',
    'year',
    'num of audience']],
  ['artwork', ['artwork id', 'type', 'name']],
  ['nomination', ['artwork id', 'festival id', 'result']]],
 'allergy_1': [['allergy type', ['allergy name', 'allergy type']],
  ['has allergy', ['stuid', 'allergy']],
  ['student',
   ['stuid',
    'last name',
    'first name',
    'age',
    'sex',
    'major',
    'advisor',
    'city code']]],
 'imdb': [['actor',
   ['aid', 'gender', 'name', 'nationality', 'birth city', 'birth year']],
  ['copyright', ['id', 'msid', 'cid']],
  ['cast', ['id', 'msid', 'aid', 'role']],
  ['genre', ['gid', 'genre']],
  ['classification', ['id', 'msid', 'gid']],
  ['company', ['id', 'name', 'country code']],
  ['director',
   ['did', 'gender', 'name', 'nationality', 'birth city', 'birth year']],
  ['producer',
   ['pid', 'gender', 'name', 'nationality', 'birth city', 'birth year']],
  ['directed by', ['id', 'msid', 'did']],
  ['keyword', ['id', 'keyword']],
  ['made by', ['id', 'msid', 'pid']],
  ['movie', ['mid', 'title', 'release year', 'title aka', 'budget']],
  ['tags', ['id', 'msid', 'kid']],
  ['tv series',
   ['sid',
    'title',
    'release year',
    'num of seasons',
    'num of episodes',
    'title aka',
    'budget']],
  ['writer',
   ['wid',
    'gender',
    'name',
    'nationality',
    'num of episodes',
    'birth city',
    'birth year']],
  ['written by', ['id', 'msid', 'wid']]],
 'products_for_hire': [['discount coupons',
   ['coupon id', 'date issued', 'coupon amount']],
  ['customers',
   ['customer id',
    'coupon id',
    'good or bad customer',
    'first name',
    'last name',
    'gender',
    'date became customer',
    'date last hire']],
  ['bookings',
   ['booking id',
    'customer id',
    'booking status code',
    'returned damaged yes or no',
    'booking start date',
    'booking end date',
    'count hired',
    'amount payable',
    'amount of discount',
    'amount outstanding',
    'amount of refund']],
  ['products for hire',
   ['product id',
    'product type code',
    'daily hire cost',
    'product name',
    'product description']],
  ['payments',
   ['payment id',
    'booking id',
    'customer id',
    'payment type code',
    'amount paid in full yn',
    'payment date',
    'amount due',
    'amount paid']],
  ['products booked',
   ['booking id',
    'product id',
    'returned yes or no',
    'returned late yes or no',
    'booked count',
    'booked amount']],
  ['view product availability',
   ['product id', 'booking id', 'status date', 'available yes or no']]],
 'candidate_poll': [['candidate',
   ['candidate id',
    'people id',
    'poll source',
    'date',
    'support rate',
    'consider rate',
    'oppose rate',
    'unsure rate']],
  ['people',
   ['people id', 'sex', 'name', 'date of birth', 'height', 'weight']]],
 'chinook_1': [['album', ['album id', 'title', 'artist id']],
  ['artist', ['artist id', 'name']],
  ['customer',
   ['customer id',
    'first name',
    'last name',
    'company',
    'address',
    'city',
    'state',
    'country',
    'postal code',
    'phone',
    'fax',
    'email',
    'support representative id']],
  ['employee',
   ['employee id',
    'last name',
    'first name',
    'title',
    'reports to',
    'birth date',
    'hire date',
    'address',
    'city',
    'state',
    'country',
    'postal code',
    'phone',
    'fax',
    'email']],
  ['genre', ['genre id', 'name']],
  ['invoice',
   ['invoice id',
    'customer id',
    'invoice date',
    'billing address',
    'billing city',
    'billing state',
    'billing country',
    'billing postal code',
    'total']],
  ['invoice line',

In [9]:
# here I've trying to add headings like database/table_name etc, to be more descriptive, LLM may not able to identify which one is database, which one is table and column name from above.
def reshape_with_headings(essential_schemas):
    out = {}
    # I didn't use the counter in the end, orginally just trying to index the database. 
    counter = 0
    for db in essential_schemas:
        order_ = 'database ' + str(counter)
        db_name =  db.get("database_name", "unknown")
        table_names = list(db.get("table_names", []))
        col_specs   = list(db.get("column_names", []))
        tables = []
        for idx, table_name in enumerate(table_names):
            cols = []
            for pair in col_specs:
                if not isinstance(pair, (list, tuple)) or len(pair) != 2:
                    continue
                t_idx, col = pair
                try:
                    t_idx = int(t_idx)
                except (ValueError, TypeError):
                    continue
                if t_idx != idx:
                    continue
                if col is None or str(col).strip() == "*" or t_idx < 0:
                    continue
                cols.append(str(col))

            tables.append({
                "table_name": table_name,
                "columns": cols,
            })

        out[db_name] = {
           "database_name": db_name,
            "tables": tables
        }
        counter += 1

    return out

In [10]:
reshaped_essential_schemas = reshape_with_headings(essential_schemas)
reshaped_essential_schemas

{'perpetrator': {'database_name': 'perpetrator',
  'tables': [{'table_name': 'perpetrator',
    'columns': ['perpetrator id',
     'people id',
     'date',
     'year',
     'location',
     'country',
     'killed',
     'injured']},
   {'table_name': 'people',
    'columns': ['people id', 'name', 'height', 'weight', 'home town']}]},
 'college_2': {'database_name': 'college_2',
  'tables': [{'table_name': 'classroom',
    'columns': ['building', 'room number', 'capacity']},
   {'table_name': 'department',
    'columns': ['department name', 'building', 'budget']},
   {'table_name': 'course',
    'columns': ['course id', 'title', 'department name', 'credits']},
   {'table_name': 'instructor',
    'columns': ['id', 'name', 'department name', 'salary']},
   {'table_name': 'section',
    'columns': ['course id',
     'section id',
     'semester',
     'year',
     'building',
     'room number',
     'time slot id']},
   {'table_name': 'teaches',
    'columns': ['id', 'course id', 'section id', 'semester', 'year']},
   {'table_name': 'student',
    'columns': ['id', 'name', 'department name', 'total credits']},
   {'table_name': 'takes classes',
    'columns': ['id', 'course id', 'section id', 'semester', 'year', 'grade']},
   {'table_name': 'advisor', 'columns': ['student id', 'instructor id']},
   {'table_name': 'time slot',
    'columns': ['time slot id',
     'day',
     'start hour',
     'start minute',
     'end hour',
     'end minute']},
   {'table_name': 'prerequisite',
    'columns': ['course id', 'prerequisite id']}]},
 'flight_company': {'database_name': 'flight_company',
  'tables': [{'table_name': 'airport',
    'columns': ['id', 'city', 'country', 'iata', 'icao', 'name']},
   {'table_name': 'operate company',
    'columns': ['id',
     'name',
     'type',
     'principal activities',
     'incorporated in',
     'group equity shareholding']},
   {'table_name': 'flight',
    'columns': ['id',
     'vehicle flight number',
     'date',
     'pilot',
     'velocity',
     'altitude',
     'airport id',
     'company id']}]},
 'icfp_1': {'database_name': 'icfp_1',
  'tables': [{'table_name': 'institution',
    'columns': ['institution id', 'name', 'country']},
   {'table_name': 'authors',
    'columns': ['author id', 'last name', 'first name']},
   {'table_name': 'papers', 'columns': ['paper id', 'title']},
   {'table_name': 'authorship count',
    'columns': ['author id', 'institution id', 'paper id', 'author count']}]},
 'body_builder': {'database_name': 'body_builder',
  'tables': [{'table_name': 'body builder',
    'columns': ['body builder id',
     'people id',
     'snatch',
     'clean jerk',
     'total']},
   {'table_name': 'people',
    'columns': ['people id',
     'name',
     'height',
     'weight',
     'birth date',
     'birth place']}]},
 'storm_record': {'database_name': 'storm_record',
  'tables': [{'table_name': 'storm',
    'columns': ['storm id',
     'name',
     'dates active',
     'max speed',
     'damage millions usd',
     'number deaths']},
   {'table_name': 'region',
    'columns': ['region id', 'region code', 'region name']},
   {'table_name': 'affected region',
    'columns': ['region id', 'storm id', 'number city affected']}]},
 'pilot_record': {'database_name': 'pilot_record',
  'tables': [{'table_name': 'aircraft',
    'columns': ['aircraft id',
     'order year',
     'manufacturer',
     'model',
     'fleet series',
     'powertrain',
     'fuel propulsion']},
   {'table_name': 'pilot',
    'columns': ['pilot id',
     'pilot name',
     'rank',
     'age',
     'nationality',
     'position',
     'join year',
     'team']},
   {'table_name': 'pilot record',
    'columns': ['record id', 'pilot id', 'aircraft id', 'date']}]},
 'race_track': {'database_name': 'race_track',
  'tables': [{'table_name': 'race',
    'columns': ['race id', 'name', 'class', 'date', 'track id']},
   {'table_name': 'track',
    'columns': ['track id', 'name', 'location', 'seating', 'year opened']}]},
 'academic': {'database_name': 'academic',
  'tables': [{'table_name': 'author',
    'columns': ['aid', 'homepage', 'name', 'oid']},
   {'table_name': 'conference', 'columns': ['cid', 'homepage', 'name']},
   {'table_name': 'domain', 'columns': ['did', 'name']},
   {'table_name': 'domain author', 'columns': ['aid', 'did']},
   {'table_name': 'domain conference', 'columns': ['cid', 'did']},
   {'table_name': 'journal', 'columns': ['homepage', 'jid', 'name']},
   {'table_name': 'domain journal', 'columns': ['did', 'jid']},
   {'table_name': 'keyword', 'columns': ['keyword', 'kid']},
   {'table_name': 'domain keyword', 'columns': ['did', 'kid']},
   {'table_name': 'publication',
    'columns': ['abstract',
     'cid',
     'citation num',
     'jid',
     'pid',
     'reference num',
     'title',
     'year']},
   {'table_name': 'domain publication', 'columns': ['did', 'pid']},
   {'table_name': 'organization',
    'columns': ['continent', 'homepage', 'name', 'oid']},
   {'table_name': 'publication keyword', 'columns': ['pid', 'kid']},
   {'table_name': 'writes', 'columns': ['aid', 'pid']},
   {'table_name': 'cite', 'columns': ['cited', 'citing']}]},
 'department_store': {'database_name': 'department_store',
  'tables': [{'table_name': 'addresses',
    'columns': ['address id', 'address details']},
   {'table_name': 'staff',
    'columns': ['staff id', 'staff gender', 'staff name']},
   {'table_name': 'suppliers',
    'columns': ['supplier id', 'supplier name', 'supplier phone']},
   {'table_name': 'department store chain',
    'columns': ['department store chain id', 'department store chain name']},
   {'table_name': 'customers',
    'columns': ['customer id',
     'payment method code',
     'customer code',
     'customer name',
     'customer address',
     'customer phone',
     'customer email']},
   {'table_name': 'products',
    'columns': ['product id',
     'product type code',
     'product name',
     'product price']},
   {'table_name': 'supplier addresses',
    'columns': ['supplier id', 'address id', 'date from', 'date to']},
   {'table_name': 'customer addresses',
    'columns': ['customer id', 'address id', 'date from', 'date to']},
   {'table_name': 'customer orders',
    'columns': ['order id', 'customer id', 'order status code', 'order date']},
   {'table_name': 'department stores',
    'columns': ['department store id',
     'department store chain id',
     'store name',
     'store address',
     'store phone',
     'store email']},
   {'table_name': 'departments',
    'columns': ['department id', 'department store id', 'department name']},
   {'table_name': 'order items',
    'columns': ['order item id', 'order id', 'product id']},
   {'table_name': 'product suppliers',
    'columns': ['product id',
     'supplier id',
     'date supplied from',
     'date supplied to',
     'total amount purchased',
     'total value purchased']},
   {'table_name': 'staff department assignments',
    'columns': ['staff id',
     'department id',
     'date assigned from',
     'job title code',
     'date assigned to']}]},
 'music_4': {'database_name': 'music_4',
  'tables': [{'table_name': 'artist',
    'columns': ['artist id',
     'artist',
     'age',
     'famous title',
     'famous release date']},
   {'table_name': 'volume',
    'columns': ['volume id',
     'volume issue',
     'issue date',
     'weeks on top',
     'song',
     'artist id']},
   {'table_name': 'music festival',
    'columns': ['id',
     'music festival',
     'date of ceremony',
     'category',
     'volume',
     'result']}]},
 'insurance_fnol': {'database_name': 'insurance_fnol',
  'tables': [{'table_name': 'customers',
    'columns': ['customer id', 'customer name']},
   {'table_name': 'services', 'columns': ['service id', 'service name']},
   {'table_name': 'available policies',
    'columns': ['policy id', 'policy type code', 'customer phone']},
   {'table_name': 'customers policies',
    'columns': ['customer id', 'policy id', 'date opened', 'date closed']},
   {'table_name': 'first notification of loss',
    'columns': ['fnol id', 'customer id', 'policy id', 'service id']},
   {'table_name': 'claims',
    'columns': ['claim id', 'fnol id', 'effective date']},
   {'table_name': 'settlements',
    'columns': ['settlement id',
     'claim id',
     'effective date',
     'settlement amount']}]},
 'cinema': {'database_name': 'cinema',
  'tables': [{'table_name': 'film',
    'columns': ['film id',
     'rank in series',
     'number in season',
     'title',
     'directed by',
     'original air date',
     'production code']},
   {'table_name': 'cinema',
    'columns': ['cinema id', 'name', 'openning year', 'capacity', 'location']},
   {'table_name': 'schedule',
    'columns': ['cinema id',
     'film id',
     'date',
     'show times per day',
     'price']}]},
 'decoration_competition': {'database_name': 'decoration_competition',
  'tables': [{'table_name': 'college',
    'columns': ['college id', 'name', 'leader name', 'college location']},
   {'table_name': 'member',
    'columns': ['member id', 'name', 'country', 'college id']},
   {'table_name': 'round',
    'columns': ['round id',
     'member id',
     'decoration theme',
     'rank in round']}]},
 'phone_market': {'database_name': 'phone_market',
  'tables': [{'table_name': 'phone',
    'columns': ['name', 'phone id', 'memory in g', 'carrier', 'price']},
   {'table_name': 'market',
    'columns': ['market id',
     'district',
     'num of employees',
     'num of shops',
     'ranking']},
   {'table_name': 'phone market',
    'columns': ['market id', 'phone id', 'num of stock']}]},
 'store_product': {'database_name': 'store_product',
  'tables': [{'table_name': 'product',
    'columns': ['product id',
     'product',
     'dimensions',
     'dpi',
     'pages per minute color',
     'max page size',
     'interface']},
   {'table_name': 'store',
    'columns': ['store id',
     'store name',
     'type',
     'area size',
     'number of product category',
     'ranking']},
   {'table_name': 'district',
    'columns': ['district id',
     'district name',
     'headquartered city',
     'city population',
     'city area']},
   {'table_name': 'store product', 'columns': ['store id', 'product id']},
   {'table_name': 'store district', 'columns': ['store id', 'district id']}]},
 'assets_maintenance': {'database_name': 'assets_maintenance',
  'tables': [{'table_name': 'third party companies',
    'columns': ['company id',
     'company type',
     'company name',
     'company address',
     'other company details']},
   {'table_name': 'maintenance contracts',
    'columns': ['maintenance contract id',
     'maintenance contract company id',
     'contract start date',
     'contract end date',
     'other contract details']},
   {'table_name': 'parts',
    'columns': ['part id',
     'part name',
     'chargeable yn',
     'chargeable amount',
     'other part details']},
   {'table_name': 'skills',
    'columns': ['skill id', 'skill code', 'skill description']},
   {'table_name': 'staff',
    'columns': ['staff id', 'staff name', 'gender', 'other staff details']},
   {'table_name': 'assets',
    'columns': ['asset id',
     'maintenance contract id',
     'supplier company id',
     'asset details',
     'asset make',
     'asset model',
     'asset acquired date',
     'asset disposed date',
     'other asset details']},
   {'table_name': 'asset parts', 'columns': ['asset id', 'part id']},
   {'table_name': 'maintenance engineers',
    'columns': ['engineer id',
     'company id',
     'first name',
     'last name',
     'other details']},
   {'table_name': 'engineer skills', 'columns': ['engineer id', 'skill id']},
   {'table_name': 'fault log',
    'columns': ['fault log entry id',
     'asset id',
     'recorded by staff id',
     'fault log entry datetime',
     'fault description',
     'other fault details']},
   {'table_name': 'engineer visits',
    'columns': ['engineer visit id',
     'contact staff id',
     'engineer id',
     'fault log entry id',
     'fault status',
     'visit start datetime',
     'visit end datetime',
     'other visit details']},
   {'table_name': 'part faults',
    'columns': ['part fault id',
     'part id',
     'fault short name',
     'fault description',
     'other fault details']},
   {'table_name': 'fault log parts',
    'columns': ['fault log entry id', 'part fault id', 'fault status']},
   {'table_name': 'skills required to fix',
    'columns': ['part fault id', 'skill id']}]},
 'student_assessment': {'database_name': 'student_assessment',
  'tables': [{'table_name': 'addresses',
    'columns': ['address id',
     'line 1',
     'line 2',
     'city',
     'zip postcode',
     'state province county',
     'country']},
   {'table_name': 'people',
    'columns': ['person id',
     'first name',
     'middle name',
     'last name',
     'cell mobile number',
     'email address',
     'login name',
     'password']},
   {'table_name': 'students', 'columns': ['student id', 'student details']},
   {'table_name': 'courses',
    'columns': ['course id',
     'course name',
     'course description',
     'other details']},
   {'table_name': 'people addresses',
    'columns': ['person address id',
     'person id',
     'address id',
     'date from',
     'date to']},
   {'table_name': 'student course registrations',
    'columns': ['student id', 'course id', 'registration date']},
   {'table_name': 'student course attendance',
    'columns': ['student id', 'course id', 'date of attendance']},
   {'table_name': 'candidates',
    'columns': ['candidate id', 'candidate details']},
   {'table_name': 'candidate assessments',
    'columns': ['candidate id',
     'qualification',
     'assessment date',
     'asessment outcome code']}]},
 'dog_kennels': {'database_name': 'dog_kennels',
  'tables': [{'table_name': 'breeds', 'columns': ['breed code', 'breed name']},
   {'table_name': 'charges',
    'columns': ['charge id', 'charge type', 'charge amount']},
   {'table_name': 'sizes', 'columns': ['size code', 'size description']},
   {'table_name': 'treatment types',
    'columns': ['treatment type code', 'treatment type description']},
   {'table_name': 'owners',
    'columns': ['owner id',
     'first name',
     'last name',
     'street',
     'city',
     'state',
     'zip code',
     'email address',
     'home phone',
     'cell number']},
   {'table_name': 'dogs',
    'columns': ['dog id',
     'owner id',
     'abandoned yes or no',
     'breed code',
     'size code',
     'name',
     'age',
     'date of birth',
     'gender',
     'weight',
     'date arrived',
     'date adopted',
     'date departed']},
   {'table_name': 'professionals',
    'columns': ['professional id',
     'role code',
     'first name',
     'street',
     'city',
     'state',
     'zip code',
     'last name',
     'email address',
     'home phone',
     'cell number']},
   {'table_name': 'treatments',
    'columns': ['treatment id',
     'dog id',
     'professional id',
     'treatment type code',
     'date of treatment',
     'cost of treatment']}]},
 'music_1': {'database_name': 'music_1',
  'tables': [{'table_name': 'genre',
    'columns': ['genre name', 'rating', 'most popular in']},
   {'table_name': 'artist',
    'columns': ['artist name', 'country', 'gender', 'preferred genre']},
   {'table_name': 'files',
    'columns': ['song id', 'artist name', 'file size', 'duration', 'formats']},
   {'table_name': 'song',
    'columns': ['song name',
     'artist name',
     'country',
     'song id',
     'genre is',
     'rating',
     'languages',
     'releasedate',
     'resolution']}]},
 'company_employee': {'database_name': 'company_employee',
  'tables': [{'table_name': 'people',
    'columns': ['people id',
     'age',
     'name',
     'nationality',
     'graduation college']},
   {'table_name': 'company',
    'columns': ['company id',
     'name',
     'headquarters',
     'industry',
     'sales in billion',
     'profits in billion',
     'assets in billion',
     'market value in billion']},
   {'table_name': 'employment',
    'columns': ['company id', 'people id', 'year working']}]},
 'farm': {'database_name': 'farm',
  'tables': [{'table_name': 'city',
    'columns': ['city id',
     'official name',
     'status',
     'area km 2',
     'population',
     'census ranking']},
   {'table_name': 'farm',
    'columns': ['farm id',
     'year',
     'total horses',
     'working horses',
     'total cattle',
     'oxen',
     'bulls',
     'cows',
     'pigs',
     'sheep and goats']},
   {'table_name': 'farm competition',
    'columns': ['competition id', 'year', 'theme', 'host city id', 'hosts']},
   {'table_name': 'competition record',
    'columns': ['competition id', 'farm id', 'rank']}]},
 'solvency_ii': {'database_name': 'solvency_ii',
  'tables': [{'table_name': 'addresses',
    'columns': ['address id', 'address details']},
   {'table_name': 'locations', 'columns': ['location id', 'other details']},
   {'table_name': 'products',
    'columns': ['product id',
     'product type code',
     'product name',
     'product price']},
   {'table_name': 'parties', 'columns': ['party id', 'party details']},
   {'table_name': 'assets', 'columns': ['asset id', 'other details']},
   {'table_name': 'channels', 'columns': ['channel id', 'other details']},
   {'table_name': 'finances', 'columns': ['finance id', 'other details']},
   {'table_name': 'events',
    'columns': ['event id',
     'address id',
     'channel id',
     'event type code',
     'finance id',
     'location id']},
   {'table_name': 'products in events',
    'columns': ['product in event id', 'event id', 'product id']},
   {'table_name': 'parties in events',
    'columns': ['party id', 'event id', 'role code']},
   {'table_name': 'agreements', 'columns': ['document id', 'event id']},
   {'table_name': 'assets in events', 'columns': ['asset id', 'event id']}]},
 'city_record': {'database_name': 'city_record',
  'tables': [{'table_name': 'city',
    'columns': ['city id',
     'city',
     'hanzi',
     'hanyu pinyin',
     'regional population',
     'gdp']},
   {'table_name': 'match',
    'columns': ['match id',
     'date',
     'venue',
     'score',
     'result',
     'competition']},
   {'table_name': 'temperature',
    'columns': ['city id',
     'jan',
     'feb',
     'mar',
     'apr',
     'jun',
     'jul',
     'aug',
     'sep',
     'oct',
     'nov',
     'dec']},
   {'table_name': 'hosting city',
    'columns': ['year', 'match id', 'host city']}]},
 'swimming': {'database_name': 'swimming',
  'tables': [{'table_name': 'swimmer',
    'columns': ['id',
     'name',
     'nationality',
     'meter 100',
     'meter 200',
     'meter 300',
     'meter 400',
     'meter 500',
     'meter 600',
     'meter 700',
     'time']},
   {'table_name': 'stadium',
    'columns': ['id', 'name', 'capacity', 'city', 'country', 'opening year']},
   {'table_name': 'event', 'columns': ['id', 'name', 'stadium id', 'year']},
   {'table_name': 'record',
    'columns': ['id', 'result', 'swimmer id', 'event id']}]},
 'flight_2': {'database_name': 'flight_2',
  'tables': [{'table_name': 'airlines',
    'columns': ['airline id', 'airline name', 'abbreviation', 'country']},
   {'table_name': 'airports',
    'columns': ['city',
     'airport code',
     'airport name',
     'country',
     'country abbrev']},
   {'table_name': 'flights',
    'columns': ['airline',
     'flight number',
     'source airport',
     'destination airport']}]},
 'election': {'database_name': 'election',
  'tables': [{'table_name': 'county',
    'columns': ['county id', 'county name', 'population', 'zip code']},
   {'table_name': 'party',
    'columns': ['party id',
     'year',
     'party',
     'governor',
     'lieutenant governor',
     'comptroller',
     'attorney general',
     'us senate']},
   {'table_name': 'election',
    'columns': ['election id',

In [11]:
#Below function to finalise the format of the schema, into DB-TABLE-Column names format
def format_schema_jsonish(reshaped_essential_schemas):
    lines = []
    for _, db in reshaped_essential_schemas.items():
        db_name = db.get("database_name", "unknown")
        for t in db.get("tables", []):
            obj = {
                "database": db_name,
                "table": t.get("table_name", "unknown"),
                "columns": t.get("columns", [])
            }
            lines.append(json.dumps(obj, ensure_ascii=False, separators=(",", ":")))
    return lines

In [12]:
final_schema_result = format_schema_jsonish(reshaped_essential_schemas)

In [13]:
final_schema_result [:10]

['{"database":"perpetrator","table":"perpetrator","columns":["perpetrator id","people id","date","year","location","country","killed","injured"]}',
 '{"database":"perpetrator","table":"people","columns":["people id","name","height","weight","home town"]}',
 '{"database":"college_2","table":"classroom","columns":["building","room number","capacity"]}',
 '{"database":"college_2","table":"department","columns":["department name","building","budget"]}',
 '{"database":"college_2","table":"course","columns":["course id","title","department name","credits"]}',
 '{"database":"college_2","table":"instructor","columns":["id","name","department name","salary"]}',
 '{"database":"college_2","table":"section","columns":["course id","section id","semester","year","building","room number","time slot id"]}',
 '{"database":"college_2","table":"teaches","columns":["id","course id","section id","semester","year"]}',
 '{"database":"college_2","table":"student","columns":["id","name","department name","total credits"]}',
 '{"database":"college_2","table":"takes classes","columns":["id","course id","section id","semester","year","grade"]}']

### Below Embedding the full prepared  Final_Schema_Result

In [14]:
embeddings = OpenAIEmbeddings()  
vectorstore_2 = FAISS.from_texts(final_schema_result, embeddings)

## Agent 1 Database Selection

#### Set up LLM

In [15]:

llm = ChatOpenAI(
    model="gpt-5-mini",   
    temperature=0
)

#### Set up Agent A prompt template . Note : I've used the new function call with '|', the hashed line of code is by using the old syntax, still working now but will be depreciated in v.1.0

In [ ]:

prompt_db = PromptTemplate(
    input_variables=["query", "retrieved_schema"],
    template="""
Please selects the most relevant database and table in order to answer user's query.
User query: {query}
Schema info: {retrieved_schema}
Which database and tables has the most relevant information for this query? Selecting 1 database only. 
Respond the database name, table and column infomation in JSON format: {{ "db_name": "...", "tables": ["..."], "columns":["..."]}}
"""
)
#db_chain = LLMChain(llm=llm, prompt=prompt_db)
db_chain = prompt_db | llm

#### Set up the main agent A function call with natural language question input, updated from 'db_chain.run' to 'db_chain.invoke', as above I updated 'LLMChain(llm=llm, prompt=prompt_db)' to 'db_chain = prompt_db | llm'

In [17]:

def database_selection_agent(user_query, top_k=5):
    print(f" User Query: '{user_query}'")

    # Step 1: Retrieve relevant schemas using vector search (Here the default is L2 Euclidean distances, I have had a quick look this 
    # can be updated, but not in a very easy / parameter way )
    relevant_docs = vectorstore_2.similarity_search_with_score(user_query, k=top_k)

    #print(f"\n Step 2: LLM Database Selection")

    selected_schema = ""
    for doc, score in relevant_docs:
        selected_schema += f"score: {score}, content: {doc.page_content}\n"

    #return selected_schema with a score 


    # Step 2: Use LLM to select the best database and tables
    response = db_chain.invoke({
         "query": user_query,
         "retrieved_schema": selected_schema
     })
    #print(f"LLM Response: {response}")
    
    return {
        "user_query": user_query,
        "retrieved_schemas":  selected_schema,
        "llm_selection": response
    }

### A list of test queries

In [18]:
test_queries = [
    "Count the number of rooms that are not in the Lamberton building",
    "Find the name of all students who were in the tryout sorted in alphabetic order",
    "Find the average price of all product clothes.",
    "Show the names of artworks in ascending order of the year they are nominated in.",
    "What is the name of the department with the student that has the lowest GPA?",
    "What are the names and years of the movies that has the top 3 highest rating star?",
    "How many students does each advisor have?",
    "Count flights departing from Dallas in 2017",
    "What are the distinct creation years of the departments managed by a secretary born in state 'Alabama'?",
    "List courses worth more than 3 credits and their departments",
    "For each customer, compute total order value and sort desc.",
    "select all the deaths caused by ship",
    "Show me information about singers and their concerts",
    "I want to see student enrollment data",
    "Find information about car manufacturers and models",
    "What data do you have about movies and actors?",
    "Show me employee salary information",
    "Which produce has the most complaints where the status are still open"
]

#### This block can pull question from test query list and return all the process result. Would be ideal the top_k parameter can be designed for user to set up a value, if the top 5 do not return desire result.

In [19]:
test_query = test_queries[1]  
result = database_selection_agent(test_query,top_k=10)
print(result['user_query'])
print(result['retrieved_schemas'])
print(result['llm_selection'])

 User Query: 'Find the name of all students who were in the tryout sorted in alphabetic order'
Find the name of all students who were in the tryout sorted in alphabetic order
score: 0.484733521938324, content: {"database":"school_player","table":"school","columns":["school id","school","location","enrollment","founded","denomination","boys or girls","day or boarding","year entered competition","school colors"]}
score: 0.4936240017414093, content: {"database":"e_learning","table":"students","columns":["student id","date of registration","date of latest logon","login name","password","personal name","middle name","family name"]}
score: 0.49639877676963806, content: {"database":"soccer_2","table":"tryout","columns":["player id","college name","player position","decision"]}
score: 0.506287157535553, content: {"database":"school_player","table":"school performance","columns":["school id","school year","class a","class aa"]}
score: 0.5084279775619507, content: {"database":"student_1","table":"teachers","columns":["last name","first name","class room"]}
score: 0.5112025141716003, content: {"database":"school_player","table":"school details","columns":["school id","nickname","colors","league","class","division"]}
score: 0.5117177963256836, content: {"database":"college_1","table":"student","columns":["student num","student last name","student first name","student init","student date of birth","student class hours took","student class","student gpa","student transfer","department code","student phone","professor number"]}
score: 0.514062225818634, content: {"database":"student_1","table":"list","columns":["last name","first name","grade","class room"]}
score: 0.5151845216751099, content: {"database":"game_1","table":"student","columns":["student id","last name","first name","age","sex","major","advisor","city code"]}
score: 0.5171141028404236, content: {"database":"student_assessment","table":"students","columns":["student id","student details"]}

content='{ "db_name": "soccer_2", "tables": ["tryout"], "columns": ["player id", "college name", "player position", "decision"] }' additional_kwargs={'refusal': None} response_metadata={'token_usage': {'completion_tokens': 430, 'prompt_tokens': 549, 'total_tokens': 979, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 384, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 0}}, 'model_name': 'gpt-5-mini-2025-08-07', 'system_fingerprint': None, 'id': 'chatcmpl-CEW6BwnVMXbolgZ05MX2MeGulHswT', 'service_tier': 'default', 'finish_reason': 'stop', 'logprobs': None} id='run--87add9b7-84c2-4fa4-890c-c9cb6379fd2b-0' usage_metadata={'input_tokens': 549, 'output_tokens': 430, 'total_tokens': 979, 'input_token_details': {'audio': 0, 'cache_read': 0}, 'output_token_details': {'audio': 0, 'reasoning': 384}}

####  Again, as I've updated the Langchain call from Run to Invoke above, below hashed code suitable for the old Run command only

In [20]:
#db_name = str(json.loads(result['llm_selection'])["db_name"])
llm_output = result['llm_selection'].content if hasattr(result['llm_selection'], 'content') else str(result['llm_selection'])
db_name = str(json.loads(llm_output)["db_name"])
db_name

'soccer_2'

# Agent 2

In [21]:
# quickly inspect what table the selected database contain.
reshaped_essential_schemas[db_name]['tables']

[{'table_name': 'college', 'columns': ['college name', 'state', 'enrollment']},
 {'table_name': 'player',
  'columns': ['player id', 'player name', 'yes card', 'training hours']},
 {'table_name': 'tryout',
  'columns': ['player id', 'college name', 'player position', 'decision']}]

#### Again I have updated the chain call function to use '|', same with agent 1.

In [22]:
list_tables_prompt = PromptTemplate(
    input_variables=["user_query", "db_schema_json"],
    template=(
        "Given the selected database schema, return ONLY valid JSON with exactly these keys"
        '  "relevant_tables": ["..."],\n'
        '  "reasons": "..." \n\n'
        #'  "SQL Code": "..." \n\n'
        "User query: {user_query}\n"
        "DB schema JSON: {db_schema_json}\n"
        "Do not wrap all_tables in an extra list. Do not include any text outside JSON."
    ),
)
#db_chain_2 = LLMChain(llm=llm, prompt=list_tables_prompt)
db_chain_2 = list_tables_prompt | llm

#### Here used db_chain_2 from above and generating the response_2 for Agent B

In [23]:
def table_selection_agent(user_query, db_name):
    #selecting ALL table information from selected database from agent A 
    full_schema = reshaped_essential_schemas[db_name]['tables']
    response_2 = db_chain_2.invoke({
        "user_query": user_query,
        "db_schema_json": full_schema
    })

    return {
        "User Query:" : user_query,
        "Database Name:" : db_name,
        "llm_result": response_2
    }

#### I've updated below due to the invoke funtion update from the run. The result_2 contains all the neccessary information from the agent 2, which contains questions, and selected database name from agent A. Then converted the LLM output to be JSON format as well to be able to be called via the keys.

In [24]:
result_2 = table_selection_agent(user_query=test_query, db_name = db_name)
llm_result = result_2['llm_result'].content if hasattr(result_2['llm_result'], 'content') else str(result_2['llm_result'])
result_2_JSON = json.loads(llm_result)
print(f"User Query : " + result_2['User Query:'])
print(f"Selected DB from Agent1 : " + result_2['Database Name:'])
print(f"Selected Tables: " + str(result_2_JSON['relevant_tables']))
print(f"Reason: " + result_2_JSON['reasons'])
#print(f"SQL code: " + result_2_JSON['SQL Code'])

User Query : Find the name of all students who were in the tryout sorted in alphabetic order
Selected DB from Agent1 : soccer_2
Selected Tables: ['player', 'tryout']
Reason: The tryout table lists participating players by player id, while the player table contains player names. Join tryout.player id = player.player id to retrieve the names of all players who were in the tryout, then sort the resulting names alphabetically.

# Agent 3

In [25]:
#loading JSON (schema file) from my local drive
complete_combined_schema = r"C:\Users\coffe\OneDrive\Desktop\CITS5553 Capstone Project\spider_data\spider_data\complete_combined_schema.json"
if os.path.exists(complete_combined_schema):
    with open(complete_combined_schema, 'r', encoding='utf-8') as f:
        complete_schema = json.load(f)
    print(f"Number of tables/schemas: {len(complete_schema)}")
else:
    print("error.")

Number of tables/schemas: 4

In [26]:
result_2_JSON['relevant_tables']

['player', 'tryout']

In [27]:
# Here getting all the tables from database, not just selected from Agent 2.
complete_schema['schema'][db_name]['tables']

{'College': {'columns': ['cName', 'state', 'enr'],
  'primary_key': ['cName'],
  'foreign_keys': []},
 'Player': {'columns': ['pID', 'pName', 'yCard', 'HS'],
  'primary_key': ['pID'],
  'foreign_keys': []},
 'Tryout': {'columns': ['pID', 'cName', 'pPos', 'decision'],
  'primary_key': ['pID', 'cName'],
  'foreign_keys': [{'from_column': 'cName',
    'ref_table': 'College',
    'ref_column': 'cName'},
   {'from_column': 'pID', 'ref_table': 'Player', 'ref_column': 'pID'}]}}

In [ ]:
# The prompt need to add 'case insensitive' as the Spider.JSON are all lower case where our own schema used upper case.
produce_sql_prompt = PromptTemplate(
    input_variables=["user_query", "db_schema_json", "selected_tables"],
    template=(
        "Given the selected database schema and selected table names, please be case insensitive, return ONLY valid JSON with exactly these keys"
        '  "relevant_tables": ["..."],\n'
        '  "SQL Code": "..." \n\n'
        '  "reasons": "..." \n\n'
        "User query: {user_query}\n"
        "DB schema JSON: {db_schema_json}\n"
        "Selected tables: {selected_tables}\n"
        "Do not wrap all_tables in an extra list. Do not include any text outside JSON."
    ),
)
db_chain_3 = produce_sql_prompt | llm

In [29]:
def sql_production_agent(user_query, db_name, selected_tables):
    final_schema = complete_schema['schema'][db_name]['tables']
    response_3 = db_chain_3.invoke({
        "user_query": user_query,
        "db_schema_json": final_schema,
        "selected_tables": selected_tables
    })

    return {
        "User Query:" : user_query,
        "Database Name:" : db_name,
        "llm_result": response_3
    }

In [30]:

# Can ignore below. 
# schema_all = complete_schema['schema'][db_name]['tables']
# Pull out selected schemas based on the 
# schema_selected = {k: v for k, v in schema_all.items() if k.lower() in result_2_JSON['relevant_tables']}
# print(schema_selected)

In [ ]:
# Below is the return of the result, by using the selected db, question and All the table schemas from that database.
result_3 = sql_production_agent(user_query=test_query, db_name = db_name,selected_tables = result_2_JSON['relevant_tables'])
llm_result = result_3['llm_result'].content if hasattr(result_3['llm_result'], 'content') else str(result_3['llm_result'])
result_3_JSON = json.loads(llm_result)
print(f"User Query : " + result_3['User Query:'])
print(f"Selected DB from Agent1 : " + result_3['Database Name:'])
print(f"Selected Tables: " + str(result_3_JSON['relevant_tables']))
print(f"SQL code: " + result_3_JSON['SQL Code'])
print(f"Reason: " + result_3_JSON['reasons'])

User Query : Find the name of all students who were in the tryout sorted in alphabetic order
Selected DB from Agent1 : soccer_2
Selected Tables: ['player', 'tryout']
SQL code: SELECT DISTINCT player.pName FROM player JOIN tryout ON player.pID = tryout.pID ORDER BY player.pName ASC;
Reason: Join player and tryout on pID to get only players who participated in tryouts. Use DISTINCT to avoid duplicate names if a player appears in multiple tryout records. Order results alphabetically by pName using ORDER BY ASC.

In [52]:
import networkx as nx
from pyvis.network import Network

def schema_to_networkx(tables_dict):
    G = nx.MultiDiGraph()

    for table_name, meta in tables_dict.items():
        G.add_node(
            table_name,
            label=table_name,                
            nodetype="Table",
            group="Table",
            color="#5BBCD6",
            shape="box",
            title=f"Table: {table_name} PK: {', '.join(meta.get('primary_key', [])) or '(none)'}"
        )

    
    for table_name, meta in tables_dict.items():
        for col in meta.get("columns", []):
            col_node = f"{table_name}.{col}"
            G.add_node(
                col_node,
                label=col,
                nodetype="Column",
                group=f"col::{table_name}",
                color="#a4e6a0",
                shape="ellipse",
                title=f"Column: {col}  Table: {table_name}"
            )
            G.add_edge(
                table_name, col_node,
                type="HAS_COLUMN",
                color="#999999",
                arrows="to",
                title="HAS_COLUMN"
            )

    # Foreign key edges
    for table_name, meta in tables_dict.items():
        for fk in meta.get("foreign_keys", []):
            child_node = f"{table_name}.{fk['from_column']}"
            parent_node = f"{fk['ref_table']}.{fk['ref_column']}"
            G.add_edge(
                child_node, parent_node,
                type="FK_TO",
                color="#FF0000",
                arrows="to",
                smooth=True,
                title=f"FK_TO: {table_name}.{fk['from_column']} → {fk['ref_table']}.{fk['ref_column']}"
            )

    return G

# Build graph
G = schema_to_networkx(schema_all)

# PyVis: use remote or inline resources to avoid the Jupyter warning
net = Network(notebook=True, directed=True, cdn_resources='remote', height="650px", width="100%")
net.from_nx(G)

# Optional: nicer layout options
# net.set_options("""
# const options = {
#   physics: { enabled: true, solver: 'forceAtlas2Based', stabilization: { iterations: 200 } },
#   edges: { arrows: { to: { enabled: true } }, smooth: { type: 'curvedCW', roundness: 0.2 } },
#   nodes: { font: { face: 'Inter', size: 14 }, borderWidth: 1 }
# }
# """)

net.show("schema.html")

schema.html

### Testing, below systematically testing with Train data by using the question + database + SQL code. Please be mindful for the client's cost, and ensure we are not testing all the 7,000 question from the training.

In [32]:
tables_json_path_2 = r"C:\Users\coffe\OneDrive\Desktop\CITS5553 Capstone Project\spider_data\spider_data\train_spider.json"
if os.path.exists(tables_json_path_2):
    with open(tables_json_path_2, 'r', encoding='utf-8') as f:
        train_data = json.load(f)
    print(f"Number of tables/schemas: {len(train_data)}")
    if train_data :
        first_entry = train_data[5] 
        print(f"Keys: {list(first_entry.keys()) if isinstance(first_entry, dict) else 'Not a dictionary'}")
else:
    print("error.")

Number of tables/schemas: 7000
Keys: ['db_id', 'query', 'query_toks', 'query_toks_no_value', 'question', 'question_toks', 'sql']

In [ ]:
# pull only the question + database + SQL code from the training data
dbid_question_list = [
    {'db_id': entry.get('db_id'), 'question': entry.get('question'), 'query': entry.get('query')}
    for entry in train_data if isinstance(entry, dict)
]
print(dbid_question_list[:5])

[{'db_id': 'department_management', 'question': 'How many heads of the departments are older than 56 ?', 'query': 'SELECT count(*) FROM head WHERE age  >  56'}, {'db_id': 'department_management', 'question': 'List the name, born state and age of the heads of departments ordered by age.', 'query': 'SELECT name ,  born_state ,  age FROM head ORDER BY age'}, {'db_id': 'department_management', 'question': 'List the creation year, name and budget of each department.', 'query': 'SELECT creation ,  name ,  budget_in_billions FROM department'}, {'db_id': 'department_management', 'question': 'What are the maximum and minimum budget of the departments?', 'query': 'SELECT max(budget_in_billions) ,  min(budget_in_billions) FROM department'}, {'db_id': 'department_management', 'question': 'What is the average number of employees of the departments whose rank is between 10 and 15?', 'query': 'SELECT avg(num_employees) FROM department WHERE ranking BETWEEN 10 AND 15'}]

In [34]:
# selecting every x of the question/db pair, as there are 7,000 training, we do not want to use all of them. 
every_x_th = dbid_question_list[::250]
# checking how many in total to be tested
len(every_x_th)

28

In [ ]:
# printing the question + db + sql code from testing data.
for item in every_x_th:
    print(item['question'])
    print(item['db_id'])
    print(item['query'])

How many heads of the departments are older than 56 ?
department_management
SELECT count(*) FROM head WHERE age  >  56
Show names of actors and names of musicals they are in.
musical
SELECT T1.Name ,  T2.Name FROM actor AS T1 JOIN musical AS T2 ON T1.Musical_ID  =  T2.Musical_ID
How many students does each advisor have?
allergy_1
SELECT advisor ,  count(*) FROM Student GROUP BY advisor
What are the names and locations of all tracks?
race_track
SELECT name ,  LOCATION FROM track
Return the total and minimum enrollments across all schools.
university_basketball
SELECT sum(enrollment) ,  min(enrollment) FROM university
Return all the apartment numbers sorted by the room count in ascending order.
apartment_rentals
SELECT apt_number FROM Apartments ORDER BY room_count ASC
Show the distinct venues of debates
debate
SELECT DISTINCT Venue FROM debate
What is the age of the tallest person?
gymnast
SELECT Age FROM people ORDER BY Height DESC LIMIT 1
What are the names and headquarters of all companies ordered by descending market value?
gas_company
SELECT company ,  headquarters FROM company ORDER BY market_value DESC
What is the team with at least 2 technicians?
machine_repair
SELECT Team FROM technician GROUP BY Team HAVING COUNT(*)  >=  2
What are the names and years of the movies that has the top 3 highest rating star?
movie_1
SELECT T2.title ,  T2.year FROM Rating AS T1 JOIN Movie AS T2 ON T1.mID  =  T2.mID ORDER BY T1.stars DESC LIMIT 3
How many distinct governors are there?
election
SELECT count(DISTINCT Governor) FROM party
What is the largest payment amount?
sakila_1
SELECT amount FROM payment ORDER BY amount DESC LIMIT 1
What is the total number of professors with a Ph.D. ?
college_1
SELECT count(*) FROM professor WHERE prof_high_degree  =  'Ph.D.'
What are the full names and hire dates for employees in the same department as someone with the first name Clara?
hr_1
SELECT first_name ,  last_name ,  hire_date FROM employees WHERE department_id  =  (SELECT department_id FROM employees WHERE first_name  =  "Clara")
find the number of different programs that are broadcast during night time.
program_share
SELECT count(DISTINCT program_id) FROM broadcast WHERE time_of_day  =  'Night'
List the name of ships in ascending order of tonnage.
ship_mission
SELECT Name FROM ship ORDER BY Tonnage ASC
How many clubs are there?
club_1
SELECT count(*) FROM club
What are the names of all the documents, as well as the access counts of each, ordered alphabetically?
document_management
SELECT document_name ,  access_count FROM documents ORDER BY document_name
What is the id and name of the staff who has been assigned for the least amount of time?
department_store
SELECT T1.staff_id ,  T1.staff_name FROM staff AS T1 JOIN Staff_Department_Assignments AS T2 ON T1.staff_id  =  T2.staff_id ORDER BY date_assigned_to - date_assigned_from LIMIT 1
Find the name of all students who were in the tryout sorted in alphabetic order.
soccer_2
SELECT T1.pName FROM player AS T1 JOIN tryout AS T2 ON T1.pID  =  T2.pID ORDER BY T1.pName
How many songs have a shared vocal?
music_2
SELECT count(DISTINCT title) FROM vocals AS T1 JOIN songs AS T2 ON T1.songid  =  T2.songid WHERE TYPE  =  "shared"
For each advisor, report the total number of students advised by him or her.
voter_2
SELECT Advisor ,  count(*) FROM STUDENT GROUP BY Advisor
Find the name of amenities Smith Hall dorm have.
dorm_1
SELECT T3.amenity_name FROM dorm AS T1 JOIN has_amenity AS T2 ON T1.dormid  =  T2.dormid JOIN dorm_amenity AS T3 ON T2.amenid  =  T3.amenid WHERE T1.dorm_name  =  'Smith Hall'
How many different types of sports do we offer?
game_1
SELECT count(DISTINCT sportname) FROM Sportsinfo
Which flag is most widely used among all ships?
ship_1
SELECT flag FROM ship GROUP BY flag ORDER BY count(*) DESC LIMIT 1
What are the names of the scientists, and how many projects are each of them working on?
scientist_1
SELECT count(*) ,  T1.name FROM scientists AS T1 JOIN assignedto AS T2 ON T1.ssn  =  T2.scientist GROUP BY T1.name
Who is the advisor of Linda Smith? Give me the first name and last name.
activity_1
SELECT T1.fname ,  T1.lname FROM Faculty AS T1 JOIN Student AS T2 ON T1.FacID  =  T2.advisor WHERE T2.fname  =  "Linda" AND T2.lname  =  "Smith"

#### I've updated below that we can now feed both ground truth SQL code, as well as our prediction groud truth SQL code, to excute in our database then returned the results.

#### feed all the x number of questions into the agent A + agent B + agent C, and collect the results.

In [68]:

prediction_results = []
for item in every_x_th:
    question = item['question']
    result_1 = database_selection_agent(question)
    llm_output_1 = result_1['llm_selection'].content if hasattr(result_1['llm_selection'], 'content') else str(result_1['llm_selection'])
    db_name = str(json.loads(llm_output_1)["db_name"])
    result_2 = table_selection_agent(question, db_name = db_name)
    llm_result_2 = result_2['llm_result'].content if hasattr(result_2['llm_result'], 'content') else str(result_2['llm_result'])
    result_2_JSON = json.loads(llm_result_2)
    result_3 = sql_production_agent(user_query=question, db_name = db_name,selected_tables = result_2_JSON['relevant_tables'])
    llm_result_3 = result_3['llm_result'].content if hasattr(result_3['llm_result'], 'content') else str(result_3['llm_result'])
    result_3_JSON = json.loads(llm_result_3)
   
    prediction_results.append({'question': question, 'db_name': db_name, 'SQL_Code': result_3_JSON['SQL Code'] })

#print(db_name_results[:5])

 User Query: 'How many heads of the departments are older than 56 ?'
 User Query: 'Show names of actors and names of musicals they are in.'
 User Query: 'How many students does each advisor have?'
 User Query: 'What are the names and locations of all tracks?'
 User Query: 'Return the total and minimum enrollments across all schools.'
 User Query: 'Return all the apartment numbers sorted by the room count in ascending order.'
 User Query: 'Show the distinct venues of debates'
 User Query: 'What is the age of the tallest person?'
 User Query: 'What are the names and headquarters of all companies ordered by descending market value?'
 User Query: 'What is the team with at least 2 technicians?'
 User Query: 'What are the names and years of the movies that has the top 3 highest rating star?'
 User Query: 'How many distinct governors are there?'
 User Query: 'What is the largest payment amount?'
 User Query: 'What is the total number of professors with a Ph.D. ?'
 User Query: 'What are the full names and hire dates for employees in the same department as someone with the first name Clara?'
 User Query: 'find the number of different programs that are broadcast during night time.'
 User Query: 'List the name of ships in ascending order of tonnage.'
 User Query: 'How many clubs are there?'
 User Query: 'What are the names of all the documents, as well as the access counts of each, ordered alphabetically?'
 User Query: 'What is the id and name of the staff who has been assigned for the least amount of time?'
 User Query: 'Find the name of all students who were in the tryout sorted in alphabetic order.'
 User Query: 'How many songs have a shared vocal?'
 User Query: 'For each advisor, report the total number of students advised by him or her.'
 User Query: 'Find the name of amenities Smith Hall dorm have.'
 User Query: 'How many different types of sports do we offer?'
 User Query: 'Which flag is most widely used among all ships?'
 User Query: 'What are the names of the scientists, and how many projects are each of them working on?'
 User Query: 'Who is the advisor of Linda Smith? Give me the first name and last name.'

In [70]:
# visually inpect the prediction output
prediction_results

[{'question': 'How many heads of the departments are older than 56 ?',
  'db_name': 'department_management',
  'SQL_Code': 'SELECT COUNT(DISTINCT h.head_ID) AS num_heads_older_than_56\nFROM head h\nJOIN management m ON h.head_ID = m.head_ID\nWHERE h.age > 56;'},
 {'question': 'Show names of actors and names of musicals they are in.',
  'db_name': 'musical',
  'SQL_Code': 'SELECT a.Name AS actor_name, m.Name AS musical_name\nFROM actor a\nJOIN musical m ON a.Musical_ID = m.Musical_ID;'},
 {'question': 'How many students does each advisor have?',
  'db_name': 'college_2',
  'SQL_Code': 'SELECT i.ID AS advisor_id, i.name AS advisor_name, COUNT(a.s_ID) AS student_count\nFROM instructor i\nJOIN advisor a ON i.ID = a.i_ID\nGROUP BY i.ID, i.name\nORDER BY student_count DESC;'},
 {'question': 'What are the names and locations of all tracks?',
  'db_name': 'race_track',
  'SQL_Code': 'SELECT Name, Location FROM track;'},
 {'question': 'Return the total and minimum enrollments across all schools.',
  'db_name': 'school_finance',
  'SQL_Code': 'SELECT SUM(Enrollment) AS total_enrollment, MIN(Enrollment) AS min_enrollment FROM School;'},
 {'question': 'Return all the apartment numbers sorted by the room count in ascending order.',
  'db_name': 'apartment_rentals',
  'SQL_Code': 'SELECT apt_number FROM Apartments ORDER BY room_count ASC;'},
 {'question': 'Show the distinct venues of debates',
  'db_name': 'debate',
  'SQL_Code': 'SELECT DISTINCT LOWER(Venue) AS Venue FROM debate;'},
 {'question': 'What is the age of the tallest person?',
  'db_name': 'gymnast',
  'SQL_Code': 'SELECT Age FROM people WHERE Height = (SELECT MAX(Height) FROM people);'},
 {'question': 'What are the names and headquarters of all companies ordered by descending market value?',
  'db_name': 'company_employee',
  'SQL_Code': 'SELECT Name, Headquarters FROM company ORDER BY Market_Value_in_Billion DESC;'},
 {'question': 'What is the team with at least 2 technicians?',
  'db_name': 'machine_repair',
  'SQL_Code': 'SELECT LOWER(Team) AS Team, COUNT(*) AS technician_count\nFROM technician\nGROUP BY LOWER(Team)\nHAVING COUNT(*) >= 2;'},
 {'question': 'What are the names and years of the movies that has the top 3 highest rating star?',
  'db_name': 'imdb',
  'SQL_Code': '/* OPTION A: If the actor table has a rating column (e.g. actor.rating) and cast.msid maps to movie.mid (note: schema does not show this mapping explicitly) */\nWITH top3_actors AS (\n  SELECT aid\n  FROM actor\n  ORDER BY rating DESC\n  LIMIT 3\n)\nSELECT DISTINCT m.title, m.release_year\nFROM movie m\nJOIN cast c ON c.msid = m.mid\nJOIN top3_actors t ON t.aid = c.aid\nORDER BY m.release_year DESC, m.title;\n\n/* OPTION B: If no rating column exists, get top 3 "stars" by number of movies they appear in (popularity proxy) */\nWITH actor_counts AS (\n  SELECT a.aid, COUNT(DISTINCT c.msid) AS movie_count\n  FROM actor a\n  JOIN cast c ON c.aid = a.aid\n  GROUP BY a.aid\n), top3_actors AS (\n  SELECT aid\n  FROM actor_counts\n  ORDER BY movie_count DESC\n  LIMIT 3\n)\nSELECT DISTINCT m.title, m.release_year\nFROM movie m\nJOIN cast c ON c.msid = m.mid\nJOIN top3_actors t ON t.aid = c.aid\nORDER BY m.release_year DESC, m.title;'},
 {'question': 'How many distinct governors are there?',
  'db_name': 'election',
  'SQL_Code': "SELECT COUNT(DISTINCT LOWER(TRIM(Governor))) AS distinct_governors FROM party WHERE Governor IS NOT NULL AND TRIM(Governor) <> '';"},
 {'question': 'What is the largest payment amount?',
  'db_name': 'sakila_1',
  'SQL_Code': 'SELECT MAX(amount) AS max_amount FROM payment;'},
 {'question': 'What is the total number of professors with a Ph.D. ?',
  'db_name': 'college_1',
  'SQL_Code': "SELECT COUNT(DISTINCT EMP_NUM) AS phd_count\nFROM PROFESSOR\nWHERE PROF_HIGH_DEGREE IS NOT NULL\n  AND (\n    LOWER(PROF_HIGH_DEGREE) LIKE '%phd%'\n    OR LOWER(PROF_HIGH_DEGREE) LIKE '%ph.d.%'\n    OR LOWER(PROF_HIGH_DEGREE) LIKE '%ph.d%'\n    OR LOWER(PROF_HIGH_DEGREE) LIKE '%doctor%'\n    OR LOWER(PROF_HIGH_DEGREE) LIKE '%dphil%'\n  );"},
 {'question': 'What are the full names and hire dates for employees in the same department as someone with the first name Clara?',
  'db_name': 'hr_1',
  'SQL_Code': "SELECT CONCAT(e.first_name, ' ', e.last_name) AS full_name, e.hire_date FROM employees e WHERE e.department_id IN (SELECT department_id FROM employees WHERE LOWER(first_name) = 'clara' AND department_id IS NOT NULL) ORDER BY e.department_id, e.last_name;"},
 {'question': 'find the number of different programs that are broadcast during night time.',
  'db_name': 'program_share',
  'SQL_Code': "SELECT COUNT(DISTINCT b.Program_ID) AS num_programs\nFROM broadcast b\nJOIN program p ON b.Program_ID = p.Program_ID\nWHERE LOWER(b.Time_of_day) = 'night';"},
 {'question': 'List the name of ships in ascending order of tonnage.',
  'db_name': 'ship_mission',
  'SQL_Code': 'SELECT Name FROM ship ORDER BY Tonnage ASC;'},
 {'question': 'How many clubs are there?',
  'db_name': 'sports_competition',
  'SQL_Code': 'SELECT COUNT(*) AS club_count FROM club;'},
 {'question': 'What are the names of all the documents, as well as the access counts of each, ordered alphabetically?',
  'db_name': 'document_management',
  'SQL_Code': 'SELECT document_name, access_count FROM Documents ORDER BY document_name ASC;'},
 {'question': 'What is the id and name of the staff who has been assigned for the least amount of time?',
  'db_name': 'department_store',
  'SQL_Code': 'SELECT s.staff_id, s.staff_name\nFROM Staff s\nLEFT JOIN (\n  SELECT staff_id, SUM(COALESCE(date_assigned_to, CURRENT_DATE) - date_assigned_from) AS total_days\n  FROM Staff_Department_Assignments\n  GROUP BY staff_id\n) t ON s.staff_id = t.staff_id\nORDER BY COALESCE(t.total_days, 0) ASC\nLIMIT 1;'},
 {'question': 'Find the name of all students who were in the tryout sorted in alphabetic order.',
  'db_name': 'soccer_2',
  'SQL_Code': 'SELECT DISTINCT player.pName FROM player JOIN tryout ON player.pID = tryout.pID ORDER BY player.pName ASC;'},
 {'question': 'How many songs have a shared vocal?',
  'db_name': 'music_2',
  'SQL_Code': 'SELECT COUNT(*) AS num_songs_with_shared_vocal\nFROM (\n  SELECT v.songid\n  FROM vocals v\n  JOIN songs s ON v.songid = s.songid\n  GROUP BY v.songid\n  HAVING COUNT(*) > 1\n) AS t;'},
 {'question': 'For each advisor, report the total number of students advised by him or her.',
  'db_name': 'college_2',
  'SQL_Code': 'SELECT i.ID AS advisor_id, i.name AS advisor_name, COUNT(a.s_ID) AS total_students\nFROM instructor i\nJOIN advisor a ON i.ID = a.i_ID\nGROUP BY i.ID, i.name\nORDER BY i.ID;'},
 {'question': 'Find the name of amenities Smith Hall dorm have.',
  'db_name': 'dorm_1',
  'SQL_Code': "SELECT da.amenity_name\nFROM Dorm d\nJOIN Has_amenity ha ON d.dormid = ha.dormid\nJOIN Dorm_amenity da ON ha.amenid = da.amenid\nWHERE lower(d.dorm_name) = lower('Smith Hall');"},
 {'question': 'How many different types of sports do we offer?',
  'db_name': 'game_1',
  'SQL_Code': 'SELECT COUNT(DISTINCT LOWER(SportName)) AS num_sports FROM SportsInfo;'},
 {'question': 'Which flag is most widely used among all ships?',
  'db_name': 'ship_1',
  'SQL_Code': 'SELECT Flag, COUNT(*) AS flag_count\nFROM ship\nGROUP BY Flag\nORDER BY flag_count DESC\nLIMIT 1;'},
 {'question': 'What are the names of the scientists, and how many projects are each of them working on?',
  'db_name': 'scientist_1',
  'SQL_Code': 'SELECT s.Name AS ScientistName, COUNT(a.Project) AS ProjectCount\nFROM Scientists s\nLEFT JOIN AssignedTo a ON s.SSN = a.Scientist\nGROUP BY s.SSN, s.Name\nORDER BY s.Name;'},
 {'question': 'Who is the advisor of Linda Smith? Give me the first name and last name.',
  'db_name': 'college_2',
  'SQL_Code': "SELECT\n  split_part(i.name, ' ', 1) AS first_name,\n  split_part(i.name, ' ', array_upper(string_to_array(i.name, ' '), 1)) AS last_name\nFROM student s\nJOIN advisor a ON s.ID = a.s_ID\nJOIN instructor i ON a.i_ID = i.ID\nWHERE lower(s.name) = lower('Linda Smith');"}]

## Below I am only compare the DB name from Truth and Prediction First with accuracy score. Then I am extracting the Truth SQL code and Prediction SQL code, connect both to the databases and return the excution results.

### Compare database name first

In [ ]:
# extracting only the database name from training and prediciton for accuracy checking. 
db_ground_truth=[]
for item in every_x_th:
    db_ground_truth.append(item['db_id'])
db_prediction=[]
for item in prediction_results:
    db_prediction.append(item['db_name'])

In [40]:
# printing last 5 for each list 
print(db_ground_truth [-5:])
print(db_prediction [-5:])

['dorm_1', 'game_1', 'ship_1', 'scientist_1', 'activity_1']
['dorm_1', 'game_1', 'ship_1', 'scientist_1', 'college_2']

In [41]:
comparison_results = [gt == pred for gt, pred in zip(db_ground_truth, db_prediction)]
print(comparison_results)

[True, True, False, True, False, True, True, True, False, True, False, True, True, True, True, True, True, False, True, True, True, True, False, True, True, True, True, False]

In [42]:
# below return percentage of correct prediction, out of X number of questions/db you choose for the testing. 
sum(comparison_results) / len (comparison_results)

0.75

In [ ]:
# printing all the incorrect database prediction 
false_indices = [i for i, val in enumerate(comparison_results) if not val]
for i in false_indices:
    question = every_x_th[i]['question']
    ground_truth = db_ground_truth[i]
    prediction = db_prediction[i]
    print(f"Q: {question}\nTruth: {ground_truth} | Pred: {prediction}\n{'-'*60}")

Q: How many students does each advisor have?
Truth: allergy_1 | Pred: college_2
------------------------------------------------------------
Q: Return the total and minimum enrollments across all schools.
Truth: university_basketball | Pred: school_finance
------------------------------------------------------------
Q: What are the names and headquarters of all companies ordered by descending market value?
Truth: gas_company | Pred: company_employee
------------------------------------------------------------
Q: What are the names and years of the movies that has the top 3 highest rating star?
Truth: movie_1 | Pred: imdb
------------------------------------------------------------
Q: How many clubs are there?
Truth: club_1 | Pred: sports_competition
------------------------------------------------------------
Q: For each advisor, report the total number of students advised by him or her.
Truth: voter_2 | Pred: college_2
------------------------------------------------------------
Q: Who is the advisor of Linda Smith? Give me the first name and last name.
Truth: activity_1 | Pred: college_2
------------------------------------------------------------

### Compare SQL excution results from both Ground Truth and Prediction.

In [69]:
from Create_Schema import extract_sql_file_paths
import json
# Remember to put the data into data folder
sql_file_paths = extract_sql_file_paths(save_json=True)

In [ ]:
from SQL_Connector import SQLite_Connector
from Create_Schema import schema_extractor

# Create the connector (For mutiple queries on multiple tables)
connector = SQLite_Connector(sql_file_paths)

def connect_and_query(data_name: str, query: str):
    connector.connect(data_name)
    return connector.execute_queries([query])

In [ ]:
# Here create an empty list to store the SQL excution ground truth results
Ground_Truth_Results = []
for item in every_x_th:
    db_name_Truth = item['db_id']
    query_Truth = item['query']
    result = connect_and_query(db_name_Truth, query_Truth)
    #print(result)
    Ground_Truth_Results.append(result)

Connecting to SQLite database at: data\department_management\department_management.sqlite
Connection successful.
Connecting to SQLite database at: data\musical\musical.sqlite
Connection successful.
Connecting to SQLite database at: data\allergy_1\allergy_1.sqlite
Connection successful.
Connecting to SQLite database at: data\race_track\race_track.sqlite
Connection successful.
Connecting to SQLite database at: data\university_basketball\university_basketball.sqlite
Connection successful.
Connecting to SQLite database at: data\apartment_rentals\apartment_rentals.sqlite
Connection successful.
Connecting to SQLite database at: data\debate\debate.sqlite
Connection successful.
Connecting to SQLite database at: data\gymnast\gymnast.sqlite
Connection successful.
Connecting to SQLite database at: data\gas_company\gas_company.sqlite
Connection successful.
Connecting to SQLite database at: data\machine_repair\machine_repair.sqlite
Connection successful.
Connecting to SQLite database at: data\movie_1\movie_1.sqlite
Connection successful.
Connecting to SQLite database at: data\election\election.sqlite
Connection successful.
Connecting to SQLite database at: data\sakila_1\sakila_1.sqlite
Connection successful.
Connecting to SQLite database at: data\college_1\college_1.sqlite
Connection successful.
Connecting to SQLite database at: data\hr_1\hr_1.sqlite
Connection successful.
Connecting to SQLite database at: data\program_share\program_share.sqlite
Connection successful.
Connecting to SQLite database at: data\ship_mission\ship_mission.sqlite
Connection successful.
Connecting to SQLite database at: data\club_1\club_1.sqlite
Connection successful.
Connecting to SQLite database at: data\document_management\document_management.sqlite
Connection successful.
Connecting to SQLite database at: data\department_store\department_store.sqlite
Connection successful.
Connecting to SQLite database at: data\soccer_2\soccer_2.sqlite
Connection successful.
Connecting to SQLite database at: data\music_2\music_2.sqlite
Connection successful.
Connecting to SQLite database at: data\voter_2\voter_2.sqlite
Connection successful.
Connecting to SQLite database at: data\dorm_1\dorm_1.sqlite
Connection successful.
Connecting to SQLite database at: data\game_1\game_1.sqlite
Connection successful.
Connecting to SQLite database at: data\ship_1\ship_1.sqlite
Connection successful.
Connecting to SQLite database at: data\scientist_1\scientist_1.sqlite
Connection successful.
Connecting to SQLite database at: data\activity_1\activity_1.sqlite
Connection successful.

In [58]:
for x in Ground_Truth_Results:
    print(x)

[
    [
        {
            "count(*)": 5
        }
    ]
]
[
    [
        {
            "Name": "The Phantom of the Opera"
        },
        {
            "Name": "The Phantom of the Opera"
        },
        {
            "Name": "Les Mis\u00e9rables"
        },
        {
            "Name": "Les Mis\u00e9rables"
        },
        {
            "Name": "West Side Story"
        },
        {
            "Name": "The Book of Mormon"
        },
        {
            "Name": "The Book of Mormon"
        },
        {
            "Name": "The Book of Mormon"
        },
        {
            "Name": "The Book of Mormon"
        }
    ]
]
[
    [
        {
            "Advisor": 1121,
            "count(*)": 3
        },
        {
            "Advisor": 1148,
            "count(*)": 3
        },
        {
            "Advisor": 2192,
            "count(*)": 4
        },
        {
            "Advisor": 2311,
            "count(*)": 3
        },
        {
            "Advisor": 5718,
            "count(*)": 2
        },
        {
            "Advisor": 7134,
            "count(*)": 2
        },
        {
            "Advisor": 7271,
            "count(*)": 2
        },
        {
            "Advisor": 7712,
            "count(*)": 1
        },
        {
            "Advisor": 7723,
            "count(*)": 1
        },
        {
            "Advisor": 7792,
            "count(*)": 1
        },
        {
            "Advisor": 8423,
            "count(*)": 1
        },
        {
            "Advisor": 8721,
            "count(*)": 1
        },
        {
            "Advisor": 8722,
            "count(*)": 3
        },
        {
            "Advisor": 8723,
            "count(*)": 1
        },
        {
            "Advisor": 8741,
            "count(*)": 1
        },
        {
            "Advisor": 8772,
            "count(*)": 3
        },
        {
            "Advisor": 8918,
            "count(*)": 1
        },
        {
            "Advisor": 9172,
            "count(*)": 1
        }
    ]
]
[
    [
        {
            "Name": "Auto Club Speedway",
            "Location": "Fontana, CA"
        },
        {
            "Name": "Chicagoland Speedway",
            "Location": "Joliet, IL"
        },
        {
            "Name": "Darlington Raceway",
            "Location": "Darlington, SC"
        },
        {
            "Name": "Daytona International Speedway",
            "Location": "Daytona Beach, FL"
        },
        {
            "Name": "Homestead-Miami Speedway",
            "Location": "Homestead, FL"
        },
        {
            "Name": "Kansas Speedway",
            "Location": "Kansas City, KS"
        },
        {
            "Name": "Martinsville Speedway",
            "Location": "Ridgeway, VA"
        },
        {
            "Name": "Michigan International Speedway",
            "Location": "Brooklyn, MI"
        },
        {
            "Name": "Phoenix International Raceway",
            "Location": "Avondale, AZ"
        }
    ]
]
[
    [
        {
            "sum(enrollment)": 121127.0,
            "min(enrollment)": 2100.0
        }
    ]
]
[
    [
        {
            "apt_number": "Apt. 794"
        },
        {
            "apt_number": "Apt. 477"
        },
        {
            "apt_number": "Apt. 585"
        },
        {
            "apt_number": "Suite 088"
        },
        {
            "apt_number": "Apt. 859"
        },
        {
            "apt_number": "Suite 645"
        },
        {
            "apt_number": "Apt. 908"
        },
        {
            "apt_number": "Suite 749"
        },
        {
            "apt_number": "Apt. 940"
        },
        {
            "apt_number": "Apt. 837"
        },
        {
            "apt_number": "Suite 634"
        },
        {
            "apt_number": "Suite 307"
        },
        {
            "apt_number": "Apt. 187"
        },
        {
            "apt_number": "Suite 693"
        },
        {
            "apt_number": "Apt. 411"
        }
    ]
]
[
    [
        {
            "Venue": "Manama , Bahrain"
        },
        {
            "Venue": "Doha , Qatar"
        },
        {
            "Venue": "Dubai , UAE"
        },
        {
            "Venue": "Abu Dhabi , UAE"
        }
    ]
]
[
    [
        {
            "Age": 23.0
        }
    ]
]
[
    [
        {
            "Company": "ExxonMobil",
            "Headquarters": "USA"
        },
        {
            "Company": "PetroChina",
            "Headquarters": "China"
        },
        {
            "Company": "Industrial and Commercial Bank of China",
            "Headquarters": "China"
        },
        {
            "Company": "Royal Dutch Shell",
            "Headquarters": "Netherlands"
        },
        {
            "Company": "General Electric",
            "Headquarters": "USA"
        },
        {
            "Company": "Berkshire Hathaway",
            "Headquarters": "USA"
        },
        {
            "Company": "Petrobras",
            "Headquarters": "Brazil"
        },
        {
            "Company": "Wells Fargo",
            "Headquarters": "USA"
        },
        {
            "Company": "HSBC",
            "Headquarters": "UK"
        },
        {
            "Company": "BP",
            "Headquarters": "UK"
        }
    ]
]
[
    [
        {
            "Team": "CLE"
        },
        {
            "Team": "CWS"
        },
        {
            "Team": "NYY"
        }
    ]
]
[
    [
        {
            "title": "Snow White",
            "year": 1937
        },
        {
            "title": "Avatar",
            "year": 2009
        },
        {
            "title": "Gone with the Wind",
            "year": 1939
        }
    ]
]
[
    [
        {
            "count(DISTINCT Governor)": 5
        }
    ]
]
[
    [
        {
            "amount": 11.99
        }
    ]
]
[
    [
        {
            "count(*)": 18
        }
    ]
]
[
    [
        {
            "FIRST_NAME": "John",
            "LAST_NAME": "Russell",
            "HIRE_DATE": "1987-08-01"
        },
        {
            "FIRST_NAME": "Karen",
            "LAST_NAME": "Partners",
            "HIRE_DATE": "1987-08-02"
        },
        {
            "FIRST_NAME": "Alberto",
            "LAST_NAME": "Errazuriz",
            "HIRE_DATE": "1987-08-03"
        },
        {
            "FIRST_NAME": "Gerald",
            "LAST_NAME": "Cambrault",
            "HIRE_DATE": "1987-08-04"
        },
        {
            "FIRST_NAME": "Eleni",
            "LAST_NAME": "Zlotkey",
            "HIRE_DATE": "1987-08-05"
        },
        {
            "FIRST_NAME": "Peter",
            "LAST_NAME": "Tucker",
            "HIRE_DATE": "1987-08-06"
        },
        {
            "FIRST_NAME": "David",
            "LAST_NAME": "Bernstein",
            "HIRE_DATE": "1987-08-07"
        },
        {
            "FIRST_NAME": "Peter",
            "LAST_NAME": "Hall",
            "HIRE_DATE": "1987-08-08"
        },
        {
            "FIRST_NAME": "Christopher",
            "LAST_NAME": "Olsen",
            "HIRE_DATE": "1987-08-09"
        },
        {
            "FIRST_NAME": "Nanette",
            "LAST_NAME": "Cambrault",
            "HIRE_DATE": "1987-08-10"
        },
        {
            "FIRST_NAME": "Oliver",
            "LAST_NAME": "Tuvault",
            "HIRE_DATE": "1987-08-11"
        },
        {
            "FIRST_NAME": "Janette",
            "LAST_NAME": "King",
            "HIRE_DATE": "1987-08-12"
        },
        {
            "FIRST_NAME": "Patrick",
            "LAST_NAME": "Sully",
            "HIRE_DATE": "1987-08-13"
        },
        {
            "FIRST_NAME": "Allan",
            "LAST_NAME": "McEwen",
            "HIRE_DATE": "1987-08-14"
        },
        {
            "FIRST_NAME": "Lindsey",
            "LAST_NAME": "Smith",
            "HIRE_DATE": "1987-08-15"
        },
        {
            "FIRST_NAME": "Louise",
            "LAST_NAME": "Doran",
            "HIRE_DATE": "1987-08-16"
        },
        {
            "FIRST_NAME": "Sarath",
            "LAST_NAME": "Sewall",
            "HIRE_DATE": "1987-08-17"
        },
        {
            "FIRST_NAME": "Clara",
            "LAST_NAME": "Vishney",
            "HIRE_DATE": "1987-08-18"
        },
        {
            "FIRST_NAME": "Danielle",
            "LAST_NAME": "Greene",
            "HIRE_DATE": "1987-08-19"
        },
        {
            "FIRST_NAME": "Mattea",
            "LAST_NAME": "Marvins",
            "HIRE_DATE": "1987-08-20"
        },
        {
            "FIRST_NAME": "David",
            "LAST_NAME": "Lee",
            "HIRE_DATE": "1987-08-21"
        },
        {
            "FIRST_NAME": "Sundar",
            "LAST_NAME": "Ande",
            "HIRE_DATE": "1987-08-22"
        },
        {
            "FIRST_NAME": "Amit",
            "LAST_NAME": "Banda",
            "HIRE_DATE": "1987-08-23"
        },
        {
            "FIRST_NAME": "Lisa",
            "LAST_NAME": "Ozer",
            "HIRE_DATE": "1987-08-24"
        },
        {
            "FIRST_NAME": "Harrison",
            "LAST_NAME": "Bloom",
            "HIRE_DATE": "1987-08-25"
        },
        {
            "FIRST_NAME": "Tayler",
            "LAST_NAME": "Fox",
            "HIRE_DATE": "1987-08-26"
        },
        {
            "FIRST_NAME": "William",
            "LAST_NAME": "Smith",
            "HIRE_DATE": "1987-08-27"
        },
        {
            "FIRST_NAME": "Elizabeth",
            "LAST_NAME": "Bates",
            "HIRE_DATE": "1987-08-28"
        },
        {
            "FIRST_NAME": "Sundita",
            "LAST_NAME": "Kumar",
            "HIRE_DATE": "1987-08-29"
        },
        {
            "FIRST_NAME": "Ellen",
            "LAST_NAME": "Abel",
            "HIRE_DATE": "1987-08-30"
        },
        {
            "FIRST_NAME": "Alyssa",
            "LAST_NAME": "Hutton",
            "HIRE_DATE": "1987-08-31"
        },
        {
            "FIRST_NAME": "Jonathon",
            "LAST_NAME": "Taylor",
            "HIRE_DATE": "1987-09-01"
        },
        {
            "FIRST_NAME": "Jack",
            "LAST_NAME": "Livingston",
            "HIRE_DATE": "1987-09-02"
        },
        {
            "FIRST_NAME": "Charles",
            "LAST_NAME": "Johnson",
            "HIRE_DATE": "1987-09-04"
        }
    ]
]
[
    [
        {
            "count(DISTINCT program_id)": 3
        }
    ]
]
[
    [
        {
            "Name": "Ariadne"
        },
        {
            "Name": "Farringford"
        },
        {
            "Name": "Author"
        },
        {
            "Name": "Trader"
        },
        {
            "Name": "Dromonby"
        },
        {
            "Name": "Corbridge"
        },
        {
            "Name": "Clan McTavish"
        },
        {
            "Name": "Appam"
        }
    ]
]
[
    [
        {
            "count(*)": 4
        }
    ]
]
[
    [
        {
            "document_name": "David CV",
            "access_count": 6345
        },
        {
            "document_name": "Fall Sails",
            "access_count": 7509
        },
        {
            "document_name": "How to cook pasta",
            "access_count": 2045
        },
        {
            "document_name": "Humanity: a fact",
            "access_count": 3479
        },
        {
            "document_name": "Joe CV",
            "access_count": 2294
        },
        {
            "document_name": "John CV",
            "access_count": 5924
        },
        {
            "document_name": "Learning Database",
            "access_count": 3769
        },
        {
            "document_name": "Learning English",
            "access_count": 1864
        },
        {
            "document_name": "Learning Japanese",
            "access_count": 2910
        },
        {
            "document_name": "Life about Claude Monet",
            "access_count": 1219
        },
        {
            "document_name": "Relationships between History and Arts",
            "access_count": 9948
        },
        {
            "document_name": "Research about Art history",
            "access_count": 8208
        },
        {
            "document_name": "Spring Sails",
            "access_count": 3289
        },
        {
            "document_name": "Summer Sails",
            "access_count": 6661
        },
        {
            "document_name": "Winter Sails",
            "access_count": 8623
        }
    ]
]
[
    [
        {
            "staff_id": 1,
            "staff_name": "Tom"
        }
    ]
]
[
    [
        {
            "pName": "Andrew"
        },
        {
            "pName": "Andrew"
        },
        {
            "pName": "Blake"
        },
        {
            "pName": "Charles"
        },
        {
            "pName": "David"
        },
        {
            "pName": "Eddie"
        }
    ]
]
[
    [
        {
            "count(DISTINCT title)": 0
        }
    ]
]
[
    [
        {
            "Advisor": 1121,
            "count(*)": 3
        },
        {
            "Advisor": 1148,
            "count(*)": 3
        },
        {
            "Advisor": 2192,
            "count(*)": 4
        },
        {
            "Advisor": 2311,
            "count(*)": 3
        },
        {
            "Advisor": 5718,
            "count(*)": 2
        },
        {
            "Advisor": 7134,
            "count(*)": 2
        },
        {
            "Advisor": 7271,
            "count(*)": 2
        },
        {
            "Advisor": 7712,
            "count(*)": 1
        },
        {
            "Advisor": 7723,
            "count(*)": 1
        },
        {
            "Advisor": 7792,
            "count(*)": 1
        },
        {
            "Advisor": 8423,
            "count(*)": 1
        },
        {
            "Advisor": 8721,
            "count(*)": 1
        },
        {
            "Advisor": 8722,
            "count(*)": 3
        },
        {
            "Advisor": 8723,
            "count(*)": 1
        },
        {
            "Advisor": 8741,
            "count(*)": 1
        },
        {
            "Advisor": 8772,
            "count(*)": 3
        },
        {
            "Advisor": 8918,
            "count(*)": 1
        },
        {
            "Advisor": 9172,
            "count(*)": 1
        }
    ]
]
[
    [
        {
            "amenity_name": "Study Room"
        },
        {
            "amenity_name": "Carpeted Rooms"
        },
        {
            "amenity_name": "4 Walls"
        },
        {
            "amenity_name": "Heat"
        },
        {
            "amenity_name": "Roof"
        }
    ]
]
[
    [
        {
            "count(DISTINCT sportname)": 10
        }
    ]
]
[
    [
        {
            "Flag": "Panama"
        }
    ]
]
[
    [
        {
            "count(*)": 1,
            "Name": "Anand Manikutty"
        },
        {
            "count(*)": 1,
            "Name": "Carol Smith"
        },
        {
            "count(*)": 1,
            "Name": "David Smith"
        },
        {
            "count(*)": 1,
            "Name": "Elizabeth Doe"
        },
        {
            "count(*)": 1,
            "Name": "Eric Goldsmith"
        },
        {
            "count(*)": 1,
            "Name": "George ODonnell"
        },
        {
            "count(*)": 1,
            "Name": "Joe Stevens"
        },
        {
            "count(*)": 1,
            "Name": "John Doe"
        },
        {
            "count(*)": 1,
            "Name": "Kumar Swamy"
        },
        {
            "count(*)": 1,
            "Name": "Mary-Anne Foster"
        },
        {
            "count(*)": 1,
            "Name": "Michael Rogers"
        },
        {
            "count(*)": 1,
            "Name": "Zacary Efron"
        }
    ]
]
[
    [
        {
            "Fname": "Michael",
            "Lname": "Goodrich"
        }
    ]
]

In [ ]:
# Here create an empty list to store the predicted SQL excution  results
Prediction_Results = []

for item in prediction_results:
    db_name_Predict = item['db_name']
    query_Predict = item['SQL_Code']
    result = connect_and_query(db_name_Predict, query_Predict)
    #print(result)
    Prediction_Results.append(result)

Connecting to SQLite database at: data\department_management\department_management.sqlite
Connection successful.
Connecting to SQLite database at: data\musical\musical.sqlite
Connection successful.
Connecting to SQLite database at: data\college_2\college_2.sqlite
Connection successful.
Connecting to SQLite database at: data\race_track\race_track.sqlite
Connection successful.
Connecting to SQLite database at: data\school_finance\school_finance.sqlite
Connection successful.
Connecting to SQLite database at: data\apartment_rentals\apartment_rentals.sqlite
Connection successful.
Connecting to SQLite database at: data\debate\debate.sqlite
Connection successful.
Connecting to SQLite database at: data\gymnast\gymnast.sqlite
Connection successful.
Connecting to SQLite database at: data\company_employee\company_employee.sqlite
Connection successful.
Connecting to SQLite database at: data\machine_repair\machine_repair.sqlite
Connection successful.
Connecting to SQLite database at: data\imdb\imdb.sqlite
Connection successful.
Query execution failed: no such table: rating
Connecting to SQLite database at: data\election\election.sqlite
Connection successful.
Connecting to SQLite database at: data\sakila_1\sakila_1.sqlite
Connection successful.
Connecting to SQLite database at: data\college_1\college_1.sqlite
Connection successful.
Connecting to SQLite database at: data\hr_1\hr_1.sqlite
Connection successful.
Connecting to SQLite database at: data\program_share\program_share.sqlite
Connection successful.
Connecting to SQLite database at: data\ship_mission\ship_mission.sqlite
Connection successful.
Connecting to SQLite database at: data\sports_competition\sports_competition.sqlite
Connection successful.
Connecting to SQLite database at: data\document_management\document_management.sqlite
Connection successful.
Connecting to SQLite database at: data\department_store\department_store.sqlite
Connection successful.
Query execution failed: near "'0'": syntax error
Connecting to SQLite database at: data\soccer_2\soccer_2.sqlite
Connection successful.
Connecting to SQLite database at: data\music_2\music_2.sqlite
Connection successful.
Connecting to SQLite database at: data\college_2\college_2.sqlite
Connection successful.
Connecting to SQLite database at: data\dorm_1\dorm_1.sqlite
Connection successful.
Connecting to SQLite database at: data\game_1\game_1.sqlite
Connection successful.
Connecting to SQLite database at: data\ship_1\ship_1.sqlite
Connection successful.
Connecting to SQLite database at: data\scientist_1\scientist_1.sqlite
Connection successful.
Connecting to SQLite database at: data\college_2\college_2.sqlite
Connection successful.

In [60]:
for x in Prediction_Results:
    print(x)

[
    [
        {
            "num_heads_over_56": 3
        }
    ]
]
[
    [
        {
            "ActorName": "Ray Meagher",
            "MusicalName": "The Phantom of the Opera"
        },
        {
            "ActorName": "Tom Oliver",
            "MusicalName": "The Phantom of the Opera"
        },
        {
            "ActorName": "Lynne McGranger",
            "MusicalName": "Les Mis\u00e9rables"
        },
        {
            "ActorName": "Kate Ritchie",
            "MusicalName": "Les Mis\u00e9rables"
        },
        {
            "ActorName": "Alan Fletcher",
            "MusicalName": "West Side Story"
        },
        {
            "ActorName": "Jackie Woodburne",
            "MusicalName": "The Book of Mormon"
        },
        {
            "ActorName": "Ryan Moloney",
            "MusicalName": "The Book of Mormon"
        },
        {
            "ActorName": "Ian Smith",
            "MusicalName": "The Book of Mormon"
        },
        {
            "ActorName": "Stefan Dennis",
            "MusicalName": "The Book of Mormon"
        }
    ]
]
[
    [
        {
            "advisor_id": "14365",
            "advisor_name": "Lembr",
            "student_count": 39
        },
        {
            "advisor_id": "15347",
            "advisor_name": "Bawa",
            "student_count": 38
        },
        {
            "advisor_id": "16807",
            "advisor_name": "Yazdi",
            "student_count": 48
        },
        {
            "advisor_id": "19368",
            "advisor_name": "Wieland",
            "student_count": 33
        },
        {
            "advisor_id": "22591",
            "advisor_name": "DAgostino",
            "student_count": 40
        },
        {
            "advisor_id": "25946",
            "advisor_name": "Liley",
            "student_count": 38
        },
        {
            "advisor_id": "28097",
            "advisor_name": "Kean",
            "student_count": 37
        },
        {
            "advisor_id": "28400",
            "advisor_name": "Atanassov",
            "student_count": 44
        },
        {
            "advisor_id": "31955",
            "advisor_name": "Moreira",
            "student_count": 35
        },
        {
            "advisor_id": "3199",
            "advisor_name": "Gustafsson",
            "student_count": 38
        },
        {
            "advisor_id": "3335",
            "advisor_name": "Bourrier",
            "student_count": 32
        },
        {
            "advisor_id": "34175",
            "advisor_name": "Bondi",
            "student_count": 33
        },
        {
            "advisor_id": "35579",
            "advisor_name": "Soisalon-Soininen",
            "student_count": 54
        },
        {
            "advisor_id": "36897",
            "advisor_name": "Morris",
            "student_count": 42
        },
        {
            "advisor_id": "37687",
            "advisor_name": "Arias",
            "student_count": 50
        },
        {
            "advisor_id": "4034",
            "advisor_name": "Murata",
            "student_count": 45
        },
        {
            "advisor_id": "41930",
            "advisor_name": "Tung",
            "student_count": 41
        },
        {
            "advisor_id": "4233",
            "advisor_name": "Luo",
            "student_count": 44
        },
        {
            "advisor_id": "42782",
            "advisor_name": "Vicentino",
            "student_count": 41
        },
        {
            "advisor_id": "43779",
            "advisor_name": "Romero",
            "student_count": 34
        },
        {
            "advisor_id": "48507",
            "advisor_name": "Lent",
            "student_count": 36
        },
        {
            "advisor_id": "48570",
            "advisor_name": "Sarkar",
            "student_count": 49
        },
        {
            "advisor_id": "50330",
            "advisor_name": "Shuming",
            "student_count": 39
        },
        {
            "advisor_id": "50885",
            "advisor_name": "Konstantinides",
            "student_count": 28
        },
        {
            "advisor_id": "52647",
            "advisor_name": "Bancilhon",
            "student_count": 48
        },
        {
            "advisor_id": "57180",
            "advisor_name": "Hau",
            "student_count": 45
        },
        {
            "advisor_id": "58558",
            "advisor_name": "Dusserre",
            "student_count": 40
        },
        {
            "advisor_id": "59795",
            "advisor_name": "Desyl",
            "student_count": 31
        },
        {
            "advisor_id": "63287",
            "advisor_name": "Jaekel",
            "student_count": 41
        },
        {
            "advisor_id": "63395",
            "advisor_name": "McKinnon",
            "student_count": 31
        },
        {
            "advisor_id": "64871",
            "advisor_name": "Gutierrez",
            "student_count": 36
        },
        {
            "advisor_id": "6569",
            "advisor_name": "Mingoz",
            "student_count": 46
        },
        {
            "advisor_id": "65931",
            "advisor_name": "Pimenta",
            "student_count": 38
        },
        {
            "advisor_id": "72553",
            "advisor_name": "Yin",
            "student_count": 48
        },
        {
            "advisor_id": "73623",
            "advisor_name": "Sullivan",
            "student_count": 46
        },
        {
            "advisor_id": "74420",
            "advisor_name": "Voronina",
            "student_count": 31
        },
        {
            "advisor_id": "74426",
            "advisor_name": "Kenje",
            "student_count": 39
        },
        {
            "advisor_id": "77346",
            "advisor_name": "Mahmoud",
            "student_count": 54
        },
        {
            "advisor_id": "78699",
            "advisor_name": "Pingr",
            "student_count": 33
        },
        {
            "advisor_id": "79081",
            "advisor_name": "Ullman ",
            "student_count": 40
        },
        {
            "advisor_id": "79653",
            "advisor_name": "Levine",
            "student_count": 46
        },
        {
            "advisor_id": "80759",
            "advisor_name": "Queiroz",
            "student_count": 43
        },
        {
            "advisor_id": "81991",
            "advisor_name": "Valtchev",
            "student_count": 40
        },
        {
            "advisor_id": "90376",
            "advisor_name": "Bietzk",
            "student_count": 39
        },
        {
            "advisor_id": "90643",
            "advisor_name": "Choll",
            "student_count": 24
        },
        {
            "advisor_id": "95030",
            "advisor_name": "Arinb",
            "student_count": 41
        },
        {
            "advisor_id": "95709",
            "advisor_name": "Sakurai",
            "student_count": 41
        },
        {
            "advisor_id": "96895",
            "advisor_name": "Mird",
            "student_count": 38
        },
        {
            "advisor_id": "97302",
            "advisor_name": "Bertolino",
            "student_count": 50
        },
        {
            "advisor_id": "99052",
            "advisor_name": "Dale",
            "student_count": 33
        }
    ]
]
[
    [
        {
            "Name": "Auto Club Speedway",
            "Location": "Fontana, CA"
        },
        {
            "Name": "Chicagoland Speedway",
            "Location": "Joliet, IL"
        },
        {
            "Name": "Darlington Raceway",
            "Location": "Darlington, SC"
        },
        {
            "Name": "Daytona International Speedway",
            "Location": "Daytona Beach, FL"
        },
        {
            "Name": "Homestead-Miami Speedway",
            "Location": "Homestead, FL"
        },
        {
            "Name": "Kansas Speedway",
            "Location": "Kansas City, KS"
        },
        {
            "Name": "Martinsville Speedway",
            "Location": "Ridgeway, VA"
        },
        {
            "Name": "Michigan International Speedway",
            "Location": "Brooklyn, MI"
        },
        {
            "Name": "Phoenix International Raceway",
            "Location": "Avondale, AZ"
        }
    ]
]
[
    [
        {
            "total_enrollment": 4155,
            "min_enrollment": 287
        }
    ]
]
[
    [
        {
            "apt_number": "Apt. 794"
        },
        {
            "apt_number": "Apt. 477"
        },
        {
            "apt_number": "Apt. 585"
        },
        {
            "apt_number": "Suite 088"
        },
        {
            "apt_number": "Apt. 859"
        },
        {
            "apt_number": "Suite 645"
        },
        {
            "apt_number": "Apt. 908"
        },
        {
            "apt_number": "Suite 749"
        },
        {
            "apt_number": "Apt. 940"
        },
        {
            "apt_number": "Apt. 837"
        },
        {
            "apt_number": "Suite 634"
        },
        {
            "apt_number": "Suite 307"
        },
        {
            "apt_number": "Apt. 187"
        },
        {
            "apt_number": "Suite 693"
        },
        {
            "apt_number": "Apt. 411"
        }
    ]
]
[
    [
        {
            "Venue": "Manama , Bahrain"
        },
        {
            "Venue": "Doha , Qatar"
        },
        {
            "Venue": "Dubai , UAE"
        },
        {
            "Venue": "Abu Dhabi , UAE"
        }
    ]
]
[
    [
        {
            "Age": 23.0
        }
    ]
]
[
    [
        {
            "Name": "ExxonMobil",
            "Headquarters": "USA"
        },
        {
            "Name": "PetroChina",
            "Headquarters": "China"
        },
        {
            "Name": "Industrial and Commercial Bank of China",
            "Headquarters": "China"
        },
        {
            "Name": "Royal Dutch Shell",
            "Headquarters": "Netherlands"
        },
        {
            "Name": "Chevron",
            "Headquarters": "USA"
        },
        {
            "Name": "General Electric",
            "Headquarters": "USA"
        },
        {
            "Name": "Walmart",
            "Headquarters": "USA"
        },
        {
            "Name": "Berkshire Hathaway",
            "Headquarters": "USA"
        },
        {
            "Name": "China Construction Bank",
            "Headquarters": "China"
        },
        {
            "Name": "Petrobras",
            "Headquarters": "Brazil"
        },
        {
            "Name": "Wells Fargo",
            "Headquarters": "USA"
        },
        {
            "Name": "JPMorgan Chase",
            "Headquarters": "USA"
        },
        {
            "Name": "HSBC",
            "Headquarters": "UK"
        },
        {
            "Name": "Gazprom",
            "Headquarters": "Russia"
        },
        {
            "Name": "Agricultural Bank of China",
            "Headquarters": "China"
        },
        {
            "Name": "BP",
            "Headquarters": "UK"
        },
        {
            "Name": "Total",
            "Headquarters": "France"
        },
        {
            "Name": "Citigroup",
            "Headquarters": "USA"
        },
        {
            "Name": "Volkswagen Group",
            "Headquarters": "Germany"
        }
    ]
]
[
    [
        {
            "team": "cle",
            "technician_count": 4
        },
        {
            "team": "cws",
            "technician_count": 2
        },
        {
            "team": "nyy",
            "technician_count": 2
        }
    ]
]
{
    "error": "no such table: rating"
}
[
    [
        {
            "distinct_governors": 5
        }
    ]
]
[
    [
        {
            "largest_payment": 11.99
        }
    ]
]
[
    [
        {
            "total_phd_professors": 0
        }
    ]
]
[
    [
        {
            "full_name": "John Russell",
            "HIRE_DATE": "1987-08-01"
        },
        {
            "full_name": "Karen Partners",
            "HIRE_DATE": "1987-08-02"
        },
        {
            "full_name": "Alberto Errazuriz",
            "HIRE_DATE": "1987-08-03"
        },
        {
            "full_name": "Gerald Cambrault",
            "HIRE_DATE": "1987-08-04"
        },
        {
            "full_name": "Eleni Zlotkey",
            "HIRE_DATE": "1987-08-05"
        },
        {
            "full_name": "Peter Tucker",
            "HIRE_DATE": "1987-08-06"
        },
        {
            "full_name": "David Bernstein",
            "HIRE_DATE": "1987-08-07"
        },
        {
            "full_name": "Peter Hall",
            "HIRE_DATE": "1987-08-08"
        },
        {
            "full_name": "Christopher Olsen",
            "HIRE_DATE": "1987-08-09"
        },
        {
            "full_name": "Nanette Cambrault",
            "HIRE_DATE": "1987-08-10"
        },
        {
            "full_name": "Oliver Tuvault",
            "HIRE_DATE": "1987-08-11"
        },
        {
            "full_name": "Janette King",
            "HIRE_DATE": "1987-08-12"
        },
        {
            "full_name": "Patrick Sully",
            "HIRE_DATE": "1987-08-13"
        },
        {
            "full_name": "Allan McEwen",
            "HIRE_DATE": "1987-08-14"
        },
        {
            "full_name": "Lindsey Smith",
            "HIRE_DATE": "1987-08-15"
        },
        {
            "full_name": "Louise Doran",
            "HIRE_DATE": "1987-08-16"
        },
        {
            "full_name": "Sarath Sewall",
            "HIRE_DATE": "1987-08-17"
        },
        {
            "full_name": "Clara Vishney",
            "HIRE_DATE": "1987-08-18"
        },
        {
            "full_name": "Danielle Greene",
            "HIRE_DATE": "1987-08-19"
        },
        {
            "full_name": "Mattea Marvins",
            "HIRE_DATE": "1987-08-20"
        },
        {
            "full_name": "David Lee",
            "HIRE_DATE": "1987-08-21"
        },
        {
            "full_name": "Sundar Ande",
            "HIRE_DATE": "1987-08-22"
        },
        {
            "full_name": "Amit Banda",
            "HIRE_DATE": "1987-08-23"
        },
        {
            "full_name": "Lisa Ozer",
            "HIRE_DATE": "1987-08-24"
        },
        {
            "full_name": "Harrison Bloom",
            "HIRE_DATE": "1987-08-25"
        },
        {
            "full_name": "Tayler Fox",
            "HIRE_DATE": "1987-08-26"
        },
        {
            "full_name": "William Smith",
            "HIRE_DATE": "1987-08-27"
        },
        {
            "full_name": "Elizabeth Bates",
            "HIRE_DATE": "1987-08-28"
        },
        {
            "full_name": "Sundita Kumar",
            "HIRE_DATE": "1987-08-29"
        },
        {
            "full_name": "Ellen Abel",
            "HIRE_DATE": "1987-08-30"
        },
        {
            "full_name": "Alyssa Hutton",
            "HIRE_DATE": "1987-08-31"
        },
        {
            "full_name": "Jonathon Taylor",
            "HIRE_DATE": "1987-09-01"
        },
        {
            "full_name": "Jack Livingston",
            "HIRE_DATE": "1987-09-02"
        },
        {
            "full_name": "Charles Johnson",
            "HIRE_DATE": "1987-09-04"
        }
    ]
]
[
    [
        {
            "num_night_programs": 3
        }
    ]
]
[
    [
        {
            "Name": "Ariadne"
        },
        {
            "Name": "Farringford"
        },
        {
            "Name": "Author"
        },
        {
            "Name": "Trader"
        },
        {
            "Name": "Dromonby"
        },
        {
            "Name": "Corbridge"
        },
        {
            "Name": "Clan McTavish"
        },
        {
            "Name": "Appam"
        }
    ]
]
[
    [
        {
            "num_clubs": 6
        }
    ]
]
[
    [
        {
            "document_name": "David CV",
            "access_count": 6345
        },
        {
            "document_name": "Fall Sails",
            "access_count": 7509
        },
        {
            "document_name": "How to cook pasta",
            "access_count": 2045
        },
        {
            "document_name": "Humanity: a fact",
            "access_count": 3479
        },
        {
            "document_name": "Joe CV",
            "access_count": 2294
        },
        {
            "document_name": "John CV",
            "access_count": 5924
        },
        {
            "document_name": "Learning Database",
            "access_count": 3769
        },
        {
            "document_name": "Learning English",
            "access_count": 1864
        },
        {
            "document_name": "Learning Japanese",
            "access_count": 2910
        },
        {
            "document_name": "Life about Claude Monet",
            "access_count": 1219
        },
        {
            "document_name": "Relationships between History and Arts",
            "access_count": 9948
        },
        {
            "document_name": "Research about Art history",
            "access_count": 8208
        },
        {
            "document_name": "Spring Sails",
            "access_count": 3289
        },
        {
            "document_name": "Summer Sails",
            "access_count": 6661
        },
        {
            "document_name": "Winter Sails",
            "access_count": 8623
        }
    ]
]
{
    "error": "near \"'0'\": syntax error"
}
[
    [
        {
            "pName": "Andrew"
        },
        {
            "pName": "Blake"
        },
        {
            "pName": "Charles"
        },
        {
            "pName": "David"
        },
        {
            "pName": "Eddie"
        }
    ]
]
[
    [
        {
            "shared_vocal_song_count": 0
        }
    ]
]
[
    [
        {
            "advisor_id": "14365",
            "advisor_name": "Lembr",
            "student_count": 39
        },
        {
            "advisor_id": "15347",
            "advisor_name": "Bawa",
            "student_count": 38
        },
        {
            "advisor_id": "16807",
            "advisor_name": "Yazdi",
            "student_count": 48
        },
        {
            "advisor_id": "19368",
            "advisor_name": "Wieland",
            "student_count": 33
        },
        {
            "advisor_id": "22591",
            "advisor_name": "DAgostino",
            "student_count": 40
        },
        {
            "advisor_id": "25946",
            "advisor_name": "Liley",
            "student_count": 38
        },
        {
            "advisor_id": "28097",
            "advisor_name": "Kean",
            "student_count": 37
        },
        {
            "advisor_id": "28400",
            "advisor_name": "Atanassov",
            "student_count": 44
        },
        {
            "advisor_id": "31955",
            "advisor_name": "Moreira",
            "student_count": 35
        },
        {
            "advisor_id": "3199",
            "advisor_name": "Gustafsson",
            "student_count": 38
        },
        {
            "advisor_id": "3335",
            "advisor_name": "Bourrier",
            "student_count": 32
        },
        {
            "advisor_id": "34175",
            "advisor_name": "Bondi",
            "student_count": 33
        },
        {
            "advisor_id": "35579",
            "advisor_name": "Soisalon-Soininen",
            "student_count": 54
        },
        {
            "advisor_id": "36897",
            "advisor_name": "Morris",
            "student_count": 42
        },
        {
            "advisor_id": "37687",
            "advisor_name": "Arias",
            "student_count": 50
        },
        {
            "advisor_id": "4034",
            "advisor_name": "Murata",

In [63]:
data_name = "musical"
query = "SELECT T1.Name ,  T2.Name FROM actor AS T1 JOIN musical AS T2 ON T1.Musical_ID  =  T2.Musical_ID"
#query = "SELECT a.Name AS ActorName, m.Name AS MusicalName FROM actor a JOIN musical m ON a.Musical_ID = m.Musical_ID"
results = connect_and_query(data_name, query)
print("Query results:", results)

Connecting to SQLite database at: data\musical\musical.sqlite
Connection successful.
Query results: [
    [
        {
            "Name": "The Phantom of the Opera"
        },
        {
            "Name": "The Phantom of the Opera"
        },
        {
            "Name": "Les Mis\u00e9rables"
        },
        {
            "Name": "Les Mis\u00e9rables"
        },
        {
            "Name": "West Side Story"
        },
        {
            "Name": "The Book of Mormon"
        },
        {
            "Name": "The Book of Mormon"
        },
        {
            "Name": "The Book of Mormon"
        },
        {
            "Name": "The Book of Mormon"
        }
    ]
]