# Explainable NL Query Database Agents

### Team 9

In [2]:
# Import necessary libraries
import sqlite3
import json
import pandas as pd
import os
import textwrap
from langchain_openai import OpenAIEmbeddings, ChatOpenAI
from langchain_community.vectorstores import FAISS
from langchain.prompts import PromptTemplate
from langchain.chains import LLMChain
from openai import OpenAI

In [4]:
#set up environment with OpenAI API Key
os.environ["OPENAI_API_KEY"] = "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"
client = OpenAI()

In [6]:
#loading JSON (schema file) from my local drive
tables_json_path = r"C:\Users\Sachith\OneDrive - UWA\SEM4\CITS5553-Group_Project\project\spider_data\tables.json"
if os.path.exists(tables_json_path):
    with open(tables_json_path, 'r', encoding='utf-8') as f:
        tables_data = json.load(f)
    print(f"Number of tables/schemas: {len(tables_data)}")
    
    # Show column name
    if tables_data:
        first_entry = tables_data[5] 
        print(f"Keys: {list(first_entry.keys()) if isinstance(first_entry, dict) else 'Not a dictionary'}")
else:
    print("error.")

Number of tables/schemas: 166
Keys: ['column_names', 'column_names_original', 'column_types', 'db_id', 'foreign_keys', 'primary_keys', 'table_names', 'table_names_original']

In [8]:
# Here I've extract only the db_id, table_names, and column_names from tables.json
def extract_essential_schema(tables_data):
    essential_data = []
    for entry in tables_data:
        simplified_entry = {
            'database_name': entry.get('db_id', 'undefined'),
            'table_names': entry.get('table_names', []),
            'column_names': entry.get('column_names', [])
        }
        essential_data.append(simplified_entry)
    return essential_data

# Apply the extraction if tables_data is loaded
if 'tables_data' in locals():
    essential_schemas = extract_essential_schema(tables_data)
    print(f" Extracted data for {len(essential_schemas)} database schemas")
    
    # Show example of the simplified structure
    if essential_schemas:
        print(f"\n Example of simplified entry:")
        example = essential_schemas[0]
        print(f"  database_name: {example['database_name']}")
        print(f"  table_names: {example['table_names']}")
        print(f"  column_names (first 3): {example['column_names'][:3]}...")
        print(f"  Total columns: {len(example['column_names'])}")
    
else:
    print("tables_data not found.")

 Extracted data for 166 database schemas

 Example of simplified entry:
  database_name: perpetrator
  table_names: ['perpetrator', 'people']
  column_names (first 3): [[-1, '*'], [0, 'perpetrator id'], [0, 'people id']]...
  Total columns: 14

In [10]:
#Examples of schemas
essential_schemas[0]

{'database_name': 'perpetrator',
 'table_names': ['perpetrator', 'people'],
 'column_names': [[-1, '*'],
  [0, 'perpetrator id'],
  [0, 'people id'],
  [0, 'date'],
  [0, 'year'],
  [0, 'location'],
  [0, 'country'],
  [0, 'killed'],
  [0, 'injured'],
  [1, 'people id'],
  [1, 'name'],
  [1, 'height'],
  [1, 'weight'],
  [1, 'home town']]}

In [12]:
#below is iterating each database getting db name , table name and column names, then print in a easy to read format.
#This block is not being used for any agents, only for visually inspection of the schema file. 

for db in essential_schemas:  # Iterate through each database
    db_name = db["database_name"]
    table_names = db["table_names"]
    column_names = db["column_names"]
    
    print(f"Database: {db_name}")
    
    # Create a dictionary for this database's tables and columns
    essential_schemas_reshape = {}
    for idx, table_name in enumerate(table_names):
        # Collect all columns belonging to this table
        # column_names format: [(table_index, column_name), ...]
        cols = [col_name for table_idx, col_name in column_names if table_idx == idx]
        essential_schemas_reshape[table_name] = cols

    # Pretty print for this database
    for table, cols in essential_schemas_reshape.items():
        print(f"  Table: {table}")
        print(f"    Columns: {', '.join(cols)}")
    print("="*50)

Database: perpetrator
  Table: perpetrator
    Columns: perpetrator id, people id, date, year, location, country, killed, injured
  Table: people
    Columns: people id, name, height, weight, home town
==================================================
Database: college_2
  Table: classroom
    Columns: building, room number, capacity
  Table: department
    Columns: department name, building, budget
  Table: course
    Columns: course id, title, department name, credits
  Table: instructor
    Columns: id, name, department name, salary
  Table: section
    Columns: course id, section id, semester, year, building, room number, time slot id
  Table: teaches
    Columns: id, course id, section id, semester, year
  Table: student
    Columns: id, name, department name, total credits
  Table: takes classes
    Columns: id, course id, section id, semester, year, grade
  Table: advisor
    Columns: student id, instructor id
  Table: time slot
    Columns: time slot id, day, start hour, start minute, end hour, end minute
  Table: prerequisite
    Columns: course id, prerequisite id
==================================================
Database: flight_company
  Table: airport
    Columns: id, city, country, iata, icao, name
  Table: operate company
    Columns: id, name, type, principal activities, incorporated in, group equity shareholding
  Table: flight
    Columns: id, vehicle flight number, date, pilot, velocity, altitude, airport id, company id
==================================================
Database: icfp_1
  Table: institution
    Columns: institution id, name, country
  Table: authors
    Columns: author id, last name, first name
  Table: papers
    Columns: paper id, title
  Table: authorship count
    Columns: author id, institution id, paper id, author count
==================================================
Database: body_builder
  Table: body builder
    Columns: body builder id, people id, snatch, clean jerk, total
  Table: people
    Columns: people id, name, height, weight, birth date, birth place
==================================================
Database: storm_record
  Table: storm
    Columns: storm id, name, dates active, max speed, damage millions usd, number deaths
  Table: region
    Columns: region id, region code, region name
  Table: affected region
    Columns: region id, storm id, number city affected
==================================================
Database: pilot_record
  Table: aircraft
    Columns: aircraft id, order year, manufacturer, model, fleet series, powertrain, fuel propulsion
  Table: pilot
    Columns: pilot id, pilot name, rank, age, nationality, position, join year, team
  Table: pilot record
    Columns: record id, pilot id, aircraft id, date
==================================================
Database: race_track
  Table: race
    Columns: race id, name, class, date, track id
  Table: track
    Columns: track id, name, location, seating, year opened
==================================================
Database: academic
  Table: author
    Columns: aid, homepage, name, oid
  Table: conference
    Columns: cid, homepage, name
  Table: domain
    Columns: did, name
  Table: domain author
    Columns: aid, did
  Table: domain conference
    Columns: cid, did
  Table: journal
    Columns: homepage, jid, name
  Table: domain journal
    Columns: did, jid
  Table: keyword
    Columns: keyword, kid
  Table: domain keyword
    Columns: did, kid
  Table: publication
    Columns: abstract, cid, citation num, jid, pid, reference num, title, year
  Table: domain publication
    Columns: did, pid
  Table: organization
    Columns: continent, homepage, name, oid
  Table: publication keyword
    Columns: pid, kid
  Table: writes
    Columns: aid, pid
  Table: cite
    Columns: cited, citing
==================================================
Database: department_store
  Table: addresses
    Columns: address id, address details
  Table: staff
    Columns: staff id, staff gender, staff name
  Table: suppliers
    Columns: supplier id, supplier name, supplier phone
  Table: department store chain
    Columns: department store chain id, department store chain name
  Table: customers
    Columns: customer id, payment method code, customer code, customer name, customer address, customer phone, customer email
  Table: products
    Columns: product id, product type code, product name, product price
  Table: supplier addresses
    Columns: supplier id, address id, date from, date to
  Table: customer addresses
    Columns: customer id, address id, date from, date to
  Table: customer orders
    Columns: order id, customer id, order status code, order date
  Table: department stores
    Columns: department store id, department store chain id, store name, store address, store phone, store email
  Table: departments
    Columns: department id, department store id, department name
  Table: order items
    Columns: order item id, order id, product id
  Table: product suppliers
    Columns: product id, supplier id, date supplied from, date supplied to, total amount purchased, total value purchased
  Table: staff department assignments
    Columns: staff id, department id, date assigned from, job title code, date assigned to
==================================================
Database: music_4
  Table: artist
    Columns: artist id, artist, age, famous title, famous release date
  Table: volume
    Columns: volume id, volume issue, issue date, weeks on top, song, artist id
  Table: music festival
    Columns: id, music festival, date of ceremony, category, volume, result
==================================================
Database: insurance_fnol
  Table: customers
    Columns: customer id, customer name
  Table: services
    Columns: service id, service name
  Table: available policies
    Columns: policy id, policy type code, customer phone
  Table: customers policies
    Columns: customer id, policy id, date opened, date closed
  Table: first notification of loss
    Columns: fnol id, customer id, policy id, service id
  Table: claims
    Columns: claim id, fnol id, effective date
  Table: settlements
    Columns: settlement id, claim id, effective date, settlement amount
==================================================
Database: cinema
  Table: film
    Columns: film id, rank in series, number in season, title, directed by, original air date, production code
  Table: cinema
    Columns: cinema id, name, openning year, capacity, location
  Table: schedule
    Columns: cinema id, film id, date, show times per day, price
==================================================
Database: decoration_competition
  Table: college
    Columns: college id, name, leader name, college location
  Table: member
    Columns: member id, name, country, college id
  Table: round
    Columns: round id, member id, decoration theme, rank in round
==================================================
Database: phone_market
  Table: phone
    Columns: name, phone id, memory in g, carrier, price
  Table: market
    Columns: market id, district, num of employees, num of shops, ranking
  Table: phone market
    Columns: market id, phone id, num of stock
==================================================
Database: store_product
  Table: product
    Columns: product id, product, dimensions, dpi, pages per minute color, max page size, interface
  Table: store
    Columns: store id, store name, type, area size, number of product category, ranking
  Table: district
    Columns: district id, district name, headquartered city, city population, city area
  Table: store product
    Columns: store id, product id
  Table: store district
    Columns: store id, district id
==================================================
Database: assets_maintenance
  Table: third party companies
    Columns: company id, company type, company name, company address, other company details
  Table: maintenance contracts
    Columns: maintenance contract id, maintenance contract company id, contract start date, contract end date, other contract details
  Table: parts
    Columns: part id, part name, chargeable yn, chargeable amount, other part details
  Table: skills
    Columns: skill id, skill code, skill description
  Table: staff
    Columns: staff id, staff name, gender, other staff details
  Table: assets
    Columns: asset id, maintenance contract id, supplier company id, asset details, asset make, asset model, asset acquired date, asset disposed date, other asset details
  Table: asset parts
    Columns: asset id, part id
  Table: maintenance engineers
    Columns: engineer id, company id, first name, last name, other details
  Table: engineer skills
    Columns: engineer id, skill id
  Table: fault log
    Columns: fault log entry id, asset id, recorded by staff id, fault log entry datetime, fault description, other fault details
  Table: engineer visits
    Columns: engineer visit id, contact staff id, engineer id, fault log entry id, fault status, visit start datetime, visit end datetime, other visit details
  Table: part faults
    Columns: part fault id, part id, fault short name, fault description, other fault details
  Table: fault log parts
    Columns: fault log entry id, part fault id, fault status
  Table: skills required to fix
    Columns: part fault id, skill id
==================================================
Database: student_assessment
  Table: addresses
    Columns: address id, line 1, line 2, city, zip postcode, state province county, country
  Table: people
    Columns: person id, first name, middle name, last name, cell mobile number, email address, login name, password
  Table: students
    Columns: student id, student details
  Table: courses
    Columns: course id, course name, course description, other details
  Table: people addresses
    Columns: person address id, person id, address id, date from, date to
  Table: student course registrations
    Columns: student id, course id, registration date
  Table: student course attendance
    Columns: student id, course id, date of attendance
  Table: candidates
    Columns: candidate id, candidate details
  Table: candidate assessments
    Columns: candidate id, qualification, assessment date, asessment outcome code
==================================================
Database: dog_kennels
  Table: breeds
    Columns: breed code, breed name
  Table: charges
    Columns: charge id, charge type, charge amount
  Table: sizes
    Columns: size code, size description
  Table: treatment types
    Columns: treatment type code, treatment type description
  Table: owners
    Columns: owner id, first name, last name, street, city, state, zip code, email address, home phone, cell number
  Table: dogs
    Columns: dog id, owner id, abandoned yes or no, breed code, size code, name, age, date of birth, gender, weight, date arrived, date adopted, date departed
  Table: professionals
    Columns: professional id, role code, first name, street, city, state, zip code, last name, email address, home phone, cell number
  Table: treatments
    Columns: treatment id, dog id, professional id, treatment type code, date of treatment, cost of treatment
==================================================
Database: music_1
  Table: genre
    Columns: genre name, rating, most popular in
  Table: artist
    Columns: artist name, country, gender, preferred genre
  Table: files
    Columns: song id, artist name, file size, duration, formats
  Table: song
    Columns: song name, artist name, country, song id, genre is, rating, languages, releasedate, resolution
==================================================
Database: company_employee
  Table: people
    Columns: people id, age, name, nationality, graduation college
  Table: company
    Columns: company id, name, headquarters, industry, sales in billion, profits in billion, assets in billion, market value in billion
  Table: employment
    Columns: company id, people id, year working
==================================================
Database: farm
  Table: city
    Columns: city id, official name, status, area km 2, population, census ranking
  Table: farm
    Columns: farm id, year, total horses, working horses, total cattle, oxen, bulls, cows, pigs, sheep and goats
  Table: farm competition
    Columns: competition id, year, theme, host city id, hosts
  Table: competition record
    Columns: competition id, farm id, rank
==================================================
Database: solvency_ii
  Table: addresses
    Columns: address id, address details
  Table: locations
    Columns: location id, other details
  Table: products
    Columns: product id, product type code, product name, product price
  Table: parties
    Columns: party id, party details
  Table: assets
    Columns: asset id, other details
  Table: channels
    Columns: channel id, other details
  Table: finances
    Columns: finance id, other details
  Table: events
    Columns: event id, address id, channel id, event type code, finance id, location id
  Table: products in events
    Columns: product in event id, event id, product id
  Table: parties in events
    Columns: party id, event id, role code
  Table: agreements
    Columns: document id, event id
  Table: assets in events
    Columns: asset id, event id
==================================================
Database: city_record
  Table: city
    Columns: city id, city, hanzi, hanyu pinyin, regional population, gdp
  Table: match
    Columns: match id, date, venue, score, result, competition
  Table: temperature
    Columns: city id, jan, feb, mar, apr, jun, jul, aug, sep, oct, nov, dec
  Table: hosting city
    Columns: year, match id, host city
==================================================
Database: swimming
  Table: swimmer
    Columns: id, name, nationality, meter 100, meter 200, meter 300, meter 400, meter 500, meter 600, meter 700, time
  Table: stadium
    Columns: id, name, capacity, city, country, opening year
  Table: event
    Columns: id, name, stadium id, year
  Table: record
    Columns: id, result, swimmer id, event id
==================================================
Database: flight_2
  Table: airlines
    Columns: airline id, airline name, abbreviation, country
  Table: airports
    Columns: city, airport code, airport name, country, country abbrev
  Table: flights
    Columns: airline, flight number, source airport, destination airport
==================================================
Database: election
  Table: county
    Columns: county id, county name, population, zip code
  Table: party
    Columns: party id, year, party, governor, lieutenant governor, comptroller, attorney general, us senate
  Table: election
    Columns: election id, counties represented, district, delegate, party, first elected, committee
==================================================
Database: manufactory_1
  Table: manufacturers
    Columns: code, name, headquarter, founder, revenue
  Table: products
    Columns: code, name, price, manufacturer
==================================================
Database: debate
  Table: people
    Columns: people id, district, name, party, age
  Table: debate
    Columns: debate id, date, venue, num of audience
  Table: debate people
    Columns: debate id, affirmative, negative, if affirmative win
==================================================
Database: network_2
  Table: person
    Columns: name, age, city, gender, job
  Table: person friend
    Columns: name, friend, year
==================================================
Database: local_govt_in_alabama
  Table: services
    Columns: service id, service type code
  Table: participants
    Columns: participant id, participant type code, participant details
  Table: events
    Columns: event id, service id, event details
  Table: participants in events
    Columns: event id, participant id
==================================================
Database: climbing
  Table: mountain
    Columns: mountain id, name, height, prominence, range, country
  Table: climber
    Columns: climber id, name, country, time, points, mountain id
==================================================
Database: e_learning
  Table: course authors and tutors
    Columns: author id, author tutor atb, login name, password, personal name, middle name, family name, gender mf, address line 1
  Table: students
    Columns: student id, date of registration, date of latest logon, login name, password, personal name, middle name, family name
  Table: subjects
    Columns: subject id, subject name
  Table: courses
    Columns: course id, author id, subject id, course name, course description
  Table: student course enrolment
    Columns: registration id, student id, course id, date of enrolment, date of completion
  Table: student tests taken
    Columns: registration id, date test taken, test result
==================================================
Database: scientist_1
  Table: scientists
    Columns: ssn, name
  Table: projects
    Columns: code, name, hours
  Table: assigned to
    Columns: scientist, project
==================================================
Database: ship_1
  Table: captain
    Columns: captain id, name, ship id, age, class, rank
  Table: ship
    Columns: ship id, name, type, built year, class, flag
==================================================
Database: entertainment_awards
  Table: festival detail
    Columns: festival id, festival name, chair name, location, year, num of audience
  Table: artwork
    Columns: artwork id, type, name
  Table: nomination
    Columns: artwork id, festival id, result
==================================================
Database: allergy_1
  Table: allergy type
    Columns: allergy name, allergy type
  Table: has allergy
    Columns: stuid, allergy
  Table: student
    Columns: stuid, last name, first name, age, sex, major, advisor, city code
==================================================
Database: imdb
  Table: actor
    Columns: aid, gender, name, nationality, birth city, birth year
  Table: copyright
    Columns: id, msid, cid
  Table: cast
    Columns: id, msid, aid, role
  Table: genre
    Columns: gid, genre
  Table: classification
    Columns: id, msid, gid
  Table: company
    Columns: id, name, country code
  Table: director
    Columns: did, gender, name, nationality, birth city, birth year
  Table: producer
    Columns: pid, gender, name, nationality, birth city, birth year
  Table: directed by
    Columns: id, msid, did
  Table: keyword
    Columns: id, keyword
  Table: made by
    Columns: id, msid, pid
  Table: movie
    Columns: mid, title, release year, title aka, budget
  Table: tags
    Columns: id, msid, kid
  Table: tv series
    Columns: sid, title, release year, num of seasons, num of episodes, title aka, budget
  Table: writer
    Columns: wid, gender, name, nationality, num of episodes, birth city, birth year
  Table: written by
    Columns: id, msid, wid
==================================================
Database: products_for_hire
  Table: discount coupons
    Columns: coupon id, date issued, coupon amount
  Table: customers
    Columns: customer id, coupon id, good or bad customer, first name, last name, gender, date became customer, date last hire
  Table: bookings
    Columns: booking id, customer id, booking status code, returned damaged yes or no, booking start date, booking end date, count hired, amount payable, amount of discount, amount outstanding, amount of refund
  Table: products for hire
    Columns: product id, product type code, daily hire cost, product name, product description
  Table: payments
    Columns: payment id, booking id, customer id, payment type code, amount paid in full yn, payment date, amount due, amount paid
  Table: products booked
    Columns: booking id, product id, returned yes or no, returned late yes or no, booked count, booked amount
  Table: view product availability
    Columns: product id, booking id, status date, available yes or no

### Below part is to redefining and reshaping essential_schemas to better suit for LLM

In [14]:
essential_schemas_reshape = {}
for db in essential_schemas: 
    db_name = db.get("database_name", "unknown")
    table_columns = []
    for idx, table_name in enumerate(db["table_names"]):
        cols = [col for t_idx, col in db["column_names"] if t_idx == idx]
        table_columns.append([table_name, cols])
    essential_schemas_reshape[db_name] = table_columns

essential_schemas_reshape

{'perpetrator': [['perpetrator',
   ['perpetrator id',
    'people id',
    'date',
    'year',
    'location',
    'country',
    'killed',
    'injured']],
  ['people', ['people id', 'name', 'height', 'weight', 'home town']]],
 'college_2': [['classroom', ['building', 'room number', 'capacity']],
  ['department', ['department name', 'building', 'budget']],
  ['course', ['course id', 'title', 'department name', 'credits']],
  ['instructor', ['id', 'name', 'department name', 'salary']],
  ['section',
   ['course id',
    'section id',
    'semester',
    'year',
    'building',
    'room number',
    'time slot id']],
  ['teaches', ['id', 'course id', 'section id', 'semester', 'year']],
  ['student', ['id', 'name', 'department name', 'total credits']],
  ['takes classes',
   ['id', 'course id', 'section id', 'semester', 'year', 'grade']],
  ['advisor', ['student id', 'instructor id']],
  ['time slot',
   ['time slot id',
    'day',
    'start hour',
    'start minute',
    'end hour',
    'end minute']],
  ['prerequisite', ['course id', 'prerequisite id']]],
 'flight_company': [['airport',
   ['id', 'city', 'country', 'iata', 'icao', 'name']],
  ['operate company',
   ['id',
    'name',
    'type',
    'principal activities',
    'incorporated in',
    'group equity shareholding']],
  ['flight',
   ['id',
    'vehicle flight number',
    'date',
    'pilot',
    'velocity',
    'altitude',
    'airport id',
    'company id']]],
 'icfp_1': [['institution', ['institution id', 'name', 'country']],
  ['authors', ['author id', 'last name', 'first name']],
  ['papers', ['paper id', 'title']],
  ['authorship count',
   ['author id', 'institution id', 'paper id', 'author count']]],
 'body_builder': [['body builder',
   ['body builder id', 'people id', 'snatch', 'clean jerk', 'total']],
  ['people',
   ['people id', 'name', 'height', 'weight', 'birth date', 'birth place']]],
 'storm_record': [['storm',
   ['storm id',
    'name',
    'dates active',
    'max speed',
    'damage millions usd',
    'number deaths']],
  ['region', ['region id', 'region code', 'region name']],
  ['affected region', ['region id', 'storm id', 'number city affected']]],
 'pilot_record': [['aircraft',
   ['aircraft id',
    'order year',
    'manufacturer',
    'model',
    'fleet series',
    'powertrain',
    'fuel propulsion']],
  ['pilot',
   ['pilot id',
    'pilot name',
    'rank',
    'age',
    'nationality',
    'position',
    'join year',
    'team']],
  ['pilot record', ['record id', 'pilot id', 'aircraft id', 'date']]],
 'race_track': [['race', ['race id', 'name', 'class', 'date', 'track id']],
  ['track', ['track id', 'name', 'location', 'seating', 'year opened']]],
 'academic': [['author', ['aid', 'homepage', 'name', 'oid']],
  ['conference', ['cid', 'homepage', 'name']],
  ['domain', ['did', 'name']],
  ['domain author', ['aid', 'did']],
  ['domain conference', ['cid', 'did']],
  ['journal', ['homepage', 'jid', 'name']],
  ['domain journal', ['did', 'jid']],
  ['keyword', ['keyword', 'kid']],
  ['domain keyword', ['did', 'kid']],
  ['publication',
   ['abstract',
    'cid',
    'citation num',
    'jid',
    'pid',
    'reference num',
    'title',
    'year']],
  ['domain publication', ['did', 'pid']],
  ['organization', ['continent', 'homepage', 'name', 'oid']],
  ['publication keyword', ['pid', 'kid']],
  ['writes', ['aid', 'pid']],
  ['cite', ['cited', 'citing']]],
 'department_store': [['addresses', ['address id', 'address details']],
  ['staff', ['staff id', 'staff gender', 'staff name']],
  ['suppliers', ['supplier id', 'supplier name', 'supplier phone']],
  ['department store chain',
   ['department store chain id', 'department store chain name']],
  ['customers',
   ['customer id',
    'payment method code',
    'customer code',
    'customer name',
    'customer address',
    'customer phone',
    'customer email']],
  ['products',
   ['product id', 'product type code', 'product name', 'product price']],
  ['supplier addresses',
   ['supplier id', 'address id', 'date from', 'date to']],
  ['customer addresses',
   ['customer id', 'address id', 'date from', 'date to']],
  ['customer orders',
   ['order id', 'customer id', 'order status code', 'order date']],
  ['department stores',
   ['department store id',
    'department store chain id',
    'store name',
    'store address',
    'store phone',
    'store email']],
  ['departments', ['department id', 'department store id', 'department name']],
  ['order items', ['order item id', 'order id', 'product id']],
  ['product suppliers',
   ['product id',
    'supplier id',
    'date supplied from',
    'date supplied to',
    'total amount purchased',
    'total value purchased']],
  ['staff department assignments',
   ['staff id',
    'department id',
    'date assigned from',
    'job title code',
    'date assigned to']]],
 'music_4': [['artist',
   ['artist id', 'artist', 'age', 'famous title', 'famous release date']],
  ['volume',
   ['volume id',
    'volume issue',
    'issue date',
    'weeks on top',
    'song',
    'artist id']],
  ['music festival',
   ['id',
    'music festival',
    'date of ceremony',
    'category',
    'volume',
    'result']]],
 'insurance_fnol': [['customers', ['customer id', 'customer name']],
  ['services', ['service id', 'service name']],
  ['available policies', ['policy id', 'policy type code', 'customer phone']],
  ['customers policies',
   ['customer id', 'policy id', 'date opened', 'date closed']],
  ['first notification of loss',
   ['fnol id', 'customer id', 'policy id', 'service id']],
  ['claims', ['claim id', 'fnol id', 'effective date']],
  ['settlements',
   ['settlement id', 'claim id', 'effective date', 'settlement amount']]],
 'cinema': [['film',
   ['film id',
    'rank in series',
    'number in season',
    'title',
    'directed by',
    'original air date',
    'production code']],
  ['cinema', ['cinema id', 'name', 'openning year', 'capacity', 'location']],
  ['schedule',
   ['cinema id', 'film id', 'date', 'show times per day', 'price']]],
 'decoration_competition': [['college',
   ['college id', 'name', 'leader name', 'college location']],
  ['member', ['member id', 'name', 'country', 'college id']],
  ['round', ['round id', 'member id', 'decoration theme', 'rank in round']]],
 'phone_market': [['phone',
   ['name', 'phone id', 'memory in g', 'carrier', 'price']],
  ['market',
   ['market id', 'district', 'num of employees', 'num of shops', 'ranking']],
  ['phone market', ['market id', 'phone id', 'num of stock']]],
 'store_product': [['product',
   ['product id',
    'product',
    'dimensions',
    'dpi',
    'pages per minute color',
    'max page size',
    'interface']],
  ['store',
   ['store id',
    'store name',
    'type',
    'area size',
    'number of product category',
    'ranking']],
  ['district',
   ['district id',
    'district name',
    'headquartered city',
    'city population',
    'city area']],
  ['store product', ['store id', 'product id']],
  ['store district', ['store id', 'district id']]],
 'assets_maintenance': [['third party companies',
   ['company id',
    'company type',
    'company name',
    'company address',
    'other company details']],
  ['maintenance contracts',
   ['maintenance contract id',
    'maintenance contract company id',
    'contract start date',
    'contract end date',
    'other contract details']],
  ['parts',
   ['part id',
    'part name',
    'chargeable yn',
    'chargeable amount',
    'other part details']],
  ['skills', ['skill id', 'skill code', 'skill description']],
  ['staff', ['staff id', 'staff name', 'gender', 'other staff details']],
  ['assets',
   ['asset id',
    'maintenance contract id',
    'supplier company id',
    'asset details',
    'asset make',
    'asset model',
    'asset acquired date',
    'asset disposed date',
    'other asset details']],
  ['asset parts', ['asset id', 'part id']],
  ['maintenance engineers',
   ['engineer id', 'company id', 'first name', 'last name', 'other details']],
  ['engineer skills', ['engineer id', 'skill id']],
  ['fault log',
   ['fault log entry id',
    'asset id',
    'recorded by staff id',
    'fault log entry datetime',
    'fault description',
    'other fault details']],
  ['engineer visits',
   ['engineer visit id',
    'contact staff id',
    'engineer id',
    'fault log entry id',
    'fault status',
    'visit start datetime',
    'visit end datetime',
    'other visit details']],
  ['part faults',
   ['part fault id',
    'part id',
    'fault short name',
    'fault description',
    'other fault details']],
  ['fault log parts', ['fault log entry id', 'part fault id', 'fault status']],
  ['skills required to fix', ['part fault id', 'skill id']]],
 'student_assessment': [['addresses',
   ['address id',
    'line 1',
    'line 2',
    'city',
    'zip postcode',
    'state province county',
    'country']],
  ['people',
   ['person id',
    'first name',
    'middle name',
    'last name',
    'cell mobile number',
    'email address',
    'login name',
    'password']],
  ['students', ['student id', 'student details']],
  ['courses',
   ['course id', 'course name', 'course description', 'other details']],
  ['people addresses',
   ['person address id', 'person id', 'address id', 'date from', 'date to']],
  ['student course registrations',
   ['student id', 'course id', 'registration date']],
  ['student course attendance',
   ['student id', 'course id', 'date of attendance']],
  ['candidates', ['candidate id', 'candidate details']],
  ['candidate assessments',
   ['candidate id',
    'qualification',
    'assessment date',
    'asessment outcome code']]],
 'dog_kennels': [['breeds', ['breed code', 'breed name']],
  ['charges', ['charge id', 'charge type', 'charge amount']],
  ['sizes', ['size code', 'size description']],
  ['treatment types', ['treatment type code', 'treatment type description']],
  ['owners',
   ['owner id',
    'first name',
    'last name',
    'street',
    'city',
    'state',
    'zip code',
    'email address',
    'home phone',
    'cell number']],
  ['dogs',
   ['dog id',
    'owner id',
    'abandoned yes or no',
    'breed code',
    'size code',
    'name',
    'age',
    'date of birth',
    'gender',
    'weight',
    'date arrived',
    'date adopted',
    'date departed']],
  ['professionals',
   ['professional id',
    'role code',
    'first name',
    'street',
    'city',
    'state',
    'zip code',
    'last name',
    'email address',
    'home phone',
    'cell number']],
  ['treatments',
   ['treatment id',
    'dog id',
    'professional id',
    'treatment type code',
    'date of treatment',
    'cost of treatment']]],
 'music_1': [['genre', ['genre name', 'rating', 'most popular in']],
  ['artist', ['artist name', 'country', 'gender', 'preferred genre']],
  ['files', ['song id', 'artist name', 'file size', 'duration', 'formats']],
  ['song',
   ['song name',
    'artist name',
    'country',
    'song id',
    'genre is',
    'rating',
    'languages',
    'releasedate',
    'resolution']]],
 'company_employee': [['people',
   ['people id', 'age', 'name', 'nationality', 'graduation college']],
  ['company',
   ['company id',
    'name',
    'headquarters',
    'industry',
    'sales in billion',
    'profits in billion',
    'assets in billion',
    'market value in billion']],
  ['employment', ['company id', 'people id', 'year working']]],
 'farm': [['city',
   ['city id',
    'official name',
    'status',
    'area km 2',
    'population',
    'census ranking']],
  ['farm',
   ['farm id',
    'year',
    'total horses',
    'working horses',
    'total cattle',
    'oxen',
    'bulls',
    'cows',
    'pigs',
    'sheep and goats']],
  ['farm competition',
   ['competition id', 'year', 'theme', 'host city id', 'hosts']],
  ['competition record', ['competition id', 'farm id', 'rank']]],
 'solvency_ii': [['addresses', ['address id', 'address details']],
  ['locations', ['location id', 'other details']],
  ['products',
   ['product id', 'product type code', 'product name', 'product price']],
  ['parties', ['party id', 'party details']],
  ['assets', ['asset id', 'other details']],
  ['channels', ['channel id', 'other details']],
  ['finances', ['finance id', 'other details']],
  ['events',
   ['event id',
    'address id',
    'channel id',
    'event type code',
    'finance id',
    'location id']],
  ['products in events', ['product in event id', 'event id', 'product id']],
  ['parties in events', ['party id', 'event id', 'role code']],
  ['agreements', ['document id', 'event id']],
  ['assets in events', ['asset id', 'event id']]],
 'city_record': [['city',
   ['city id', 'city', 'hanzi', 'hanyu pinyin', 'regional population', 'gdp']],
  ['match', ['match id', 'date', 'venue', 'score', 'result', 'competition']],
  ['temperature',
   ['city id',
    'jan',
    'feb',
    'mar',
    'apr',
    'jun',
    'jul',
    'aug',
    'sep',
    'oct',
    'nov',
    'dec']],
  ['hosting city', ['year', 'match id', 'host city']]],
 'swimming': [['swimmer',
   ['id',
    'name',
    'nationality',
    'meter 100',
    'meter 200',
    'meter 300',
    'meter 400',
    'meter 500',
    'meter 600',
    'meter 700',
    'time']],
  ['stadium', ['id', 'name', 'capacity', 'city', 'country', 'opening year']],
  ['event', ['id', 'name', 'stadium id', 'year']],
  ['record', ['id', 'result', 'swimmer id', 'event id']]],
 'flight_2': [['airlines',
   ['airline id', 'airline name', 'abbreviation', 'country']],
  ['airports',
   ['city', 'airport code', 'airport name', 'country', 'country abbrev']],
  ['flights',
   ['airline', 'flight number', 'source airport', 'destination airport']]],
 'election': [['county',
   ['county id', 'county name', 'population', 'zip code']],
  ['party',
   ['party id',
    'year',
    'party',
    'governor',
    'lieutenant governor',
    'comptroller',
    'attorney general',
    'us senate']],
  ['election',
   ['election id',
    'counties represented',
    'district',
    'delegate',
    'party',
    'first elected',
    'committee']]],
 'manufactory_1': [['manufacturers',
   ['code', 'name', 'headquarter', 'founder', 'revenue']],
  ['products', ['code', 'name', 'price', 'manufacturer']]],
 'debate': [['people', ['people id', 'district', 'name', 'party', 'age']],
  ['debate', ['debate id', 'date', 'venue', 'num of audience']],
  ['debate people',
   ['debate id', 'affirmative', 'negative', 'if affirmative win']]],
 'network_2': [['person', ['name', 'age', 'city', 'gender', 'job']],
  ['person friend', ['name', 'friend', 'year']]],
 'local_govt_in_alabama': [['services', ['service id', 'service type code']],
  ['participants',
   ['participant id', 'participant type code', 'participant details']],
  ['events', ['event id', 'service id', 'event details']],
  ['participants in events', ['event id', 'participant id']]],
 'climbing': [['mountain',
   ['mountain id', 'name', 'height', 'prominence', 'range', 'country']],
  ['climber',
   ['climber id', 'name', 'country', 'time', 'points', 'mountain id']]],
 'e_learning': [['course authors and tutors',
   ['author id',
    'author tutor atb',
    'login name',
    'password',
    'personal name',
    'middle name',
    'family name',
    'gender mf',
    'address line 1']],
  ['students',
   ['student id',
    'date of registration',
    'date of latest logon',
    'login name',
    'password',
    'personal name',
    'middle name',
    'family name']],
  ['subjects', ['subject id', 'subject name']],
  ['courses',
   ['course id',
    'author id',
    'subject id',
    'course name',
    'course description']],
  ['student course enrolment',
   ['registration id',
    'student id',
    'course id',
    'date of enrolment',
    'date of completion']],
  ['student tests taken',
   ['registration id', 'date test taken', 'test result']]],
 'scientist_1': [['scientists', ['ssn', 'name']],
  ['projects', ['code', 'name', 'hours']],
  ['assigned to', ['scientist', 'project']]],
 'ship_1': [['captain',
   ['captain id', 'name', 'ship id', 'age', 'class', 'rank']],
  ['ship', ['ship id', 'name', 'type', 'built year', 'class', 'flag']]],
 'entertainment_awards': [['festival detail',
   ['festival id',
    'festival name',
    'chair name',
    'location',
    'year',
    'num of audience']],
  ['artwork', ['artwork id', 'type', 'name']],
  ['nomination', ['artwork id', 'festival id', 'result']]],
 'allergy_1': [['allergy type', ['allergy name', 'allergy type']],
  ['has allergy', ['stuid', 'allergy']],
  ['student',
   ['stuid',
    'last name',
    'first name',
    'age',
    'sex',
    'major',
    'advisor',
    'city code']]],
 'imdb': [['actor',
   ['aid', 'gender', 'name', 'nationality', 'birth city', 'birth year']],
  ['copyright', ['id', 'msid', 'cid']],
  ['cast', ['id', 'msid', 'aid', 'role']],
  ['genre', ['gid', 'genre']],
  ['classification', ['id', 'msid', 'gid']],
  ['company', ['id', 'name', 'country code']],
  ['director',
   ['did', 'gender', 'name', 'nationality', 'birth city', 'birth year']],
  ['producer',
   ['pid', 'gender', 'name', 'nationality', 'birth city', 'birth year']],
  ['directed by', ['id', 'msid', 'did']],
  ['keyword', ['id', 'keyword']],
  ['made by', ['id', 'msid', 'pid']],
  ['movie', ['mid', 'title', 'release year', 'title aka', 'budget']],
  ['tags', ['id', 'msid', 'kid']],
  ['tv series',
   ['sid',
    'title',
    'release year',
    'num of seasons',
    'num of episodes',
    'title aka',
    'budget']],
  ['writer',
   ['wid',
    'gender',
    'name',
    'nationality',
    'num of episodes',
    'birth city',
    'birth year']],
  ['written by', ['id', 'msid', 'wid']]],
 'products_for_hire': [['discount coupons',
   ['coupon id', 'date issued', 'coupon amount']],
  ['customers',
   ['customer id',
    'coupon id',
    'good or bad customer',
    'first name',
    'last name',
    'gender',
    'date became customer',
    'date last hire']],
  ['bookings',
   ['booking id',
    'customer id',
    'booking status code',
    'returned damaged yes or no',
    'booking start date',
    'booking end date',
    'count hired',
    'amount payable',
    'amount of discount',
    'amount outstanding',
    'amount of refund']],
  ['products for hire',
   ['product id',
    'product type code',
    'daily hire cost',
    'product name',
    'product description']],
  ['payments',
   ['payment id',
    'booking id',
    'customer id',
    'payment type code',
    'amount paid in full yn',
    'payment date',
    'amount due',
    'amount paid']],
  ['products booked',
   ['booking id',
    'product id',
    'returned yes or no',
    'returned late yes or no',
    'booked count',
    'booked amount']],
  ['view product availability',
   ['product id', 'booking id', 'status date', 'available yes or no']]],
 'candidate_poll': [['candidate',
   ['candidate id',
    'people id',
    'poll source',
    'date',
    'support rate',
    'consider rate',
    'oppose rate',
    'unsure rate']],
  ['people',
   ['people id', 'sex', 'name', 'date of birth', 'height', 'weight']]],
 'chinook_1': [['album', ['album id', 'title', 'artist id']],
  ['artist', ['artist id', 'name']],
  ['customer',
   ['customer id',
    'first name',
    'last name',
    'company',
    'address',
    'city',
    'state',
    'country',
    'postal code',
    'phone',
    'fax',
    'email',
    'support representative id']],
  ['employee',
   ['employee id',
    'last name',
    'first name',
    'title',
    'reports to',
    'birth date',
    'hire date',
    'address',
    'city',
    'state',
    'country',
    'postal code',
    'phone',
    'fax',
    'email']],
  ['genre', ['genre id', 'name']],
  ['invoice',
   ['invoice id',
    'customer id',
    'invoice date',
    'billing address',
    'billing city',
    'billing state',
    'billing country',
    'billing postal code',
    'total']],
  ['invoice line',

In [16]:
# here I've trying to add headings like database/table_name etc, to be more descriptive, LLM may not able to identify which one is database, which one is table and column name from above.
def reshape_with_headings(essential_schemas):
    out = {}
    # I didn't use the counter in the end, orginally just trying to index the database. 
    counter = 0
    for db in essential_schemas:
        order_ = 'database ' + str(counter)
        db_name =  db.get("database_name", "unknown")
        table_names = list(db.get("table_names", []))
        col_specs   = list(db.get("column_names", []))
        tables = []
        for idx, table_name in enumerate(table_names):
            cols = []
            for pair in col_specs:
                if not isinstance(pair, (list, tuple)) or len(pair) != 2:
                    continue
                t_idx, col = pair
                try:
                    t_idx = int(t_idx)
                except (ValueError, TypeError):
                    continue
                if t_idx != idx:
                    continue
                if col is None or str(col).strip() == "*" or t_idx < 0:
                    continue
                cols.append(str(col))

            tables.append({
                "table_name": table_name,
                "columns": cols,
            })

        out[db_name] = {
           "database_name": db_name,
            "tables": tables
        }
        counter += 1

    return out

In [18]:
reshaped_essential_schemas = reshape_with_headings(essential_schemas)
reshaped_essential_schemas

{'perpetrator': {'database_name': 'perpetrator',
  'tables': [{'table_name': 'perpetrator',
    'columns': ['perpetrator id',
     'people id',
     'date',
     'year',
     'location',
     'country',
     'killed',
     'injured']},
   {'table_name': 'people',
    'columns': ['people id', 'name', 'height', 'weight', 'home town']}]},
 'college_2': {'database_name': 'college_2',
  'tables': [{'table_name': 'classroom',
    'columns': ['building', 'room number', 'capacity']},
   {'table_name': 'department',
    'columns': ['department name', 'building', 'budget']},
   {'table_name': 'course',
    'columns': ['course id', 'title', 'department name', 'credits']},
   {'table_name': 'instructor',
    'columns': ['id', 'name', 'department name', 'salary']},
   {'table_name': 'section',
    'columns': ['course id',
     'section id',
     'semester',
     'year',
     'building',
     'room number',
     'time slot id']},
   {'table_name': 'teaches',
    'columns': ['id', 'course id', 'section id', 'semester', 'year']},
   {'table_name': 'student',
    'columns': ['id', 'name', 'department name', 'total credits']},
   {'table_name': 'takes classes',
    'columns': ['id', 'course id', 'section id', 'semester', 'year', 'grade']},
   {'table_name': 'advisor', 'columns': ['student id', 'instructor id']},
   {'table_name': 'time slot',
    'columns': ['time slot id',
     'day',
     'start hour',
     'start minute',
     'end hour',
     'end minute']},
   {'table_name': 'prerequisite',
    'columns': ['course id', 'prerequisite id']}]},
 'flight_company': {'database_name': 'flight_company',
  'tables': [{'table_name': 'airport',
    'columns': ['id', 'city', 'country', 'iata', 'icao', 'name']},
   {'table_name': 'operate company',
    'columns': ['id',
     'name',
     'type',
     'principal activities',
     'incorporated in',
     'group equity shareholding']},
   {'table_name': 'flight',
    'columns': ['id',
     'vehicle flight number',
     'date',
     'pilot',
     'velocity',
     'altitude',
     'airport id',
     'company id']}]},
 'icfp_1': {'database_name': 'icfp_1',
  'tables': [{'table_name': 'institution',
    'columns': ['institution id', 'name', 'country']},
   {'table_name': 'authors',
    'columns': ['author id', 'last name', 'first name']},
   {'table_name': 'papers', 'columns': ['paper id', 'title']},
   {'table_name': 'authorship count',
    'columns': ['author id', 'institution id', 'paper id', 'author count']}]},
 'body_builder': {'database_name': 'body_builder',
  'tables': [{'table_name': 'body builder',
    'columns': ['body builder id',
     'people id',
     'snatch',
     'clean jerk',
     'total']},
   {'table_name': 'people',
    'columns': ['people id',
     'name',
     'height',
     'weight',
     'birth date',
     'birth place']}]},
 'storm_record': {'database_name': 'storm_record',
  'tables': [{'table_name': 'storm',
    'columns': ['storm id',
     'name',
     'dates active',
     'max speed',
     'damage millions usd',
     'number deaths']},
   {'table_name': 'region',
    'columns': ['region id', 'region code', 'region name']},
   {'table_name': 'affected region',
    'columns': ['region id', 'storm id', 'number city affected']}]},
 'pilot_record': {'database_name': 'pilot_record',
  'tables': [{'table_name': 'aircraft',
    'columns': ['aircraft id',
     'order year',
     'manufacturer',
     'model',
     'fleet series',
     'powertrain',
     'fuel propulsion']},
   {'table_name': 'pilot',
    'columns': ['pilot id',
     'pilot name',
     'rank',
     'age',
     'nationality',
     'position',
     'join year',
     'team']},
   {'table_name': 'pilot record',
    'columns': ['record id', 'pilot id', 'aircraft id', 'date']}]},
 'race_track': {'database_name': 'race_track',
  'tables': [{'table_name': 'race',
    'columns': ['race id', 'name', 'class', 'date', 'track id']},
   {'table_name': 'track',
    'columns': ['track id', 'name', 'location', 'seating', 'year opened']}]},
 'academic': {'database_name': 'academic',
  'tables': [{'table_name': 'author',
    'columns': ['aid', 'homepage', 'name', 'oid']},
   {'table_name': 'conference', 'columns': ['cid', 'homepage', 'name']},
   {'table_name': 'domain', 'columns': ['did', 'name']},
   {'table_name': 'domain author', 'columns': ['aid', 'did']},
   {'table_name': 'domain conference', 'columns': ['cid', 'did']},
   {'table_name': 'journal', 'columns': ['homepage', 'jid', 'name']},
   {'table_name': 'domain journal', 'columns': ['did', 'jid']},
   {'table_name': 'keyword', 'columns': ['keyword', 'kid']},
   {'table_name': 'domain keyword', 'columns': ['did', 'kid']},
   {'table_name': 'publication',
    'columns': ['abstract',
     'cid',
     'citation num',
     'jid',
     'pid',
     'reference num',
     'title',
     'year']},
   {'table_name': 'domain publication', 'columns': ['did', 'pid']},
   {'table_name': 'organization',
    'columns': ['continent', 'homepage', 'name', 'oid']},
   {'table_name': 'publication keyword', 'columns': ['pid', 'kid']},
   {'table_name': 'writes', 'columns': ['aid', 'pid']},
   {'table_name': 'cite', 'columns': ['cited', 'citing']}]},
 'department_store': {'database_name': 'department_store',
  'tables': [{'table_name': 'addresses',
    'columns': ['address id', 'address details']},
   {'table_name': 'staff',
    'columns': ['staff id', 'staff gender', 'staff name']},
   {'table_name': 'suppliers',
    'columns': ['supplier id', 'supplier name', 'supplier phone']},
   {'table_name': 'department store chain',
    'columns': ['department store chain id', 'department store chain name']},
   {'table_name': 'customers',
    'columns': ['customer id',
     'payment method code',
     'customer code',
     'customer name',
     'customer address',
     'customer phone',
     'customer email']},
   {'table_name': 'products',
    'columns': ['product id',
     'product type code',
     'product name',
     'product price']},
   {'table_name': 'supplier addresses',
    'columns': ['supplier id', 'address id', 'date from', 'date to']},
   {'table_name': 'customer addresses',
    'columns': ['customer id', 'address id', 'date from', 'date to']},
   {'table_name': 'customer orders',
    'columns': ['order id', 'customer id', 'order status code', 'order date']},
   {'table_name': 'department stores',
    'columns': ['department store id',
     'department store chain id',
     'store name',
     'store address',
     'store phone',
     'store email']},
   {'table_name': 'departments',
    'columns': ['department id', 'department store id', 'department name']},
   {'table_name': 'order items',
    'columns': ['order item id', 'order id', 'product id']},
   {'table_name': 'product suppliers',
    'columns': ['product id',
     'supplier id',
     'date supplied from',
     'date supplied to',
     'total amount purchased',
     'total value purchased']},
   {'table_name': 'staff department assignments',
    'columns': ['staff id',
     'department id',
     'date assigned from',
     'job title code',
     'date assigned to']}]},
 'music_4': {'database_name': 'music_4',
  'tables': [{'table_name': 'artist',
    'columns': ['artist id',
     'artist',
     'age',
     'famous title',
     'famous release date']},
   {'table_name': 'volume',
    'columns': ['volume id',
     'volume issue',
     'issue date',
     'weeks on top',
     'song',
     'artist id']},
   {'table_name': 'music festival',
    'columns': ['id',
     'music festival',
     'date of ceremony',
     'category',
     'volume',
     'result']}]},
 'insurance_fnol': {'database_name': 'insurance_fnol',
  'tables': [{'table_name': 'customers',
    'columns': ['customer id', 'customer name']},
   {'table_name': 'services', 'columns': ['service id', 'service name']},
   {'table_name': 'available policies',
    'columns': ['policy id', 'policy type code', 'customer phone']},
   {'table_name': 'customers policies',
    'columns': ['customer id', 'policy id', 'date opened', 'date closed']},
   {'table_name': 'first notification of loss',
    'columns': ['fnol id', 'customer id', 'policy id', 'service id']},
   {'table_name': 'claims',
    'columns': ['claim id', 'fnol id', 'effective date']},
   {'table_name': 'settlements',
    'columns': ['settlement id',
     'claim id',
     'effective date',
     'settlement amount']}]},
 'cinema': {'database_name': 'cinema',
  'tables': [{'table_name': 'film',
    'columns': ['film id',
     'rank in series',
     'number in season',
     'title',
     'directed by',
     'original air date',
     'production code']},
   {'table_name': 'cinema',
    'columns': ['cinema id', 'name', 'openning year', 'capacity', 'location']},
   {'table_name': 'schedule',
    'columns': ['cinema id',
     'film id',
     'date',
     'show times per day',
     'price']}]},
 'decoration_competition': {'database_name': 'decoration_competition',
  'tables': [{'table_name': 'college',
    'columns': ['college id', 'name', 'leader name', 'college location']},
   {'table_name': 'member',
    'columns': ['member id', 'name', 'country', 'college id']},
   {'table_name': 'round',
    'columns': ['round id',
     'member id',
     'decoration theme',
     'rank in round']}]},
 'phone_market': {'database_name': 'phone_market',
  'tables': [{'table_name': 'phone',
    'columns': ['name', 'phone id', 'memory in g', 'carrier', 'price']},
   {'table_name': 'market',
    'columns': ['market id',
     'district',
     'num of employees',
     'num of shops',
     'ranking']},
   {'table_name': 'phone market',
    'columns': ['market id', 'phone id', 'num of stock']}]},
 'store_product': {'database_name': 'store_product',
  'tables': [{'table_name': 'product',
    'columns': ['product id',
     'product',
     'dimensions',
     'dpi',
     'pages per minute color',
     'max page size',
     'interface']},
   {'table_name': 'store',
    'columns': ['store id',
     'store name',
     'type',
     'area size',
     'number of product category',
     'ranking']},
   {'table_name': 'district',
    'columns': ['district id',
     'district name',
     'headquartered city',
     'city population',
     'city area']},
   {'table_name': 'store product', 'columns': ['store id', 'product id']},
   {'table_name': 'store district', 'columns': ['store id', 'district id']}]},
 'assets_maintenance': {'database_name': 'assets_maintenance',
  'tables': [{'table_name': 'third party companies',
    'columns': ['company id',
     'company type',
     'company name',
     'company address',
     'other company details']},
   {'table_name': 'maintenance contracts',
    'columns': ['maintenance contract id',
     'maintenance contract company id',
     'contract start date',
     'contract end date',
     'other contract details']},
   {'table_name': 'parts',
    'columns': ['part id',
     'part name',
     'chargeable yn',
     'chargeable amount',
     'other part details']},
   {'table_name': 'skills',
    'columns': ['skill id', 'skill code', 'skill description']},
   {'table_name': 'staff',
    'columns': ['staff id', 'staff name', 'gender', 'other staff details']},
   {'table_name': 'assets',
    'columns': ['asset id',
     'maintenance contract id',
     'supplier company id',
     'asset details',
     'asset make',
     'asset model',
     'asset acquired date',
     'asset disposed date',
     'other asset details']},
   {'table_name': 'asset parts', 'columns': ['asset id', 'part id']},
   {'table_name': 'maintenance engineers',
    'columns': ['engineer id',
     'company id',
     'first name',
     'last name',
     'other details']},
   {'table_name': 'engineer skills', 'columns': ['engineer id', 'skill id']},
   {'table_name': 'fault log',
    'columns': ['fault log entry id',
     'asset id',
     'recorded by staff id',
     'fault log entry datetime',
     'fault description',
     'other fault details']},
   {'table_name': 'engineer visits',
    'columns': ['engineer visit id',
     'contact staff id',
     'engineer id',
     'fault log entry id',
     'fault status',
     'visit start datetime',
     'visit end datetime',
     'other visit details']},
   {'table_name': 'part faults',
    'columns': ['part fault id',
     'part id',
     'fault short name',
     'fault description',
     'other fault details']},
   {'table_name': 'fault log parts',
    'columns': ['fault log entry id', 'part fault id', 'fault status']},
   {'table_name': 'skills required to fix',
    'columns': ['part fault id', 'skill id']}]},
 'student_assessment': {'database_name': 'student_assessment',
  'tables': [{'table_name': 'addresses',
    'columns': ['address id',
     'line 1',
     'line 2',
     'city',
     'zip postcode',
     'state province county',
     'country']},
   {'table_name': 'people',
    'columns': ['person id',
     'first name',
     'middle name',
     'last name',
     'cell mobile number',
     'email address',
     'login name',
     'password']},
   {'table_name': 'students', 'columns': ['student id', 'student details']},
   {'table_name': 'courses',
    'columns': ['course id',
     'course name',
     'course description',
     'other details']},
   {'table_name': 'people addresses',
    'columns': ['person address id',
     'person id',
     'address id',
     'date from',
     'date to']},
   {'table_name': 'student course registrations',
    'columns': ['student id', 'course id', 'registration date']},
   {'table_name': 'student course attendance',
    'columns': ['student id', 'course id', 'date of attendance']},
   {'table_name': 'candidates',
    'columns': ['candidate id', 'candidate details']},
   {'table_name': 'candidate assessments',
    'columns': ['candidate id',
     'qualification',
     'assessment date',
     'asessment outcome code']}]},
 'dog_kennels': {'database_name': 'dog_kennels',
  'tables': [{'table_name': 'breeds', 'columns': ['breed code', 'breed name']},
   {'table_name': 'charges',
    'columns': ['charge id', 'charge type', 'charge amount']},
   {'table_name': 'sizes', 'columns': ['size code', 'size description']},
   {'table_name': 'treatment types',
    'columns': ['treatment type code', 'treatment type description']},
   {'table_name': 'owners',
    'columns': ['owner id',
     'first name',
     'last name',
     'street',
     'city',
     'state',
     'zip code',
     'email address',
     'home phone',
     'cell number']},
   {'table_name': 'dogs',
    'columns': ['dog id',
     'owner id',
     'abandoned yes or no',
     'breed code',
     'size code',
     'name',
     'age',
     'date of birth',
     'gender',
     'weight',
     'date arrived',
     'date adopted',
     'date departed']},
   {'table_name': 'professionals',
    'columns': ['professional id',
     'role code',
     'first name',
     'street',
     'city',
     'state',
     'zip code',
     'last name',
     'email address',
     'home phone',
     'cell number']},
   {'table_name': 'treatments',
    'columns': ['treatment id',
     'dog id',
     'professional id',
     'treatment type code',
     'date of treatment',
     'cost of treatment']}]},
 'music_1': {'database_name': 'music_1',
  'tables': [{'table_name': 'genre',
    'columns': ['genre name', 'rating', 'most popular in']},
   {'table_name': 'artist',
    'columns': ['artist name', 'country', 'gender', 'preferred genre']},
   {'table_name': 'files',
    'columns': ['song id', 'artist name', 'file size', 'duration', 'formats']},
   {'table_name': 'song',
    'columns': ['song name',
     'artist name',
     'country',
     'song id',
     'genre is',
     'rating',
     'languages',
     'releasedate',
     'resolution']}]},
 'company_employee': {'database_name': 'company_employee',
  'tables': [{'table_name': 'people',
    'columns': ['people id',
     'age',
     'name',
     'nationality',
     'graduation college']},
   {'table_name': 'company',
    'columns': ['company id',
     'name',
     'headquarters',
     'industry',
     'sales in billion',
     'profits in billion',
     'assets in billion',
     'market value in billion']},
   {'table_name': 'employment',
    'columns': ['company id', 'people id', 'year working']}]},
 'farm': {'database_name': 'farm',
  'tables': [{'table_name': 'city',
    'columns': ['city id',
     'official name',
     'status',
     'area km 2',
     'population',
     'census ranking']},
   {'table_name': 'farm',
    'columns': ['farm id',
     'year',
     'total horses',
     'working horses',
     'total cattle',
     'oxen',
     'bulls',
     'cows',
     'pigs',
     'sheep and goats']},
   {'table_name': 'farm competition',
    'columns': ['competition id', 'year', 'theme', 'host city id', 'hosts']},
   {'table_name': 'competition record',
    'columns': ['competition id', 'farm id', 'rank']}]},
 'solvency_ii': {'database_name': 'solvency_ii',
  'tables': [{'table_name': 'addresses',
    'columns': ['address id', 'address details']},
   {'table_name': 'locations', 'columns': ['location id', 'other details']},
   {'table_name': 'products',
    'columns': ['product id',
     'product type code',
     'product name',
     'product price']},
   {'table_name': 'parties', 'columns': ['party id', 'party details']},
   {'table_name': 'assets', 'columns': ['asset id', 'other details']},
   {'table_name': 'channels', 'columns': ['channel id', 'other details']},
   {'table_name': 'finances', 'columns': ['finance id', 'other details']},
   {'table_name': 'events',
    'columns': ['event id',
     'address id',
     'channel id',
     'event type code',
     'finance id',
     'location id']},
   {'table_name': 'products in events',
    'columns': ['product in event id', 'event id', 'product id']},
   {'table_name': 'parties in events',
    'columns': ['party id', 'event id', 'role code']},
   {'table_name': 'agreements', 'columns': ['document id', 'event id']},
   {'table_name': 'assets in events', 'columns': ['asset id', 'event id']}]},
 'city_record': {'database_name': 'city_record',
  'tables': [{'table_name': 'city',
    'columns': ['city id',
     'city',
     'hanzi',
     'hanyu pinyin',
     'regional population',
     'gdp']},
   {'table_name': 'match',
    'columns': ['match id',
     'date',
     'venue',
     'score',
     'result',
     'competition']},
   {'table_name': 'temperature',
    'columns': ['city id',
     'jan',
     'feb',
     'mar',
     'apr',
     'jun',
     'jul',
     'aug',
     'sep',
     'oct',
     'nov',
     'dec']},
   {'table_name': 'hosting city',
    'columns': ['year', 'match id', 'host city']}]},
 'swimming': {'database_name': 'swimming',
  'tables': [{'table_name': 'swimmer',
    'columns': ['id',
     'name',
     'nationality',
     'meter 100',
     'meter 200',
     'meter 300',
     'meter 400',
     'meter 500',
     'meter 600',
     'meter 700',
     'time']},
   {'table_name': 'stadium',
    'columns': ['id', 'name', 'capacity', 'city', 'country', 'opening year']},
   {'table_name': 'event', 'columns': ['id', 'name', 'stadium id', 'year']},
   {'table_name': 'record',
    'columns': ['id', 'result', 'swimmer id', 'event id']}]},
 'flight_2': {'database_name': 'flight_2',
  'tables': [{'table_name': 'airlines',
    'columns': ['airline id', 'airline name', 'abbreviation', 'country']},
   {'table_name': 'airports',
    'columns': ['city',
     'airport code',
     'airport name',
     'country',
     'country abbrev']},
   {'table_name': 'flights',
    'columns': ['airline',
     'flight number',
     'source airport',
     'destination airport']}]},
 'election': {'database_name': 'election',
  'tables': [{'table_name': 'county',
    'columns': ['county id', 'county name', 'population', 'zip code']},
   {'table_name': 'party',
    'columns': ['party id',
     'year',
     'party',
     'governor',
     'lieutenant governor',
     'comptroller',
     'attorney general',
     'us senate']},
   {'table_name': 'election',
    'columns': ['election id',

In [20]:
#Below function to finalise the format of the schema, into DB-TABLE-Column names format
def format_schema_jsonish(reshaped_essential_schemas):
    lines = []
    for _, db in reshaped_essential_schemas.items():
        db_name = db.get("database_name", "unknown")
        for t in db.get("tables", []):
            obj = {
                "database": db_name,
                "table": t.get("table_name", "unknown"),
                "columns": t.get("columns", [])
            }
            lines.append(json.dumps(obj, ensure_ascii=False, separators=(",", ":")))
    return lines

In [22]:
final_schema_result = format_schema_jsonish(reshaped_essential_schemas)

In [24]:
final_schema_result [:10]

['{"database":"perpetrator","table":"perpetrator","columns":["perpetrator id","people id","date","year","location","country","killed","injured"]}',
 '{"database":"perpetrator","table":"people","columns":["people id","name","height","weight","home town"]}',
 '{"database":"college_2","table":"classroom","columns":["building","room number","capacity"]}',
 '{"database":"college_2","table":"department","columns":["department name","building","budget"]}',
 '{"database":"college_2","table":"course","columns":["course id","title","department name","credits"]}',
 '{"database":"college_2","table":"instructor","columns":["id","name","department name","salary"]}',
 '{"database":"college_2","table":"section","columns":["course id","section id","semester","year","building","room number","time slot id"]}',
 '{"database":"college_2","table":"teaches","columns":["id","course id","section id","semester","year"]}',
 '{"database":"college_2","table":"student","columns":["id","name","department name","total credits"]}',
 '{"database":"college_2","table":"takes classes","columns":["id","course id","section id","semester","year","grade"]}']

### Below Embedding the full prepared  Final_Schema_Result

In [26]:
embeddings = OpenAIEmbeddings()  
vectorstore_2 = FAISS.from_texts(final_schema_result, embeddings)

## Agent 1 Database Selection

#### Set up LLM

In [27]:

llm = ChatOpenAI(
    model="gpt-5-mini",   
    temperature=0
)

#### Set up Agent A prompt template . Note : I've used the new function call with '|', the hashed line of code is by using the old syntax, still working now but will be depreciated in v.1.0

In [28]:

prompt_db = PromptTemplate(
    input_variables=["query", "retrieved_schema"],
    template="""
Please selects the most relevant database and table in order to answer user's query.
User query: {query}
Schema info: {retrieved_schema}
Which database and tables has the most relevant information for this query? Selecting 1 database only. Respond the database name, table and column infomation in JSON format: {{ "db_name": "...", "tables": ["..."], "columns":["..."]}}
"""
)
#db_chain = LLMChain(llm=llm, prompt=prompt_db)
db_chain = prompt_db | llm

#### Set up the main agent A function call with natural language question input, updated from 'db_chain.run' to 'db_chain.invoke', as above I updated 'LLMChain(llm=llm, prompt=prompt_db)' to 'db_chain = prompt_db | llm'

In [32]:

def database_selection_agent(user_query, top_k=5):
    print(f" User Query: '{user_query}'")

    # Step 1: Retrieve relevant schemas using vector search (Here the default is L2 Euclidean distances, I have had a quick look this 
    # can be updated, but not in a very easy / parameter way )
    relevant_docs = vectorstore_2.similarity_search_with_score(user_query, k=top_k)

    #print(f"\n Step 2: LLM Database Selection")

    selected_schema = ""
    for doc, score in relevant_docs:
        selected_schema += f"score: {score}, content: {doc.page_content}\n"

    #return selected_schema with a score 


    # Step 2: Use LLM to select the best database and tables
    response = db_chain.invoke({
         "query": user_query,
         "retrieved_schema": selected_schema
     })
    #print(f"LLM Response: {response}")
    
    return {
        "user_query": user_query,
        "retrieved_schemas":  selected_schema,
        "llm_selection": response
    }

### A list of test queries

In [34]:
test_queries = [
    "Count the number of rooms that are not in the Lamberton building",
    "Find the name of all students who were in the tryout sorted in alphabetic order",
    "Find the average price of all product clothes.",
    "Show the names of artworks in ascending order of the year they are nominated in.",
    "What is the name of the department with the student that has the lowest GPA?",
    "What are the names and years of the movies that has the top 3 highest rating star?",
    "How many students does each advisor have?",
    "Count flights departing from Dallas in 2017",
    "What are the distinct creation years of the departments managed by a secretary born in state 'Alabama'?",
    "List courses worth more than 3 credits and their departments",
    "For each customer, compute total order value and sort desc.",
    "select all the deaths caused by ship",
    "Show me information about singers and their concerts",
    "I want to see student enrollment data",
    "Find information about car manufacturers and models",
    "What data do you have about movies and actors?",
    "Show me employee salary information",
    "Which produce has the most complaints where the status are still open"
]

#### This block can pull question from test query list and return all the process result. Would be ideal the top_k parameter can be designed for user to set up a value, if the top 5 do not return desire result.

In [36]:
test_query = test_queries[1]  
result = database_selection_agent(test_query,top_k=10)
print(result['user_query'])
print(result['retrieved_schemas'])
print(result['llm_selection'])

 User Query: 'Find the name of all students who were in the tryout sorted in alphabetic order'
Find the name of all students who were in the tryout sorted in alphabetic order
score: 0.48499494791030884, content: {"database":"school_player","table":"school","columns":["school id","school","location","enrollment","founded","denomination","boys or girls","day or boarding","year entered competition","school colors"]}
score: 0.49317601323127747, content: {"database":"e_learning","table":"students","columns":["student id","date of registration","date of latest logon","login name","password","personal name","middle name","family name"]}
score: 0.4965997338294983, content: {"database":"soccer_2","table":"tryout","columns":["player id","college name","player position","decision"]}
score: 0.5064314603805542, content: {"database":"school_player","table":"school performance","columns":["school id","school year","class a","class aa"]}
score: 0.5085306167602539, content: {"database":"student_1","table":"teachers","columns":["last name","first name","class room"]}
score: 0.5114345550537109, content: {"database":"school_player","table":"school details","columns":["school id","nickname","colors","league","class","division"]}
score: 0.511690616607666, content: {"database":"college_1","table":"student","columns":["student num","student last name","student first name","student init","student date of birth","student class hours took","student class","student gpa","student transfer","department code","student phone","professor number"]}
score: 0.513981819152832, content: {"database":"student_1","table":"list","columns":["last name","first name","grade","class room"]}
score: 0.5147340297698975, content: {"database":"game_1","table":"student","columns":["student id","last name","first name","age","sex","major","advisor","city code"]}
score: 0.517266571521759, content: {"database":"student_assessment","table":"students","columns":["student id","student details"]}

content='{ "db_name": "soccer_2", "tables": ["tryout"], "columns": ["player id", "college name", "player position", "decision"] }' additional_kwargs={'refusal': None} response_metadata={'token_usage': {'completion_tokens': 174, 'prompt_tokens': 549, 'total_tokens': 723, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 128, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 0}}, 'model_name': 'gpt-5-mini-2025-08-07', 'system_fingerprint': None, 'id': 'chatcmpl-CI5E4bysfC34HgwBKbLZQOuyAdXAL', 'service_tier': 'default', 'finish_reason': 'stop', 'logprobs': None} id='run--0ccfd1b8-9546-4c97-a9a6-6b7fc76a0587-0' usage_metadata={'input_tokens': 549, 'output_tokens': 174, 'total_tokens': 723, 'input_token_details': {'audio': 0, 'cache_read': 0}, 'output_token_details': {'audio': 0, 'reasoning': 128}}

####  Again, as I've updated the Langchain call from Run to Invoke above, below hashed code suitable for the old Run command only

In [38]:
#db_name = str(json.loads(result['llm_selection'])["db_name"])
llm_output = result['llm_selection'].content if hasattr(result['llm_selection'], 'content') else str(result['llm_selection'])
db_name = str(json.loads(llm_output)["db_name"])
db_name

'soccer_2'

# Agent 2

In [40]:
# quickly inspect what table the selected database contain.
reshaped_essential_schemas[db_name]['tables']

[{'table_name': 'college', 'columns': ['college name', 'state', 'enrollment']},
 {'table_name': 'player',
  'columns': ['player id', 'player name', 'yes card', 'training hours']},
 {'table_name': 'tryout',
  'columns': ['player id', 'college name', 'player position', 'decision']}]

#### Again I have updated the chain call function to use '|', same with agent 1.

In [42]:
list_tables_prompt = PromptTemplate(
    input_variables=["user_query", "db_schema_json"],
    template=(
        "Given the selected database schema, return ONLY valid JSON with exactly these keys"
        '  "relevant_tables": ["..."],\n'
        '  "reasons": "..." \n\n'
        #'  "SQL Code": "..." \n\n'
        "User query: {user_query}\n"
        "DB schema JSON: {db_schema_json}\n"
        "Do not wrap all_tables in an extra list. Do not include any text outside JSON."
    ),
)
#db_chain_2 = LLMChain(llm=llm, prompt=list_tables_prompt)
db_chain_2 = list_tables_prompt | llm

#### Here used db_chain_2 from above and generating the response_2 for Agent B

In [44]:
def table_selection_agent(user_query, db_name):
    #selecting ALL table information from selected database from agent A 
    full_schema = reshaped_essential_schemas[db_name]['tables']
    response_2 = db_chain_2.invoke({
        "user_query": user_query,
        "db_schema_json": full_schema
    })

    return {
        "User Query:" : user_query,
        "Database Name:" : db_name,
        "llm_result": response_2
    }

#### I've updated below due to the invoke funtion update from the run. The result_2 contains all the neccessary information from the agent 2, which contains questions, and selected database name from agent A. Then converted the LLM output to be JSON format as well to be able to be called via the keys.

In [46]:
result_2 = table_selection_agent(user_query=test_query, db_name = db_name)
llm_result = result_2['llm_result'].content if hasattr(result_2['llm_result'], 'content') else str(result_2['llm_result'])
result_2_JSON = json.loads(llm_result)
print(f"User Query : " + result_2['User Query:'])
print(f"Selected DB from Agent1 : " + result_2['Database Name:'])
print(f"Selected Tables: " + str(result_2_JSON['relevant_tables']))
print(f"Reason: " + result_2_JSON['reasons'])
#print(f"SQL code: " + result_2_JSON['SQL Code'])

User Query : Find the name of all students who were in the tryout sorted in alphabetic order
Selected DB from Agent1 : soccer_2
Selected Tables: ['player', 'tryout']
Reason: The tryout table identifies which players participated (player id). The player table contains the player name (player name) which is required for the output. Join tryout to player on player id to get names of participants, then sort the names alphabetically.

# Agent 3

In [48]:
#loading JSON (schema file) from my local drive
complete_combined_schema = r"C:\Users\Sachith\OneDrive - UWA\SEM4\CITS5553-Group_Project\project\spider_data\combined_schema.json"
if os.path.exists(complete_combined_schema):
    with open(complete_combined_schema, 'r', encoding='utf-8') as f:
        complete_schema = json.load(f)
    print(f"Number of tables/schemas: {len(complete_schema)}")
else:
    print("error.")

Number of tables/schemas: 4

In [50]:
result_2_JSON['relevant_tables']

['player', 'tryout']

In [52]:
# Here getting all the tables from database, not just selected from Agent 2.
complete_schema['schema'][db_name]['tables']

{'College': {'columns': ['cName', 'state', 'enr'],
  'primary_key': ['cName'],
  'foreign_keys': []},
 'Player': {'columns': ['pID', 'pName', 'yCard', 'HS'],
  'primary_key': ['pID'],
  'foreign_keys': []},
 'Tryout': {'columns': ['pID', 'cName', 'pPos', 'decision'],
  'primary_key': ['pID', 'cName'],
  'foreign_keys': [{'from_column': 'cName',
    'ref_table': 'College',
    'ref_column': 'cName'},
   {'from_column': 'pID', 'ref_table': 'Player', 'ref_column': 'pID'}]}}

In [54]:
# The prompt need to add 'case insensitive' as the Spider.JSON are all lower case where our own schema used upper case.
produce_sql_prompt = PromptTemplate(
    input_variables=["user_query", "db_schema_json", "selected_tables"],
    template=(
        "Given the selected database schema and selected table names, please be case insensitive, return ONLY valid JSON with exactly these keys"
        '  "relevant_tables": ["..."],\n'
        '  "SQL Code": "..." \n\n'
        '  "reasons": "..." \n\n'
        "User query: {user_query}\n"
        "DB schema JSON: {db_schema_json}\n"
        "Selected tables: {selected_tables}\n"
        "Do not wrap all_tables in an extra list. Do not include any text outside JSON."
    ),
)
db_chain_3 = produce_sql_prompt | llm

In [56]:
def sql_production_agent(user_query, db_name, selected_tables):
    final_schema = complete_schema['schema'][db_name]['tables']
    response_3 = db_chain_3.invoke({
        "user_query": user_query,
        "db_schema_json": final_schema,
        "selected_tables": selected_tables
    })
    return {
        "User Query:" : user_query,
        "Database Name:" : db_name,
        "llm_result": response_3
    }

In [58]:
# Below is the return of the result, by using the selected db, question and All the table schemas from that database.
result_3 = sql_production_agent(user_query=test_query, db_name = db_name,selected_tables = result_2_JSON['relevant_tables'])
llm_result = result_3['llm_result'].content if hasattr(result_3['llm_result'], 'content') else str(result_3['llm_result'])
result_3_JSON = json.loads(llm_result)
print(f"User Query : " + result_3['User Query:'])
print(f"Selected DB from Agent1 : " + result_3['Database Name:'])
print(f"Selected Tables: " + str(result_3_JSON['relevant_tables']))
print(f"SQL code: " + result_3_JSON['SQL Code'])
print(f"Reason: " + result_3_JSON['reasons'])

User Query : Find the name of all students who were in the tryout sorted in alphabetic order
Selected DB from Agent1 : soccer_2
Selected Tables: ['player', 'tryout']
SQL code: SELECT DISTINCT player.pName FROM player JOIN tryout ON player.pID = tryout.pID ORDER BY player.pName ASC;
Reason: Join player to tryout on pID to get players who participated in tryouts; DISTINCT removes duplicate names if a player appears multiple times; ORDER BY pName ASC sorts names alphabetically. Table names are treated case-insensitively.

### Testing, below systematically testing with Train data by using the question + database + SQL code. Please be mindful for the client's cost, and ensure we are not testing all the 7,000 question from the training.

In [60]:
tables_json_path_2 = r"C:\Users\Sachith\OneDrive - UWA\SEM4\CITS5553-Group_Project\project\spider_data\train_spider.json"
if os.path.exists(tables_json_path_2):
    with open(tables_json_path_2, 'r', encoding='utf-8') as f:
        train_data = json.load(f)
    print(f"Number of tables/schemas: {len(train_data)}")
    if train_data :
        first_entry = train_data[5] 
        print(f"Keys: {list(first_entry.keys()) if isinstance(first_entry, dict) else 'Not a dictionary'}")
else:
    print("error.")

Number of tables/schemas: 7000
Keys: ['db_id', 'query', 'query_toks', 'query_toks_no_value', 'question', 'question_toks', 'sql']

In [62]:
# pull only the question + database + SQL code from the training data
dbid_question_list = [
    {'db_id': entry.get('db_id'), 'question': entry.get('question'), 'query': entry.get('query')}
    for entry in train_data if isinstance(entry, dict)
]
len(dbid_question_list)

7000

In [138]:
# selecting every x of the question/db pair, as there are 7,000 training, we do not want to use all of them. 
every_x_th = dbid_question_list[:500]
# checking how many in total to be tested
len(every_x_th)

500

In [70]:
# printing the question + db + sql code from testing data.
for item in every_x_th:
    print(item['question'])
    print(item['db_id'])
    print(item['query'])

How many heads of the departments are older than 56 ?
department_management
SELECT count(*) FROM head WHERE age  >  56
List the name, born state and age of the heads of departments ordered by age.
department_management
SELECT name ,  born_state ,  age FROM head ORDER BY age
List the creation year, name and budget of each department.
department_management
SELECT creation ,  name ,  budget_in_billions FROM department
What are the maximum and minimum budget of the departments?
department_management
SELECT max(budget_in_billions) ,  min(budget_in_billions) FROM department
What is the average number of employees of the departments whose rank is between 10 and 15?
department_management
SELECT avg(num_employees) FROM department WHERE ranking BETWEEN 10 AND 15
What are the names of the heads who are born outside the California state?
department_management
SELECT name FROM head WHERE born_state != 'California'
What are the distinct creation years of the departments managed by a secretary born in state 'Alabama'?
department_management
SELECT DISTINCT T1.creation FROM department AS T1 JOIN management AS T2 ON T1.department_id  =  T2.department_id JOIN head AS T3 ON T2.head_id  =  T3.head_id WHERE T3.born_state  =  'Alabama'
What are the names of the states where at least 3 heads were born?
department_management
SELECT born_state FROM head GROUP BY born_state HAVING count(*)  >=  3
In which year were most departments established?
department_management
SELECT creation FROM department GROUP BY creation ORDER BY count(*) DESC LIMIT 1
Show the name and number of employees for the departments managed by heads whose temporary acting value is 'Yes'?
department_management
SELECT T1.name ,  T1.num_employees FROM department AS T1 JOIN management AS T2 ON T1.department_id  =  T2.department_id WHERE T2.temporary_acting  =  'Yes'
How many acting statuses are there?
department_management
SELECT count(DISTINCT temporary_acting) FROM management
How many departments are led by heads who are not mentioned?
department_management
SELECT count(*) FROM department WHERE department_id NOT IN (SELECT department_id FROM management);
What are the distinct ages of the heads who are acting?
department_management
SELECT DISTINCT T1.age FROM management AS T2 JOIN head AS T1 ON T1.head_id  =  T2.head_id WHERE T2.temporary_acting  =  'Yes'
List the states where both the secretary of 'Treasury' department and the secretary of 'Homeland Security' were born.
department_management
SELECT T3.born_state FROM department AS T1 JOIN management AS T2 ON T1.department_id  =  T2.department_id JOIN head AS T3 ON T2.head_id  =  T3.head_id WHERE T1.name  =  'Treasury' INTERSECT SELECT T3.born_state FROM department AS T1 JOIN management AS T2 ON T1.department_id  =  T2.department_id JOIN head AS T3 ON T2.head_id  =  T3.head_id WHERE T1.name  =  'Homeland Security'
Which department has more than 1 head at a time? List the id, name and the number of heads.
department_management
SELECT T1.department_id ,  T1.name ,  count(*) FROM management AS T2 JOIN department AS T1 ON T1.department_id  =  T2.department_id GROUP BY T1.department_id HAVING count(*)  >  1
Which head's name has the substring 'Ha'? List the id and name.
department_management
SELECT head_id ,  name FROM head WHERE name LIKE '%Ha%'
How many farms are there?
farm
SELECT count(*) FROM farm
Count the number of farms.
farm
SELECT count(*) FROM farm
List the total number of horses on farms in ascending order.
farm
SELECT Total_Horses FROM farm ORDER BY Total_Horses ASC
What is the total horses record for each farm, sorted ascending?
farm
SELECT Total_Horses FROM farm ORDER BY Total_Horses ASC
What are the hosts of competitions whose theme is not "Aliens"?
farm
SELECT Hosts FROM farm_competition WHERE Theme !=  'Aliens'
Return the hosts of competitions for which the theme is not Aliens?
farm
SELECT Hosts FROM farm_competition WHERE Theme !=  'Aliens'
What are the themes of farm competitions sorted by year in ascending order?
farm
SELECT Theme FROM farm_competition ORDER BY YEAR ASC
Return the themes of farm competitions, sorted by year ascending.
farm
SELECT Theme FROM farm_competition ORDER BY YEAR ASC
What is the average number of working horses of farms with more than 5000 total number of horses?
farm
SELECT avg(Working_Horses) FROM farm WHERE Total_Horses  >  5000
Give the average number of working horses on farms with more than 5000 total horses.
farm
SELECT avg(Working_Horses) FROM farm WHERE Total_Horses  >  5000
What are the maximum and minimum number of cows across all farms.
farm
SELECT max(Cows) ,  min(Cows) FROM farm
Return the maximum and minimum number of cows across all farms.
farm
SELECT max(Cows) ,  min(Cows) FROM farm
How many different statuses do cities have?
farm
SELECT count(DISTINCT Status) FROM city
Count the number of different statuses.
farm
SELECT count(DISTINCT Status) FROM city
List official names of cities in descending order of population.
farm
SELECT Official_Name FROM city ORDER BY Population DESC
What are the official names of cities, ordered descending by population?
farm
SELECT Official_Name FROM city ORDER BY Population DESC
List the official name and status of the city with the largest population.
farm
SELECT Official_Name ,  Status FROM city ORDER BY Population DESC LIMIT 1
What is the official name and status of the city with the most residents?
farm
SELECT Official_Name ,  Status FROM city ORDER BY Population DESC LIMIT 1
Show the years and the official names of the host cities of competitions.
farm
SELECT T2.Year ,  T1.Official_Name FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID
Give the years and official names of the cities of each competition.
farm
SELECT T2.Year ,  T1.Official_Name FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID
Show the official names of the cities that have hosted more than one competition.
farm
SELECT T1.Official_Name FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID GROUP BY T2.Host_city_ID HAVING COUNT(*)  >  1
What are the official names of cities that have hosted more than one competition?
farm
SELECT T1.Official_Name FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID GROUP BY T2.Host_city_ID HAVING COUNT(*)  >  1
Show the status of the city that has hosted the greatest number of competitions.
farm
SELECT T1.Status FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID GROUP BY T2.Host_city_ID ORDER BY COUNT(*) DESC LIMIT 1
What is the status of the city that has hosted the most competitions?
farm
SELECT T1.Status FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID GROUP BY T2.Host_city_ID ORDER BY COUNT(*) DESC LIMIT 1
Please show the themes of competitions with host cities having populations larger than 1000.
farm
SELECT T2.Theme FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID WHERE T1.Population  >  1000
What are the themes of competitions that have corresponding host cities with more than 1000 residents?
farm
SELECT T2.Theme FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID WHERE T1.Population  >  1000
Please show the different statuses of cities and the average population of cities with each status.
farm
SELECT Status ,  avg(Population) FROM city GROUP BY Status
What are the statuses and average populations of each city?
farm
SELECT Status ,  avg(Population) FROM city GROUP BY Status
Please show the different statuses, ordered by the number of cities that have each.
farm
SELECT Status FROM city GROUP BY Status ORDER BY COUNT(*) ASC
Return the different statuses of cities, ascending by frequency.
farm
SELECT Status FROM city GROUP BY Status ORDER BY COUNT(*) ASC
List the most common type of Status across cities.
farm
SELECT Status FROM city GROUP BY Status ORDER BY COUNT(*) DESC LIMIT 1
What is the most common status across all cities?
farm
SELECT Status FROM city GROUP BY Status ORDER BY COUNT(*) DESC LIMIT 1
List the official names of cities that have not held any competition.
farm
SELECT Official_Name FROM city WHERE City_ID NOT IN (SELECT Host_city_ID FROM farm_competition)
What are the official names of cities that have not hosted a farm competition?
farm
SELECT Official_Name FROM city WHERE City_ID NOT IN (SELECT Host_city_ID FROM farm_competition)
Show the status shared by cities with population bigger than 1500 and smaller than 500.
farm
SELECT Status FROM city WHERE Population  >  1500 INTERSECT SELECT Status FROM city WHERE Population  <  500
Which statuses correspond to both cities that have a population over 1500 and cities that have a population lower than 500?
farm
SELECT Status FROM city WHERE Population  >  1500 INTERSECT SELECT Status FROM city WHERE Population  <  500
Find the official names of cities with population bigger than 1500 or smaller than 500.
farm
SELECT Official_Name FROM city WHERE Population  >  1500 OR Population  <  500
What are the official names of cities that have population over 1500 or less than 500?
farm
SELECT Official_Name FROM city WHERE Population  >  1500 OR Population  <  500
Show the census ranking of cities whose status are not "Village".
farm
SELECT Census_Ranking FROM city WHERE Status !=  "Village"
What are the census rankings of cities that do not have the status "Village"?
farm
SELECT Census_Ranking FROM city WHERE Status !=  "Village"
which course has most number of registered students?
student_assessment
SELECT T1.course_name FROM courses AS T1 JOIN student_course_registrations AS T2 ON T1.course_id = T2.course_Id GROUP BY T1.course_id ORDER BY count(*) DESC LIMIT 1
What is the name of the course with the most registered students?
student_assessment
SELECT T1.course_name FROM courses AS T1 JOIN student_course_registrations AS T2 ON T1.course_id = T2.course_Id GROUP BY T1.course_id ORDER BY count(*) DESC LIMIT 1
what is id of students who registered some courses but the least number of courses in these students?
student_assessment
SELECT student_id FROM student_course_registrations GROUP BY student_id ORDER BY count(*) LIMIT 1
What are the ids of the students who registered for some courses but had the least number of courses for all students?
student_assessment
SELECT student_id FROM student_course_registrations GROUP BY student_id ORDER BY count(*) LIMIT 1
what are the first name and last name of all candidates?
student_assessment
SELECT T2.first_name ,  T2.last_name FROM candidates AS T1 JOIN people AS T2 ON T1.candidate_id = T2.person_id
What are the first and last names of all the candidates?
student_assessment
SELECT T2.first_name ,  T2.last_name FROM candidates AS T1 JOIN people AS T2 ON T1.candidate_id = T2.person_id
List the id of students who never attends courses?
student_assessment
SELECT student_id FROM students WHERE student_id NOT IN (SELECT student_id FROM student_course_attendance)
What are the  ids of every student who has never attended a course?
student_assessment
SELECT student_id FROM students WHERE student_id NOT IN (SELECT student_id FROM student_course_attendance)
List the id of students who attended some courses?
student_assessment
SELECT student_id FROM student_course_attendance
What are the ids of all students who have attended at least one course?
student_assessment
SELECT student_id FROM student_course_attendance
What are the ids of all students for courses and what are the names of those courses?
student_assessment
SELECT T1.student_id ,  T2.course_name FROM student_course_registrations AS T1 JOIN courses AS T2 ON T1.course_id = T2.course_id
What is detail of the student who most recently registered course?
student_assessment
SELECT T2.student_details FROM student_course_registrations AS T1 JOIN students AS T2 ON T1.student_id = T2.student_id ORDER BY T1.registration_date DESC LIMIT 1
What details do we have on the students who registered for courses most recently?
student_assessment
SELECT T2.student_details FROM student_course_registrations AS T1 JOIN students AS T2 ON T1.student_id = T2.student_id ORDER BY T1.registration_date DESC LIMIT 1
How many students attend course English?
student_assessment
SELECT count(*) FROM courses AS T1 JOIN student_course_attendance AS T2 ON T1.course_id = T2.course_id WHERE T1.course_name = "English"
How many students are attending English courses?
student_assessment
SELECT count(*) FROM courses AS T1 JOIN student_course_attendance AS T2 ON T1.course_id = T2.course_id WHERE T1.course_name = "English"
How many courses do the student whose id is 171 attend?
student_assessment
SELECT count(*) FROM courses AS T1 JOIN student_course_attendance AS T2 ON T1.course_id = T2.course_id WHERE T2.student_id = 171
How many courses does the student with id 171 actually attend?
student_assessment
SELECT count(*) FROM courses AS T1 JOIN student_course_attendance AS T2 ON T1.course_id = T2.course_id WHERE T2.student_id = 171
Find id of the candidate whose email is stanley.monahan@example.org?
student_assessment
SELECT T2.candidate_id FROM people AS T1 JOIN candidates AS T2 ON T1.person_id = T2.candidate_id WHERE T1.email_address = "stanley.monahan@example.org"
What is the id of the candidate whose email is stanley.monahan@example.org?
student_assessment
SELECT T2.candidate_id FROM people AS T1 JOIN candidates AS T2 ON T1.person_id = T2.candidate_id WHERE T1.email_address = "stanley.monahan@example.org"
Find id of the candidate who most recently accessed the course?
student_assessment
SELECT candidate_id FROM candidate_assessments ORDER BY assessment_date DESC LIMIT 1
What is the id of the candidate who most recently accessed the course?
student_assessment
SELECT candidate_id FROM candidate_assessments ORDER BY assessment_date DESC LIMIT 1
What is detail of the student who registered the most number of courses?
student_assessment
SELECT T1.student_details FROM students AS T1 JOIN student_course_registrations AS T2 ON T1.student_id = T2.student_id GROUP BY T1.student_id ORDER BY count(*) DESC LIMIT 1
What are the details of the student who registered for the most number of courses?
student_assessment
SELECT T1.student_details FROM students AS T1 JOIN student_course_registrations AS T2 ON T1.student_id = T2.student_id GROUP BY T1.student_id ORDER BY count(*) DESC LIMIT 1
List the id of students who registered some courses and the number of their registered courses?
student_assessment
SELECT T1.student_id ,  count(*) FROM students AS T1 JOIN student_course_registrations AS T2 ON T1.student_id = T2.student_id GROUP BY T1.student_id
For every student who is registered for some course, how many courses are they registered for?
student_assessment
SELECT T1.student_id ,  count(*) FROM students AS T1 JOIN student_course_registrations AS T2 ON T1.student_id = T2.student_id GROUP BY T1.student_id
How many registed students do each course have? List course name and the number of their registered students?
student_assessment
SELECT T3.course_name ,  count(*) FROM students AS T1 JOIN student_course_registrations AS T2 ON T1.student_id = T2.student_id JOIN courses AS T3 ON T2.course_id = T3.course_id GROUP BY T2.course_id
For each course id, how many students are registered and what are the course names?
student_assessment
SELECT T3.course_name ,  count(*) FROM students AS T1 JOIN student_course_registrations AS T2 ON T1.student_id = T2.student_id JOIN courses AS T3 ON T2.course_id = T3.course_id GROUP BY T2.course_id
Find id of candidates whose assessment code is "Pass"?
student_assessment
SELECT candidate_id FROM candidate_assessments WHERE asessment_outcome_code = "Pass"
What are the ids of the candidates that have an outcome code of Pass?
student_assessment
SELECT candidate_id FROM candidate_assessments WHERE asessment_outcome_code = "Pass"
Find the cell mobile number of the candidates whose assessment code is "Fail"?
student_assessment
SELECT T3.cell_mobile_number FROM candidates AS T1 JOIN candidate_assessments AS T2 ON T1.candidate_id = T2.candidate_id JOIN people AS T3 ON T1.candidate_id = T3.person_id WHERE T2.asessment_outcome_code = "Fail"
What are the cell phone numbers of the candidates that received an assessment code of "Fail"?
student_assessment
SELECT T3.cell_mobile_number FROM candidates AS T1 JOIN candidate_assessments AS T2 ON T1.candidate_id = T2.candidate_id JOIN people AS T3 ON T1.candidate_id = T3.person_id WHERE T2.asessment_outcome_code = "Fail"
What are the id of students who registered course 301?
student_assessment
SELECT student_id FROM student_course_attendance WHERE course_id  =  301
What are the ids of the students who registered for course 301?
student_assessment
SELECT student_id FROM student_course_attendance WHERE course_id  =  301
What is the id of the student who most recently registered course 301?
student_assessment
SELECT student_id FROM student_course_attendance WHERE course_id = 301 ORDER BY date_of_attendance DESC LIMIT 1
What are the ids of the students who registered for course 301 most recently?
student_assessment
SELECT student_id FROM student_course_attendance WHERE course_id = 301 ORDER BY date_of_attendance DESC LIMIT 1
Find distinct cities of addresses of people?
student_assessment
SELECT DISTINCT T1.city FROM addresses AS T1 JOIN people_addresses AS T2 ON T1.address_id = T2.address_id
What are the different cities where people live?
student_assessment
SELECT DISTINCT T1.city FROM addresses AS T1 JOIN people_addresses AS T2 ON T1.address_id = T2.address_id
Find distinct cities of address of students?
student_assessment
SELECT DISTINCT T1.city FROM addresses AS T1 JOIN people_addresses AS T2 ON T1.address_id = T2.address_id JOIN students AS T3 ON T2.person_id = T3.student_id
What are the different cities where students live?
student_assessment
SELECT DISTINCT T1.city FROM addresses AS T1 JOIN people_addresses AS T2 ON T1.address_id = T2.address_id JOIN students AS T3 ON T2.person_id = T3.student_id
List the names of courses in alphabetical order?
student_assessment
SELECT course_name FROM courses ORDER BY course_name
What are the names of the courses in alphabetical order?
student_assessment
SELECT course_name FROM courses ORDER BY course_name
List the first names of people in alphabetical order?
student_assessment
SELECT first_name FROM people ORDER BY first_name
What are the first names of the people in alphabetical order?
student_assessment
SELECT first_name FROM people ORDER BY first_name
What are the id of students who registered courses or attended courses?
student_assessment
SELECT student_id FROM student_course_registrations UNION SELECT student_id FROM student_course_attendance

#### I've updated below that we can now feed both ground truth SQL code, as well as our prediction groud truth SQL code, to excute in our database then returned the results.

#### feed all the x number of questions into the agent A + agent B + agent C, and collect the results.

In [90]:

prediction_results = []
for item in every_x_th[:1]:
    question = item['question']
    result_1 = database_selection_agent(question)
    llm_output_1 = result_1['llm_selection'].content if hasattr(result_1['llm_selection'], 'content') else str(result_1['llm_selection'])
    db_name = str(json.loads(llm_output_1)["db_name"])
    result_2 = table_selection_agent(question, db_name = db_name)
    llm_result_2 = result_2['llm_result'].content if hasattr(result_2['llm_result'], 'content') else str(result_2['llm_result'])
    result_2_JSON = json.loads(llm_result_2)
    result_3 = sql_production_agent(user_query=question, db_name = db_name,selected_tables = result_2_JSON['relevant_tables'])
    llm_result_3 = result_3['llm_result'].content if hasattr(result_3['llm_result'], 'content') else str(result_3['llm_result'])
    result_3_JSON = json.loads(llm_result_3)
   
    prediction_results.append({'question': question, 'db_name': db_name, 'SQL_Code': result_3_JSON['SQL Code'] })

#print(db_name_results[:5])

 User Query: 'How many heads of the departments are older than 56 ?'

In [91]:
# visually inpect the prediction output
prediction_results

[{'question': 'How many heads of the departments are older than 56 ?',
  'db_name': 'department_management',
  'SQL_Code': 'SELECT COUNT(DISTINCT h.head_ID) AS num_heads_over_56\nFROM head h\nJOIN management m ON h.head_ID = m.head_ID\nWHERE h.age > 56;'}]

## Below I am only compare the DB name from Truth and Prediction First with accuracy score. Then I am extracting the Truth SQL code and Prediction SQL code, connect both to the databases and return the excution results.

### Compare database name first

In [92]:
# extracting only the database name from training and prediciton for accuracy checking. 
db_ground_truth=[]
for item in every_x_th:
    db_ground_truth.append(item['db_id'])
db_prediction=[]
for item in prediction_results:
    db_prediction.append(item['db_name'])

In [93]:
# printing last 5 for each list 
print(db_ground_truth [-5:])
print(db_prediction [-5:])

['student_assessment', 'student_assessment', 'student_assessment', 'student_assessment', 'student_assessment']
['department_management']

In [96]:
comparison_results = [gt == pred for gt, pred in zip(db_ground_truth, db_prediction)]
print(comparison_results)

[True]

In [98]:
# below return percentage of correct prediction, out of X number of questions/db you choose for the testing. 
sum(comparison_results) / len (comparison_results)

1.0

In [100]:
# printing all the incorrect database prediction 
false_indices = [i for i, val in enumerate(comparison_results) if not val]
for i in false_indices:
    question = every_x_th[i]['question']
    ground_truth = db_ground_truth[i]
    prediction = db_prediction[i]
    print(f"Q: {question}\nTruth: {ground_truth} | Pred: {prediction}\n{'-'*60}")

### Compare SQL excution results from both Ground Truth and Prediction.

In [102]:
import importlib
import Create_Schema
importlib.reload(Create_Schema)

from Create_Schema import extract_sql_file_paths
import json
# Remember to put the data into data folder
sql_file_paths = extract_sql_file_paths(save_json=True)

In [104]:
from SQL_Connector import SQLite_Connector
from Create_Schema import schema_extractor

# Create the connector (For mutiple queries on multiple tables)
connector = SQLite_Connector(sql_file_paths)

def connect_and_query(data_name: str, query: str):
    connector.connect(data_name)
    return connector.execute_queries([query])

In [106]:
for item in every_x_th[:1]:
    db_name_Truth = item['db_id']
    query_Truth = item['query']
    question = item['question']
    print(query_Truth)

SELECT count(*) FROM head WHERE age  >  56

In [108]:
import json, math
from collections import Counter
from collections.abc import Mapping

def _flatten_rows(x):
    """Return a flat [ {col:val, ...}, ... ] from nested [ [ {...}, ... ] ] or JSON string."""
    if x is None: return []
    if isinstance(x, str):
        try: x = json.loads(x)
        except json.JSONDecodeError: return []
    out = []
    def walk(v):
        if isinstance(v, Mapping):
            out.append(dict(v))
        elif isinstance(v, (list, tuple)):
            for el in v: walk(el)
    walk(x)
    return out

def _round_num(v, tol=1e-6):
    if isinstance(v, float):
        return round(v, int(abs(math.log10(tol))))
    return v

def _row_key(row: dict, tol=1e-6):
    """Canonical hashable key for a row dict (ignores column order)."""
    return tuple(sorted((k.lower(), _round_num(v, tol)) for k, v in row.items()))

def compare_results(gt_obj, pred_obj, tol=1e-6):
    gt_rows  = _flatten_rows(gt_obj)
    pr_rows  = _flatten_rows(pred_obj)

    # Header check (use first row if present)
    gt_hdr = sorted(map(str.lower, gt_rows[0].keys())) if gt_rows else []
    pr_hdr = sorted(map(str.lower, pr_rows[0].keys())) if pr_rows else []
    header_match = (gt_hdr == pr_hdr)

    # Set comparison of rows (order-insensitive, duplicates respected)
    gt_set = Counter(_row_key(r, tol) for r in gt_rows)
    pr_set = Counter(_row_key(r, tol) for r in pr_rows)

    tp = sum((gt_set & pr_set).values())
    fp = sum((pr_set - gt_set).values())
    fn = sum((gt_set - pr_set).values())

    precision = tp / (tp + fp) if (tp + fp) else (1.0 if tp==0 and fp==0 else 0.0)
    recall    = tp / (tp + fn) if (tp + fn) else (1.0 if tp==0 and fn==0 else 0.0)
    f1        = 2*precision*recall / (precision+recall) if (precision+recall) else 0.0
    exec_match = (fp == 0 and fn == 0)

    return {
        "header_match": header_match,
        "exec_match": exec_match,       # 1/0 accuracy per example (exact set equality)
        "precision": precision,
        "recall": recall,
        "f1": f1,
        "gt_rows": len(gt_rows),
        "pred_rows": len(pr_rows),
        "gt_header": gt_hdr,
        "pred_header": pr_hdr,
    }

<b> Compare resulted query with ground truth result / Similarity Check </b>

In [110]:
# Here create an empty list to store the SQL excution ground truth results
training_result = []
predict_result = []
import os, contextlib


for item in every_x_th[15:16]:
    db_name_Truth = item['db_id']
    query_Truth = item['query']
    question = item['question']

    #ground truth
    print(query_Truth)
    with open(os.devnull, "w") as devnull, contextlib.redirect_stdout(devnull):
        training_result = connect_and_query(db_name_Truth, query_Truth)    
    print(training_result)

    
    #prediction
    result_1 = database_selection_agent(question)
    llm_output_1 = result_1['llm_selection'].content if hasattr(result_1['llm_selection'], 'content') else str(result_1['llm_selection'])    
    db_name = str(json.loads(llm_output_1)["db_name"])    
    result_2 = table_selection_agent(question, db_name = db_name)    
    llm_result_2 = result_2['llm_result'].content if hasattr(result_2['llm_result'], 'content') else str(result_2['llm_result'])
    result_2_JSON = json.loads(llm_result_2)    
    result_3 = sql_production_agent(user_query=question, db_name = db_name,selected_tables = result_2_JSON['relevant_tables'])    
    llm_result_3 = result_3['llm_result'].content if hasattr(result_3['llm_result'], 'content') else str(result_3['llm_result'])    
    result_3_JSON = json.loads(llm_result_3)
    predict_SQl = result_3_JSON['SQL Code'] 
    
    print("prediction")
    print(predict_SQl)
    with open(os.devnull, "w") as devnull, contextlib.redirect_stdout(devnull):
        predict_result = connect_and_query(db_name, predict_SQl)
    #predict_result = connect_and_query(db_name, predict_SQl)
    print(predict_result)

    print("NEXT")

SELECT head_id ,  name FROM head WHERE name LIKE '%Ha%'
[
    [
        {
            "head_ID": 4,
            "name": "Dudley Hart"
        },
        {
            "head_ID": 9,
            "name": "P\u00e1draig Harrington"
        },
        {
            "head_ID": 10,
            "name": "Franklin Langham"
        }
    ]
]
 User Query: 'Which head's name has the substring 'Ha'? List the id and name.'
prediction
SELECT head_ID, name FROM head WHERE LOWER(name) LIKE '%ha%';
[
    [
        {
            "head_ID": 4,
            "name": "Dudley Hart"
        },
        {
            "head_ID": 9,
            "name": "P\u00e1draig Harrington"
        },
        {
            "head_ID": 10,
            "name": "Franklin Langham"
        }
    ]
]
NEXT

In [112]:
len(every_x_th)

100

<b>Similarity Check<b>

In [114]:
import re
import sqlglot
import sqlparse
from rapidfuzz import fuzz

def canonicalize_sql(sql: str) -> str:
    # standardize an SQL
    try:
        return sqlglot.parse_one(sql).sql(dialect="ansi", pretty=False)
    except Exception:
        return sqlparse.format(
            sql,
            keyword_case="lower",
            identifier_case="lower",
            strip_comments=True,
            reindent=False
        ).strip(" ;")

def compare_sql_similarity(ground_truth_sql: str, predicted_sql: str) -> dict:
    # Compare two SQL queries after canonicalization.    
    gt = canonicalize_sql(ground_truth_sql)
    pred = canonicalize_sql(predicted_sql)

    return {
        "exact_match": gt == pred,
        "fuzz_ratio": fuzz.ratio(gt, pred) / 100.0,
        "partial_ratio": fuzz.partial_ratio(gt, pred) / 100.0,
        "token_sort_ratio": fuzz.token_sort_ratio(gt, pred) / 100.0,
        "token_set_ratio": fuzz.token_set_ratio(gt, pred) / 100.0,
    }

In [130]:
def _get_content(x):
    return x.content if hasattr(x, "content") else str(x)
def _extract_sql_from_any(raw: str) -> str:
    try:
        obj = json.loads(raw)
        for k in ("SQL Code", "sql_code", "sql", "SQL"):
            if isinstance(obj, dict) and isinstance(obj.get(k), str):
                return obj[k]
    except Exception:
        pass
    m = _CODE_FENCE_RE.search(raw or "")
    return (m.group(1) if m else (raw or "")).strip()
def sql_similarity_lib(gt_sql: str, pred_sql: str, dialect: str = "ansi") -> dict:
    a = canon_sql(gt_sql,  dialect=dialect)
    b = canon_sql(pred_sql, dialect=dialect)
    return {
        "exact":      a == b,
        "ratio":      fuzz.ratio(a, b) / 100.0,         
        "partial":    fuzz.partial_ratio(a, b) / 100.0, 
        "token_sort": fuzz.token_sort_ratio(a, b) / 100.0,  
        "token_set":  fuzz.token_set_ratio(a, b) / 100.0,   
        "a_canon": a, "b_canon": b,                    
    }
def canon_sql(s: str, dialect: str = "ansi") -> str:
    if s is None:
        return ""
    try:
        return sqlglot.parse_one(s).sql(dialect=dialect, pretty=False)
    except Exception:
        return sqlparse.format(
            s, keyword_case="lower", identifier_case="lower",
            strip_comments=True, reindent=False
        ).strip(" ;")

In [132]:
import pandas as pd

def evaluate_sql_similarity_batch(examples):
    rows = []

    for ex in examples:
        question = ex.get("question", "")
        gt_sql   = ex.get("query", "")

        # agents 
        res1 = database_selection_agent(question)
        llm1 = _get_content(res1['llm_selection'])
        db_name_pred = str(json.loads(llm1)["db_name"])

        res2 = table_selection_agent(question, db_name=db_name_pred)
        llm2 = _get_content(res2['llm_result'])
        tables = json.loads(llm2)['relevant_tables']

        res3 = sql_production_agent(user_query=question, db_name=db_name_pred, selected_tables=tables)
        llm3 = _get_content(res3['llm_result'])
        try:
            pred_sql = json.loads(llm3)['SQL Code']
        except Exception:
            pred_sql = _fallback_sql(llm3)

        # similarity 
        sim = sql_similarity_lib(gt_sql, pred_sql)

        rows.append({
            "question": question,
            "gt_sql": gt_sql,
            "pred_sql": pred_sql,
            "sql_exact": sim["exact"],
            "token_set": sim["token_set"]
        })

    # Create DataFrame
    df = pd.DataFrame(rows)

    # Summary metrics 
    overall = {
        "num_examples": len(df),
        "exact_match_rate": df["sql_exact"].mean(),
        "avg_token_set": df["token_set"].mean(),
    }
    return df, overall

report_df, overall = evaluate_sql_similarity_batch(every_x_th)

print(overall)        
print(report_df.head())

 User Query: 'How many heads of the departments are older than 56 ?'
 User Query: 'List the name, born state and age of the heads of departments ordered by age.'
 User Query: 'List the creation year, name and budget of each department.'
 User Query: 'What are the maximum and minimum budget of the departments?'
 User Query: 'What is the average number of employees of the departments whose rank is between 10 and 15?'
 User Query: 'What are the names of the heads who are born outside the California state?'
 User Query: 'What are the distinct creation years of the departments managed by a secretary born in state 'Alabama'?'
 User Query: 'What are the names of the states where at least 3 heads were born?'
 User Query: 'In which year were most departments established?'
 User Query: 'Show the name and number of employees for the departments managed by heads whose temporary acting value is 'Yes'?'
 User Query: 'How many acting statuses are there?'
 User Query: 'How many departments are led by heads who are not mentioned?'
 User Query: 'What are the distinct ages of the heads who are acting?'
 User Query: 'List the states where both the secretary of 'Treasury' department and the secretary of 'Homeland Security' were born.'
 User Query: 'Which department has more than 1 head at a time? List the id, name and the number of heads.'
 User Query: 'Which head's name has the substring 'Ha'? List the id and name.'
 User Query: 'How many farms are there?'
 User Query: 'Count the number of farms.'
 User Query: 'List the total number of horses on farms in ascending order.'
 User Query: 'What is the total horses record for each farm, sorted ascending?'
 User Query: 'What are the hosts of competitions whose theme is not "Aliens"?'
 User Query: 'Return the hosts of competitions for which the theme is not Aliens?'
 User Query: 'What are the themes of farm competitions sorted by year in ascending order?'
 User Query: 'Return the themes of farm competitions, sorted by year ascending.'
 User Query: 'What is the average number of working horses of farms with more than 5000 total number of horses?'
 User Query: 'Give the average number of working horses on farms with more than 5000 total horses.'
 User Query: 'What are the maximum and minimum number of cows across all farms.'
 User Query: 'Return the maximum and minimum number of cows across all farms.'
 User Query: 'How many different statuses do cities have?'
 User Query: 'Count the number of different statuses.'
 User Query: 'List official names of cities in descending order of population.'
 User Query: 'What are the official names of cities, ordered descending by population?'
 User Query: 'List the official name and status of the city with the largest population.'
 User Query: 'What is the official name and status of the city with the most residents?'
 User Query: 'Show the years and the official names of the host cities of competitions.'
 User Query: 'Give the years and official names of the cities of each competition.'
 User Query: 'Show the official names of the cities that have hosted more than one competition.'
 User Query: 'What are the official names of cities that have hosted more than one competition?'
 User Query: 'Show the status of the city that has hosted the greatest number of competitions.'
 User Query: 'What is the status of the city that has hosted the most competitions?'
 User Query: 'Please show the themes of competitions with host cities having populations larger than 1000.'
 User Query: 'What are the themes of competitions that have corresponding host cities with more than 1000 residents?'
 User Query: 'Please show the different statuses of cities and the average population of cities with each status.'
 User Query: 'What are the statuses and average populations of each city?'
 User Query: 'Please show the different statuses, ordered by the number of cities that have each.'
 User Query: 'Return the different statuses of cities, ascending by frequency.'
 User Query: 'List the most common type of Status across cities.'
 User Query: 'What is the most common status across all cities?'
 User Query: 'List the official names of cities that have not held any competition.'
 User Query: 'What are the official names of cities that have not hosted a farm competition?'
 User Query: 'Show the status shared by cities with population bigger than 1500 and smaller than 500.'
 User Query: 'Which statuses correspond to both cities that have a population over 1500 and cities that have a population lower than 500?'
 User Query: 'Find the official names of cities with population bigger than 1500 or smaller than 500.'
 User Query: 'What are the official names of cities that have population over 1500 or less than 500?'
 User Query: 'Show the census ranking of cities whose status are not "Village".'
 User Query: 'What are the census rankings of cities that do not have the status "Village"?'
 User Query: 'which course has most number of registered students?'
 User Query: 'What is the name of the course with the most registered students?'
 User Query: 'what is id of students who registered some courses but the least number of courses in these students?'
 User Query: 'What are the ids of the students who registered for some courses but had the least number of courses for all students?'
 User Query: 'what are the first name and last name of all candidates?'
 User Query: 'What are the first and last names of all the candidates?'
 User Query: 'List the id of students who never attends courses?'
 User Query: 'What are the  ids of every student who has never attended a course?'
 User Query: 'List the id of students who attended some courses?'
 User Query: 'What are the ids of all students who have attended at least one course?'
 User Query: 'What are the ids of all students for courses and what are the names of those courses?'
 User Query: 'What is detail of the student who most recently registered course?'
 User Query: 'What details do we have on the students who registered for courses most recently?'
 User Query: 'How many students attend course English?'
 User Query: 'How many students are attending English courses?'
 User Query: 'How many courses do the student whose id is 171 attend?'
 User Query: 'How many courses does the student with id 171 actually attend?'
 User Query: 'Find id of the candidate whose email is stanley.monahan@example.org?'
 User Query: 'What is the id of the candidate whose email is stanley.monahan@example.org?'
 User Query: 'Find id of the candidate who most recently accessed the course?'
 User Query: 'What is the id of the candidate who most recently accessed the course?'
 User Query: 'What is detail of the student who registered the most number of courses?'
 User Query: 'What are the details of the student who registered for the most number of courses?'
 User Query: 'List the id of students who registered some courses and the number of their registered courses?'
 User Query: 'For every student who is registered for some course, how many courses are they registered for?'
 User Query: 'How many registed students do each course have? List course name and the number of their registered students?'
 User Query: 'For each course id, how many students are registered and what are the course names?'
 User Query: 'Find id of candidates whose assessment code is "Pass"?'
 User Query: 'What are the ids of the candidates that have an outcome code of Pass?'
 User Query: 'Find the cell mobile number of the candidates whose assessment code is "Fail"?'
 User Query: 'What are the cell phone numbers of the candidates that received an assessment code of "Fail"?'
 User Query: 'What are the id of students who registered course 301?'
 User Query: 'What are the ids of the students who registered for course 301?'
 User Query: 'What is the id of the student who most recently registered course 301?'
 User Query: 'What are the ids of the students who registered for course 301 most recently?'
 User Query: 'Find distinct cities of addresses of people?'
 User Query: 'What are the different cities where people live?'
 User Query: 'Find distinct cities of address of students?'
 User Query: 'What are the different cities where students live?'
 User Query: 'List the names of courses in alphabetical order?'
 User Query: 'What are the names of the courses in alphabetical order?'
 User Query: 'List the first names of people in alphabetical order?'
 User Query: 'What are the first names of the people in alphabetical order?'
 User Query: 'What are the id of students who registered courses or attended courses?'
{'num_examples': 100, 'exact_match_rate': 0.03, 'avg_token_set': 0.7818718913494184}
                                            question  \
0  How many heads of the departments are older th...
1  List the name, born state and age of the heads...
2  List the creation year, name and budget of eac...
3  What are the maximum and minimum budget of the...
4  What is the average number of employees of the...

                                              gt_sql  \
0         SELECT count(*) FROM head WHERE age  >  56
1  SELECT name ,  born_state ,  age FROM head ORD...
2  SELECT creation ,  name ,  budget_in_billions ...
3  SELECT max(budget_in_billions) ,  min(budget_i...
4  SELECT avg(num_employees) FROM department WHER...

                                            pred_sql  sql_exact  token_set
0  SELECT COUNT(DISTINCT h.head_ID) AS heads_olde...      False   0.805970
1  SELECT DISTINCT h.name, h.born_state, h.age FR...      False   0.694444
2  SELECT Creation AS creation_year, Name AS name...      False   0.982143
3  SELECT MAX(budget) AS max_budget, MIN(budget) ...      False   0.708333
4  SELECT AVG(Num_Employees) AS average_num_emplo...      False   1.000000

In [136]:
report_df.head()

,question,gt_sql,pred_sql,sql_exact,token_set
0,How many heads of the departments are older th...,SELECT count(*) FROM head WHERE age > 56,SELECT COUNT(DISTINCT h.head_ID) AS heads_olde...,False,0.805970
1,"List the name, born state and age of the heads...","SELECT name , born_state , age FROM head ORD...","SELECT DISTINCT h.name, h.born_state, h.age FR...",False,0.694444
2,"List the creation year, name and budget of eac...","SELECT creation , name , budget_in_billions ...","SELECT Creation AS creation_year, Name AS name...",False,0.982143
3,What are the maximum and minimum budget of the...,"SELECT max(budget_in_billions) , min(budget_i...","SELECT MAX(budget) AS max_budget, MIN(budget) ...",False,0.708333
4,What is the average number of employees of the...,SELECT avg(num_employees) FROM department WHER...,SELECT AVG(Num_Employees) AS average_num_emplo...,False,1.000000

In [134]:
print(overall)

{'num_examples': 100, 'exact_match_rate': 0.03, 'avg_token_set': 0.7818718913494184}

In [141]:
len(every_x_th)

500

For 500

In [143]:
report_df_500, overall_500 = evaluate_sql_similarity_batch(every_x_th)

 User Query: 'How many heads of the departments are older than 56 ?'
 User Query: 'List the name, born state and age of the heads of departments ordered by age.'
 User Query: 'List the creation year, name and budget of each department.'
 User Query: 'What are the maximum and minimum budget of the departments?'
 User Query: 'What is the average number of employees of the departments whose rank is between 10 and 15?'
 User Query: 'What are the names of the heads who are born outside the California state?'
 User Query: 'What are the distinct creation years of the departments managed by a secretary born in state 'Alabama'?'
 User Query: 'What are the names of the states where at least 3 heads were born?'
 User Query: 'In which year were most departments established?'
 User Query: 'Show the name and number of employees for the departments managed by heads whose temporary acting value is 'Yes'?'
 User Query: 'How many acting statuses are there?'
 User Query: 'How many departments are led by heads who are not mentioned?'
 User Query: 'What are the distinct ages of the heads who are acting?'
 User Query: 'List the states where both the secretary of 'Treasury' department and the secretary of 'Homeland Security' were born.'
 User Query: 'Which department has more than 1 head at a time? List the id, name and the number of heads.'
 User Query: 'Which head's name has the substring 'Ha'? List the id and name.'
 User Query: 'How many farms are there?'
 User Query: 'Count the number of farms.'
 User Query: 'List the total number of horses on farms in ascending order.'
 User Query: 'What is the total horses record for each farm, sorted ascending?'
 User Query: 'What are the hosts of competitions whose theme is not "Aliens"?'
 User Query: 'Return the hosts of competitions for which the theme is not Aliens?'
 User Query: 'What are the themes of farm competitions sorted by year in ascending order?'
 User Query: 'Return the themes of farm competitions, sorted by year ascending.'
 User Query: 'What is the average number of working horses of farms with more than 5000 total number of horses?'
 User Query: 'Give the average number of working horses on farms with more than 5000 total horses.'
 User Query: 'What are the maximum and minimum number of cows across all farms.'
 User Query: 'Return the maximum and minimum number of cows across all farms.'
 User Query: 'How many different statuses do cities have?'
 User Query: 'Count the number of different statuses.'
 User Query: 'List official names of cities in descending order of population.'
 User Query: 'What are the official names of cities, ordered descending by population?'
 User Query: 'List the official name and status of the city with the largest population.'
 User Query: 'What is the official name and status of the city with the most residents?'
 User Query: 'Show the years and the official names of the host cities of competitions.'
 User Query: 'Give the years and official names of the cities of each competition.'
 User Query: 'Show the official names of the cities that have hosted more than one competition.'
 User Query: 'What are the official names of cities that have hosted more than one competition?'
 User Query: 'Show the status of the city that has hosted the greatest number of competitions.'
 User Query: 'What is the status of the city that has hosted the most competitions?'
 User Query: 'Please show the themes of competitions with host cities having populations larger than 1000.'
 User Query: 'What are the themes of competitions that have corresponding host cities with more than 1000 residents?'
 User Query: 'Please show the different statuses of cities and the average population of cities with each status.'
 User Query: 'What are the statuses and average populations of each city?'
 User Query: 'Please show the different statuses, ordered by the number of cities that have each.'
 User Query: 'Return the different statuses of cities, ascending by frequency.'
 User Query: 'List the most common type of Status across cities.'
 User Query: 'What is the most common status across all cities?'
 User Query: 'List the official names of cities that have not held any competition.'
 User Query: 'What are the official names of cities that have not hosted a farm competition?'
 User Query: 'Show the status shared by cities with population bigger than 1500 and smaller than 500.'
 User Query: 'Which statuses correspond to both cities that have a population over 1500 and cities that have a population lower than 500?'
 User Query: 'Find the official names of cities with population bigger than 1500 or smaller than 500.'
 User Query: 'What are the official names of cities that have population over 1500 or less than 500?'
 User Query: 'Show the census ranking of cities whose status are not "Village".'
 User Query: 'What are the census rankings of cities that do not have the status "Village"?'
 User Query: 'which course has most number of registered students?'
 User Query: 'What is the name of the course with the most registered students?'
 User Query: 'what is id of students who registered some courses but the least number of courses in these students?'
 User Query: 'What are the ids of the students who registered for some courses but had the least number of courses for all students?'
 User Query: 'what are the first name and last name of all candidates?'
 User Query: 'What are the first and last names of all the candidates?'
 User Query: 'List the id of students who never attends courses?'
 User Query: 'What are the  ids of every student who has never attended a course?'
 User Query: 'List the id of students who attended some courses?'
 User Query: 'What are the ids of all students who have attended at least one course?'
 User Query: 'What are the ids of all students for courses and what are the names of those courses?'
 User Query: 'What is detail of the student who most recently registered course?'
 User Query: 'What details do we have on the students who registered for courses most recently?'
 User Query: 'How many students attend course English?'
 User Query: 'How many students are attending English courses?'
 User Query: 'How many courses do the student whose id is 171 attend?'
 User Query: 'How many courses does the student with id 171 actually attend?'
 User Query: 'Find id of the candidate whose email is stanley.monahan@example.org?'
 User Query: 'What is the id of the candidate whose email is stanley.monahan@example.org?'
 User Query: 'Find id of the candidate who most recently accessed the course?'
 User Query: 'What is the id of the candidate who most recently accessed the course?'
 User Query: 'What is detail of the student who registered the most number of courses?'
 User Query: 'What are the details of the student who registered for the most number of courses?'
 User Query: 'List the id of students who registered some courses and the number of their registered courses?'
 User Query: 'For every student who is registered for some course, how many courses are they registered for?'
 User Query: 'How many registed students do each course have? List course name and the number of their registered students?'
 User Query: 'For each course id, how many students are registered and what are the course names?'
 User Query: 'Find id of candidates whose assessment code is "Pass"?'
 User Query: 'What are the ids of the candidates that have an outcome code of Pass?'
 User Query: 'Find the cell mobile number of the candidates whose assessment code is "Fail"?'
 User Query: 'What are the cell phone numbers of the candidates that received an assessment code of "Fail"?'
 User Query: 'What are the id of students who registered course 301?'
 User Query: 'What are the ids of the students who registered for course 301?'
 User Query: 'What is the id of the student who most recently registered course 301?'
 User Query: 'What are the ids of the students who registered for course 301 most recently?'
 User Query: 'Find distinct cities of addresses of people?'
 User Query: 'What are the different cities where people live?'
 User Query: 'Find distinct cities of address of students?'
 User Query: 'What are the different cities where students live?'
 User Query: 'List the names of courses in alphabetical order?'
 User Query: 'What are the names of the courses in alphabetical order?'
 User Query: 'List the first names of people in alphabetical order?'
 User Query: 'What are the first names of the people in alphabetical order?'
 User Query: 'What are the id of students who registered courses or attended courses?'
 User Query: 'What are the ids of the students who either registered or attended a course?'
 User Query: 'Find the id of courses which are registered or attended by student whose id is 121?'
 User Query: 'What are the ids of the courses that are registered or attended by the student whose id is 121?'
 User Query: 'What are all info of students who registered courses but not attended courses?'
 User Query: 'What are all details of the students who registered but did not attend any course?'
 User Query: 'List the id of students who registered course statistics in the order of registration date.'
 User Query: 'What are the ids of the students who registered course statistics by order of registration date?'
 User Query: 'List the id of students who attended  statistics courses in the order of attendance date.'
 User Query: 'What are the ids of the students who attended courses in the statistics department in order of attendance date.'
 User Query: 'Give me the dates when the max temperature was higher than 85.'
 User Query: 'What are the dates with a maximum temperature higher than 85?'
 User Query: 'What are the names of stations that have latitude lower than 37.5?'
 User Query: 'What are the names of all stations with a latitude smaller than 37.5?'
 User Query: 'For each city, return the highest latitude among its stations.'
 User Query: 'For each city, what is the highest latitude for its stations?'
 User Query: 'Give me the start station and end station for the trips with the three oldest id.'
 User Query: 'What is the station station and end station for the trips with the three smallest ids?'
 User Query: 'What is the average latitude and longitude of stations located in San Jose city?'
 User Query: 'What is the average latitude and longitude in San Jose?'
 User Query: 'What is the id of the trip that has the shortest duration?'
 User Query: 'What is the id of the shortest trip?'
 User Query: 'What is the total and maximum duration of trips with bike id 636?'
 User Query: 'What is the total and maximum duration for all trips with the bike id 636?'
 User Query: 'For each zip code, return the average mean temperature of August there.'
 User Query: 'For each zip code, what is the average mean temperature for all dates that start with '8'?'
 User Query: 'From the trip record, find the number of unique bikes.'
 User Query: 'How many different bike ids are there?'
 User Query: 'What is the number of distinct cities the stations are located at?'
 User Query: 'How many different cities have these stations?'
 User Query: 'How many stations does Mountain View city has?'
 User Query: 'How many stations are in Mountain View?'
 User Query: 'Return the unique name for stations that have ever had 7 bikes available.'
 User Query: 'What are the different names for each station that has ever had 7 bikes available?'
 User Query: 'Which start station had the most trips starting from August? Give me the name and id of the station.'
 User Query: 'What are the start station's name and id for the one that had the most start trips in August?'
 User Query: 'Which bike traveled the most often in zip code 94002?'
 User Query: 'What is the id of the bike that traveled the most in 94002?'
 User Query: 'How many days had both mean humidity above 50 and mean visibility above 8?'
 User Query: 'What is the number of days that had an average humity above 50 and an average visibility above 8?'
 User Query: 'What is the latitude, longitude, city of the station from which the shortest trip started?'
 User Query: 'What is the latitude, longitude, and city of the station from which the trip with smallest duration started?'
 User Query: 'What are the ids of stations that are located in San Francisco and have average bike availability above 10.'
 User Query: 'What are the ids of the stations in San Francisco that normally have more than 10 bikes available?'
 User Query: 'What are the names and ids of stations that had more than 14 bikes available on average or were installed in December?'
 User Query: 'What are the names and ids of all stations that have more than 14 bikes available on average or had bikes installed in December?'
 User Query: 'What is the 3 most common cloud cover rates in the region of zip code 94107?'
 User Query: 'What are the 3 most common cloud covers in the zip code of 94107?'
 User Query: 'What is the zip code in which the average mean sea level pressure is the lowest?'
 User Query: 'What is the zip code that has the lowest average mean sea level pressure?'
 User Query: 'What is the average bike availability in stations that are not located in Palo Alto?'
 User Query: 'What is the average bike availablility for stations not in Palo Alto?'
 User Query: 'What is the average longitude of stations that never had bike availability more than 10?'
 User Query: 'What is the mean longitude for all stations that have never had more than 10 bikes available?'
 User Query: 'When and in what zip code did max temperature reach 80?'
 User Query: 'What zip codes have a station with a max temperature greater than or equal to 80 and when did it reach that temperature?'
 User Query: 'Give me ids for all the trip that took place in a zip code area with average mean temperature above 60.'
 User Query: 'For each zip code, find the ids of all trips that have a higher average mean temperature above 60?'
 User Query: 'For each zip code, return how many times max wind speed reached 25?'
 User Query: 'For each zip code, how many times has the maximum wind speed reached 25 mph?'
 User Query: 'On which day and in which zip code was the min dew point lower than any day in zip code 94107?'
 User Query: 'Which days had a minimum dew point smaller than any day in zip code 94107, and in which zip codes were those measurements taken?'
 User Query: 'For each trip, return its ending station's installation date.'
 User Query: 'What is the installation date for each ending station on all the trips?'
 User Query: 'Which trip started from the station with the largest dock count? Give me the trip id.'
 User Query: 'What is the id of the trip that started from the station with the highest dock count?'
 User Query: 'Count the number of trips that did not end in San Francisco city.'
 User Query: 'How many trips did not end in San Francisco?'
 User Query: 'In zip code 94107, on which day neither Fog nor Rain was not observed?'
 User Query: 'On which day has it neither been foggy nor rained in the zip code of 94107?'
 User Query: 'What are the ids of stations that have latitude above 37.4 and never had bike availability below 7?'
 User Query: 'What are the ids of all stations that have a latitude above 37.4 and have never had less than 7 bikes available?'
 User Query: 'What are names of stations that have average bike availability above 10 and are not located in San Jose city?'
 User Query: 'What are the names of all stations that have more than 10 bikes available and are not located in San Jose?'
 User Query: 'What are the name, latitude, and city of the station with the lowest latitude?'
 User Query: 'What is the name, latitude, and city of the station that is located the furthest South?'
 User Query: 'What are the date, mean temperature and mean humidity for the top 3 days with the largest max gust speeds?'
 User Query: 'What is the date, average temperature and mean humidity for the days with the 3 largest maximum gust speeds?'
 User Query: 'List the name and the number of stations for all the cities that have at least 15 stations.'
 User Query: 'What is the name of every city that has at least 15 stations and how many stations does it have?'
 User Query: 'Find the ids and names of stations from which at least 200 trips started.'
 User Query: 'What are the ids and names of all start stations that were the beginning of at least 200 trips?'
 User Query: 'Find the zip code in which the average mean visibility is lower than 10.'
 User Query: 'For each zip code, select all those that have an average mean visiblity below 10.'
 User Query: 'List all the cities in a decreasing order of each city's stations' highest latitude.'
 User Query: 'For each city, list their names in decreasing order by their highest station latitude.'
 User Query: 'What are the dates that had the top 5 cloud cover rates? Also tell me the cloud cover rate.'
 User Query: 'What are the dates that have the 5 highest cloud cover rates and what are the rates?'
 User Query: 'What are the ids and durations of the trips with the top 3 durations?'
 User Query: 'What are the ids of the trips that lasted the longest and how long did they last?'
 User Query: 'For each station, return its longitude and the average duration of trips that started from the station.'
 User Query: 'For each start station id, what is its name, longitude and average duration of trips started there?'
 User Query: 'For each station, find its latitude and the minimum duration of trips that ended at the station.'
 User Query: 'For each end station id, what is its name, latitude, and minimum duration for trips ended there?'
 User Query: 'List all the distinct stations from which a trip of duration below 100 started.'
 User Query: 'What are all the different start station names for a trip that lasted less than 100?'
 User Query: 'Find all the zip codes in which the max dew point have never reached 70.'
 User Query: 'What are all the different zip codes that have a maximum dew point that was always below 70?'
 User Query: 'Find the id for the trips that lasted at least as long as the average duration of trips in zip code 94103.'
 User Query: 'What are the ids of all trips that had a duration as long as the average trip duration in the zip code 94103?'
 User Query: 'What are the dates in which the mean sea level pressure was between 30.3 and 31?'
 User Query: 'What are the dates that have an average sea level pressure between 30.3 and 31?'
 User Query: 'Find the day in which the difference between the max temperature and min temperature was the smallest. Also report the difference.'
 User Query: 'What are the days that had the smallest temperature range, and what was that range?'
 User Query: 'What are the id and name of the stations that have ever had more than 12 bikes available?'
 User Query: 'What are the different ids and names of the stations that have had more than 12 bikes available?'
 User Query: 'Give me the zip code where the average mean humidity is below 70 and at least 100 trips took place.'
 User Query: 'What are the zip codes that have an average mean humidity below 70 and had at least 100 trips come through there?'
 User Query: 'What are the names of stations that are located in Palo Alto city but have never been the ending point of trips more than 100 times?'
 User Query: 'What are the names of the stations that are located in Palo Alto but have never been the ending point of the trips'
 User Query: 'How many trips started from Mountain View city and ended at Palo Alto city?'
 User Query: 'How many trips stated from  a station in Mountain View and ended at one in Palo Alto?'
 User Query: 'What is the average latitude and longitude of the starting points of all trips?'
 User Query: 'What is the average latitude and longitude of all starting stations for the trips?'
 User Query: 'How many books are there?'
 User Query: 'List the writers of the books in ascending alphabetical order.'

In [149]:
report_df_500.head()

,question,gt_sql,pred_sql,sql_exact,token_set
0,How many heads of the departments are older th...,SELECT count(*) FROM head WHERE age > 56,SELECT COUNT(DISTINCT h.head_ID) AS num_heads_...,False,0.805970
1,"List the name, born state and age of the heads...","SELECT name , born_state , age FROM head ORD...","SELECT DISTINCT h.name, h.born_state, h.age FR...",False,0.694444
2,"List the creation year, name and budget of eac...","SELECT creation , name , budget_in_billions ...","SELECT Creation AS creation_year, Name AS name...",False,0.982143
3,What are the maximum and minimum budget of the...,"SELECT max(budget_in_billions) , min(budget_i...","SELECT MAX(budget) AS max_budget, MIN(budget) ...",False,0.708333
4,What is the average number of employees of the...,SELECT avg(num_employees) FROM department WHER...,SELECT AVG(Num_Employees) AS avg_num_employees...,False,1.000000

In [147]:
print(overall_500)

{'num_examples': 500, 'exact_match_rate': 0.022, 'avg_token_set': 0.8236347789751408}